Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'

Add
  locale/hi/LC_MESSAGES/loris.po
Labels: none

[redcap] Fix empty options REDCap to LINST (#10063)
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
Labels: Language: PHP

[i18n] Update locale.po for Hindi Translations (#10064)
  locale/hi/LC_MESSAGES/loris.po
Labels: none

[i18n/fr] Ajouter les tradutions français
  Makefile
  jsx/I18nSetup.js
  locale/fr/LC_MESSAGES/loris.po
Labels: Language: Javascript

[new_profile - multilingual] Fixes translation of "OK" in swal message.
  Makefile
  locale/es/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Module: new_profile, Language: Javascript

Errata:forgot this file.
  modules/new_profile/locale/es/LC_MESSAGES/new_profile.po
Labels: Module: new_profile

Errata.
  locale/ja/LC_MESSAGES/loris.po
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Module: new_profile, Language: Javascript

fix
  Makefile
  locale/hi/LC_MESSAGES/loris.po
  modules/conflict_resolver/jsx/fix_conflict_form.js
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/locale/conflict_resolver.pot
  modules/conflict_resolver/locale/hi/LC_MESSAGES/conflict_resolver.po
Labels: Module: conflict_resolver, Language: Javascript

Remove Duplicate strings
  locale/hi/LC_MESSAGES/loris.po
Labels: none

[Instruments] Translates common Instruments module terms. (#10060)
  Makefile
  locale/es/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/instruments/locale/es/LC_MESSAGES/instruments.po
  php/libraries/NDB_BVL_Instrument.class.inc
  smarty/templates/instrument_html.tpl
  smarty/templates/instrumentstatus_controlpanel.tpl
Labels: Module: instruments, Language: PHP

[i18n] Add instruments strings for Japanese
  locale/ja/LC_MESSAGES/loris.po
  modules/instruments/locale/ja/LC_MESSAGES/instruments.po
Labels: Module: instruments

[candidate_profile/imaging_browser] Fix Imaging QC Summary widget on candiate_profile (#10050)
  modules/imaging_browser/jsx/CandidateScanQCSummaryWidget.js
  modules/imaging_browser/php/module.class.inc
Labels: Module: imaging_browser, Language: PHP, Language: Javascript

namespace
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/locale/hi/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/locale/issue_tracker.pot
Labels: Module: issue_tracker, Language: Javascript

feat(biobank): Complete new module file structure and add OrderIndex to specimen protocols
  SQL/0000-00-06-BiobankTables.sql
  SQL/New_patches/2025-10-29_add-order-index-to-specimen-protocols.sql
  modules/biobank/php/optionsendpoint.class.inc
  modules/biobank/php/specimendao.class.inc
Labels: Language: PHP, Language: SQL

[new_profile - multilingual] Fixes translation of "OK" in swal message. (#10066)
  Makefile
  locale/es/LC_MESSAGES/loris.po
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/locale/es/LC_MESSAGES/new_profile.po
Labels: Module: new_profile, Language: Javascript

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

Apply suggestion from @AdamAlAttrach
  locale/fr/LC_MESSAGES/loris.po
Labels: none

static tests
  jsx/DataTable.js
Labels: Language: Javascript

fixes2
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/user_accounts/jsx/userAccountsIndex.js
  modules/user_accounts/locale/hi/LC_MESSAGES/user_accounts.po
  modules/user_accounts/locale/user_accounts.pot
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
  php/libraries/Password.class.inc
Labels: Module: user_accounts, Language: PHP, Language: Javascript

fixes2
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/my_preferences/locale/hi/LC_MESSAGES/my_preferences.po
  modules/my_preferences/locale/my_preferences.pot
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  php/libraries/Password.class.inc
Labels: Module: my_preferences, Language: PHP

lint
  modules/user_accounts/jsx/userAccountsIndex.js
Labels: Module: user_accounts, Language: Javascript

first changes
  Makefile
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/locale/hi/LC_MESSAGES/issue_tracker.po
Labels: Module: issue_tracker, Language: Javascript

lint
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: Module: issue_tracker, Language: Javascript

Add remaining translations
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
  modules/issue_tracker/jsx/CommentList.js
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/locale/hi/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/locale/issue_tracker.pot
Labels: Module: issue_tracker, Language: Javascript

lint
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
  modules/issue_tracker/jsx/IssueCard.js
Labels: Module: issue_tracker, Language: Javascript

test
  jsx/Filter.js
Labels: Language: Javascript

modify Filter.js
  jsx/Filter.js
Labels: Language: Javascript

fixes
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/locale/hi/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/locale/issue_tracker.pot
Labels: Module: issue_tracker, Language: Javascript

Corrected merge change
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Language: Javascript

Fix failing static tests
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Rename 'Project Size' to 'Dataset Size'
  modules/dqt/php/module.class.inc
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Module: dqt, Language: PHP, Language: Javascript

Reorganize and add age distribution
  htdocs/bootstrap/css/custom-css.css
  modules/statistics/css/WidgetIndex.css
  modules/statistics/css/recruitment.css
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
Labels: Module: statistics, Language: Javascript

Static fixes
  modules/dqt/php/module.class.inc
  modules/electrophysiology_browser/php/module.class.inc
  modules/statistics/php/charts.class.inc
Labels: Module: electrophysiology_browser, Module: statistics, Module: dqt, Language: PHP

Fix conflict
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Language: Javascript

Fix line length
  modules/statistics/jsx/widgets/helpers/queryChartForm.js
Labels: Module: statistics, Language: Javascript
