Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'

[LINST] Fix loading of LINST instruments
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Language: PHP

[candidate_profile] Fix loading of instrument list
  modules/instruments/php/visitsummary.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Module: instruments, Language: PHP

phpcs
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Language: PHP

adjustments to elements in the candidate profile item page
  modules/candidate_profile/jsx/CandidateInfo.js
  modules/instruments/jsx/VisitInstrumentList.js
  modules/media/jsx/CandidateMediaWidget.js
Labels: Module: media, Module: candidate_profile, Module: instruments, Language: Javascript

[LINST] Fix loading of LINST instruments (#10079)
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Language: PHP

phpcs
  modules/instruments/php/visitsummary.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Module: instruments, Language: PHP

[candidate_profile] Fix loading of instrument list (#10080)
  modules/instruments/php/visitsummary.class.inc
Labels: Module: instruments, Language: PHP

[i18n/imaging_browser] Translate imaging QC summary on candidate_profile (#10078)
  Makefile
  modules/imaging_browser/jsx/CandidateScanQCSummaryWidget.js
  modules/imaging_browser/locale/imaging_browser.pot
  modules/imaging_browser/locale/ja/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/php/module.class.inc
Labels: Module: imaging_browser, Language: PHP, Language: Javascript

[candidate_profile/conflict_resolver] Translate conflict resolver widget on candidate profile page
  Makefile
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
  modules/conflict_resolver/locale/conflict_resolver.pot
  modules/conflict_resolver/locale/ja/LC_MESSAGES/conflict_resolver.po
Labels: Module: conflict_resolver, Language: Javascript

[candidate_profile/issue_tracker] Translate Issue Tracker candidate_profile widget
  Makefile
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
  modules/issue_tracker/locale/issue_tracker.pot
  modules/issue_tracker/locale/ja/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/php/module.class.inc
Labels: Module: issue_tracker, Language: PHP, Language: Javascript

lint
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
Labels: Module: issue_tracker, Language: Javascript

[instruments/candidate_profile] Translate Behavioural Data widget on candidate profile
  Makefile
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/instruments/jsx/VisitInstrumentList.js
  modules/instruments/locale/instruments.pot
  modules/instruments/locale/ja/LC_MESSAGES/instruments.po
  modules/instruments/php/module.class.inc
Labels: Module: instruments, Language: PHP, Language: Javascript

[dashboard/statistics] Fix loading of dashboard charts
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

[i18n/fr] Ajouter des tradutions français (#10065)
  Makefile
  jsx/I18nSetup.js
  locale/fr/LC_MESSAGES/loris.po
Labels: Language: Javascript

[candidate_list] Add French translations for candidate_list
  Makefile
  modules/candidate_list/jsx/candidateListIndex.js
Labels: Module: candidate_list, Language: Javascript

lint js
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
Labels: Module: conflict_resolver, Language: Javascript

Add missing file
  modules/candidate_list/locale/fr/LC_MESSAGES/candidate_list.po
Labels: Module: candidate_list

[i18n/meta] Update Makefile to only compile changed language files
  Makefile
Labels: none

Use filter to generate dependency list
  Makefile
Labels: none

lint
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

lint
  modules/schedule_module/jsx/scheduleIndex.js
Labels: Module: schedule_module, Language: Javascript

remove all tables by correct order
  SQL/9999-99-99-drop_tables.sql
Labels: Language: SQL

improved small screen viewing and added panel max height prop with default value
  jsx/CSSGrid/index.js
  jsx/CSSGrid/styles.css
  jsx/Panel.js
  webpack.config.ts
Labels: Language: Javascript

[candidate_profile/conflict_resolver] Translate conflict resolver widget on the candidate profile page (#10081)
  Makefile
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
  modules/conflict_resolver/locale/conflict_resolver.pot
  modules/conflict_resolver/locale/ja/LC_MESSAGES/conflict_resolver.po
Labels: Module: conflict_resolver, Language: Javascript

removed unused import
  jsx/Panel.js
Labels: Language: Javascript

[candidate_profile/issue_tracker] Translate Issue Tracker candidate_profile widget (#10083)
  Makefile
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
  modules/issue_tracker/locale/issue_tracker.pot
  modules/issue_tracker/locale/ja/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/php/module.class.inc
Labels: Module: issue_tracker, Language: PHP, Language: Javascript

fix
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

[instruments/candidate_profile] Translate Behavioural Data widget on candidate profile (#10085)
  Makefile
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/instruments/jsx/VisitInstrumentList.js
  modules/instruments/locale/instruments.pot
  modules/instruments/locale/ja/LC_MESSAGES/instruments.po
  modules/instruments/php/module.class.inc
Labels: Module: instruments, Language: PHP, Language: Javascript

[dashboard] fix not load "Total recruitment by Age" and "Ethnicity at Screening" (#10089)
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Add Open Collective username to FUNDING.yml
  .github/FUNDING.yml
Labels: none

[SQL] - 9999-99-99-drop_tables.sql- remove all tables by correct order (#10088)
  SQL/9999-99-99-drop_tables.sql
Labels: Language: SQL

fixes
  modules/user_accounts/locale/hi/LC_MESSAGES/user_accounts.po
  modules/user_accounts/locale/user_accounts.pot
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

lint
  modules/publication/jsx/viewProject.js
Labels: Module: publication, Language: Javascript

lint
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

Fix string
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

split and improved test plans
  modules/dataquery/test/TestPlan.md
  modules/dataquery/test/TestPlan2.md
Labels: Module: dataquery

test/TestPlan.md
  modules/dataquery/test/TestPlan.md
Labels: Module: dataquery

added more functionality tests under the next permissions
  modules/dataquery/test/TestPlan.md
  modules/dataquery/test/TestPlan2.md
  modules/dataquery/test/data_query_tool.png
  modules/dataquery/test/define_fields.png
  modules/dataquery/test/define_filters.png
  modules/dataquery/test/view_data.png
Labels: Module: dataquery

Began thorough testing and consequent re-writing of plan
  modules/dataquery/test/TestPlan.md
Labels: Module: dataquery

lint
  modules/user_accounts/jsx/userAccountsIndex.js
Labels: Module: user_accounts, Language: Javascript
