Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

Add % to age chart and bigger subtitle
  htdocs/bootstrap/css/custom-css.css
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
Labels: Module: statistics, Language: Javascript

Satisfy linter
  modules/statistics/jsx/WidgetIndex.js
  modules/statistics/php/charts.class.inc
  modules/statistics/php/widgets.class.inc
Labels: Module: statistics, Language: PHP, Language: Javascript

Fix tests
  modules/statistics/php/widgets.class.inc
Labels: Module: statistics, Language: PHP

Add project size charts + Generalize helpers
  modules/behavioural_qc/php/module.class.inc
  modules/candidate_list/php/module.class.inc
  modules/dqt/php/module.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
  modules/statistics/jsx/widgets/recruitment.js
  modules/statistics/jsx/widgets/studyprogression.js
  modules/statistics/php/charts.class.inc
  modules/statistics/php/widgets.class.inc
  tools/update_projects_disk_space.php
Labels: Module: candidate_list, Module: behavioural_qc, Module: statistics, Module: imaging_browser, Module: dqt, Language: PHP, Language: Javascript

Remove commented code
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Language: Javascript

Add subtitles to dashboard panels
  htdocs/bootstrap/css/custom-css.css
  jsx/Panel.js
  modules/statistics/jsx/widgets/recruitment.js
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Language: Javascript

Lint fixes
  modules/statistics/php/charts.class.inc
  tools/update_projects_disk_space.php
Labels: Module: statistics, Language: PHP

Just trying to make phan happy
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Add SQL patch + RB
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025_09_11_add_data_cache_table.sql
  raisinbread/RB_files/RB_cached_data.sql
  raisinbread/RB_files/RB_cached_data_type.sql
Labels: RaisinBread, Language: SQL

Compliance changes
  modules/dqt/php/module.class.inc
  modules/statistics/php/widgets.class.inc
Labels: Module: statistics, Module: dqt, Language: PHP

Fint php lint
  modules/dqt/php/module.class.inc
  modules/electrophysiology_browser/php/module.class.inc
  modules/statistics/php/charts.class.inc
  modules/statistics/php/widgets.class.inc
  tools/update_projects_disk_space.php
Labels: Module: electrophysiology_browser, Module: statistics, Module: dqt, Language: PHP

Fix formatting
  modules/statistics/php/widgets.class.inc
  raisinbread/RB_files/RB_candidate.sql
Labels: Module: statistics, RaisinBread, Language: PHP, Language: SQL

Fix php formatting
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Fix issue with visit filter + console warning + date_registered
  modules/statistics/jsx/widgets/helpers/queryChartForm.js
Labels: Module: statistics, Language: Javascript

Fix null scenario
  modules/dqt/php/module.class.inc
  modules/statistics/php/widgets.class.inc
Labels: Module: statistics, Module: dqt, Language: PHP

Satisfy linter
  modules/dqt/php/module.class.inc
Labels: Module: dqt, Language: PHP

Remove console.log
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: statistics, Language: Javascript

[statistics] Cleanup filters and add Registration Date
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
  modules/statistics/jsx/widgets/helpers/queryChartForm.js
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP, Language: Javascript

Rebase to aces/main
  jsx/Panel.js
  modules/behavioural_qc/php/module.class.inc
  modules/candidate_list/php/module.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/statistics/css/WidgetIndex.css
  modules/statistics/css/recruitment.css
  modules/statistics/jsx/WidgetIndex.js
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
  modules/statistics/jsx/widgets/helpers/queryChartForm.js
  modules/statistics/jsx/widgets/recruitment.js
  modules/statistics/jsx/widgets/studyprogression.js
  modules/statistics/php/charts.class.inc
  raisinbread/RB_files/RB_candidate.sql
Labels: Module: candidate_list, Module: behavioural_qc, Module: statistics, Module: imaging_browser, RaisinBread, Language: PHP, Language: Javascript, Language: SQL

Fix failing static tests
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Fix null scenario
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

fixing static tests
  modules/biobank/php/optionsendpoint.class.inc
Labels: Language: PHP

resolving static tests
  modules/biobank/php/optionsendpoint.class.inc
Labels: Language: PHP

Make strings translatable
  modules/dqt/php/module.class.inc
  modules/statistics/jsx/widgets/studyprogression.js
  modules/statistics/php/module.class.inc
Labels: Module: statistics, Module: dqt, Language: PHP, Language: Javascript

EEG widget + charts endpoints
  modules/electrophysiology_browser/php/module.class.inc
  modules/statistics/css/recruitment.css
  modules/statistics/php/charts.class.inc
Labels: Module: electrophysiology_browser, Module: statistics, Language: PHP

php lint fix
  modules/electrophysiology_browser/php/module.class.inc
  modules/statistics/php/charts.class.inc
Labels: Module: electrophysiology_browser, Module: statistics, Language: PHP

Show graphs + Fix payload
  modules/statistics/jsx/WidgetIndex.js
  modules/statistics/jsx/widgets/electrophysiology.js
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP, Language: Javascript

Add request to endpoints
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Delete redeclaration
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

addressed rida's review
  modules/biobank/js/biobankIndex.js
  modules/biobank/php/optionsendpoint.class.inc
  modules/biobank/php/specimendao.class.inc
Labels: Language: PHP, Language: Javascript

Add translations
  modules/statistics/jsx/widgets/electrophysiology.js
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP, Language: Javascript

Revert unecessary changes
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

Revert unecessary changes
  modules/statistics/php/charts.class.inc
Labels: Module: statistics, Language: PHP

[i18n] Translate consent widget on candidate profile
  Makefile
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/candidate_parameters/jsx/ConsentWidget.js
  modules/candidate_parameters/locale/candidate_parameters.pot
  modules/candidate_parameters/locale/ja/LC_MESSAGES/candidate_parameters.po
  modules/candidate_parameters/php/module.class.inc
Labels: Module: candidate_parameters, Language: PHP, Language: Javascript

Linter compliance
  modules/statistics/jsx/WidgetIndex.js
  modules/statistics/jsx/widgets/electrophysiology.js
  modules/statistics/php/charts.class.inc
  modules/statistics/php/widgets.class.inc
Labels: Module: statistics, Language: PHP, Language: Javascript

Linter compliance
  modules/electrophysiology_browser/php/module.class.inc
Labels: Module: electrophysiology_browser, Language: PHP

static tests
  modules/candidate_parameters/jsx/ConsentWidget.js
Labels: Module: candidate_parameters, Language: Javascript

[i18n] Add instruments strings for Japanese (#10068)
  locale/ja/LC_MESSAGES/loris.po
  modules/instruments/locale/ja/LC_MESSAGES/instruments.po
Labels: Module: instruments

[dicom_archive/imaging_uploader] Residual fixes for advanced permissions (#9761)
  SQL/Archive/27.0/2025-01-15-Imaging-Uploader-Site-Project-Permissions.sql
  SQL/Archive/27.0/2025-01-31-Dicom-Archive-Permissions.sql
  modules/dicom_archive/php/module.class.inc
  modules/imaging_uploader/ajax/getUploadSummary.php
Labels: Module: imaging_uploader, Module: dicom_archive, Language: PHP, Language: SQL

Namespace
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser, Language: Javascript

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'
