Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'

update to run functionality by permissions
  modules/timepoint_list/test/TestPlan.md
Labels: Module: timepoint_list

Change po and pot files
  Makefile
  modules/help_editor/locale/hi/LC_MESSAGES/help_editor.po
Labels: Module: help_editor

modify js files
  modules/help_editor/jsx/helpEditorForm.js
  modules/help_editor/jsx/help_editor.js
Labels: Module: help_editor, Language: Javascript

lint
  modules/help_editor/jsx/helpEditorForm.js
  modules/help_editor/jsx/help_editor.js
Labels: Module: help_editor, Language: Javascript

ove
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/help_editor/jsx/helpEditorForm.js
  modules/help_editor/jsx/help_editor.js
  modules/help_editor/locale/help_editor.pot
  modules/help_editor/locale/hi/LC_MESSAGES/help_editor.po
Labels: Module: help_editor, Language: Javascript

add Translation
  Makefile
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.json
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/locale/imaging_browser.pot
Labels: Module: imaging_browser, Language: Javascript

lint
  Makefile
  modules/imaging_browser/jsx/CandidateScanQCSummaryWidget.js
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser, Language: Javascript

lint
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser, Language: Javascript

Delete json file
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.json
Labels: Module: imaging_browser

lint issue
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser, Language: Javascript

Remaining Translation
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/locale/imaging_browser.pot
  modules/imaging_browser/templates/form_feedback_mri_popup.tpl
  modules/imaging_browser/templates/form_viewSession.tpl
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/imaging_browser/templates/table_session_header.tpl
Labels: Module: imaging_browser

fix
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/locale/imaging_browser.pot
  modules/imaging_browser/templates/form_feedback_mri_popup.tpl
  modules/imaging_browser/templates/form_viewSession.tpl
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/imaging_browser/templates/table_session_header.tpl
Labels: Module: imaging_browser, Language: Javascript

Namespace
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser, Language: Javascript

fix
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/help_editor/jsx/helpEditorForm.js
  modules/help_editor/jsx/help_editor.js
  modules/help_editor/locale/help_editor.pot
  modules/help_editor/locale/hi/LC_MESSAGES/help_editor.po
  modules/help_editor/php/edit_help_content.class.inc
Labels: Module: help_editor, Language: PHP, Language: Javascript

link fix
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/php/imaging_browser.class.inc
Labels: Module: imaging_browser, Language: PHP, Language: Javascript

namespace
  locale/loris.pot
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/locale/hi/LC_MESSAGES/issue_tracker.po
  modules/issue_tracker/locale/issue_tracker.pot
Labels: Module: issue_tracker, Language: Javascript

remove duplicate
  locale/hi/LC_MESSAGES/loris.po
Labels: none

[meta] Remove deprecated functions from Utility.class.inc
  php/libraries/Utility.class.inc
Labels: Language: PHP

fixes
  locale/loris.pot
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/locale/imaging_browser.pot
Labels: Module: imaging_browser, Language: Javascript

syntax
  locale/hi/LC_MESSAGES/loris.po
Labels: none

fixes
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/imaging_uploader/jsx/ImagingUploader.js
  modules/imaging_uploader/jsx/LogPanel.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/locale/hi/LC_MESSAGES/imaging_uploader.po
  modules/imaging_uploader/locale/imaging_uploader.pot
Labels: Module: imaging_uploader, Language: Javascript

lint
  modules/imaging_uploader/jsx/ImagingUploader.js
Labels: Module: imaging_uploader, Language: Javascript

add functionality to parse decimal options
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
Labels: Language: PHP

fix uppercase table name
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
  SQL/Release_patches/26.0_To_27.0_upgrade.sql
Labels: Language: SQL

fix table name
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
  SQL/Release_patches/26.0_To_27.0_upgrade.sql
Labels: Language: SQL

clarified the pin section
  modules/dataquery/test/TestPlan.md
Labels: Module: dataquery

fix translate
  src/Middleware/Language.php
Labels: Language: PHP

NewProfileIndex.js
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Module: new_profile, Language: Javascript

fix translate issue in apache server (#10104)
  src/Middleware/Language.php
Labels: Language: PHP

cs
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Module: new_profile, Language: Javascript

made static error corrections
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
Labels: Language: PHP

saveChanges
  modules/dataquery/test/TestPlan.md
Labels: Module: dataquery

fixed typo on line 334
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
Labels: Language: PHP

spaces before equal sign
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
Labels: Language: PHP

update document
  tools/update_login_summary_statistics.php
Labels: Language: PHP

fix in docs
  tools/update_login_summary_statistics.php
Labels: Language: PHP

Adding header info translations
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/locale/hi/LC_MESSAGES/imaging_browser.po
Labels: Module: imaging_browser, Language: Javascript

fix imaging qc
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

Update imagingQCIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

Update imagingQCIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript
