Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'

Add Module String
  locale/loris.pot
Labels: none

[i18n] Translate consent widget on candidate profile (#10071)
  Makefile
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/candidate_parameters/jsx/ConsentWidget.js
  modules/candidate_parameters/locale/candidate_parameters.pot
  modules/candidate_parameters/locale/ja/LC_MESSAGES/candidate_parameters.po
  modules/candidate_parameters/php/module.class.inc
Labels: Module: candidate_parameters, Language: PHP, Language: Javascript

[my_preferences] Translate to my_preferences module (#10015)
  Makefile
  locale/hi/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/my_preferences/locale/hi/LC_MESSAGES/my_preferences.po
  modules/my_preferences/locale/my_preferences.pot
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  php/libraries/Password.class.inc
Labels: Module: my_preferences, Language: PHP

[user_accounts] Make examiner sites multiselect (#10056)
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

Update help_editorTest.php
  modules/help_editor/test/help_editorTest.php
Labels: Module: help_editor, Language: PHP

Update help_editorTest.php
  modules/help_editor/test/help_editorTest.php
Labels: Module: help_editor, Language: PHP

[i18n/meta] Ignore translation JSON files
  .gitignore
Labels: none

[Document_Repo] fix perm in editcategory (#9965)
  modules/document_repository/php/editcategory.class.inc
Labels: Module: document_repository, Language: PHP

[i18n/meta] Ignore translation JSON files (#10072)
  .gitignore
Labels: none

update
  modules/help_editor/test/HelpEditorTestIntegrationTest.php
Labels: Module: help_editor, Language: PHP

WIP
  modules/my_preferences/jsx/mfa.tsx
Labels: Module: my_preferences

Update schema
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025-08-21-add_totp_support.sql
Labels: Language: SQL

Refactor my_preferences and login prompts to use the same input
  jsx/MFAPrompt.tsx
  modules/login/jsx/mfaPrompt.tsx
  modules/login/php/mfa.class.inc
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/php/mfa.class.inc
Labels: Module: my_preferences, Module: login, Language: PHP

fix phpunit version, start fixing js lints
  composer.json
  modules/my_preferences/jsx/mfa.tsx
Labels: Module: my_preferences

Add TOTPSecret to unittest
  test/unittests/UserTest.php
Labels: Language: PHP

Register and validate 2FA authenticator on my_preferences page
  Makefile
  composer.json
  composer.lock
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/php/mfa.class.inc
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  package-lock.json
  package.json
  webpack.config.ts
Labels: Module: my_preferences, Language: PHP, Language: Javascript

Fix comments in tests
  test/unittests/security/HOTP_Test.php
  test/unittests/security/TOTP_Test.php
Labels: Language: PHP

Add classes for generating TOTP and HOTP codes
  src/Security/OTP/HOTP.php
  src/Security/OTP/TOTP.php
  test/unittests/security/HOTP_Test.php
  test/unittests/security/TOTP_Test.php
Labels: Language: PHP

Add translatons after rebase
  Makefile
  jsx/DataTable.d.ts
  jsx/I18nSetup.d.ts
  locale/ja/LC_MESSAGES/loris.po
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/locale/hi/LC_MESSAGES/my_preferences.po
  modules/my_preferences/locale/my_preferences.pot
  modules/my_preferences/templates/form_my_preferences.tpl
Labels: Module: my_preferences, Language: Javascript

add mising file
  modules/my_preferences/locale/ja/LC_MESSAGES/my_preferences.po
Labels: Module: my_preferences

Fix manual code input
  jsx/MFAPrompt.tsx
  modules/my_preferences/jsx/mfa.tsx
  test/unittests/security/TOTP_Test.php
Labels: Module: my_preferences, Language: PHP

[test] Upgrade PHPUnit to the latest release
  composer.json
  composer.lock
Labels: none

Add missing file
  modules/my_preferences/locale/my_preferences.pot
Labels: Module: my_preferences

WIP -- add middleware to require MFA token
  htdocs/index.php
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  php/libraries/NDB_Client.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/UserPermissions.class.inc
  src/Middleware/MFA.php
  test/phpunit.xml
Labels: Module: my_preferences, Language: PHP

Fix breadcrumb links
  modules/my_preferences/php/mfa.class.inc
Labels: Module: my_preferences, Language: PHP

fix compile and explicitly name acronym in link
  jsx/MFAPrompt.tsx
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/templates/form_my_preferences.tpl
Labels: Module: my_preferences

Fix space between words
  modules/my_preferences/jsx/mfa.tsx
Labels: Module: my_preferences

Add jefferson's suggestions
  jsx/MFAPrompt.tsx
Labels: none

Restore phpunit version after rebase
  composer.json
  composer.lock
  test/phpunit.xml
Labels: none

PHPCS
  modules/api/php/endpoints/login.class.inc
  modules/login/php/authentication.class.inc
  modules/login/php/mfa.class.inc
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/php/mfa.class.inc
  modules/my_preferences/php/my_preferences.class.inc
  php/libraries/AnonymousUser.class.inc
  php/libraries/NDB_Client.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  php/libraries/UserPermissions.class.inc
  src/Middleware/MFA.php
  src/Security/OTP/HOTP.php
  src/Security/OTP/TOTP.php
  test/unittests/security/HOTP_Test.php
  test/unittests/security/TOTP_Test.php
Labels: Module: api, Module: my_preferences, Module: login, Language: PHP

Prompt for MFA code
  modules/login/jsx/mfaPrompt.tsx
  modules/login/php/mfa.class.inc
  modules/my_preferences/php/mfa.class.inc
  php/libraries/AnonymousUser.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  src/Middleware/MFA.php
  webpack.config.ts
Labels: Module: my_preferences, Module: login, Language: PHP, Language: Javascript

2FA WIP
  modules/api/php/endpoints/login.class.inc
  modules/login/php/authentication.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  src/Middleware/MFA.php
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Module: api, Module: login, Language: PHP

fix static tests
  modules/login/jsx/mfaPrompt.tsx
Labels: Module: login

rm old
  modules/help_editor/test/help_editorTest.php
Labels: Module: help_editor, Language: PHP

[dataquery]Fix shared query name not displaying (#9887)
  modules/dataquery/php/provisioners/alluserqueries.class.inc
Labels: Module: dataquery, Language: PHP

[login] Homepage header image and Partner Logos Panel (#10051)
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2025-10-15-custom_homepage_logos_and_path.sql
  htdocs/css/public_layout.css
  htdocs/images/LORIS_logo_white.svg
  htdocs/images/github-mark.svg
  modules/login/css/login.css
  modules/login/jsx/loginIndex.js
  modules/login/php/authentication.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  smarty/templates/public_layout.tpl
  src/Middleware/AnonymousPageDecorationMiddleware.php
Labels: Module: login, RaisinBread, Language: PHP, Language: Javascript, Language: SQL

cs
  modules/help_editor/jsx/help_editor.js
Labels: Module: help_editor, Language: Javascript

Static compliance
  modules/electrophysiology_browser/php/module.class.inc
Labels: Module: electrophysiology_browser, Language: PHP

last cs
  modules/help_editor/jsx/helpEditorForm.js
Labels: Module: help_editor, Language: Javascript

[Core/Refactor] Do not mangle request URI (#10031)
  modules/api/php/module.class.inc
  modules/biobank/php/endpoint.class.inc
  modules/biobank/php/module.class.inc
  modules/biobank/php/preparations.class.inc
  modules/candidate_profile/php/module.class.inc
  modules/conflict_resolver/php/module.class.inc
  modules/instruments/php/module.class.inc
  modules/statistics/php/charts.class.inc
  php/libraries/Module.class.inc
  src/Router/BaseRouter.php
  src/Router/ModuleFileRouter.php
  src/Router/PrefixRouter.php
Labels: Module: api, Module: candidate_profile, Module: conflict_resolver, Module: instruments, Module: statistics, Language: PHP
