Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

Update imagingQCIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

Update imagingQCIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

Adding translations
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/locale/document_repository.pot
  modules/document_repository/locale/hi/LC_MESSAGES/document_repository.po
Labels: Module: document_repository, Language: Javascript

[user_accounts] Translate user accounts (#10114)
  Makefile
  locale/hi/LC_MESSAGES/loris.po
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/user_accounts/jsx/userAccountsIndex.js
  modules/user_accounts/locale/hi/LC_MESSAGES/user_accounts.po
  modules/user_accounts/locale/ja/LC_MESSAGES/user_accounts.po
  modules/user_accounts/locale/user_accounts.pot
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
Labels: Module: user_accounts, Language: PHP, Language: Javascript

Fix plural forms of Site, Project, and Cohort
  modules/candidate_list/jsx/candidateListIndex.js
  modules/create_timepoint/jsx/createTimepointIndex.js
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Module: candidate_list, Module: new_profile, Module: create_timepoint, Language: Javascript

Fix CandidateInfo widget as well
  modules/candidate_profile/jsx/CandidateInfo.js
Labels: Module: candidate_profile, Language: Javascript

default as error
  raisinbread/RB_files/RB_Config.sql
Labels: RaisinBread, Language: SQL

Update RB_Config.sql
  raisinbread/RB_files/RB_Config.sql
Labels: RaisinBread, Language: SQL

[Raisinbread] set default values as "error" for logs (#10116)
  raisinbread/RB_files/RB_Config.sql
Labels: RaisinBread, Language: SQL

Some fixes for edit form
  locale/hi/LC_MESSAGES/loris.po
  modules/document_repository/jsx/editForm.js
Labels: Module: document_repository, Language: Javascript

Remove translation for 'None' in loris.po
  locale/hi/LC_MESSAGES/loris.po
Labels: none

Update editForm.js
  modules/document_repository/jsx/editForm.js
Labels: Module: document_repository, Language: Javascript

Remove duplicates
  locale/hi/LC_MESSAGES/loris.po
Labels: none

[Fr] Add translation strings for new_profile, candidate_profile, instrument_list, and timepoint_list
  Makefile
  modules/candidate_profile/locale/fr/LC_MESSAGES/candidate_profile.po
  modules/instrument_list/locale/fr/LC_MESSAGES/instrument_list.po
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/locale/fr/LC_MESSAGES/new_profile.po
  modules/timepoint_list/locale/fr/LC_MESSAGES/timepoint_list.po
Labels: Module: candidate_profile, Module: instrument_list, Module: new_profile, Module: timepoint_list, Language: Javascript

fix
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

[Fr] Add translation strings for new_profile, candidate_profile, instrument_list, and timepoint_list (#10117)
  Makefile
  modules/candidate_profile/locale/fr/LC_MESSAGES/candidate_profile.po
  modules/instrument_list/locale/fr/LC_MESSAGES/instrument_list.po
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/locale/fr/LC_MESSAGES/new_profile.po
  modules/timepoint_list/locale/fr/LC_MESSAGES/timepoint_list.po
Labels: Module: candidate_profile, Module: instrument_list, Module: new_profile, Module: timepoint_list, Language: Javascript

[candidate_list] Add French translations for candidate_list (#10087)
  Makefile
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/locale/fr/LC_MESSAGES/candidate_list.po
Labels: Module: candidate_list, Language: Javascript

Update imagingQCIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Module: imaging_qc, Language: Javascript

fix mariadb 10 Aborted connection 21 to db: 'unconnected' user: 'unauthenticated' host: '172.18.0.5' (This connection closed normally without authentication)
  Dockerfile.test.db
Labels: none

[github CI] waiting for mysqld - fix in 26.0-release (#10118)
  Dockerfile.test.db
Labels: none

Update CandidateConflictsWidget.js
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
Labels: Module: conflict_resolver, Language: Javascript

Update CandidateConflictsWidget.js
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
Labels: Module: conflict_resolver, Language: Javascript

Update CandidateConflictsWidget.js
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
Labels: Module: conflict_resolver, Language: Javascript

Update loris.po
  locale/hi/LC_MESSAGES/loris.po
Labels: none

Update 2024-12-18-Login-Statistics.sql
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
Labels: Language: SQL

Update 2024-12-18-Login-Statistics.sql
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
Labels: Language: SQL

Update 2024-12-18-Login-Statistics.sql
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
Labels: Language: SQL

fi
  SQL/Archive/27.0/2025-11-11-login-statistics-rename.sql
Labels: Language: SQL

fix
  locale/hi/LC_MESSAGES/loris.po
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/locale/hi/LC_MESSAGES/conflict_resolver.json
  modules/conflict_resolver/locale/hi/LC_MESSAGES/conflict_resolver.po
Labels: Module: conflict_resolver, Language: Javascript

Revert publication folder to previous version
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/jsx/viewProjectIndex.js
  modules/publication/locale/publication.pot
  modules/publication/php/publication.class.inc
  modules/publication/php/view_project.class.inc
Labels: Module: publication, Language: PHP, Language: Javascript

make
  Makefile
Labels: none

fix webpack
  webpack.config.ts
Labels: Language: Javascript

fix make
  jsx/DataTable.js
  webpack.config.ts
Labels: Language: Javascript

fix make
  Makefile
Labels: none

Update resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
Labels: Module: conflict_resolver, Language: Javascript

Delete modules/publication/locale/hi/LC_MESSAGES/publication.po
  modules/publication/locale/hi/LC_MESSAGES/publication.po
Labels: Module: publication

Updates to include all text
  jsx/FilterForm.js
  jsx/Form.js
  jsx/StaticDataTable.js
  modules/imaging_uploader/jsx/ImagingUploader.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Module: imaging_uploader, Language: PHP, Language: Javascript

Fix spacing
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Module: imaging_uploader, Language: PHP

[NDB_Client] Remove unused method (#9921)
  php/libraries/NDB_Client.class.inc
Labels: Language: PHP

[instruments] Make legacy dictionary use OPTIONAL as a default (#9786)
  php/libraries/LorisFormDictionaryImpl.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Language: PHP

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'
