Repository aces/Loris, changes with the labels that .github/labeler.yml gives for each.
All labels: Module: acknowledgements, Module: candidate_list, Module: datadict, Module: electrophysiology_browser, Module: imaging_uploader, Module: media, Module: publication, Module: user_accounts, Module: api, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: instrument_builder, Module: module_manager, Module: api_docs, Module: candidate_profile, Module: data_release, Module: examiner, Module: instrument_list, Module: mri_violations, Module: schedule_module, Module: battery_manager, Module: configuration, Module: dicom_archive, Module: genomic_browser, Module: instrument_manager, Module: my_preferences, Module: server_processes_manager, Module: behavioural_qc, Module: conflict_resolver, Module: dictionary, Module: help_editor, Module: instruments, Module: new_profile, Module: statistics, Module: brainbrowser, Module: create_timepoint, Module: document_repository, Module: imaging_browser, Module: issue_tracker, Module: next_stage, Module: survey_accounts, Module: bvl_feedback, Module: dashboard, Module: dqt, Module: imaging_qc, Module: login, Module: oidc, Module: timepoint_list, RaisinBread, Language: PHP, Language: Javascript, Language: Python, Language: SQL

.github/labeler.yml:

"Module: acknowledgements":
- changed-files:
  - any-glob-to-any-file: modules/acknowledgements/**

"Module: candidate_list":
- changed-files:
  - any-glob-to-any-file: modules/candidate_list/**

"Module: datadict":
- changed-files:
  - any-glob-to-any-file: modules/datadict/**

"Module: electrophysiology_browser":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_browser/**

"Module: imaging_uploader":
- changed-files:
  - any-glob-to-any-file: modules/imaging_uploader/**

"Module: media":
- changed-files:
  - any-glob-to-any-file: modules/media/**

"Module: publication":
- changed-files:
  - any-glob-to-any-file: modules/publication/**

"Module: user_accounts":
- changed-files:
  - any-glob-to-any-file: modules/user_accounts/**

"Module: api":
- changed-files:
  - any-glob-to-any-file: modules/api/**

"Module: candidate_parameters":
- changed-files:
  - any-glob-to-any-file: modules/candidate_parameters/**

"Module: dataquery":
- changed-files:
  - any-glob-to-any-file: modules/dataquery/**

"Module: electrophysiology_uploader":
- changed-files:
  - any-glob-to-any-file: modules/electrophysiology_uploader/**

"Module: instrument_builder":
- changed-files:
  - any-glob-to-any-file: modules/instrument_builder/**

"Module: module_manager":
- changed-files:
  - any-glob-to-any-file: modules/module_manager/**

"Module: api_docs":
- changed-files:
  - any-glob-to-any-file: modules/api_docs/**

"Module: candidate_profile":
- changed-files:
  - any-glob-to-any-file: modules/candidate_profile/**

"Module: data_release":
- changed-files:
  - any-glob-to-any-file: modules/data_release/**

"Module: examiner":
- changed-files:
  - any-glob-to-any-file: modules/examiner/**

"Module: instrument_list":
- changed-files:
  - any-glob-to-any-file: modules/instrument_list/**

"Module: mri_violations":
- changed-files:
  - any-glob-to-any-file: modules/mri_violations/**

"Module: schedule_module":
- changed-files:
  - any-glob-to-any-file: modules/schedule_module/**

"Module: battery_manager":
- changed-files:
  - any-glob-to-any-file: modules/battery_manager/**

"Module: configuration":
- changed-files:
  - any-glob-to-any-file: modules/configuration/**

"Module: dicom_archive":
- changed-files:
  - any-glob-to-any-file: modules/dicom_archive/**

"Module: genomic_browser":
- changed-files:
  - any-glob-to-any-file: modules/genomic_browser/**

"Module: instrument_manager":
- changed-files:
  - any-glob-to-any-file: modules/instrument_manager/**

"Module: my_preferences":
- changed-files:
  - any-glob-to-any-file: modules/my_preferences/**

"Module: server_processes_manager":
- changed-files:
  - any-glob-to-any-file: modules/server_processes_manager/**

"Module: behavioural_qc":
- changed-files:
  - any-glob-to-any-file: modules/behavioural_qc/**

"Module: conflict_resolver":
- changed-files:
  - any-glob-to-any-file: modules/conflict_resolver/**

"Module: dictionary":
- changed-files:
  - any-glob-to-any-file: modules/dictionary/**

"Module: help_editor":
- changed-files:
  - any-glob-to-any-file: modules/help_editor/**

"Module: instruments":
- changed-files:
  - any-glob-to-any-file: modules/instruments/**

"Module: new_profile":
- changed-files:
  - any-glob-to-any-file: modules/new_profile/**

"Module: statistics":
- changed-files:
  - any-glob-to-any-file: modules/statistics/**

"Module: brainbrowser":
- changed-files:
  - any-glob-to-any-file: modules/brainbrowser/**

"Module: create_timepoint":
- changed-files:
  - any-glob-to-any-file: modules/create_timepoint/**

"Module: document_repository":
- changed-files:
  - any-glob-to-any-file: modules/document_repository/**

"Module: imaging_browser":
- changed-files:
  - any-glob-to-any-file: modules/imaging_browser/**

"Module: issue_tracker":
- changed-files:
  - any-glob-to-any-file: modules/issue_tracker/**

"Module: next_stage":
- changed-files:
  - any-glob-to-any-file: modules/next_stage/**

"Module: survey_accounts":
- changed-files:
  - any-glob-to-any-file: modules/survey_accounts/**

"Module: bvl_feedback":
- changed-files:
  - any-glob-to-any-file: modules/bvl_feedback/**

"Module: dashboard":
- changed-files:
  - any-glob-to-any-file: modules/dashboard/**

"Module: dqt":
- changed-files:
  - any-glob-to-any-file: modules/dqt/**

"Module: imaging_qc":
- changed-files:
  - any-glob-to-any-file: modules/imaging_qc/**

"Module: login":
- changed-files:
  - any-glob-to-any-file: modules/login/**

"Module: oidc":
- changed-files:
  - any-glob-to-any-file: modules/oidc/**

"Module: timepoint_list":
- changed-files:
  - any-glob-to-any-file: modules/timepoint_list/**

RaisinBread:
- changed-files:
  - any-glob-to-any-file: raisinbread/**

"Language: PHP":
- changed-files:
  - any-glob-to-any-file: ['**/*.class.inc', '**/*.php']

"Language: Javascript":
- changed-files:
  - any-glob-to-any-file: ['**/*.js', '**/*.ts']

"Language: Python":
- changed-files:
  - any-glob-to-any-file: '**/*.py'

"Language: SQL":
- changed-files:
  - any-glob-to-any-file: '**/*.sql'

Static compliance
  modules/electrophysiology_browser/php/module.class.inc
Labels: Module: electrophysiology_browser, Language: PHP

fix index.php
  htdocs/index.php
Labels: Language: PHP

tools/generic_includes.php
  tools/generic_includes.php
Labels: Language: PHP

WIP
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/locale/ja/LC_MESSAGES/my_preferences.po
Labels: Module: my_preferences

[publication] Fix collaborator behaviour (#9908)
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025-07-10-Publication_Collaborators_To_Own_Entries.sql
  modules/publication/ajax/FileUpload.php
  modules/publication/ajax/getData.php
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/php/publication.class.inc
  raisinbread/RB_files/RB_publication.sql
  raisinbread/RB_files/RB_publication_collaborator.sql
  raisinbread/RB_files/RB_publication_collaborator_rel.sql
  test/run-php-linter.sh
  tools/single_use/27_Publication_Collaborators_Into_New_Entries.php
  tools/single_use/README.md
Labels: Module: publication, RaisinBread, Language: PHP, Language: Javascript, Language: SQL

[dataquery/dictionary] Remove instruments and visits that the user doesnt have access to (#9903)
  modules/behavioural_qc/php/behavioural.class.inc
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/php/options.class.inc
  modules/candidate_parameters/php/candidatequeryengine.class.inc
  modules/dataquery/php/visitlist.class.inc
  modules/dictionary/php/dictionary.class.inc
  modules/dictionary/php/module.class.inc
  modules/electrophysiology_uploader/php/electrophysiology_uploader.class.inc
  modules/imaging_browser/php/queryengine.class.inc
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/instruments/php/instrumentqueryengine.class.inc
  modules/statistics/jsx/widgets/projects.js
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  php/libraries/User.class.inc
  php/libraries/VisitController.class.inc
  raisinbread/RB_files/RB_test_names.sql
Labels: Module: candidate_list, Module: imaging_uploader, Module: candidate_parameters, Module: dataquery, Module: electrophysiology_uploader, Module: behavioural_qc, Module: dictionary, Module: instruments, Module: statistics, Module: imaging_browser, RaisinBread, Language: PHP, Language: Javascript, Language: SQL

[flag] Add flag editors table (#9478)
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2024_11_18_Save_Flag_Editors.sql
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/php/endpoints/unresolved.class.inc
  modules/conflict_resolver/php/models/resolveddto.class.inc
  modules/conflict_resolver/php/provisioners/resolvedprovisioner.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  raisinbread/RB_files/RB_flag.sql
  raisinbread/RB_files/RB_flag_editors.sql
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Module: conflict_resolver, RaisinBread, Language: PHP, Language: Javascript, Language: SQL

fix cs
  htdocs/index.php
  tools/generic_includes.php
Labels: Language: PHP

fix
  modules/help_editor/php/edit_help_content.class.inc
Labels: Module: help_editor, Language: PHP

Fix for tests
  modules/data_release/locale/hi/LC_MESSAGES/data_release.json
  modules/data_release/locale/ja/LC_MESSAGES/data_release.json
  modules/data_release/php/files.class.inc
  modules/data_release/php/permissions.class.inc
Labels: Module: data_release, Language: PHP

Fix for tests
  modules/issue_tracker/php/edit.class.inc
Labels: Module: issue_tracker, Language: PHP

Fix Translations
  modules/login/php/mfa.class.inc
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/locale/ja/LC_MESSAGES/my_preferences.po
  modules/my_preferences/php/mfa.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  test/unittests/security/TOTP_Test.php
Labels: Module: my_preferences, Module: login, Language: PHP

phan
  modules/user_accounts/php/edit_user.class.inc
Labels: Module: user_accounts, Language: PHP

added package lock
  package-lock.json
Labels: none

added base level files before testing
  jslib/core/errors/ApiNetworkError.ts
  jslib/core/errors/ApiResponseError.ts
  jslib/core/errors/BaseError.ts
  jslib/core/errors/HttpError.ts
  jslib/core/errors/JsonParseError.ts
  jslib/core/errors/ValidationError.ts
  jslib/core/errors/index.ts
  jslib/core/http/Client.ts
  jslib/core/http/Query.ts
  jslib/core/http/index.ts
  jslib/core/index.ts
  jslib/entities/acknowledgement/clients/AcknowledgementClient.ts
  jslib/entities/acknowledgement/index.ts
  jslib/entities/acknowledgement/types/Acknowledgement.ts
  jslib/entities/index.ts
  jslib/index.ts
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  package.json
  tsconfig.json
  webpack.config.ts
Labels: Module: acknowledgements, Language: Javascript

addressing review
  jslib/core/http/Query.ts
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

cs fix
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

fix 2
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

fixing fan
  jslib/core/errors/ApiNetworkError.ts
  jslib/core/errors/ApiResponseError.ts
  jslib/core/errors/BaseError.ts
  jslib/core/errors/HttpError.ts
  jslib/core/errors/JsonParseError.ts
  jslib/core/errors/ValidationError.ts
  jslib/core/errors/index.ts
  jslib/core/http/Client.ts
  jslib/core/http/Query.ts
  jslib/core/http/index.ts
  jslib/core/index.ts
  jslib/entities/acknowledgement/clients/AcknowledgementClient.ts
  jslib/entities/acknowledgement/index.ts
  jslib/entities/acknowledgement/types/Acknowledgement.ts
  jslib/index.ts
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

fix-add data:acknowledgements
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

fixing static tests
  jslib/core/errors/ApiNetworkError.ts
  jslib/core/errors/HttpError.ts
  jslib/core/errors/JsonParseError.ts
  jslib/core/errors/NoContentError.ts
  jslib/core/http/Client.ts
Labels: Language: Javascript

fix 3
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

addressed Mario's review'
  jslib/core/errors/ApiNetworkError.ts
  jslib/core/errors/ApiResponseError.ts
  jslib/core/errors/HttpError.ts
  jslib/core/errors/JsonParseError.ts
  jslib/core/errors/NoContentError.ts
  jslib/core/errors/index.ts
  jslib/core/http/Client.ts
  jslib/core/http/Query.ts
  jslib/entities/acknowledgement/clients/AcknowledgementClient.ts
Labels: Language: Javascript

fix
  jslib/core/http/Client.ts
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: Module: acknowledgements, Language: Javascript

lint js
  modules/my_preferences/jsx/mfa.tsx
  tsconfig.json
Labels: Module: my_preferences

addressing review
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.ts
Labels: Language: Javascript

reverting to aces/main package.lock.json
  package-lock.json
Labels: none

fix
  SQL/0000-00-00-schema.sql
  raisinbread/RB_files/RB_flag_editors.sql
Labels: RaisinBread, Language: SQL

Update template
  modules/my_preferences/locale/my_preferences.pot
Labels: Module: my_preferences

[help-editor] add help form for the instrument (#9821)
  htdocs/index.php
  modules/help_editor/ajax/help.php
  modules/help_editor/ajax/process.php
  modules/help_editor/jsx/helpEditorForm.js
  modules/help_editor/jsx/help_editor.js
  modules/help_editor/php/edit_help_content.class.inc
  modules/help_editor/php/helpfile.class.inc
  modules/help_editor/php/helprowprovisioner.class.inc
  modules/help_editor/templates/form_edit_help_content.tpl
  modules/help_editor/test/HelpEditorTestIntegrationTest.php
  tools/generic_includes.php
Labels: Module: help_editor, Language: PHP, Language: Javascript

add patch file
  SQL/New_patches/2025-10-30-fix-commentid-userid.sql
Labels: Language: SQL

[SQL] Fix mistake in Flag Editors table
  SQL/New_patches/2024_11_18_Save_Flag_Editors.sql
  raisinbread/RB_files/RB_flag_editors.sql
Labels: RaisinBread, Language: SQL

[Core] Add Support for TOTP / 2FA to LORIS (#9972)
  Makefile
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025-08-21-add_totp_support.sql
  composer.json
  composer.lock
  htdocs/index.php
  jsx/DataTable.d.ts
  jsx/I18nSetup.d.ts
  jsx/MFAPrompt.tsx
  locale/ja/LC_MESSAGES/loris.po
  modules/login/jsx/mfaPrompt.tsx
  modules/login/php/mfa.class.inc
  modules/my_preferences/jsx/mfa.tsx
  modules/my_preferences/locale/hi/LC_MESSAGES/my_preferences.po
  modules/my_preferences/locale/ja/LC_MESSAGES/my_preferences.po
  modules/my_preferences/php/mfa.class.inc
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  modules/user_accounts/php/edit_user.class.inc
  package-lock.json
  package.json
  php/libraries/AnonymousUser.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  src/Middleware/MFA.php
  src/Middleware/UserPageDecorationMiddleware.php
  src/Security/OTP/HOTP.php
  src/Security/OTP/TOTP.php
  test/unittests/UserTest.php
  test/unittests/security/HOTP_Test.php
  test/unittests/security/TOTP_Test.php
  tsconfig.json
  webpack.config.ts
Labels: Module: user_accounts, Module: my_preferences, Module: login, Language: PHP, Language: Javascript, Language: SQL

[flag] incorrect rainsinbread data after #9478- fix (#10074)
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025-10-30-fix-commentid-userid.sql
  raisinbread/RB_files/RB_flag_editors.sql
Labels: RaisinBread, Language: SQL

Fix for missing statuses
  modules/candidate_parameters/ajax/getData.php
Labels: Module: candidate_parameters, Language: PHP

[candidate_profile/media] Localize Candidate Media widget
  modules/media/jsx/CandidateMediaWidget.js
  modules/media/locale/ja/LC_MESSAGES/media.po
  modules/media/locale/media.pot
  modules/media/php/module.class.inc
Labels: Module: media, Language: PHP, Language: Javascript

lint
  modules/media/jsx/CandidateMediaWidget.js
Labels: Module: media, Language: Javascript

fixes
  modules/schedule_module/jsx/scheduleIndex.js
  modules/schedule_module/locale/hi/LC_MESSAGES/schedule_module.po
  modules/schedule_module/locale/schedule_module.pot
Labels: Module: schedule_module, Language: Javascript

[i18n/imaging_browser] Translate imaging QC summary on candidate_profile
  Makefile
  modules/imaging_browser/jsx/CandidateScanQCSummaryWidget.js
  modules/imaging_browser/locale/imaging_browser.pot
  modules/imaging_browser/locale/ja/LC_MESSAGES/imaging_browser.po
  modules/imaging_browser/php/module.class.inc
Labels: Module: imaging_browser, Language: PHP, Language: Javascript

[candidate_profile/media] Localize Candidate Media widget (#10077)
  modules/media/jsx/CandidateMediaWidget.js
  modules/media/locale/ja/LC_MESSAGES/media.po
  modules/media/locale/media.pot
  modules/media/php/module.class.inc
Labels: Module: media, Language: PHP, Language: Javascript
