Repository aces/Loris, pull requests merged in 2018-05, with the labels that each got.

#3626 initiate array inside map_cIDs() to fix console warning from the reli…
  modules/reliability/php/reliability.class.inc
Labels: Bug Fix, [branch] bugfix

#3624 [Instrument Manager] Sanitize instrument table name before using in exec
  modules/instrument_manager/php/instrument_manager.class.inc
Labels: Bug Fix, [branch] bugfix

#3623 [Media] removed html line breaks from markdown file
  modules/media/help/Setup.md
Labels: Cleanup, [branch] minor

#3636 [InstallDB] Fixing small typo
  smarty/templates/install.tpl
Labels: Cleanup, [branch] bugfix

#3386 [jsx/Form] New FormElement component TagsElement
  htdocs/bootstrap/css/custom-css.css
  htdocs/js/components/Form.js
  jsx/Form.js
  modules/candidate_parameters/js/index.js
  modules/candidate_parameters/jsx/CandidateInfo.js
Labels: Feature, Passed Manual Tests, [branch] minor

#3406 [JSX] Fixed check for select elements with multiple attribute
  htdocs/js/components/StaticDataTable.js
  htdocs/js/util/queryString.js
  jsx/FilterForm.js
  jsx/StaticDataTable.js
  modules/data_integrity_flag/js/index.js
  modules/imaging_uploader/js/index.js
Labels: Passed Manual Tests, [branch] minor

#3620 [Data Release] Add user_uploads/ during the install
  modules/data_release/user_uploads/.gitignore
  tools/install.sh
Labels: [branch] minor

#3633 Updated the getDirectInstruments() function to have initiated outsid…
  php/libraries/Utility.class.inc
Labels: Bug Fix, [branch] bugfix

#3638 [Candidate Parameters] Destroy all snacks
  modules/candidate_parameters/js/index.js
  modules/candidate_parameters/jsx/CandidateInfo.js
Labels: Cleanup, Critical to release, [branch] minor

#3639 [SQL] Add DROP statement for `language`
  SQL/0000-00-00-schema.sql
Labels: SQL, [branch] minor

#3629 stats_behavioural.class.inc setup() function may not initiate and pr…
  modules/statistics/php/stats_behavioural.class.inc
Labels: Bug Fix, [branch] bugfix

#3641 [Dashboard] fix links in incomplete forms
  modules/dashboard/templates/form_dashboard.tpl
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3635 Added isset() to check if ['install'] exists
  modules/instrument_manager/php/instrument_manager.class.inc
Labels: Bug Fix, [branch] bugfix

#3648 [Candidate] Use true randomness in Candidate ID generation
  php/libraries/Candidate.class.inc
Labels: Cleanup, [branch] minor

#3649 [User] Remove lingering uses of mt_rand
  php/libraries/User.class.inc
Labels: Cleanup, [branch] minor

#3584 Use New Router
  docs/config/apache2-site
  htdocs/.htaccess
  htdocs/GetCSS.php
  htdocs/GetJS.php
  htdocs/GetStatic.php
  htdocs/index.html
  htdocs/index.php
  htdocs/main.php
  htdocs/router.php
  modules/bvl_feedback/php/module.class.inc
  modules/data_team_helper/js/behavioural_qc_module.js
  modules/data_team_helper/jsx/behavioural_qc_module.js
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_browser/test/imaging_browserTest.php
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/module.class.inc
  modules/instrument_list/templates/menu_instrument_list.tpl
  modules/instrument_list/test/instrument_listTest.php
  modules/reliability/php/reliability.class.inc
  modules/timepoint_list/php/module.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/timepoint_list/test/timepoint_listTest.php
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_Breadcrumb.class.inc
  php/libraries/NDB_Form.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/NDB_Menu_Filter_Form.class.inc
  php/libraries/NDB_Page.class.inc
  php/libraries/NDB_Reliability.class.inc
  php/libraries/UserPermissions.class.inc
  smarty/templates/403.tpl
  smarty/templates/404.tpl
  smarty/templates/instrumentstatus_controlpanel.tpl
  smarty/templates/main.tpl
  src/Http/Error.php
  src/Middleware/AuthMiddleware.php
  src/Middleware/PageDecorationMiddleware.php
  src/Middleware/UserPageDecorationMiddleware.php
  src/Router/BaseRouter.php
  src/Router/ModuleFileRouter.php
  src/Router/ModuleRouter.php
  src/Router/NoopResponder.php
  src/Router/PrefixRouter.php
  test/integrationtests/Login_Test.php
  test/test_instrument/test_instrumentTest.php
  tools/lorisform_parser.php
Labels: [branch] major

#3653 [Client] Remove unused FeedbackButtonBoolean cookie
  php/libraries/NDB_Client.class.inc
Labels: Cleanup, [branch] major

#3501 Imaging Browser: Add DICOM download: Redmine 12580
  modules/imaging_browser/README.md
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/imaging_browser/test/imaging_browser_test_plan.md
Labels: Feature, [branch] minor

#3663 [Installer] Check for PHP7 instead of 5.6
  php/installer/Installer.class.inc
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] minor

#3664 [Request Account] Remove references to obsolete custom CAPTCHA
  modules/login/php/requestaccount.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3348 using tosql now generate only 1 file with ordered instruction
  tools/delete_candidate.php
  tools/delete_timepoint.php
Labels: Cleanup, Passed Manual Tests, SQL, [branch] minor

#3671 [Instrument Builder] Disable 'Load Instrument' button when text box is empty
  modules/instrument_builder/js/react.instrument_builder.js
  modules/instrument_builder/jsx/react.instrument_builder.js
Labels: UI, [branch] minor

#3675 Fix spelling of 'occured'
  docs/API/LorisRESTAPI.md
  docs/API/LorisRESTAPI_v0.0.3.md
  modules/genomic_browser/js/FileUploadModal.js
  modules/genomic_browser/jsx/FileUploadModal.js
  modules/imaging_uploader/js/index.js
  modules/imaging_uploader/jsx/UploadForm.js
  php/installer/Installer.class.inc
  smarty/templates/directentry.tpl
  smarty/templates/main.tpl
Labels: Passed Manual Tests, [branch] minor

#3682 [core] prevent notice in Instrument class
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, [branch] bugfix

#3591 [UI] - Refactor breadcrumbs
  htdocs/main.php
  modules/candidate_list/php/candidate_list.class.inc
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/templates/form_create_timepoint.tpl
  modules/dashboard/php/dashboard.class.inc
  modules/dashboard/test/DashboardTest.php
  modules/datadict/php/datadict.class.inc
  modules/dicom_archive/php/viewdetails.class.inc
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/gwas_browser.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/genomic_browser/test/genomic_browserTest.php
  modules/imaging_browser/php/viewsession.class.inc
  modules/instrument_list/php/instrument_list.class.inc
  modules/mri_violations/test/mri_violationsTest.php
  modules/next_stage/php/next_stage.class.inc
  modules/server_processes_manager/test/server_processes_managerTest.php
  modules/timepoint_list/php/timepoint_list.class.inc
  php/libraries/Breadcrumb.class.inc
  php/libraries/BreadcrumbTrail.class.inc
  php/libraries/NDB_Breadcrumb.class.inc
  php/libraries/NDB_Page.class.inc
  smarty/templates/main.tpl
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Cleanup, UI, [branch] major

#3676 Added mouseover text to configuration module project and subproject labels
  modules/configuration/css/configuration.css
  modules/configuration/js/project.js
  modules/configuration/js/subproject.js
  modules/configuration/php/project.class.inc
  modules/configuration/templates/form_project.tpl
  modules/configuration/templates/form_subproject.tpl
Labels: Cleanup, Passed Manual Tests, UI, [branch] minor

#3670 API now displays QC info of MINC images, and allow hyphens in MINC filenames: Redmine 14493
  htdocs/api/v0.0.3-dev/.htaccess
Labels: API, Bug Fix

#3686 [README] Change README to say 19.0 release (not 18.0 release)
  README.md
Labels: Cleanup, Passed Manual Tests, [branch] bugfix

#3646 [Client] Add HTTPOnly header to session cookie
  php/libraries/NDB_Client.class.inc
Labels: Feature, [branch] minor

#3617 [Help_editor] Add ajax/swal on save and remove success page
  htdocs/js/helpHandler.js
  modules/help_editor/ajax/process.php
  modules/help_editor/js/help_editor_helper.js
  modules/help_editor/php/edit_help_content.class.inc
  modules/help_editor/php/help_editor.class.inc
  modules/help_editor/templates/form_edit_help_content.tpl
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] minor

#3597 [JSX] Refactor and Clean up Form.js to Meet ES6 Standards
  htdocs/js/components/Form.js
  jsx/Form.js
  modules/dicom_archive/test/dicom_archiveTest.php
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3619 [Data Release] Adding error handling for missing default `user_uploads` directory
  modules/data_release/ajax/FileUpload.php
Labels: Discussion Required, Passed Manual Tests, [branch] minor

#3627 Added case for when certificationInstruments inside the getCertificat…
  modules/training/php/training.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3634 [User_accounts] Reject users cleanup
  modules/user_accounts/ajax/rejectUser.php
  modules/user_accounts/js/rejectUser.js
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
  php/libraries/User.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#3657 [media] unathenticated viewing private data fix
  modules/media/ajax/FileUpload.php
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3661 [LorisForm/Instruments] Format indentation/cleanup of smarty template
  smarty/templates/instrument_html.tpl
Labels: Cleanup, Passed Manual Tests, UI, [branch] minor

#3432 [Data Dictionary] Reactify module + searchKeyword functionality added to StaticDataTable
  htdocs/js/components/StaticDataTable.js
  jsx/StaticDataTable.js
  modules/datadict/js/dataDictIndex.js
  modules/datadict/jsx/columnFormatter.js
  modules/datadict/jsx/dataDictIndex.js
  modules/datadict/php/datadict.class.inc
  modules/datadict/test/datadictTest.php
  webpack.config.js
Labels: Passed Manual Tests, [branch] minor

#3659 [Core] Remove HTML_QuickForm as a dependency and update library versions
  composer.json
  composer.lock
Labels: Passed Manual Tests

#3678 [Doc Repo] Fix path traversal security issue
  modules/document_repository/ajax/documentEditUpload.php
Labels: Bug Fix, [branch] bugfix

#3628 Reports statistics demographic statistics fix
  modules/statistics/php/stats_demographic.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix
