Repository aces/Loris, pull requests merged in 2018-12, with the labels that each got.

#4166 [Core: Middleware] Restore 403 page to its former beauty
  src/Middleware/AuthMiddleware.php
Labels: Bug Fix, UI, [branch] bugfix

#4119 [Core: Utility, Menu Filter] Move functions from Utility to Menu Filter because they're not used elsewhere
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup, [branch] major

#4148 Update SweetAlert2 version
  package.json
Labels: Passed Manual Tests, Security, [branch] minor

#4159 Added the modalities for which to compute SNR to the Config module
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2018-11-28_add_SNR_modalities_to_config_module.sql
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, Passed Manual Tests, SQL, [branch] minor

#4124 [Core: BVL_Feedback_Panel] Add type declarations to function signatures
  php/libraries/BVL_Feedback_Panel.class.inc
Labels: Cleanup, [branch] major

#4174 [Core: BVL_Feedback] Fix error that makes LORIS crash when accessing candidate info on `major` branch
  php/libraries/BVL_Feedback_Panel.class.inc
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
Labels: Passed Manual Tests, Testing, [branch] major

#4152 [Configuration] Clarify warning when creating new subprojects
  modules/configuration/templates/form_subproject.tpl
Labels: Cleanup, Passed Manual Tests, [branch] bugfix

#4157 [ImgBrowser, DicomArchive] Prepend PatientName to DICOM download filename
  htdocs/mri/jiv/get_file.php
  modules/dicom_archive/js/dicom_archive.js
  modules/dicom_archive/jsx/columnFormatter.js
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
Labels: Feature, Passed Manual Tests, [branch] bugfix

#4147 [Core:NDB_Config] fix parameter type
  php/libraries/NDB_Config.class.inc
Labels: Bug Fix, Passed Manual Tests, Priority: High, [branch] major

#4129 [Statistics] Fix PHP Notices on Imaging Statistics
  modules/statistics/php/stats_mri.class.inc
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] bugfix

#4163 [Core: Module] Handle 500 errors properly
  php/libraries/Module.class.inc
  smarty/templates/500.tpl
Labels: Bug Fix, Discussion Required, Feature, [branch] bugfix

#4185 [Imaging Browser] Fix a bug in imaging browser view session page for projects without EDC
  php/libraries/Candidate.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] major

#4179 [unittest] remove skip test
  test/unittests/CandidateTest.php
  test/unittests/SettingsTest.php
Labels: Testing, [branch] major

#4192 [MRI Violations] Add mri_protocol_violations_columnFormatter.js to gitignore
  modules/mri_violations/js/.gitignore
Labels: Cleanup, [branch] major

#3820 Correction in returned object in Candidate DICOMs
  docs/API/LorisRESTAPI_v0.0.3.md
Labels: Documentation, Needs Work, [branch] minor

#4170 [Core] Add babel-core as a dependency on minor branch
  package.json
Labels: Bug Fix, Passed Manual Tests, [branch] minor

#4169 [Core] Add "npm install" to make's "dev" target
  Makefile
Labels: Feature, [branch] major

#4038 [Imaging Uploader] Simplify ajax scripts
  modules/imaging_uploader/ajax/getUploadSummary.php
  modules/imaging_uploader/ajax/read_log.php
Labels: Bug Fix, Cleanup, [branch] minor

#4050 [Candidate, TimePoint] Refactor setData() to accept only array as argument
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/next_stage/php/next_stage.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/TimePoint.class.inc
  test/unittests/CandidateTest.php
Labels: Cleanup, [branch] major

#4126 [Core: InstrumentStatus] Add type declarations to function signatures
  php/libraries/NDB_BVL_InstrumentStatus.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
Labels: Cleanup, [branch] major

#4127 [Core: Config] Add type declarations to function signatures
  php/libraries/NDB_Config.class.inc
  php/libraries/TimePoint.class.inc
Labels: Cleanup, [branch] major

#4144 Adding "imaging non minc file insertion" to the types of notification
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2018-11-23_insert_imaging_non_minc_file_insertion_in_notification_types.sql
Labels: Passed Manual Tests, SQL, [branch] minor

#4151 [Core: Utility] Deprecate Utility::toArray()
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/training/php/training.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/TimePoint.class.inc
  php/libraries/Utility.class.inc
  tools/populate_visit_windows.php
  tools/single_use/Normalize_Consent_Data.php
Labels: Cleanup, Passed Manual Tests, [branch] major

#4188 [Core] Add Guzzle dependency
  composer.json
  composer.lock
Labels: Feature, [branch] major

#4200 Push v20.1.1 into minor
  SQL/Archive/20.1/2018-08-16_make_config_lookup_center_a_drop_down.sql
  SQL/Archive/20.1/2018-08-20_relabelling_MRI-Upload_Directory_to_MRI_incoming_Directory.sql
  SQL/Archive/20.1/2018-08-22_user_activeFrom-activeTo.sql
  SQL/Archive/20.1/Cleanup/2018-08-20_remove_duplicate_incoming_path_from_config_tables.sql
  SQL/Release_patches/20.0_To_20.1_upgrade.sql
  VERSION
  htdocs/mri/jiv/get_file.php
  modules/configuration/templates/form_subproject.tpl
  modules/dicom_archive/js/dicom_archive.js
  modules/dicom_archive/jsx/columnFormatter.js
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  src/Middleware/AuthMiddleware.php
Labels: [branch] minor

#4201 Push v20.1.1 into major
  SQL/Archive/20.1/2018-08-16_make_config_lookup_center_a_drop_down.sql
  SQL/Archive/20.1/2018-08-20_relabelling_MRI-Upload_Directory_to_MRI_incoming_Directory.sql
  SQL/Archive/20.1/2018-08-22_user_activeFrom-activeTo.sql
  SQL/Archive/20.1/Cleanup/2018-08-20_remove_duplicate_incoming_path_from_config_tables.sql
  SQL/Release_patches/20.0_To_20.1_upgrade.sql
  htdocs/mri/jiv/get_file.php
  modules/configuration/templates/form_subproject.tpl
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  src/Middleware/AuthMiddleware.php
Labels: [branch] major

#4202 Fix error on Major for php 7.3
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/TimePoint.class.inc
  test/test_instrument/test_instrumentTest.php
Labels: Cleanup, Testing, [branch] major

#4125 [Core: NDB_Caller] Add type declarations to function signatures
  php/libraries/NDB_Caller.class.inc
Labels: Cleanup, [branch] major

#4194 [Core: Notify] Add type declarations to function signatures
  php/libraries/Notify.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#4193 [Core: Module] Fix errors in 500-reponse logic
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/module.class.inc
  php/libraries/Module.class.inc
Labels: Cleanup, Passed Manual Tests, Testing, [branch] bugfix

#4205 [SQL] Fix syntax error
  SQL/Archive/20.1/Cleanup/2018-08-20_remove_duplicate_incoming_path_from_config_tables.sql
Labels: Bug Fix, Passed Manual Tests, SQL, [branch] bugfix

#4206 [BVL_feedback] fix a type error
  php/libraries/BVL_Feedback_Panel.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] major

#3300 [Media] new test for this module
  modules/media/test/MediaTest.php
  modules/media/test/TestPlan.md
Labels: Testing, [branch] major

#4027 [Core: User] Add type declarations to function signatures
  php/libraries/User.class.inc
Labels: Cleanup, [branch] major

#4153 Fix some mismatched return type errors flagged by phan
  htdocs/survey.php
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/login/php/requestaccount.class.inc
  src/Http/StringStream.php
Labels: Cleanup, [branch] major

#4162 [Core: Module] Make debugging more verbose
  php/libraries/Module.class.inc
Labels: Feature, [branch] major

#4195 [Core: State] Add type declarations to function signatures
  php/libraries/State.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#3809 [Integration Test] How to setup integration test environment
  test/Quick_Setup.md
Labels: Discussion Required, Documentation, Meta, Testing, [branch] minor

#4083 [Core: Client] Add SameSite flag to session cookie to prevent CSRF
  php/libraries/NDB_Client.class.inc
Labels: Feature, Security, [branch] major

#4002 Add `make check` target
  .travis.yml
  Makefile
  php/libraries/UserPermissions.class.inc
Labels: Meta, [branch] major

#4203 [jsx] FilterableDataTable UI Redesign
  htdocs/bootstrap/css/custom-css.css
  jsx/DataTable.js
  jsx/Filter.js
  jsx/FilterableDataTable.js
  jsx/Form.js
  modules/dicom_archive/jsx/dicom_archive.js
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/media/test/MediaTest.php
Labels: UI, [branch] major

#3062 [Data Release] Improvements
  SQL/0000-00-01-Permission.sql
  SQL/New_patches/2018-10-01-Add_data_release_permissions.sql
  modules/data_release/README.md
  modules/data_release/ajax/AddPermission.php
  modules/data_release/ajax/FileUpload.php
  modules/data_release/ajax/GetFile.php
  modules/data_release/help/data_release.md
  modules/data_release/php/data_release.class.inc
  modules/data_release/templates/menu_data_release.tpl
  modules/data_release/test/TestPlan.md
  modules/data_release/test/data_release_test_plan.md
Labels: Feature, Passed Manual Tests, [branch] minor
