Repository aces/Loris, pull requests merged in 2018-07, with the labels that each got.

#3723 Remove reference to a function which doesn't exist in NDB_Page
  modules/new_profile/php/new_profile.class.inc
  php/libraries/NDB_Page.class.inc
  src/Http/StringStream.php
Labels: Bug Fix, Critical to release

#3755 [Help_editor] (20.0) Update test plan
  modules/help_editor/test/TestPlan.md
Labels: Cleanup, Documentation

#3760 [Data Dictionary] Permission Fix For Description Field
  modules/datadict/js/dataDictIndex.js
  modules/datadict/jsx/columnFormatter.js
Labels: Bug Fix

#3762 [20.0][Create Timepoint] Actually check visit label in validation function
  php/libraries/TimePoint.class.inc
Labels: Bug Fix

#3766 [Media] update test plan
  modules/media/test/TestPlan.md
Labels: Bug Fix, Documentation

#3768 [Core] .htaccess - Redirect base URL requests to be routed through index.php
  htdocs/.htaccess
Labels: Bug Fix, Document for Release

#3774 [20.0-testing] Dicom archive: update test plan and change Series UI to SeriesUID
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/dicom_archive/test/TestPlan
Labels: Cleanup

#3772 [Data Team Helper] Fixing Wrong URL In Instrument Level Behaviour Feedback
  modules/data_team_helper/js/behavioural_qc_module.js
  modules/data_team_helper/jsx/behavioural_qc_module.js
Labels: Bug Fix, Passed Manual Tests

#3773 [20.0] [Dashboard] BVL Feedback links: fix instrument level links & add visit level links
  modules/dashboard/php/dashboard.class.inc
Labels: Bug Fix, Passed Manual Tests

#3748 [install] Bugfix 500 Internal Server Error 20.0-release
  htdocs/installdb.php
  php/installer/Database.class.inc
  php/installer/Installer.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3780 [Examiner] add breadcrumb link
  modules/examiner/php/editexaminer.class.inc
Labels: Bug Fix, Passed Manual Tests

#3781 [Instruments] Rework breadcrumbs
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, Feature, Passed Manual Tests, UI

#3783 [Timepoint list] Fix timepoint list duplicate entry in the table
  modules/instrument_list/php/instrument_list.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
Labels: Bug Fix, UI, [branch] major

#3782 [Examiner] fix menu doesn't exist with examiner_view permission.
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2018-07-04_examiner_menu.sql
Labels: Bug Fix, SQL

#3785 [Statistics] Change Gender to Sex in Test Plan
  modules/statistics/test/TestPlan.md
Labels: Documentation

#3745 [Examiner] (20.0 Bugfix) Grant permission when user has examiner_multisite or examiner_view
  modules/examiner/php/editexaminer.class.inc
  modules/examiner/php/examiner.class.inc
Labels: Bug Fix, Passed Manual Tests

#3759 [Statistics] Freeze "Breakdown" table headers when scrolling down
  modules/statistics/js/table_statistics.js
  modules/statistics/templates/form_stats_MRI.tpl
  modules/statistics/templates/table_statistics.tpl
Labels: Bug Fix, Cleanup, Passed Manual Tests, UI, [branch] minor

#3630 cleanup console output when CouchDB not configured
  php/libraries/CouchDB.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3761 [Imaging Uploader] Adds validation checks and displays errors on form (now on 20.0-release branch)
  modules/imaging_uploader/README.md
  modules/imaging_uploader/js/index.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/imaging_uploader/test/TestPlan.md
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3775 [20.0][Dashboard] Fix discrepancy in data entry conflicts
  modules/dashboard/php/dashboard.class.inc
Labels: Bug Fix, Passed Manual Tests

#3791 [Instruments] 404
  htdocs/.htaccess
Labels: Add to Release Notes, Bug Fix, Critical to release, Passed Manual Tests, [branch] major

#3793 [SQL] Creation of Upgrade patch and Archiving of patches
  SQL/Archive/20.0/2017-04-24-UseOurIssueTrackerPl0x.sql
  SQL/Archive/20.0/2018-02-28_issues_add_cascade.sql
  SQL/Archive/20.0/2018-03-01_genomics_add_cascade.sql
  SQL/Archive/20.0/2018-03-01_normalise_consent.sql
  SQL/Archive/20.0/2018-03-02_session_add_cascade.sql
  SQL/Archive/20.0/2018-04-05_remove_if_site_from_imaging_pipeline_in_Config_tables.sql
  SQL/Archive/20.0/2018-04-06_Change_no_nii_option_to_create_nii.sql
  SQL/Archive/20.0/2018-04-06_ImprovedDescriptionOfLookupCenterNameUsing.sql
  SQL/Archive/20.0/2018-04-09_ClarifyingImagingPipelineConfigDescriptions.sql
  SQL/Archive/20.0/2018-06-01_deepqc_configuration.sql
  SQL/Archive/20.0/2018-07-04_examiner_menu.sql
  SQL/Release_patches/19.1_To_20.0_upgrade.sql
Labels: Cleanup, Critical to release, SQL

#3801 [Release Patch] fix SQL glitches
  SQL/Archive/20.0/2018-03-02_session_add_cascade.sql
  SQL/Archive/20.0/2018-07-04_examiner_menu.sql
  SQL/Release_patches/19.1_To_20.0_upgrade.sql
Labels: Bug Fix, Critical to release, SQL

#3792 [Conflict Resolver] Enabling Active Candidate and Active Session Check in Query
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/conflict_resolver/test/conflict_resolverTest.php
Labels: Bug Fix

#3375 Added spec/README for conflict resolver module
  modules/conflict_resolver/README.md
Labels: Documentation, [branch] minor

#3822 [Dashboard][20.0] Amend testplan
  modules/dashboard/test/TestPlan.md
Labels: Documentation

#3824 [20.0][genomic_browser] Link bug
  modules/genomic_browser/templates/menu_cnv_browser.tpl
Labels: Passed Manual Tests

#3826 [media] Update Test Plan
  modules/media/test/TestPlan.md
Labels: Documentation

#3821 [jsx] Add required to SearchableDropdown input element
  htdocs/js/components/Form.js
  jsx/Form.js
Labels: Bug Fix, Critical to release, UI

#3823 [Candidate_list] Change EDC field to a date field
  modules/candidate_list/js/candidate_list_helper.js
Labels: Passed Manual Tests, UI, [branch] minor

#3799 [Instrument list] Populate the timepoint tpl_data for modules
  modules/instrument_list/php/instrument_list.class.inc
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Bug Fix, Passed Manual Tests, [branch] major

#3827 [Router] check in project modules as well
  src/Router/BaseRouter.php
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3819 [create_timepoint][20.0] Validation for VisitLabel accessing wrong variable therefore breaks on CCNA
  php/libraries/TimePoint.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3812 [data_team_helper] Instrument & Site Filters are not holding/displaying the values once it is applied.
  modules/data_team_helper/php/data_team_helper.class.inc
Labels: Bug Fix, Passed Manual Tests

#3816 [Instrument List] Update test plan
  modules/instrument_list/test/TestPlan
  modules/instrument_list/test/TestPlan.md
Labels: Documentation

#3746 [Instrument Manager] (20.0) Fix bug where LorisException should have been thrown when quatUser was not properly configured, improve error checking
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/templates/menu_instrument_manager.tpl
  php/libraries/Database.class.inc
Labels: Bug Fix, Cleanup, Passed Manual Tests
