Repository aces/Loris, pull requests merged in 2018-08, with the labels that each got.

#3769 [instrument_builder] Fix error where the value for year was not exactly 4 digits
  modules/instrument_builder/js/react.questions.js
  modules/instrument_builder/jsx/react.questions.js
Labels: Bug Fix, Passed Manual Tests, [branch] minor

#3806 [Data Dictionary] Make instruments multi-selectable
  modules/datadict/php/datadict.class.inc
  modules/datadict/test/TestPlan.md
Labels: Bug Fix, Passed Manual Tests

#3807 [Data Integrity Flag] Fix Clear Filter button
  modules/data_integrity_flag/js/index.js
  modules/data_integrity_flag/jsx/DataIntegrityFlag.js
Labels: Bug Fix, Passed Manual Tests

#3811 Updates to the MRI violations test plan for 20.0 release
  modules/mri_violations/test/TestPlan.md
Labels: Passed Manual Tests, Testing

#3817 [examiner] Fix permission condition for edit examiner
  modules/examiner/php/editexaminer.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3834 [Candidate] Sanitize candidate comments
  php/libraries/Candidate.class.inc
Labels: Bug Fix, Passed Manual Tests, Security

#3836 [bvl_feedback] Update test plan
  modules/bvl_feedback/test/TestPlan.md
Labels: Beginner Friendly, Documentation, Passed Manual Tests, Testing

#3842 Corrected the test plan for the Data Team Helper module.
  modules/data_team_helper/test/TestPlan.md
Labels: Passed Manual Tests, Testing

#3845 Amended the imaging_uploader module test plan.
  modules/imaging_uploader/test/TestPlan.md
Labels: Passed Manual Tests, Testing

#3848 [survey module] Remove checks for permissions when entring direct data
  php/libraries/NDB_Caller.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3850 [mri_violations] Make 'Resolution Status' select element have auto width
  modules/mri_violations/css/mri_violations.css
  modules/mri_violations/js/columnFormatterUnresolved.js
  modules/mri_violations/jsx/columnFormatterUnresolved.js
  modules/mri_violations/php/mri_violations.class.inc
Labels: Passed Manual Tests, UI

#3852 Fixed Statistics Permissions
  modules/statistics/php/statistics_site.class.inc
Labels: Beginner Friendly, Bug Fix, Critical to release, Passed Manual Tests

#3803 [imaging browser] Insert scan type in mri_violations_log when caveat set to true
  modules/imaging_browser/php/viewsession.class.inc
  tools/single_use/Update_scan_type_of_mri_violations_log_when_manual_caveat.php
Labels: Add to Release Notes, Bug Fix, Document at Release, Passed Manual Tests, SQL

#3721 [20.0-release] [instrument_list] fixing the _hasAccess() function - The variables are not initialized.
  modules/instrument_list/php/instrument_list.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3841 [Middleware] Move getControlPanel call to after handle()
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Bug Fix, Passed Manual Tests, UI

#3849 [Statistics] Update TestPlan steps regarding project filters
  modules/statistics/test/TestPlan.md
Labels: Documentation, Passed Manual Tests

#3840 [jsx/Core] Restrict DateElement year to 4 digits
  htdocs/js/components/Form.js
  jsx/Form.js
Labels: Beginner Friendly, Bug Fix, Passed Manual Tests, UI

#3857 [tools/Normalise_Consent_Data.php] Modify insert statement
  tools/single_use/Normalise_Consent_Data.php
Labels: Bug Fix, Cleanup, Passed Manual Tests, SQL

#3838 [Candidate_parameter] Update ProbandInfo page data without refreshing
  modules/candidate_parameters/js/index.js
  modules/candidate_parameters/jsx/ConsentStatus.js
  modules/candidate_parameters/jsx/ParticipantStatus.js
  modules/candidate_parameters/jsx/ProbandInfo.js
Labels: Beginner Friendly, Passed Manual Tests, UI

#3855 [tools] 20.0 tools and SQL moved to proper directory
  .gitignore
  SQL/Archive/autogenerated/README.md
  SQL/Archive/autogenerated/reversion/README.md
  SQL/Archive/autogenerated/single_use/README.md
  tools/single_use/Normalize_Consent_Data.php
  tools/single_use/Normalize_protocol_split_rows.php
Labels: Cleanup, Critical to release, Passed Manual Tests

#3843 [API] Fix loading instruments from API
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, Passed Manual Tests

#3829 [user accounts] Fixing users being always inserted into examiner table upon save
  modules/user_accounts/php/edit_user.class.inc
Labels: Bug Fix, Critical to release, Passed Manual Tests

#3863 [JSX] recompiling files before release
  modules/datadict/js/dataDictIndex.js
  modules/dicom_archive/js/dicom_archive.js
  modules/imaging_uploader/js/index.js
  modules/instrument_builder/js/react.questions.js
  modules/media/js/mediaIndex.js
Labels: Cleanup, Critical to release, Passed Manual Tests

#3814 [RELEASE] Version +
  VERSION
Labels: Add to Release Notes, Critical to release, Passed Manual Tests

#3868 Fix typo in API endpoint
  htdocs/api/v0.0.3-dev/projects/Images.php
Labels: Bug Fix

#3605 [React table] bug fix - Scroll bar that appears under frozen headers
  htdocs/bootstrap/css/custom-css.css
Labels: Passed Manual Tests, UI, [branch] bugfix

#3867 [Smarty Errors] "Go to login page" --> "Go to main page"
  smarty/templates/403.tpl
  smarty/templates/404.tpl
  smarty/templates/500.tpl
Labels: Cleanup, Passed Manual Tests, [branch] bugfix

#3866 [Help Editor] Use safe update instead of unsafe update
  modules/help_editor/php/helpfile.class.inc
Labels: Discussion Required, Passed Manual Tests, Security, [branch] minor

#3292 Remove VERSION file and replace with a build step
  .travis.yml
  Makefile
  VERSION
Labels: Cleanup, Document at Release, Meta, [branch] major

#3883 Making lookupCenterNameUsing configuration field a drop down
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2018-08-16_make_config_lookup_center_a_drop_down.sql
  modules/configuration/php/configuration.class.inc
  modules/configuration/templates/form_configuration.tpl
Labels: Passed Manual Tests, SQL, [branch] minor

#3694 Added On Duplicate Update Function to Database Class
  modules/media/ajax/FileUpload.php
  php/libraries/Database.class.inc
Labels: Feature, Passed Manual Tests, [branch] minor

#3764 [Statistics] Demographic Cleanup (rebased)
  modules/statistics/php/statistics_site.class.inc
  modules/statistics/php/stats_demographic.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3754 [Core] New Pull Request template
  PULL_REQUEST_TEMPLATE.md
Labels: Documentation, Passed Manual Tests, [branch] minor

#3717 [JSX] Added Re-usable React Loader Component
  htdocs/bootstrap/css/custom-css.css
  jsx/Loader.js
  modules/media/js/mediaIndex.js
  modules/media/jsx/mediaIndex.js
  webpack.config.js
Labels: Feature, Needs Rebase, Passed Manual Tests, UI, [branch] minor

#3884 [Core] Remove v0.0.1 of the API
  htdocs/api/v0.0.1/.htaccess
  htdocs/api/v0.0.1/APIBase.php
  htdocs/api/v0.0.1/Candidates.php
  htdocs/api/v0.0.1/Login.php
  htdocs/api/v0.0.1/Projects.php
  htdocs/api/v0.0.1/SafeExitException.php
  htdocs/api/v0.0.1/candidates/Candidate.php
  htdocs/api/v0.0.1/candidates/InstrumentData.php
  htdocs/api/v0.0.1/candidates/Instruments.php
  htdocs/api/v0.0.1/candidates/Visit.php
  htdocs/api/v0.0.1/projects/InstrumentForm.php
  htdocs/api/v0.0.1/projects/Project.php
  test/phpunit.xml
  test/unittests/api/v0.0.1/BaseTestCase.php
  test/unittests/api/v0.0.1/Candidates_Test.php
  test/unittests/api/v0.0.1/Login_Test.php
  test/unittests/api/v0.0.1/NDB_BVL_Instrument_test.php
  test/unittests/api/v0.0.1/Projects_Test.php
  test/unittests/api/v0.0.1/candidates/Candidate_Test.php
  test/unittests/api/v0.0.1/candidates/InstrumentData_Test.php
  test/unittests/api/v0.0.1/candidates/Instruments_Test.php
  test/unittests/api/v0.0.1/candidates/Visit_Test.php
  test/unittests/api/v0.0.1/projects/InstrumentForm_Test.php
  test/unittests/api/v0.0.1/projects/Project_Test.php
Labels: API, Add to Release Notes, Cleanup, [branch] major

#3899 [Docs] Remove unused file
  docs/config/main.css
Labels: Cleanup, Documentation, [branch] major

#3713 [Create Timepoint] Sanitize CandID in href
  modules/create_timepoint/php/create_timepoint.class.inc
Labels: Bug Fix, Passed Manual Tests, Security, [branch] minor

#3885 [Configuration] Removal of the duplicate incoming path configuration
  SQL/0000-00-03-ConfigTables.sql
  SQL/Cleanup_patches/2018-08-20_remove_duplicate_incoming_path_from_config_tables.sql
  SQL/New_patches/2018-08-20_relabelling_MRI-Upload_Directory_to_MRI_incoming_Directory.sql
Labels: Cleanup, SQL, [branch] minor

#3902 [Travis] Fix major branch
  webpack.config.js
Labels: Meta

#3665 [LorisForm] Returning 401 error when accessing instrument instead of 500
  htdocs/main.php
  smarty/templates/401.tpl
Labels: [branch] bugfix

#3903 [PR Template] Add space so markdown checkboxes actually render
  PULL_REQUEST_TEMPLATE.md
Labels: Bug Fix, Documentation, [branch] minor

#3715 [BVL Feedback] CSS adjustments
  htdocs/css/panel.css
  modules/bvl_feedback/js/react.behavioural_feedback_panel.js
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: Bug Fix, UI, [branch] bugfix

#3758 [API] Normalize headers in documentation
  docs/API/LorisRESTAPI_v0.0.3.md
Labels: Documentation, Passed Manual Tests

#3882 [tools] Deprecate excelDump script
  composer.json
  composer.lock
  tools/deprecated/excelDump.php
Labels: Add to Release Notes

#3603 [Doc Repo] Enhancements to readability and logging for edit/upload ajax file
  modules/document_repository/ajax/documentEditUpload.php
  modules/document_repository/php/document_repository.class.inc
  modules/document_repository/templates/menu_document_repository.tpl
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3914 [Tools/Normalize_consent] Remove validation for consent status "no"
  tools/single_use/Normalize_Consent_Data.php
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] bugfix
