Repository aces/Loris, pull requests merged in 2018-04, with the labels that each got.

#3573 Changed the no_nii config to be create_nii to make it clearer
  SQL/0000-00-03-ConfigTables.sql
  SQL/Archive/2018-04-06_Change_no_nii_option_to_create_nii.sql
Labels: Blocked, Cleanup, SQL, [branch] minor

#3553 Remove non-prepared variant of database select wrappers
  docs/instruments/NDB_BVL_Instrument_mri_parameter_form.class.inc
  php/libraries/Database.class.inc
  tools/excelDump.php
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, Passed Manual Tests, [branch] major

#3565 [media] missing comma in the sql command for 19.1-release
  modules/media/ajax/FileUpload.php
Labels: Bug Fix

#3566 Replace hack with slightly less egregious hack
  htdocs/main.css
  smarty/templates/main.tpl
Labels: Cleanup

#3572 Fix phan error for major branch
  htdocs/api/v0.0.1/APIBase.php
  htdocs/api/v0.0.1/projects/Project.php
  htdocs/api/v0.0.2/APIBase.php
  htdocs/api/v0.0.2/projects/Project.php
  modules/candidate_list/test/candidate_listTest.php
  modules/candidate_parameters/php/candidate_parameters.class.inc
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/test/create_timepointTest.php
  modules/dashboard/test/DashboardTest.php
  modules/data_integrity_flag/php/data_integrity_flag.class.inc
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/genomic_browser.class.inc
  modules/genomic_browser/php/gwas_browser.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/issue_tracker/php/issue.class.inc
  modules/issue_tracker/php/issue_tracker_controlpanel.class.inc
  modules/media/php/edit.class.inc
  modules/media/php/media.class.inc
  modules/server_processes_manager/php/abstractserverprocess.class.inc
  modules/server_processes_manager/php/defaultdatabaseprovider.class.inc
  modules/server_processes_manager/php/defaultprocessmonitor.class.inc
  modules/server_processes_manager/php/process.class.inc
  modules/server_processes_manager/php/serverprocessesmonitor.class.inc
  modules/server_processes_manager/php/serverprocessfactory.class.inc
  modules/server_processes_manager/php/serverprocesslauncher.class.inc
  modules/user_accounts/ajax/rejectUser.php
  modules/user_accounts/test/user_accountsTest.php
  php/libraries/LorisForm.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_Config.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup, [branch] major

#3570 [Help_editor] Fix undefined index
  modules/help_editor/php/edit_help_content.class.inc
Labels: Cleanup, [branch] minor

#3568 Removing the if_site config setting from the imaging pipeline section
  SQL/0000-00-03-ConfigTables.sql
  SQL/Archive/2018-04-05_remove_if_site_from_imaging_pipeline_in_Config_tables.sql
Labels: Cleanup, Document for Release, Passed Manual Tests, SQL, [branch] minor

#3563 [RELEASE] Updating files for 19.1 release
  SQL/Archive/19.1/2017-06-13-addUserLanguagePreference.sql
  SQL/Archive/19.1/2017-12-15_media_add_language_to_UploadFile.sql
  SQL/Archive/19.1/2018-01-30_Add_description_to_ImagingFileTypes.sql
  SQL/Archive/19.1/2018-02-15_AddCustomizableCRFsUnderLinksInImagBrowser.sql
  SQL/Release_patches/19.0_To_19.1_upgrade.sql
  VERSION
Labels: Critical to release, Passed Manual Tests, SQL

#3575 [Tools] Fixing spelling in comments within assign_missing_instruments.php
  tools/assign_missing_instruments.php
Labels: Cleanup, [branch] minor

#3577 Clarification of the ImagingPipeline Config descriptions.
  2018-04-09_ClarifyingImagingPipelineConfigDescriptions.sql
  SQL/0000-00-03-ConfigTables.sql
Labels: Cleanup, SQL, [branch] minor

#3588 [DOCS] Update LorisRESTAPI_v0.0.3.md
  docs/API/LorisRESTAPI_v0.0.3.md
Labels: API, Documentation, [branch] minor

#3582 [jsx/Core] Restrict DateElement year to 4 digits
  htdocs/js/components/Form.js
  jsx/Form.js
Labels: Bug Fix, Passed Manual Tests, UI, [branch] bugfix

#3564 [jsx/Form.js] Set id attribute to this.prop.id
  htdocs/js/components/Form.js
  jsx/Form.js
  modules/dicom_archive/test/dicom_archiveTest.php
Labels: Cleanup, Passed Manual Tests, [branch] major

#3583 [tools] Zero date removal tool explicitly declare field NULL
  tools/DB_date_zeros_removal.php
Labels: Bug Fix, Passed Manual Tests, SQL, [branch] bugfix

#3576 [Imaging Browser View Session]: fix CSS re sidebar Save button
  modules/imaging_browser/css/imaging_browser.css
Labels: Passed Manual Tests, UI, [branch] minor

#3581 [Candidate_parameters] Fix Proband DoB error message
  modules/candidate_parameters/js/index.js
  modules/candidate_parameters/jsx/ProbandInfo.js
Labels: Bug Fix, UI, [branch] bugfix

#3580 [Media] added search by language functionality
  modules/media/php/media.class.inc
Labels: Feature, Passed Manual Tests, [branch] minor

#3559 [jsx/Form] Searchable dropdown
  htdocs/js/components/Form.js
  jsx/Form.js
  modules/media/js/mediaIndex.js
  modules/media/jsx/uploadForm.js
Labels: Feature, Passed Manual Tests, [branch] minor

#3418 Add README for candidate parameters
  modules/candidate_parameters/README.md
  modules/candidate_parameters/setup.md
Labels: Documentation, [branch] minor

#3209 removed support for dynamic user generated visit labels
  docs/config/config.xml
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/test/TestPlan
  modules/create_timepoint/test/create_timepointTest.php
  php/libraries/Candidate.class.inc
  php/libraries/TimePoint.class.inc
  test/config.xml
  test/unittests/CandidateTest.php
Labels: Caveat for Existing Projects, Cleanup, Passed Manual Tests, [branch] major

#3555 Reupload of an MRI fails despite the reupload being valid.
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/imaging_uploader/test/TestPlan.md
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3595 [jsx/Form.js] Reset id attribute of DateElement to this.props.id
  htdocs/js/components/Form.js
  jsx/Form.js
Labels: Cleanup, [branch] major

#3599 [docs] fix grammar in API docs
  docs/API/LorisRESTAPI.md
Labels: API, Documentation, [branch] minor

#3601 [Doc Repo] Comments never worked but they do now!
  modules/document_repository/ajax/documentEditUpload.php
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3593 [instrument_list] BVL QC panel bug fix- can't save the QC status and QC type properly.
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#3602 [Doc repo] Remove Delete column if user doesn't have delete permissions
  modules/document_repository/js/document_repository_helper.js
  modules/document_repository/php/document_repository.class.inc
  modules/document_repository/templates/menu_document_repository.tpl
Labels: Passed Manual Tests, UI, [branch] minor

#3339 [Instrument Manager] Add specification and help content for module
  modules/instrument_manager/README.md
  modules/instrument_manager/help/instrument_manager.md
Labels: Cleanup, Documentation, [branch] minor

#3421 Add README for document_repository module
  modules/document_repository/README.md
Labels: Documentation, [branch] minor

#3612 [Instrument Manager] Sanitize filename before using in exec
  modules/instrument_manager/php/instrument_manager.class.inc
Labels: Bug Fix

#3594 Fixing SQL patch location for PR 3577
  SQL/Archive/2018-04-09_ClarifyingImagingPipelineConfigDescriptions.sql
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3574 [Media] removed emojis from README and conformed to new convention
  modules/media/README.md
  modules/media/help/Setup.md
  modules/media/help/media.md
Labels: Cleanup, Documentation, [branch] minor

#3610 [Doc Repo] Unfixed line elements so that they scroll with the frame
  modules/document_repository/css/document_repository.css
  modules/document_repository/templates/menu_document_repository.tpl
Labels: Bug Fix, Passed Manual Tests, UI, [branch] minor

#2967 [DICOM Archive] Add download tar functionality
  htdocs/mri/jiv/get_file.php
  modules/dicom_archive/README.md
  modules/dicom_archive/help/dicom_archive.md
  modules/dicom_archive/js/dicom_archive.js
  modules/dicom_archive/jsx/columnFormatter.js
Labels: Feature, Passed Manual Tests, [branch] minor
