Repository aces/Loris, pull requests merged in 2018-11, with the labels that each got.

#4053 [Core: Project, ProjectDefault] Add type declarations to function signatures
  php/libraries/Project.class.inc
  php/libraries/ProjectDefault.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#3952 [JSX/Form.js] Adding sortByValue for Selects and SearchableSelects
  jsx/Form.js
Labels: Feature, Passed Manual Tests, [branch] major

#4041 [Core] Remove deprecated Message class
  php/libraries/Message.class.inc
Labels: Cleanup, [branch] major

#4031 [Imaging Browser] Simplify permission checking
  modules/imaging_browser/ajax/setSortedRows.php
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/php/mrinavigation.class.inc
  modules/imaging_browser/php/viewsession.class.inc
Labels: Cleanup, [branch] major

#4025 [Smarty] Add noopener and noreferrer to external links
  smarty/templates/main.tpl
  smarty/templates/public_layout.tpl
Labels: Feature, Passed Manual Tests, Security, [branch] minor

#4045 [Core: Site] Add type declarations to function signatures
  php/libraries/Site.class.inc
Labels: Cleanup, [branch] major

#4033 [Core: User, My Preferences] Eliminate type juggling in password expiration functionality
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/libraries/User.class.inc
Labels: Cleanup, [branch] major

#4024 [Imaging Uploader] Prevent duplicate insertions
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#4071 [Imaging Browser] Exclude DDE instruments from imaging browser instruments query
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
Labels: Bug Fix, Passed Manual Tests, [branch] major

#4054 [Media] Reactification Template
  jsx/DataTable.js
  jsx/Filter.js
  jsx/FilterableDataTable.js
  jsx/Form.js
  modules/acknowledgements/php/acknowledgements.class.inc
  modules/candidate_list/php/candidate_list.class.inc
  modules/datadict/php/datadict.class.inc
  modules/examiner/php/examiner.class.inc
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/genomic_browser.class.inc
  modules/genomic_browser/php/genomic_file_uploader.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/help_editor/php/help_editor.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/media/jsx/columnFormatter.js
  modules/media/jsx/mediaIndex.js
  modules/media/php/media.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/server_processes_manager/php/server_processes_manager.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  webpack.config.js
Labels: Cleanup, Priority: High, [branch] major

#4066 [Next Stage, New Profile] Fix misc. errors and warnings that are blocking other PRs
  modules/new_profile/php/new_profile.class.inc
  modules/next_stage/php/next_stage.class.inc
Labels: Bug Fix, Cleanup, [branch] major

#4044 [Candidate_parameters] Refactor React to ES6
  modules/candidate_parameters/js/CandidateParameters.js
  modules/candidate_parameters/js/index.js
  modules/candidate_parameters/jsx/CandidateInfo.js
  modules/candidate_parameters/jsx/CandidateParameters.js
  modules/candidate_parameters/jsx/ConsentStatus.js
  modules/candidate_parameters/jsx/FamilyInfo.js
  modules/candidate_parameters/jsx/ParticipantStatus.js
  modules/candidate_parameters/jsx/ProbandInfo.js
  modules/candidate_parameters/jsx/index.js
  modules/candidate_parameters/php/candidate_parameters.class.inc
  webpack.config.js
Labels: Cleanup, Passed Manual Tests, [branch] minor

#3949 [Core: Login] Log bad password attempts
  php/libraries/SinglePointLogin.class.inc
  test/integrationtests/Login_Test.php
Labels: Cleanup, Feature, Passed Manual Tests, Security, [branch] minor

#4046 [Core: Utility] Add type declarations to function signatures
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  php/libraries/Utility.class.inc
Labels: Bug Fix, Cleanup, [branch] major

#3503 [Configuration] When a multiple-entry field is added duplication might occur
  SQL/Cleanup_patches/2018-02-20_remove_duplicate_value_from_Config.sql
  modules/configuration/ajax/process.php
  modules/configuration/js/configuration_helper.js
Labels: Cleanup, Passed Manual Tests, [branch] major

#4076 Travis update PHP from 7.1 to 7.3
  .travis.yml
  modules/examiner/test/ExaminerTest.php
Labels: Testing, [branch] major

#4049 [Core: TimePoint] Add type declarations to function signatures
  php/libraries/TimePoint.class.inc
Labels: Cleanup, [branch] major

#4101 Fix api redirects and bugs
  htdocs/api/v0.0.2/.htaccess
  htdocs/api/v0.0.3-dev/.htaccess
  modules/api/php/apiendpoint.class.inc
  modules/api/php/projects.class.inc
Labels: API, Bug Fix, [branch] minor

#4118 [Core: User] getSiteNames now returns array instead of a string
  modules/dashboard/php/dashboard.class.inc
  php/libraries/AnonymousUser.class.inc
  php/libraries/NDB_Config.class.inc
  php/libraries/User.class.inc
Labels: Cleanup, [branch] major

#4091 [Core: Client] Add type declarations to function signatures
  php/libraries/NDB_Client.class.inc
Labels: Cleanup, [branch] major

#4090 [Core: Settings] Add type declarations to function signatures
  php/libraries/Settings.class.inc
Labels: Cleanup, [branch] major

#4095 Refactor changes made in Reactification Template PR #4054
  modules/acknowledgements/php/acknowledgements.class.inc
  modules/candidate_list/php/candidate_list.class.inc
  modules/datadict/php/datadict.class.inc
  modules/examiner/php/examiner.class.inc
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/genomic_browser.class.inc
  modules/genomic_browser/php/genomic_file_uploader.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/help_editor/php/help_editor.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/media/php/media.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/server_processes_manager/php/server_processes_manager.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
Labels: Cleanup, [branch] major

#3878 [Core: Database] Add type declarations to function signatures
  php/libraries/Database.class.inc
  test/unittests/Database_Test.php
Labels: Cleanup, Discussion Required, [branch] major

#4134 [Core: Utility] Remove arrayMergeRecursiveOverwriting()
  php/libraries/Utility.class.inc
Labels: Cleanup, [branch] major

#4132 [Core: TimePoint] Make return value of getBVLQCType() nullable
  php/libraries/TimePoint.class.inc
Labels: Bug Fix, [branch] major

#4092 [Feedback MRI Popup] Don't call functions that don't exist!
  htdocs/feedback_mri_popup.php
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] bugfix

#4097 [JSX] Dicom Archive - Refactor and Clean-Up
  jsx/Filter.js
  modules/dicom_archive/jsx/columnFormatter.js
  modules/dicom_archive/jsx/dicom_archive.js
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/dicom_archive/test/dicom_archiveTest.php
Labels: Cleanup, [branch] major

#4047 [Core: Candidate] Add type declarations to function signatures
  modules/new_profile/php/new_profile.class.inc
  php/libraries/Candidate.class.inc
  test/unittests/CandidateTest.php
Labels: Cleanup, [branch] major

#4142 [Instrument manager] Reactify Menu Filters
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/instrument_manager/jsx/uploadForm.js
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/templates/menu_instrument_manager.tpl
  package-lock.json
  package.json
  webpack.config.js
Labels: Cleanup, UI, [branch] major

#4143 Remove _getNumberPages
  php/libraries/NDB_Menu_Filter.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#4137 [Core: Utility] Add code comment on calculateAge()
  php/libraries/Utility.class.inc
Labels: Documentation, [branch] bugfix

#4052 [CSS/Instrument_list] Install FontAwesome!
  htdocs/fontawesome
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/instrument_list/templates/instrument_list_controlpanel.tpl
  package.json
  smarty/templates/main.tpl
Labels: UI, [branch] major

#4007 UI Makeover <3
  htdocs/bootstrap/css/custom-css.css
  htdocs/css/panel.css
  htdocs/css/simple-sidebar.css
  htdocs/main.css
  modules/dicom_archive/css/dicom_archive.css
  modules/imaging_browser/css/imaging_browser.css
  modules/imaging_browser/templates/form_viewSession.tpl
Labels: Passed Manual Tests, UI, [branch] major

#4084 [MediaUpload] Restrict file upload to candidate who has visited user's site
  modules/media/ajax/FileUpload.php
Labels: Bug Fix, Cleanup, Passed Manual Tests, UI, [branch] minor
