Repository aces/Loris, pull requests merged in 2019-07, with the labels that each got.

#4913 [Release] SQL archiving and release patch + composer update
  SQL/0000-00-03-ConfigTables.sql
  SQL/Archive/21.0/2018-01-17-normalisation_visit.sql
  SQL/Archive/21.0/2018-01-23-qc_module_patch.sql
  SQL/Archive/21.0/2018-02-27_normalize_mri_protocol.sql
  SQL/Archive/21.0/2018-08-27-BIDSScanTypeTable.sql
  SQL/Archive/21.0/2018-08-27-GenderToSex.sql
  SQL/Archive/21.0/2018-11-05-rename_candidate_CenterID_to_RegistrationCenterID.sql
  SQL/Archive/21.0/2018-11-29-Add_instrument_manager_permission.sql
  SQL/Archive/21.0/2019-01-28_Add_Pwned_Password_ConfigSetting.sql
  SQL/Archive/21.0/2019-02-08_cleanup_duplicated_data_path_in_Config.sql
  SQL/Archive/21.0/2019-03-20-session-notnull.sql
  SQL/Archive/21.0/2019-04-04_add_image_type_to_mri_protocol.sql
  SQL/Archive/21.0/2019-04-26-Delete_cascades_parameter_type_rel.sql
  SQL/Archive/21.0/2019-05-03-deprecate_useprojects.sql
  SQL/Archive/21.0/2019-05-15-LorisMenuPermissions_QC_and_datarelease.sql
  SQL/Archive/21.0/2019-05-22-ChangePublicationPathsToWebPathType.sql
  SQL/Archive/21.0/2019-05-23-correct_type_ValidMin_ValidMax_of_mri_protocol_checks.sql
  SQL/Archive/21.0/2019-06-06-AddActiveToNotificationSpool.sql
  SQL/Archive/21.0/2019-06-13-LorisMenuPermissions_IssueTracker.sql
  SQL/Archive/21.0/Cleanup/2018-02-20_remove_duplicate_value_from_Config.sql
  SQL/Archive/21.0/Cleanup/2018-04-05_RemovePendingStagingFromFiles.sql
  SQL/Archive/21.0/Cleanup/2018-11-20-remove_currentGUITable_field.sql
  SQL/Archive/21.0/Cleanup/2019-05-13-RemoveTraining.sql
  SQL/Archive/21.0/Cleanup/2019-05-15-Reliability_link.sql
  SQL/Release_patches/20.3_To_21.0_upgrade.sql
  raisinbread/migration
Labels: 21.0.0 Testing, Critical to release

#4923 Add new phan rule PhanTypeExpectedObjectPropAccessButGotNull to static analysis
  .phan/config.php
Labels: Meta, Testing

#4927 [SQL] Missing statement from default schema
  SQL/0000-00-00-schema.sql
  SQL/Archive/21.0/2019-05-03-deprecate_useprojects.sql
  SQL/Release_patches/20.3_To_21.0_upgrade.sql
Labels: 21.0.0 Testing, Bug Fix, Critical to release

#4924 [RB] small change in instructions
  raisinbread/README.md
Labels: Passed Manual Tests

#4955 [Travis] Update Dockerfile to use MariaDB instead of MySQL
  Dockerfile.test.php7
Labels: Bug Fix, Meta, Testing

#4922 [Tools] Fix Raisinbread exporter location
  tools/exporters/DB_dump_table_data.php
Labels: Cleanup, RaisinBread, [branch] bugfix

#4229 New instruments loading module
  htdocs/.htaccess
  htdocs/router.php
  modules/instruments/README.md
  modules/instruments/php/module.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_Caller.class.inc
  smarty/templates/instrumentstatus_controlpanel.tpl
Labels: Feature, Passed Manual Tests, [branch] minor

#4649 [install] Fixed checkbox formatting in installdb.php frontend
  smarty/templates/install.tpl
Labels: Passed Manual Tests, UI, [branch] minor

#4897 [DQT] Fix crash when CouchDB values not set in project/config.xml
  modules/dataquery/php/dataquery.class.inc
Labels: Bug Fix, UI, [branch] bugfix

#4970 [Core: Instrument] Fix bug related to altered return type
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4492 [SQL] Rename project_rel table and add constraints
  SQL/0000-00-00-schema.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2019-04-30-project-rel-rename.sql
  modules/configuration/ajax/updateProject.php
  modules/configuration/css/configuration.css
  modules/configuration/js/project.js
  modules/configuration/jsx/SubprojectRelations.js
  modules/configuration/php/project.class.inc
  modules/configuration/templates/form_project.tpl
  modules/configuration/test/TestPlan.md
  modules/data_team_helper/php/data_team_helper.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/Project.class.inc
  php/libraries/Utility.class.inc
  php/libraries/VisitController.class.inc
  raisinbread/RB_files/RB_project_rel.sql
  raisinbread/RB_files/RB_project_subproject_rel.sql
Labels: Cleanup, Documentation, SQL

#4938 [SQL] Add foreign key to session table for subprojects
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-07-10-subproject-session-FK.sql
  modules/dashboard/test/DashboardTest.php
  modules/mri_violations/test/mri_violationsTest.php
  modules/survey_accounts/test/survey_accountsTest.php
Labels: Cleanup, Passed Manual Tests, SQL, [branch] minor

#4622 [Documentation] Fixed formatting and grammar errors in test_instruments readme
  test/test_instrument/Readme.md
Labels: Documentation

#4971 Checking for logged in users
  Dockerfile.test.php7
  src/Api/Endpoints/Projects.php
Labels: API, Critical to release

#4966 [Doc] Update modules/README.md
  modules/README.md
Labels: Documentation, [branch] minor

#4383 [Test] unittest for NDB_Config
  test/unittests/NDB_ConfigTest.php
Labels: Testing, [branch] major

#4925 [Clean up] deletion of the full MINC header entry from parameter_file as not used anymore
  SQL/New_patches/2019_07_04_remove_header_row_from_parameter_file_and_convert_back_to_Value_field_to_text.sql
Labels: Add to Release Notes, Cleanup, Passed Manual Tests, SQL, [branch] minor

#4446 [Timepoint List] Fixing bad logic in Timepoint List Control Panel
  modules/timepoint_list/templates/timepoint_list_controlpanel.tpl
Labels: Cleanup, UI

#4918 [Data Framework] Update candidate list to use data framework
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/php/candidatelistrow.class.inc
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/File_Upload.class.inc
Labels: Feature, SQL, [branch] minor

#4975 [Core: Instrument] Fix bug related to altered return type (RE-ISSUED)
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4974 [Database] Remove unused function
  php/libraries/Database.class.inc
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, PR sent, [branch] minor

#4959 [README] Change v 20 to v 21
  README.md
Labels: 21.0.0 Testing, Documentation

#4985 [Testing] Remove DB Unit package
  composer.json
  composer.lock
  test/unittests/Loris_PHPUnit_Database_TestCase.php
  test/unittests/NDB_BVL_FeedbackTest.php
Labels: Cleanup, Meta, Testing

#4277 [Testing] Add PhanTypeMismatchDimFetch to static analysis
  .phan/config.php
  modules/document_repository/php/document_repository.class.inc
  modules/document_repository/php/files.class.inc
  modules/next_stage/php/next_stage.class.inc
  php/libraries/File_Upload.class.inc
Labels: Cleanup, Meta, [branch] minor

#4418 Add new phan rule PhanNonClassMethodCall
  .phan/config.php
  modules/server_processes_manager/php/serverprocessfactory.class.inc
  php/libraries/NDB_Factory.class.inc
Labels: Cleanup, Meta, [branch] minor

#4335 [Coding Standards] Enforce PSR2 standards on files in src/
  docs/SrcCS.xml
  src/Api/Endpoint.php
  src/Api/Endpoints/Login.php
  src/Api/Endpoints/Project/Candidates.php
  src/Api/Endpoints/Project/Images.php
  src/Api/Endpoints/Project/Instrument.php
  src/Api/Endpoints/Project/Instruments.php
  src/Api/Endpoints/Project/Project.php
  src/Api/Endpoints/Project/Visits.php
  src/Api/Endpoints/Projects.php
  src/Data/DataInstance.php
  src/Data/Filter.php
  src/Data/Filters/UserSiteMatch.php
  src/Data/MapIterator.php
  src/Data/Mapper.php
  src/Data/Provisioner.php
  src/Data/ProvisionerInstance.php
  src/Data/Provisioners/DBRowProvisioner.php
  src/Data/Table.php
  src/Http/Client.php
  src/Http/EmptyStream.php
  src/Http/Error.php
  src/Http/Request.php
  src/Http/Response.php
  src/Http/Response/BadRequest.php
  src/Http/Response/Conflict.php
  src/Http/Response/Forbidden.php
  src/Http/Response/InternalServerError.php
  src/Http/Response/JsonResponse.php
  src/Http/Response/MethodNotAllowed.php
  src/Http/Response/NotFound.php
  src/Http/Response/NotImplemented.php
  src/Http/Response/NotModified.php
  src/Http/Response/Unauthorized.php
  src/Http/StringStream.php
  src/Middleware/AnonymousPageDecorationMiddleware.php
  src/Middleware/AuthMiddleware.php
  src/Middleware/Authenticator.php
  src/Middleware/ContentLength.php
  src/Middleware/ETag.php
  src/Middleware/ETagCalculator.php
  src/Middleware/MiddlewareChainer.php
  src/Middleware/MiddlewareChainerMixin.php
  src/Middleware/PageDecorationMiddleware.php
  src/Middleware/ResponseGenerator.php
  src/Middleware/UserPageDecorationMiddleware.php
  src/Router/BaseRouter.php
  src/Router/ModuleAuthenticator.php
  src/Router/ModuleFileRouter.php
  src/Router/ModuleRouter.php
  src/Router/NoopResponder.php
  src/Router/PrefixRouter.php
  src/StudyEntities/Candidate/CandID.php
  src/StudyEntities/Candidate/Identifier.php
  src/StudyEntities/Candidate/ValidatableIdentifier.php
  test/run-php-linter.sh
Labels: Feature, Meta, [branch] major

#4940 [Config] Add settingEnabled() helper function
  php/libraries/NDB_Config.class.inc
  php/libraries/User.class.inc
Labels: Feature, [branch] major

#4963 [Testing] Update Phan to latest version
  .travis.yml
  composer.json
  composer.lock
  htdocs/survey.php
  modules/configuration/ajax/updateProject.php
  modules/new_profile/php/new_profile.class.inc
  modules/server_processes_manager/php/abstractserverprocess.class.inc
  modules/server_processes_manager/php/process.class.inc
  modules/statistics/php/stats_mri.class.inc
  php/libraries/ConflictDetector.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/User.class.inc
  php/libraries/Utility.class.inc
Labels: Meta, Testing, [branch] minor

#4988 [Test] Adding to unittests for Visit and VisitController
  test/unittests/VisitTest.php
Labels: Testing, [branch] major

#4992 [Node] Update insecure npm packages
  package-lock.json
Labels: Meta, Security, [branch] minor
