Repository aces/Loris, pull requests merged in 2019-10, with the labels that each got.

#5248 [media] Use study's start/end date as min/max values for Date of Administration field
  modules/media/ajax/FileUpload.php
  modules/media/jsx/uploadForm.js
Labels: Add to Release Notes, Bug, Passed Manual Tests

#5257 Add syntax highlighting in raisinbread README
  raisinbread/README.md
Labels: Documentation, UI

#5254 Instruct new developers to not create new branches on the repo
  CONTRIBUTING.md
Labels: Documentation, Meta

#5281 [Core] Fix static PSCID generation
  php/libraries/SiteIDGenerator.php
Labels: Bug, Passed Manual Tests

#5276 [Meta] Small fix in README
  README.md
Labels: Cleanup, Documentation

#5265 Add PHP 7.4 (snapshot build) to TravisCI tests
  .travis.yml
Labels: Meta, Testing

#5295 [tools/install.sh] fix for other operating systems
  tools/install.sh
Labels: Bug, Passed Manual Tests

#5277 [Acknowledgements] Fixing TestPlan to proper Markdown syntax
  modules/acknowledgements/test/TestPlan.md
Labels: Cleanup, Documentation

#5284 [Raisinbread] update migration log major
  raisinbread/migration
Labels: Documentation, RaisinBread

#4425 [Utility] Add isPositiveInteger function (+ unit tests)
  php/libraries/Utility.class.inc
  test/unittests/UtilityTest.php
Labels: Feature

#5247 [Login] Fix issue where expired passwords could not be updated on major
  modules/login/php/passwordexpiry.class.inc
Labels: Bug

#5089 [BVL Feedback] Add dynamictable and fix margin-top
  htdocs/css/panel.css
  modules/bvl_feedback/js/bvl_feedback_panel_jquery.js
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: Passed Manual Tests, UI

#4949 [Core] Add '200 OK' and '201 Created' responses to src/
  src/Http/Response/Created.php
  src/Http/Response/OK.php
Labels: Feature

#5299 [Data Tables] Improve efficiency of DataTable filtering for large data tables
  jsx/DataTable.js
Labels: Bug

#4023 [Configuration] Path settings must be valid paths
  modules/configuration/ajax/process.php
  modules/configuration/js/configuration_helper.js
Labels: Feature, Passed Manual Tests, Security

#5313 [candidate_parameters] Fixing breadcrumb
  modules/candidate_parameters/php/candidate_parameters.class.inc
  modules/candidate_parameters/test/TestPlan.md
Labels: Bug, Documentation, Passed Manual Tests

#5203 [install README CentOS and Ubuntu] 21 install updates, including make - bugfix
  README.CentOS6.md
  README.CentOS7.md
  README.md
Labels: Bug, Documentation

#5326 [API] Make candidate images permission "protected"
  modules/api/php/endpoints/candidate/visit/visit.class.inc
  modules/api/php/endpoints/project/candidates.class.inc
  modules/api/php/endpoints/project/images.class.inc
  modules/api/php/endpoints/project/instrument/instrument.class.inc
  modules/api/php/endpoints/project/instruments.class.inc
  modules/api/php/endpoints/project/project.class.inc
  modules/api/php/endpoints/project/visits.class.inc
  modules/api/php/views/project/instruments.class.inc
  php/libraries/Image.class.inc
  php/libraries/TimePoint.class.inc
  src/Data/Filters/PhantomsFilter.php
  src/Data/Filters/ScansFilter.php
  src/Data/Models/ImageDTO.php
Labels: API, Cleanup, Critical to release, Passed Manual Tests

#5317 [Core: Database] Add array return type to pselect
  php/libraries/Database.class.inc
Labels: Caveat for Existing Projects, Cleanup

#5322 [Install] Use "command" instead of "which" to determine if a binary is installed
  tools/install.sh
Labels: Cleanup

#5350 Update phpmd (first new release in 2.5 years)
  composer.json
  composer.lock
Labels: Meta, Testing

#5333 Update phan to latest minor version
  composer.json
  composer.lock
Labels: Meta, Testing

#5345 [DQT] Fix 500 error caused by bad Exception name
  modules/dataquery/php/dataquery.class.inc
Labels: Bug

#5242 ReadTheDocs initialization
  .readthedocs.yml
  docs/index.md
  docs/wiki/index.md
  mkdocs.yml
Labels: Documentation, Feature, Meta

#5371 [ReadTheDocs] Fix build error
  mkdocs.yml
Labels: Bug, Documentation

#5378 [data_team_helper] fixed broken link that should redirect to candidate's timepoint
  modules/data_team_helper/jsx/behavioural_qc_module.js
Labels: Bug, UI

#5339 [Statistics / Imaging Statistics] Fix permission issue where users were allowed to see imaging statistics from sites they don't have access to.
  modules/statistics/php/stats_mri.class.inc
Labels: Bug, Security

#4730 [publication] 21.0 release publication email verify fix
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
Labels: Bug, Passed Manual Tests

#5367 [media][editForm.js] Use study's start/end date as min/max values for Date of Administration field
  modules/media/jsx/editForm.js
Labels: Bug, UI

#5370 [user_account] can't add or edit a user on major
  modules/user_accounts/php/edit_user.class.inc
Labels: Bug

#5307 [imaging_uploader] Removed unused variables from imaging_uploader.class.inc
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Cleanup

#5256 [Media] Rename date_uploaded column to last_modified
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-10-01_Rename-media-column.sql
  modules/media/ajax/FileUpload.php
  modules/media/jsx/mediaIndex.js
  modules/media/php/mediafileprovisioner.class.inc
  raisinbread/RB_files/RB_media.sql
Labels: Cleanup, RaisinBread, SQL, UI

#5300 [Script] Add script to generate fake candidates
  tools/deprecated/create_candidates.php
Labels: Passed Manual Tests

#5280 [jsx/Form.js] new slider component!
  jsx/Form.js
Labels: Feature, Passed Manual Tests, UI

#5306 [imaging uploader] Automatically populate PSCID, CandID & visit label based on the filename upon upload
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/test/TestPlan.md
Labels: Add to Release Notes, Caveat for Existing Projects, Feature, Passed Manual Tests

#5320 [Install] Fix Database connection edge-case that resulted in 500 error
  php/installer/Installer.class.inc
Labels: Bug

#5381 Fixing bugs introduced when optimizing DataTable
  jsx/DataTable.js
Labels: Bug, Critical to release, Passed Manual Tests

#5347 [DQT] Fix PHP Notices
  modules/dataquery/ajax/datadictionary.php
Labels: Cleanup

#5205 [install.sh] Cleanup for 21: dependency checks, logic, user messages
  tools/install.sh
Labels: Documentation

#5373 [Cand. Params] Users with cand param edit permission should be able to view module
  modules/candidate_parameters/php/candidate_parameters.class.inc
  modules/quality_control/php/quality_control.class.inc
  modules/quality_control/php/quality_control_behavioral.class.inc
Labels: Bug, Cleanup, Passed Manual Tests

#5314 [brainbrowser] Add possibility to read nii.gz files with BB
  modules/brainbrowser/ajax/image.php
Labels: Bug

#5290 [Database] Update database class
  php/libraries/Database.class.inc
Labels: Bug, Cleanup, SQL

#5385 [ReadTheDocs] Fix build failure by adding explicit dependencies
  .readthedocs.yml
  docs/requirements.txt
Labels: Bug, Documentation, Meta

#5022 [Imaging Browser - Data Framework] Make Imaging Browser menu filter use the DataFrameworkMenu
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/php/imagingbrowserrow.class.inc
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup, Critical to release

#5009 [User accounts] Add project option to user accounts
  SQL/0000-00-00-schema.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2019-08-05-add_projects_to_users.sql
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
  modules/user_accounts/test/user_accountsTest.php
  php/libraries/User.class.inc
  raisinbread/RB_files/RB_user_project_rel.sql
  test/integrationtests/LorisIntegrationTest.class.inc
  test/unittests/UserTest.php
Labels: Blocking, Feature

#5329 [new_profile] can't create a new profile on major
  modules/new_profile/php/new_profile.class.inc
Labels: Bug, Passed Manual Tests

#5398 [Core] Create UserProjectMatch filter
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/php/candidatelistrow.class.inc
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  modules/candidate_list/test/candidate_listTest.php
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/media/php/media.class.inc
  modules/media/php/mediafile.class.inc
  modules/media/php/mediafileprovisioner.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/User.class.inc
  src/Data/Filters/UserProjectMatch.php
  src/Data/Filters/UserSiteMatch.php
Labels: Critical to release, Feature

#5285 Add project to PSCID generation
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-10-05-Add_alias_to_projects.sql
  modules/new_profile/php/new_profile.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/ExternalIDGenerator.php
  php/libraries/IdentifierGenerator.php
  php/libraries/PSCIDGenerator.php
  php/libraries/Project.class.inc
  php/libraries/SiteIDGenerator.php
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_Project.sql
  test/unittests/CandidateTest.php
Labels: Feature, Needs Documentation, Passed Manual Tests

#5435 [raisinbread] added 40 fake entries to the acknowledgements module
  raisinbread/RB_files/RB_acknowledgements.sql
Labels: 22.0.0 TESTING, RaisinBread

#5405 [acknowledgements] update module test plan
  modules/acknowledgements/test/TestPlan.md
Labels: 22.0.0 TESTING, Testing
