Repository aces/Loris, pull requests merged in 2019-08, with the labels that each got.

#4991 [RaisinBread] Adding instructions on how to delete the RB tables
  raisinbread/README.md
  raisinbread/instruments/instrument_sql/9999-99-99-drop_instrument_tables.sql
Labels: Bug Fix, Documentation, Passed Manual Tests, RaisinBread, SQL, [branch] minor

#4936 [Test] Adding to unittests for Candidate.class.inc
  test/unittests/CandidateTest.php
Labels: Testing, [branch] major

#4973 [Tools] Add script for changing config settings
  tools/setconfig.php
Labels: Feature, Meta, PR sent, Passed Manual Tests, [branch] minor

#5010 Add check for running install script as root.
  tools/install.sh
Labels: Cleanup, Security, [branch] minor

#4861 [Test] unittests for Utility.class.inc
  php/libraries/Utility.class.inc
  test/unittests/UtilityTest.php
Labels: Testing, [branch] major

#4987 [Test] Adding to unittests for Settings.class.inc
  test/unittests/SettingsTest.php
Labels: Testing, [branch] major

#4916 [Test] Adding to unittests for LorisForm.class.inc
  php/libraries/LorisForm.class.inc
  test/unittests/LorisForms_Test.php
Labels: Testing, [branch] major

#5020 [Documentation] Changed link to Docker Group info in test/README.md
  test/README.md
Labels: Documentation, Testing, [branch] minor

#4979 [Test] unittests for User.class.inc
  php/libraries/User.class.inc
  test/unittests/UserTest.php
Labels: Testing, [branch] major

#5012 [Test] Adding to unittests for NDB_Config.class.inc
  php/libraries/NDB_Config.class.inc
  test/unittests/NDB_ConfigTest.php
Labels: Needs Documentation, Testing, [branch] major

#5017 [README] Add nodejs as a system requirement
  README.md
Labels: Caveat for Existing Projects, Cleanup, Documentation, [branch] minor

#5011 Fix make clean build target
  Makefile
Labels: Bug Fix, Meta, [branch] bugfix

#5023 Show error when installdb.php can not connect to database
  php/installer/Database.class.inc
  php/installer/Installer.class.inc
Labels: Bug Fix, [branch] bugfix

#4181 [Core] Create File Uploader class to standardize and validate file uploads in LORIS
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/instrument_manager/jsx/uploadForm.js
  modules/instrument_manager/php/instrument_manager.class.inc
  php/exceptions/UploadException.class.inc
  php/libraries/FilesUploadHandler.class.inc
Labels: Feature, Passed Manual Tests, Security

#4969 [tools/raisinbread exporter] Use config.xml credentials
  tools/exporters/DB_dump_table_data.php
Labels: Bug Fix, Cleanup, Passed Manual Tests

#4981 [Examiner] Bugfix for pselectRow returning multiple rows (certification_history)
  modules/examiner/php/editexaminer.class.inc
Labels: Bug Fix, Passed Manual Tests

#5007 [Core/Instrument] added default date value to getCandidateAge function
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix

#4999 [Media Uploader] Bugfix date of administration field
  modules/media/ajax/FileUpload.php
Labels: Bug Fix

#5000 [candidate_parameter] Consent Status data validation bugfix
  modules/candidate_parameters/ajax/formHandler.php
Labels: Bug Fix, Passed Manual Tests
