Repository aces/Loris, pull requests merged in 2019-03, with the labels that each got.

#4347 Brainbrowser not working after fixing paths in violation tables
  modules/brainbrowser/ajax/image.php
Labels: Add to Release Notes, Bug Fix, Caveat for Existing Projects, Critical to release, Document at Release, [branch] minor

#4362 [Login] Fix issue where password reset emails were not sent
  modules/login/php/passwordreset.class.inc
Labels: Bug Fix, [branch] bugfix

#4241 [Core: Candidate] Improve ID generation (CandID, PSCID, ExternalID)
  modules/new_profile/test/new_profileTest.php
  modules/next_stage/test/next_stageTest.php
  php/libraries/CandIDGenerator.php
  php/libraries/Candidate.class.inc
  php/libraries/ExternalIDGenerator.php
  php/libraries/IdentifierGenerator.php
  php/libraries/PSCIDGenerator.php
  php/libraries/SiteIDGenerator.php
  test/unittests/CandidateTest.php
Labels: Cleanup, Feature, [branch] major

#4376 [imaging_browser] $list_of_projects could be undefined when useProjects isn't true
  modules/imaging_browser/php/imaging_browser.class.inc
Labels: Bug Fix, [branch] bugfix, [branch] major

#4296 Properly namespace php/installer and add to phan
  .phan/config.php
  composer.json
  htdocs/installdb.php
  php/installer/Database.class.inc
  php/installer/Installer.class.inc
  php/installer/NDB_Config.class.inc
  test/unittests/CandidateTest.php
Labels: Cleanup, Meta

#4366 [Core - UserPermissions] hasAnyPermission does not include "superuser"
  modules/examiner/test/ExaminerTest.php
  php/libraries/UserPermissions.class.inc
Labels: Bug Fix, [branch] major

#4373 [ImagingUploader] Revert file upload element name
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Bug Fix, [branch] major

#4370 [Documentation] Fixed the link to codingstandards.md in Contributing.md
  CONTRIBUTING.md
Labels: Bug Fix, Documentation, [branch] bugfix

#4377 [Instrument_builder] Build & Load were broken in react.
  modules/instrument_builder/jsx/react.instrument_builder.js
Labels: Bug Fix, Passed Manual Tests, [branch] major

#4302 [candidate list] Reactification
  jsx/DataTable.js
  modules/candidate_list/js/.gitignore
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/jsx/columnFormatter.js
  modules/candidate_list/jsx/onLoad.js
  modules/candidate_list/jsx/openProfileForm.js
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/templates/menu_candidate_list.tpl
  modules/candidate_list/test/candidate_listTest.php
  webpack.config.js
Labels: Passed Manual Tests, Priority: High, UI, [branch] major

#4379 add ignore files
  modules/conflict_resolver/js/.gitignore
  modules/dicom_archive/js/.gitignore
  modules/issue_tracker/js/.gitignore
  modules/media/js/.gitignore
Labels: Cleanup, [branch] major

#4273 [Testing] Add PhanUndeclaredVariable rule to static analysis
  .phan/config.php
  htdocs/api/v0.0.2/candidates/visits/images/headers/Specific.php
  htdocs/api/v0.0.3-dev/candidates/visits/images/headers/Specific.php
  modules/document_repository/php/document_repository.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/login/php/passwordreset.class.inc
  modules/server_processes_manager/php/defaultprocessmonitor.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/training/ajax/markQuiz.php
  php/libraries/Database.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_Caller.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup, Meta, Passed Manual Tests, [branch] major

#4387 [Meta] Fix Travis failure on major
  php/installer/Installer.class.inc
Labels: Bug Fix, Meta

#4393 [Meta] Update phpcs to 2.9.2
  composer.json
  composer.lock
  htdocs/installdb.php
  htdocs/mri/jiv/get_file.php
  htdocs/router.php
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/dicom_archive/php/viewdetails.class.inc
  modules/document_repository/ajax/documentEditUpload.php
  modules/genomic_browser/ajax/genomic_file_upload.php
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  php/installer/Installer.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/Utility.class.inc
Labels: Meta, Testing

#3695 Publication Module
  SQL/New_patches/2018-05-28_publication_schema.sql
  modules/publication/README.md
  modules/publication/ajax/FileDelete.php
  modules/publication/ajax/FileDownload.php
  modules/publication/ajax/FileUpload.php
  modules/publication/ajax/getData.php
  modules/publication/css/publication.css
  modules/publication/js/publicationIndex.js
  modules/publication/js/viewProjectIndex.js
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/jsx/viewProjectIndex.js
  modules/publication/php/module.class.inc
  modules/publication/php/publication.class.inc
  modules/publication/php/view_project.class.inc
  modules/publication/test/TestPlan.md
  smarty/templates/email/notifier_publication_edit.tpl
  smarty/templates/email/notifier_publication_review.tpl
  smarty/templates/email/notifier_publication_submission.tpl
  webpack.config.js
Labels: Feature, Needs Maintainer, Priority: Projects, [branch] minor

#4398 [tool/Innodb converter] Change + to array_merge() to force reindexing
  tools/single_use/Engine_Change_MyISAM_to_INNODB.php
Labels: Bug Fix, [branch] bugfix

#4389 [Meta] Prevent verbose "No syntax errors detected in..." from appearing in test output
  test/run-php-linter.sh
Labels: Meta, Testing

#4314 Cleanup duplicated data config paths
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019-02-08_cleanup_duplicated_data_path_in_Config.sql
  htdocs/api/v0.0.2/candidates/visits/images/Image.php
  htdocs/api/v0.0.3-dev/candidates/visits/images/Image.php
  htdocs/mri/jiv/get_file.php
  modules/brainbrowser/ajax/image.php
  php/installer/Installer.class.inc
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, Document at Release, SQL, [branch] major

#4336 [Travis] How to debug travis when the schema changed.
  .travis.yml
Labels: Documentation, Testing, [branch] major

#4308 [Phan] Add PhanTypeArraySuspiciousNullable rule
  .phan/config.php
  modules/dashboard/php/dashboard.class.inc
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/help_editor/php/edit_help_content.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/statistics/php/stats_behavioural.class.inc
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/libraries/CouchDB.class.inc
  php/libraries/NDB_Config.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/TimePoint.class.inc
Labels: Cleanup, Meta, [branch] major

#4372 [Login: Request Account] Fixing 500 Error that arises due to email discrepancy
  modules/login/php/requestaccount.class.inc
Labels: Bug Fix, [branch] bugfix

#3894 [Instruments] Add ability to load instrument JSON data from flag Data column.
  php/libraries/CouchDB.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  tools/CouchDB_Import_Instruments.php
  tools/single_use/migrate_sql_to_json.php
Labels: Add to Release Notes, [branch] major

#4397 [Instrument] Fix instrument typehinting
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, [branch] major

#4400 Fixed MRI uploader with auto-launch turned on that was not working.
  modules/server_processes_manager/php/mriuploadserverprocess.class.inc
Labels: Bug Fix, Passed Manual Tests, Priority: High

#4146 [tools/Score Instruments] Cleanup and bugfixes
  tools/data_integrity/score_instrument.php
  tools/score_instrument.php
Labels: Bug Fix, Caveat for Existing Projects, Passed Manual Tests, [branch] major

#4416 Refactor TimePoint::createNew
  htdocs/api/v0.0.2/candidates/Visit.php
  htdocs/api/v0.0.3-dev/candidates/Visit.php
  modules/create_timepoint/php/create_timepoint.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/TimePoint.class.inc
Labels: Bug Fix, Cleanup, [branch] major

#4391 [webpack] simplification of the project webpack file
  webpack.config.js
Labels: Bug Fix, Cleanup, [branch] major

#4421 [candidate_list] fixed undefined project_options on Major
  modules/candidate_list/php/candidate_list.class.inc
Labels: Bug Fix, [branch] major

#4434 Make tools/ scripts executable
  tools/CouchDB_Confirm_Integrity.php
  tools/CouchDB_Import_Demographics.php
  tools/CouchDB_Import_Instruments.php
  tools/CouchDB_Import_MRI.php
  tools/CouchDB_Import_RadiologicalReview.php
  tools/CouchDB_MRI_Importer.php
  tools/DB_date_zeros_removal.php
  tools/assign_missing_instruments.php
  tools/cleanup_mri_tables_for_19-0_release.php
  tools/config_to_db.php
  tools/data_dictionary_builder.php
  tools/delete_candidate.php
  tools/delete_ignored_conflicts.php
  tools/delete_timepoint.php
  tools/detect_duplicated_commentids.php
  tools/fix_timepoint_date_problems.php
  tools/generate_project_statistics_csv.php
  tools/generate_tables_sql.php
  tools/generate_tables_sql_and_testNames.php
  tools/generic_includes.php
  tools/lorisform_parser.php
  tools/mri_violations_resolver.php
  tools/populate_examiners_psc_rel.php
  tools/populate_visit_windows.php
  tools/recreate_conflicts.php
Labels: Cleanup, [branch] major
