Repository aces/Loris, pull requests merged in 2019-02, with the labels that each got.

#4285 [Imaging] Fix type errors in feedback pop-up/FeedbackMRI
  htdocs/feedback_mri_popup.php
Labels: Bug Fix, Cleanup, [branch] major

#4274 [Testing] Add PhanUndeclaredTypeParameter rule to static analysis
  .phan/config.php
  modules/dashboard/ajax/get_recruitment_line_data.php
  modules/dashboard/ajax/get_scan_line_data.php
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/genomic_browser/php/view_genomic_file.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_uploader/php/file_decompress.class.inc
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/login/php/passwordexpiry.class.inc
  modules/server_processes_manager/php/serverprocessesmonitor.class.inc
  modules/training/ajax/markQuiz.php
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/libraries/FeedbackMRI.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  src/Data/Provisioners/DBRowProvisioner.php
  test/unittests/Loris_PHPUnit_Database_TestCase.php
Labels: Blocked, Cleanup, Testing, [branch] major

#4141 [tools/Fix Candidate Age] Cleanup and bugfixes
  tools/data_integrity/fix_candidate_age.php
Labels: Bug Fix, Caveat for Existing Projects, Passed Manual Tests, [branch] major

#4055 [Core] Adding CandID Value Object
  htdocs/api/v0.0.3-dev/candidates/Candidate.php
  src/StudyEntities/Candidate/CandID.php
  src/StudyEntities/Candidate/Identifier.php
  src/StudyEntities/Candidate/ValidatableIdentifier.php
  test/unittests/studyentities/CandID_Test.php
Labels: [branch] major

#4223 [Modules] QC Module
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2018-01-23-qc_module_patch.sql
  modules/quality_control/jsx/qualityControlIndex.js
  modules/quality_control/php/module.class.inc
  modules/quality_control/php/quality_control.class.inc
  modules/quality_control/php/quality_control_behavioral.class.inc
  webpack.config.js
Labels: Feature, Passed Manual Tests, SQL, [branch] major

#4087 [SQL] Add 'path' and 'web_path' data types to ConfigSettings
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2018-11-13_add_path_to_config_enum.sql
Labels: Feature, Passed Manual Tests, SQL

#4096 [Imaging Browser/htdocs] Improve error message of get_file.php and refactor code.
  htdocs/mri/jiv/get_file.php
Labels: Cleanup, Passed Manual Tests, [branch] minor

#4291 [phan] Add two rules that created no errors
  .phan/config.php
Labels: Cleanup, Meta, [branch] major

#4266 [Testing] Add PhanTypeMismatchForeach rule to static analysis
  .phan/config.php
  htdocs/feedback_mri_popup.php
  modules/document_repository/php/document_repository.class.inc
  modules/genomic_browser/test/genomic_browserTest.php
  modules/imaging_uploader/test/imaging_uploaderTest.php
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
Labels: Cleanup, Testing, [branch] major

#4077 Update API summary header and qc too grep more info
  docs/API/LorisRESTAPI_v0.0.3.md
  htdocs/api/v0.0.2/candidates/visits/images/qc/QC.php
  htdocs/api/v0.0.3-dev/candidates/visits/images/headers/Headers.php
  htdocs/api/v0.0.3-dev/candidates/visits/images/qc/QC.php
Labels: API, Bug Fix, [branch] minor

#4280 [Instrument_LINST] Fix XINValidate() return type error
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Bug Fix, Cleanup, [branch] major

#4191 [Instrument Manager] Add specific permission to this module so that superuser isn't necessary
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2018-11-29-Add_instrument_manager_permission.sql
  modules/instrument_manager/README.md
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/test/TestPlan.md
  modules/instrument_manager/test/instrument_managerTest.php
Labels: Feature, Passed Manual Tests, Security, [branch] major

#4276 [Testing] Add PhanTypeVoidAssignment to static analysis
  .phan/config.php
  modules/configuration/test/ConfigurationTest.php
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/data_release/ajax/AddPermission.php
  modules/datadict/php/datadict.class.inc
  modules/document_repository/ajax/documentEditUpload.php
  modules/help_editor/ajax/process.php
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/statistics/php/statistics_dd_site.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/statistics_site.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_Caller.class.inc
  php/libraries/NDB_Form.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
Labels: Cleanup, Meta, [branch] major

#4293 [phan] Remove redeclaration of PHP internal getallheaders function
  .phan/config.php
  php/libraries/SinglePointLogin.class.inc
Labels: Cleanup, [branch] major

#4292 [phan] Add undeclared constant verification to rules enforced by phan.
  .phan/config.php
  modules/server_processes_manager/php/mriuploadserverprocess.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, Cleanup, [branch] major

#4304 [Travis] Clean up the detail messages and Hash Sum mismatch
  Dockerfile.test.php7
Labels: Cleanup, Testing, [branch] major

#4294 [Help Editor] Remove compiled Javascript file
  modules/help_editor/js/.gitignore
Labels: Cleanup

#4034 [Candidate_parameters] Improve front-end validation for entering Consent data
  modules/candidate_parameters/ajax/formHandler.php
  modules/candidate_parameters/js/CandidateParameters.js
  modules/candidate_parameters/jsx/ConsentStatus.js
  tools/single_use/Cleanup_Consent_Data.php
Labels: Cleanup, Passed Manual Tests, UI, [branch] minor

#4323 [Core] Fix TypeError in Notifier
  php/libraries/NDB_Notifier.class.inc
  php/libraries/NDB_Notifier_Abstract.class.inc
Labels: Bug Fix, Cleanup, Passed Manual Tests, [branch] major

#4334 Update Phan to newest version
  .phan/config.php
  composer.json
  composer.lock
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/login/php/passwordreset.class.inc
  php/libraries/FeedbackMRI.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Cleanup, Meta, [branch] major

#4330 [Genomics] Quick cleanup
  modules/genomic_browser/php/genomic_file.class.inc
  modules/genomic_browser/php/genomic_file_uploader.class.inc
  modules/genomic_browser/php/view_genomic_file.class.inc
Labels: Cleanup, [branch] major

#4340 [libraries/TimePoint.class.inc] change return type to array from string
  php/libraries/TimePoint.class.inc
Labels: Bug Fix, [branch] major

#4343 [Core] Fixing a Bug in ConflictDetector class
  php/libraries/ConflictDetector.class.inc
Labels: Bug Fix

#4339 [composer] ext-json is missing in composer.json
  composer.json
Labels: Bug Fix, [branch] bugfix

#4341 [CouchDB] $port should be an int not a string
  modules/dataquery/ajax/GetDoc.php
  modules/dataquery/ajax/datadictionary.php
  modules/dataquery/ajax/getAllSessions.php
  modules/dataquery/ajax/queryContains.php
  modules/dataquery/ajax/queryEqual.php
  modules/dataquery/ajax/queryGreaterThanEqual.php
  modules/dataquery/ajax/queryLessThanEqual.php
  modules/dataquery/ajax/queryNotEqual.php
  modules/dataquery/ajax/queryStartsWith.php
  modules/dataquery/ajax/retrieveCategoryDocs.php
  modules/dataquery/ajax/saveQuery.php
  modules/dataquery/php/dataquery.class.inc
  php/libraries/CouchDB.class.inc
  php/libraries/NDB_Factory.class.inc
  tools/CouchDB_Confirm_Integrity.php
  tools/CouchDB_Import_Demographics.php
  tools/CouchDB_Import_Instruments.php
  tools/CouchDB_Import_RadiologicalReview.php
  tools/CouchDB_MRI_Importer.php
Labels: [branch] bugfix, [branch] major

#4346 Add new phan rule PhanTypeArraySuspicious
  .phan/config.php
  htdocs/feedback_mri_popup.php
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/data_integrity_flag/php/data_integrity_flag.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Cleanup, Meta, [branch] major

#4275 [API] Adding json responses classes
  modules/api/php/module.class.inc
  src/Api/Endpoint.php
  src/Api/Endpoints/Login.php
  src/Http/Response/BadRequest.php
  src/Http/Response/Conflict.php
  src/Http/Response/Forbidden.php
  src/Http/Response/InternalServerError.php
  src/Http/Response/JsonResponse.php
  src/Http/Response/MethodNotAllowed.php
  src/Http/Response/NotFound.php
  src/Http/Response/NotImplemented.php
  src/Http/Response/NotModified.php
  src/Http/Response/Unauthorized.php
  src/Middleware/ETag.php
Labels: API, Cleanup, [branch] minor

#3950 [Core: Login] Add rate limiting/account lockout
  php/libraries/SinglePointLogin.class.inc
Labels: Feature, Passed Manual Tests, Security, [branch] minor

#4348 [Documentation] Small update to coding standards
  CONTRIBUTING.md
  docs/CodingStandards.md
Labels: Documentation, [branch] major

#4349 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Meta, [branch] major

#4356 [SinglePointLogin] fix passwordAuthenticate accessing $_POST superglobal
  php/libraries/SinglePointLogin.class.inc
Labels: API, Bug Fix, [branch] minor

#4344 [Core] fix type error in NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug Fix, [branch] major

#4357 [new_profile] Notice: Undefined index: ProjectID
  modules/new_profile/php/new_profile.class.inc
Labels: Bug Fix, [branch] major

#4318 [JSX] Refactor SearchableDropdown to not use document.querySelector
  htdocs/js/components/Form.js
  jsx/Form.js
Labels: Bug Fix, [branch] bugfix

#4329 [Phan] Add PhanTypeMismatchDimAssignment to static analysis rules
  .phan/config.php
  modules/dataquery/ajax/saveQuery.php
  modules/imaging_browser/php/mrinavigation.class.inc
  modules/issue_tracker/php/issue_tracker_controlpanel.class.inc
Labels: Cleanup, Meta, [branch] major

#4333 [Core] Add SessionID value class
  php/libraries/Identifier.php
  php/libraries/SessionID.php
  php/libraries/ValidatableIdentifier.php
Labels: Feature, Meta, [branch] major

#4367 [Imaging Uploader] Use Utility::getMaxUploadSize() instead of ini_get
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Bug Fix, Cleanup, [branch] bugfix

#4363 [Candidate] Remove deprecated function
  php/libraries/Candidate.class.inc
Labels: Cleanup, [branch] major

#4320 [Core] Remove checkDate() function from Utility
  modules/new_profile/php/new_profile.class.inc
  modules/next_stage/php/next_stage.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major
