Repository aces/Loris, pull requests merged in 2019-05, with the labels that each got.

#4180 [JSX] Survey Accounts - Reactify Menu Filter
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/media/test/MediaTest.php
  modules/survey_accounts/.gitignore
  modules/survey_accounts/jsx/columnFormatter.js
  modules/survey_accounts/jsx/surveyAccountsIndex.js
  modules/survey_accounts/php/addsurvey.class.inc
  modules/survey_accounts/php/survey_accounts.class.inc
  modules/survey_accounts/templates/menu_survey_accounts.tpl
  modules/survey_accounts/test/survey_accountsTest.php
  modules/user_accounts/test/user_accountsTest.php
  webpack.config.js
Labels: Add to Release Notes, Caveat for Existing Projects, Passed Manual Tests, UI, [branch] major

#4496 Kill useProjects
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019-05-03-deprecate_useprojects.sql
  modules/candidate_list/README.md
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/test/TestPlan.md
  modules/candidate_list/test/candidate_listTest.php
  modules/configuration/php/configuration.class.inc
  modules/configuration/php/project.class.inc
  modules/configuration/templates/form_configuration.tpl
  modules/configuration/test/ConfigurationTest.php
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/create_timepoint/README.md
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/dashboard/php/dashboard.class.inc
  modules/dashboard/templates/form_dashboard.tpl
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/imaging_browser/README.md
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/mri_violations/test/mri_violationsTest.php
  modules/new_profile/README.md
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/php/profile.class.inc
  modules/new_profile/test/TestPlan
  modules/new_profile/test/new_profileTest.php
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/statistics/templates/form_stats_MRI.tpl
  modules/statistics/templates/form_stats_behavioural.tpl
  modules/statistics/templates/form_stats_demographic.tpl
  php/libraries/Candidate.class.inc
  php/libraries/Project.class.inc
  php/libraries/ProjectDefault.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/RB_files/RB_candidate.sql
  src/Api/Endpoints/Projects.php
  test/integrationtests/LorisIntegrationTestWithCandidate.class.inc
  test/unittests/CandidateTest.php
  tools/CouchDB_Import_Demographics.php
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, [branch] major

#4331 [Phan] Add rule PhanTypeMismatchArgumentInternal
  .phan/config.php
  htdocs/main.php
  modules/brainbrowser/ajax/image.php
  modules/candidate_parameters/ajax/formHandler.php
  modules/dataquery/ajax/retrieveCategoryDocs.php
  modules/dataquery/ajax/saveQuery.php
  modules/genomic_browser/ajax/genomic_file_upload.php
  modules/genomic_browser/php/view_genomic_file.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/publication/ajax/FileUpload.php
  modules/server_processes_manager/php/mriuploadserverprocess.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  php/installer/Installer.class.inc
  php/libraries/CouchDB.class.inc
  php/libraries/Email.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_Caller.class.inc
  php/libraries/NDB_Config.class.inc
  php/libraries/Site.class.inc
  src/Data/MapIterator.php
  src/Http/StringStream.php
Labels: Cleanup, Meta, [branch] major

#4243 [Media] Data FrameWork Implementation
  modules/media/jsx/mediaIndex.js
  modules/media/php/hidefilefilter.class.inc
  modules/media/php/media.class.inc
  modules/media/php/mediafile.class.inc
  modules/media/php/mediafileprovisioner.class.inc
Labels: Cleanup, Passed Manual Tests, [branch] major

#4491 [Authentication] Fixing password encoding / decoding error
  php/libraries/User.class.inc
Labels: Bug Fix, [branch] bugfix

#4455 [candidate_parameters] PropTypes is not defined when clicking "edit candidate info" on major
  modules/candidate_parameters/jsx/CandidateParameters.js
  modules/candidate_parameters/jsx/ProbandInfo.js
Labels: Bug Fix, Passed Manual Tests, [branch] major

#4459 Separate DROP TABLES from CREATES in schema
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Menus.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/0000-00-04-Help.sql
  SQL/9999-99-99-drop_tables.sql
Labels: SQL, [branch] major

#4566 fix syntax to drop foreign key in script
  SQL/New_patches/2019-04-26-Delete_cascades_parameter_type_rel.sql
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, SQL

#4507 [CSS] .btn class CSS misaligned
  htdocs/bootstrap/css/custom-css.css
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4112 [Issue Tracker] Reactify Menu Filter + Add DataFramework + Update FilterableDataTable
  jsx/DataTable.js
  jsx/Filter.js
  jsx/FilterableDataTable.js
  modules/issue_tracker/ajax/EditIssue.php
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/columnFormatter.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/php/issue.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/issue_tracker/php/issuerow.class.inc
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  modules/issue_tracker/php/issuewatchermapper.class.inc
  modules/issue_tracker/php/my_issue_tracker.class.inc
  modules/issue_tracker/php/resolved_issue_tracker.class.inc
  modules/issue_tracker/templates/menu_issue_tracker.tpl
  modules/issue_tracker/templates/menu_my_issue_tracker.tpl
  modules/issue_tracker/templates/menu_resolved_issue_tracker.tpl
  modules/issue_tracker/test/Issue_TrackerTest.php
  modules/survey_accounts/test/survey_accountsTest.php
  package-lock.json
  src/Data/Filters/UserSiteMatch.php
  webpack.config.js
Labels: Needs Work, UI, [branch] major

#4535 [Training] Remove training module
  SQL/0000-00-00-schema.sql
  SQL/0000-00-02-Menus.sql
  SQL/Cleanup_patches/2019-05-13-RemoveTraining.sql
  modules/training/.gitignore
  modules/training/README.md
  modules/training/ajax/getTabContent.php
  modules/training/ajax/getTabs.php
  modules/training/ajax/getTrainingDoc.php
  modules/training/ajax/markQuiz.php
  modules/training/css/training.css
  modules/training/help/training.md
  modules/training/js/training_helper.js
  modules/training/php/module.class.inc
  modules/training/php/training.class.inc
  modules/training/templates/form_training.tpl
  modules/training/templates/training.tpl
  modules/training/templates/training_pdf.tpl
  modules/training/templates/training_quiz.tpl
  modules/training/templates/training_tabs.tpl
  modules/training/templates/training_video.tpl
  modules/training/test/TestPlan.md
  modules/training/test/TrainingTest.php
  raisinbread/RB_files/RB_certification_training.sql
  raisinbread/RB_files/RB_certification_training_quiz_answers.sql
  raisinbread/RB_files/RB_certification_training_quiz_questions.sql
Labels: Cleanup, Passed Manual Tests, SQL

#4592 [Core/Timepoint] bug fix to update timepoint object when setting new data
  php/libraries/TimePoint.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4577 [UI CSS] fix data table grid css
  htdocs/bootstrap/css/custom-css.css
  jsx/DataTable.js
  modules/candidate_list/test/candidate_listTest.php
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/survey_accounts/test/survey_accountsTest.php
  modules/user_accounts/test/user_accountsTest.php
Labels: 21.0.0 Testing, Bug Fix, UI

#4578 Fix Api Warning
  htdocs/api/v0.0.3-dev/APIBase.php
  php/libraries/NDB_Client.class.inc
Labels: 21.0.0 Testing, API, Bug Fix

#4579 [Dashboard] TypeError: undefined is not an object (evaluating 'data.datasets.female')
  modules/dashboard/js/dashboard-helper.js
Labels: 21.0.0 Testing

#4599 [install] fix path
  tools/install.sh
Labels: 21.0.0 Testing, Bug Fix

#4575 [User] Fix TypeError that broke Publications module
  php/libraries/User.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4600 Add QC and data_release Loris Menu Permissions
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2019-05-15-LorisMenuPermissions_QC_and_datarelease.sql
Labels: 21.0.0 Testing

#4610 [Documentation] Fixed typo in raisin bread readme.
  raisinbread/README.md
Labels: Bug Fix, Documentation, Needs Rebase

#4601 [document_repository] int to string - can't upload file
  php/libraries/NDB_Notifier.class.inc
  php/libraries/NDB_Notifier_Abstract.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4618 [API] TypeError: Argument 2 passed to NDB_BVL_Instrument::factory() must be of the type string, null given, called in Loris/src/Api/Endpoints/Project/Instruments.php on line 107 in Loris/php/libraries/NDB_BVL_Instrument.class.inc on line 173
  src/Api/Endpoints/Project/Instruments.php
Labels: 21.0.0 Testing, API, Bug Fix

#4623 Candidate::getCandidateSex() must be of the type string, null returned in Loris/php/libraries/Candidate.class.inc on line 499 Call Stack
  php/libraries/Candidate.class.inc
Labels: 21.0.0 Testing, API, Bug Fix

#4612 [acknowledgements] [FilteredDataTable] onChange handler for Maximum rows per page
  jsx/DataTable.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4598 [login] Fix login Error log notice for examiner/radiologist
  modules/login/php/requestaccount.class.inc
Labels: 21.0.0 Testing, Cleanup, Needs Work

#4605 [acknowledgements] End Date, Affiliations,Degrees columns not populated
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/acknowledgements/php/acknowledgements.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4355 [conflict_resolver] upgraded module to use react
  jsx/DynamicDataTable.js
  jsx/StaticDataTable.js
  modules/conflict_resolver/jsx/conflictResolverIndex.js
  modules/conflict_resolver/jsx/resolvedConflictsIndex.js
  modules/conflict_resolver/jsx/resolved_conflicts_columnFormatter.js
  modules/conflict_resolver/jsx/unresolved_columnFormatter.js
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/conflict_resolver/templates/menu_conflict_resolver.tpl
  modules/conflict_resolver/templates/menu_resolved_conflicts.tpl
  modules/conflict_resolver/test/conflict_resolverTest.php
  webpack.config.js
Labels: Feature, Passed Manual Tests, [branch] major

#4587 [help_editor] Warning: Each child in an array or iterator should have a unique "key" prop.
  jsx/Markdown.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4517 [Examiner] Fix swal/modal closing
  modules/examiner/jsx/examinerIndex.js
  modules/examiner/test/TestPlan.md
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4619 [User] Make pwnedPassword function static
  php/libraries/User.class.inc
Labels: 21.0.0 Testing, Cleanup, Passed Manual Tests

#4596 Remove Menu link for reliability
  SQL/Cleanup_patches/2019-05-15-Reliability_link.sql
Labels: 21.0.0 Testing, Cleanup, SQL

#4632 [JSX] Fixed Datatable Pagination Bugs
  jsx/DataTable.js
  jsx/PaginationLinks.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4638 [Login] Add required to password-reset field
  modules/login/php/passwordreset.class.inc
Labels: 21.0.0 Testing, Passed Manual Tests, UI

#4656 [bvl_feedback] Fix broken link to instruments in summary panel
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4597 Fix INSERT ... WHERE EXIST
  SQL/New_patches/2019-05-03-deprecate_useprojects.sql
Labels: 21.0.0 Testing, Passed Manual Tests, SQL

#4489 [InstrumentControlPanel/CSS] change icons to font awesome
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  smarty/templates/instrumentstatus_controlpanel.tpl
Labels: Cleanup, Passed Manual Tests, UI, [branch] major

#4633 [JSX] Fixed Bug That Revealed Hidden Headers
  jsx/StaticDataTable.js
Labels: 21.0.0 Testing, Bug Fix, UI

#4659 [login/RequestAccount] Add required to form fields
  modules/login/php/requestaccount.class.inc
  php/libraries/LorisForm.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4617 [Data Release] Fixing PHP logic for adding permissions via versions
  modules/data_release/ajax/AddPermission.php
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4664 [user_accounts] Undefined index: NA_Password when updating user settings
  modules/user_accounts/php/edit_user.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4493 [Visit] Removed redundancy with project_rel table and standardize tables
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2018-01-17-normalisation_visit.sql
  php/libraries/VisitController.class.inc
  raisinbread/RB_files/RB_project_rel.sql
  raisinbread/RB_files/RB_visit_project_subproject_rel.sql
  test/unittests/VisitTest.php
Labels: Cleanup, SQL, [branch] major

#4629 [jsx/DataTable] Revert UI changes made in issuetracker PR
  jsx/DataTable.js
Labels: 21.0.0 Testing, Bug Fix, UI

#4675 [issue_tracker] Notice: Undefined index: userID in issuewatchermapper.class.inc
  modules/issue_tracker/php/issuewatchermapper.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4590 [JSX] Enabled Filter Query Params
  jsx/Filter.js
  jsx/FilterableDataTable.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4548 [Data Integrity Flag] Add users option in filtering + fix link to datateamhelper
  modules/data_integrity_flag/jsx/dataIntegrityFlagIndex.js
  modules/data_integrity_flag/php/data_integrity_flag.class.inc
  modules/data_integrity_flag/test/TestPlan.md
Labels: 21.0.0 Testing, Passed Manual Tests

#4637 Retored broken 'Acquisition ID' link on dicom archive details page.
  modules/dicom_archive/.gitignore
  modules/dicom_archive/js/view_details_link.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4661 [Statistics] Fix breakdown stats issue when visits were not populated
  modules/statistics/php/stats_demographic.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4669 [Publication] Change upload config settings to web_paths instead of text
  SQL/0000-00-03-ConfigTables.sql
  SQL/2019-05-22-ChangePublicationPathsToWebPathType.sql
Labels: Bug Fix, SQL

#4651 Patient name should be prepended to the name of a downloaded DICOM archive
  modules/dicom_archive/jsx/dicom_archive.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4402 [User Accounts] Fix bug where passwords were recorded in plaintext in history table
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  tools/single_use/remove_logged_passwords.php
Labels: Add to Release Notes, Bug Fix, Caveat for Existing Projects, Security

#4684 Correct column type of ValidMin ValidMax columns of mri_protocol_checks
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-05-23-correct_type_ValidMin_ValidMax_of_mri_protocol_checks.sql
Labels: Bug Fix, Priority: High, SQL, [branch] major

#4682 [RB] fix session entries to have a single first visit per candidate
  raisinbread/RB_files/RB_session.sql
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4671 [many modules] Tables overflow background on non-reactified modules.
  jsx/DataTable.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4528 [Acknowledgement] fix end date filtering
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/acknowledgements/php/acknowledgements.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4688 [21.0 release] Hotfix
  SQL/New_patches/2019-05-22-ChangePublicationPathsToWebPathType.sql
  modules/dicom_archive/.gitignore
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/RB_files/RB_LorisMenu.sql
  raisinbread/RB_files/RB_LorisMenuPermissions.sql
  raisinbread/migration
Labels: 21.0.0 Testing, Bug Fix, Cleanup

#3971 [document_repository] Rewrite and Reactify
  jsx/DataTable.js
  jsx/FilterableDataTable.js
  modules/dashboard/templates/form_dashboard.tpl
  modules/document_repository/ajax/GetFile.php
  modules/document_repository/ajax/addCategory.php
  modules/document_repository/ajax/categoryEdit.php
  modules/document_repository/ajax/documentDelete.php
  modules/document_repository/ajax/documentEditUpload.php
  modules/document_repository/ajax/getFileData.php
  modules/document_repository/js/.gitignore
  modules/document_repository/jsx/NullFilterableDataTable.js
  modules/document_repository/jsx/categoryForm.js
  modules/document_repository/jsx/childTree.js
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/jsx/editForm.js
  modules/document_repository/jsx/editFormIndex.js
  modules/document_repository/jsx/parentTree.js
  modules/document_repository/jsx/uploadForm.js
  modules/document_repository/php/doctree.class.inc
  modules/document_repository/php/document_repository.class.inc
  modules/document_repository/php/edit.class.inc
  modules/document_repository/php/files.class.inc
  modules/document_repository/php/module.class.inc
  modules/document_repository/php/uploadcategory.class.inc
  modules/document_repository/templates/menu_document_repository.tpl
  modules/document_repository/test/document_repositoryTest.php
  webpack.config.js
Labels: Cleanup, Document at Release, Feature, Passed Manual Tests, UI, [branch] major

#4681 [Instruments] Remove notice for undefined property: preview
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: 21.0.0 Testing, Cleanup

#4689 [jsx/DataTable.js] fix toggle sort order
  jsx/DataTable.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4680 [instrument_list] remove notices when no instruments are loaded in battery
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
Labels: 21.0.0 Testing, Cleanup, Passed Manual Tests

#4667 [instrument_list] can not load for next stage
  php/libraries/TimePoint.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4621 [TimePoint] Allow getApprovalStatus function to return null
  php/libraries/TimePoint.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4640 [Instrument] Change null to empty string in ConflictDetector
  php/libraries/ConflictDetector.class.inc
Labels: 21.0.0 Testing, Bug Fix

#4645 [bvl_feedback] feedback will only save after toggling 'Feedback Type'
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: 21.0.0 Testing, Bug Fix

#4652 [instrument_builder] Clicking "Edit" on a Header crashes the system
  modules/instrument_builder/jsx/react.questions.js
Labels: 21.0.0 Testing, Bug Fix

#4654 [candidate_list] Fix path to scan
  modules/candidate_list/jsx/candidateListIndex.js
Labels: 21.0.0 Testing, Blocked, Bug Fix

#4668 [publication] help dialog info
  modules/publication/help/publication.md
Labels: 21.0.0 Testing, Documentation

#4672 [statistics] fix imaging tab loading when Scan_Done is not in mri_parameter_form
  modules/statistics/php/stats_mri.class.inc
  modules/statistics/templates/form_stats_MRI.tpl
  modules/statistics/templates/table_statistics.tpl
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4676 [Timepoint/TestPlan] Updated TestPlan.md
  modules/timepoint_list/test/TestPlan.md
Labels: 21.0.0 Testing, Documentation

#4499 [dataquery] Removed last instance of getJS.php
  modules/README.md
  modules/dataquery/js/react.tabs.js
  modules/dataquery/jsx/react.tabs.js
Labels: Bug Fix, Passed Manual Tests, [branch] bugfix

#4648 [survey_accounts] Fixing unable to proceed/complete survey issue
  htdocs/survey.php
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4695 [Dicom Archive + Candidate List] Skip test causing transitory failures
  modules/candidate_list/test/candidate_listTest.php
  modules/dicom_archive/test/dicom_archiveTest.php
Labels: Meta, Testing

#4650 [Candidate List] Enabled Advanced Filter Toggle Via Query Params
  modules/candidate_list/jsx/candidateListIndex.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests, UI

#4666 [timepoint list/instrument list] Moved candidate info tables out of main.tpl
  htdocs/main.php
  modules/instrument_list/templates/menu_instrument_list.tpl
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/timepoint_list/templates/menu_timepoint_list.tpl
  php/libraries/NDB_BVL_Instrument.class.inc
  smarty/templates/instrument_html.tpl
  smarty/templates/main.tpl
Labels: 21.0.0 Testing, Cleanup, Passed Manual Tests

#4531 Fix errors in instrument manager and update test plan
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/test/TestPlan.md
Labels: 21.0.0 Testing, Bug Fix, Documentation, Passed Manual Tests

#4699 [login] check for X-FORWARDED-FOR before REMOTE_ADDR
  php/libraries/SinglePointLogin.class.inc
Labels: Bug Fix

#4643 DICOM archive details does not work when more than one upload is associated to the archive.
  modules/dicom_archive/php/viewdetails.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4694 [media] Correct explainer text in the Upload tab
  modules/media/jsx/uploadForm.js
Labels: 21.0.0 Testing, Cleanup, Documentation, Passed Manual Tests

#4306 [WIKI] Study Parameters - Sites
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/03 - Sites.md
  docs/wiki/99 - Developers/SQL Dictionary.md
  docs/wiki/99 - Developers/SQL Taxonomy.md
Labels: Documentation

#4591 [Statistics] Fix type error causing "breakdown by participant" link to give 500 error
  modules/statistics/php/statistics_site.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4698 [instrument_builder ] fix extra empty option in linst file and load page
  modules/instrument_builder/js/instrument_builder.instrument.js
  modules/instrument_builder/jsx/react.questions.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4719 [help_editor] fix help id
  modules/help_editor/jsx/help_editor.js
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests

#4721 [Doc repo] Fix undefined index error and update test plan
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/php/files.class.inc
  modules/document_repository/test/TestPlan.md
Labels: 21.0.0 Testing, Bug Fix, Documentation, Passed Manual Tests

#4692 [Imaging Browser] Sequence type column
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/php/imaging_browser.class.inc
Labels: 21.0.0 Testing, Bug Fix, Passed Manual Tests
