Repository aces/Loris, pull requests merged in 2019-04, with the labels that each got.

#4410 Sync package-lock.json with package.json
  package-lock.json
Labels: Cleanup, Meta

#4424 [Candidate Parameters] Remove deprecated functions
  modules/candidate_parameters/php/candidate_parameters.class.inc
Labels: Cleanup, [branch] major

#4407 Make getFullName and getSubtestList abstract
  php/libraries/LegacyInstrumentTrait.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/unittests/NDB_BVL_Instrument_ToJSON_Test.php
Labels: Add to Release Notes, Bug Fix, Caveat for Existing Projects, Cleanup, [branch] major

#4412 Make session CenterID and Visit_label not nullable
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-03-20-session-notnull.sql
Labels: Bug Fix, SQL, [branch] major

#4432 [User_accouts] bugfix - can't create a new user
  modules/user_accounts/php/edit_user.class.inc
Labels: Bug Fix, [branch] major

#4392 [Cleanup] Remove many magic numbers from the codebase
  php/libraries/SessionID.php
  src/Api/Endpoints/Login.php
  src/StudyEntities/Candidate/CandID.php
  tools/delete_candidate.php
  tools/delete_timepoint.php
  tools/detect_conflicts.php
  tools/detect_duplicated_commentids.php
  tools/generate_project_statistics_csv.php
  tools/resetpassword.php
  tools/single_use/Engine_Change_MyISAM_to_INNODB.php
Labels: Cleanup, Documentation, [branch] major

#4374 [Database] Add NOQUOTES as an HTML escaping option for JSON
  php/libraries/Database.class.inc
  test/unittests/Database_Test.php
Labels: Feature, Security, [branch] major

#4088 [New Profile] Reactify
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/php/module.class.inc
  modules/new_profile/php/new_profile.class.inc
  modules/new_profile/php/profile.class.inc
  modules/new_profile/templates/form_new_profile.tpl
  modules/new_profile/test/new_profileTest.php
  webpack.config.js
Labels: Cleanup, Passed Manual Tests, [branch] major

#4419 [Server Processes Manager] Fix LORIS crashing when mriCodePath is invalid
  modules/server_processes_manager/php/module.class.inc
  modules/server_processes_manager/test/server_processes_managerTest.php
Labels: Bug Fix, Testing, [branch] major

#4430 [Tool/Innodb] Fix help documentation and change confirm to apply
  tools/single_use/Engine_Change_MyISAM_to_INNODB.php
Labels: Cleanup, [branch] major

#4437 [instrument_list] Replace header table with HTML header element
  modules/instrument_list/templates/menu_instrument_list.tpl
Labels: Cleanup, Passed Manual Tests, [branch] major

#4435 [php/libraries/Project.class.inc] fix type hinting error by cast int
  php/libraries/Project.class.inc
Labels: Bug Fix, [branch] major

#4426 Standardize module .gitignore files
  modules/acknowledgements/.gitignore
  modules/acknowledgements/js/.gitignore
  modules/brainbrowser/.gitignore
  modules/brainbrowser/js/.gitignore
  modules/bvl_feedback/.gitignore
  modules/candidate_list/.gitignore
  modules/candidate_list/js/.gitignore
  modules/candidate_parameters/.gitignore
  modules/candidate_parameters/js/.gitignore
  modules/configuration/.gitignore
  modules/conflict_resolver/.gitignore
  modules/conflict_resolver/js/.gitignore
  modules/data_integrity_flag/.gitignore
  modules/data_release/.gitignore
  modules/data_release/user_uploads/.gitignore
  modules/data_team_helper/.gitignore
  modules/data_team_helper/js/.gitignore
  modules/datadict/.gitignore
  modules/datadict/js/.gitignore
  modules/dataquery/.gitignore
  modules/dataquery/js/.gitignore
  modules/dicom_archive/.gitignore
  modules/dicom_archive/js/.gitignore
  modules/document_repository/.gitignore
  modules/document_repository/user_uploads/.gitignore
  modules/examiner/.gitignore
  modules/genomic_browser/.gitignore
  modules/genomic_browser/js/.gitignore
  modules/help_editor/.gitignore
  modules/help_editor/js/.gitignore
  modules/imaging_browser/.gitignore
  modules/imaging_browser/js/.gitignore
  modules/imaging_uploader/.gitignore
  modules/imaging_uploader/js/.gitignore
  modules/instrument_builder/.gitignore
  modules/instrument_builder/js/.gitignore
  modules/instrument_manager/.gitignore
  modules/issue_tracker/.gitignore
  modules/issue_tracker/js/.gitignore
  modules/media/.gitignore
  modules/media/js/.gitignore
  modules/mri_violations/.gitignore
  modules/mri_violations/js/.gitignore
  modules/new_profile/.gitignore
  modules/quality_control/.gitignore
  modules/server_processes_manager/.gitignore
  modules/survey_accounts/.gitignore
  modules/survey_accounts/js/.gitignore
  modules/training/.gitignore
  modules/training/training_docs/.gitignore
  modules/user_accounts/.gitignore
  modules/user_accounts/js/.gitignore
Labels: Cleanup, [branch] major

#4438 [React/jsx] Render action buttons when data table is empty
  htdocs/bootstrap/css/custom-css.css
  jsx/DataTable.js
Labels: UI, [branch] major

#4384 [Acknowledgements] Reactify
  modules/acknowledgements/.gitignore
  modules/acknowledgements/js/acknowledgements_helper.js
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/acknowledgements/jsx/columnFormatter.js
  modules/acknowledgements/php/acknowledgements.class.inc
  modules/acknowledgements/templates/menu_acknowledgements.tpl
  modules/acknowledgements/test/AcknowledgementsTest.php
  webpack.config.js
Labels: Cleanup, Passed Manual Tests, [branch] major

#4443 Loris 20.3.0 Version + patches + JS transpiling + composer
  SQL/Release_patches/20.2_To_20.3_upgrade.sql
  VERSION
  composer.json
  composer.lock
  htdocs/installdb.php
  htdocs/mri/jiv/get_file.php
  htdocs/router.php
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/dicom_archive/php/viewdetails.class.inc
  modules/document_repository/ajax/documentEditUpload.php
  modules/genomic_browser/ajax/genomic_file_upload.php
  modules/imaging_browser/php/viewsession.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/publication/js/publicationIndex.js
  modules/publication/js/viewProjectIndex.js
  modules/timepoint_list/php/timepoint_list.class.inc
  php/installer/Installer.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup

#4378 [Test] unittest for AnonymousUser.class.inc
  test/unittests/AnonymousUserTest.php
Labels: Testing

#4448 Adding the image_type to the mri_protocol when identifying for imaging protocol
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-04-04_add_image_type_to_mri_protocol.sql
Labels: Add to Release Notes, Caveat for Existing Projects, Document at Release, SQL, [branch] minor

#4477 [Travis] remove distro
  .travis.yml
Labels: Testing, [branch] minor

#4454 [Issue_tracker] bug fix for 20.3-release | can't edit an issue
  modules/issue_tracker/js/index.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/index.js
  modules/issue_tracker/templates/menu_issue_tracker.tpl
  modules/issue_tracker/templates/menu_my_issue_tracker.tpl
  modules/issue_tracker/templates/menu_resolved_issue_tracker.tpl
Labels: Bug Fix, Critical to release

#4472 [Install.sh/Typo] Updated Ubuntu version number to include later versions
  tools/install.sh
Labels: Beginner Friendly, Cleanup, Passed Manual Tests

#4439 [SQL] Fixed array convention from [] to array()
  modules/media/ajax/FileUpload.php
  modules/media/php/media.class.inc
Labels: Cleanup
