Repository aces/Loris, pull requests merged in 2019-09, with the labels that each got.

#5159 [install] Install.sh - Unbound Variable errors in Bash scripts
  tools/install.sh
Labels: Bug

#5025 [Test] Add link to Raisinbread modification instructions to the CONTRIBUTING doc
  CONTRIBUTING.md
Labels: Documentation

#4917 Add new phan rule PhanUndeclaredVariableDim to static analysis
  .phan/config.php
  htdocs/feedback_mri_popup.php
  htdocs/main.php
  modules/candidate_list/php/candidate_list.class.inc
  modules/configuration/php/configuration.class.inc
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/document_repository/php/document_repository.class.inc
  modules/document_repository/php/files.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/help_editor/ajax/help.php
  modules/help_editor/php/edit_help_content.class.inc
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/issue_tracker/ajax/EditIssue.php
  modules/login/php/passwordreset.class.inc
  modules/login/php/requestaccount.class.inc
  modules/new_profile/php/new_profile.class.inc
  modules/next_stage/php/next_stage.class.inc
  modules/publication/ajax/getData.php
  modules/quality_control/php/quality_control.class.inc
  modules/server_processes_manager/php/serverprocessfactory.class.inc
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/FeedbackMRI.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_Factory.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/NDB_Page.class.inc
  php/libraries/User.class.inc
  php/libraries/Utility.class.inc
  src/Api/Endpoints/Project/Project.php
  src/Middleware/UserPageDecorationMiddleware.php
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/unittests/BreadcrumbTrailTest.php
Labels: Cleanup, Meta, Testing

#5014 [DICOM archive - Data Framework] Make DICOM archive menu filter use the DataFrameworkMenu
  modules/dicom_archive/jsx/dicom_archive.js
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/dicom_archive/php/dicomarchiverowprovisioner.class.inc
Labels: Cleanup

#5208 [jsx/Form.js] Make rendering label for SelectElement and TextboxElement optional
  jsx/Form.js
Labels: UI

#5220 Update npm packages containing security problems
  package-lock.json
Labels: Cleanup, Meta, Security

#5190 [Statistics] Fix render stats table to only render the MRI error on the MRI page
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/statistics/templates/table_statistics.tpl
Labels: Bug, Passed Manual Tests

#5118 [Candidate Parameters] fix permission check
  modules/candidate_parameters/ajax/formHandler.php
  modules/candidate_parameters/ajax/getData.php
Labels: Bug

#5210 [jsx/Form.js] Add <HeaderElement />
  jsx/Form.js
  modules/media/jsx/uploadForm.js
Labels: Passed Manual Tests, UI

#4345 Add new phan rule PhanTypeSuspiciousStringExpression
  .phan/config.php
  modules/dashboard/php/dashboard.class.inc
  php/libraries/Database.class.inc
  php/libraries/NDB_Page.class.inc
Labels: Cleanup, Meta, Passed Manual Tests

#5226 Correct 'minLength' to 'length' for PSCID generation
  docs/config/config.xml
  test/config.xml
  test/unittests/CandidateTest.php
Labels: Cleanup

#4919 [Project] Associate projects to sessions + fix/add foreign keys + c.ProjectID to c.RegistrationProjectID
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-07-01_add_projects_to_sessions.sql
  modules/api/php/projectimagesrowprovisioner.class.inc
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/templates/form_create_timepoint.tpl
  modules/create_timepoint/test/create_timepointTest.php
  modules/dashboard/php/dashboard.class.inc
  modules/dashboard/test/DashboardTest.php
  modules/data_team_helper/php/data_team_helper.class.inc
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/test/imaging_browserTest.php
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/mri_violations/test/mri_violationsTest.php
  modules/quality_control/php/quality_control.class.inc
  modules/statistics/php/statistics_dd_site.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/statistics_site.class.inc
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/survey_accounts/test/survey_accountsTest.php
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/timepoint_list/templates/menu_timepoint_list.tpl
  modules/timepoint_list/test/timepoint_listTest.php
  php/libraries/Candidate.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/Project.class.inc
  php/libraries/TimePoint.class.inc
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_Project.sql
  raisinbread/RB_files/RB_candidate.sql
  raisinbread/RB_files/RB_session.sql
  test/integrationtests/LorisIntegrationTestWithCandidate.class.inc
  test/test_instrument/test_instrumentTest.php
  test/unittests/CandidateTest.php
  test/unittests/UtilityTest.php
  tools/CouchDB_Import_Demographics.php
  tools/mri_violations_resolver.php
Labels: Feature

#5236 [php/libraries] Module.class.inc fixes slash bug when including directory for endpoint.
  php/libraries/Module.class.inc
Labels: Bug

#4411 [Core] Create Password class and refactor password updates
  composer.json
  composer.lock
  htdocs/installdb.php
  modules/dashboard/test/DashboardTest.php
  modules/login/php/passwordexpiry.class.inc
  modules/login/php/passwordreset.class.inc
  modules/login/templates/form_passwordexpiry.tpl
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/installer/Installer.class.inc
  php/libraries/Password.class.inc
  php/libraries/SinglePointLogin.class.inc
  php/libraries/User.class.inc
  php/libraries/Utility.class.inc
  test/integrationtests/Login_Test.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/unittests/PasswordTest.php
  test/unittests/UserTest.php
Labels: Feature, Security, Testing

#5239 [Phan] Re-add PhanTypeSuspiciousStringExpression rule
  .phan/config.php
Labels: Cleanup, Meta, Testing

#5024 [Test] unittests for NDB_Page.class.inc
  php/libraries/NDB_Page.class.inc
  test/unittests/NDB_PageTest.php
Labels: Testing

#5240 [Utility] Deprecate toArray() function
  php/libraries/Utility.class.inc
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup

#5233 [timepoint_list][bugfix] 'View Candidate Info' button wasn't redirecting
  modules/timepoint_list/php/timepoint_list_controlpanel.class.inc
  modules/timepoint_list/templates/timepoint_list_controlpanel.tpl
Labels: Bug

#5231 [Media] Use DataFrameworkMenu class
  modules/media/jsx/mediaIndex.js
  modules/media/php/media.class.inc
  php/libraries/DataFrameworkMenu.class.inc
Labels: Cleanup

#5249 Fix php linter
  test/run-php-linter.sh
Labels: Passed Manual Tests

#5245 [Install] Add -p to mkdir so install doesn't fail
  tools/install.sh
Labels: Bug, Passed Manual Tests

#4319 [documentation] Updated Mac install Guide
  README.Mac.md
Labels: Documentation

#5222 [Travis] selenium 3.81
  .travis.yml
  Dockerfile.test.php7
  docker-compose.yml
  modules/configuration/test/ConfigurationTest.php
  modules/issue_tracker/test/Issue_TrackerTest.php
  modules/next_stage/test/next_stageTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: Testing

#4967 [Core] Remove unreachable code in LORIS using phan
  .phan/config.php
  htdocs/mri/jiv/get_file.php
  modules/document_repository/php/files.class.inc
  modules/genomic_browser/test/genomic_browserTest.php
  modules/server_processes_manager/test/server_processes_managerTest.php
  php/installer/Database.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/Database.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/TimePoint.class.inc
Labels: Cleanup, Meta, Testing

#4350 [Core] Use CandID class in LORIS
  htdocs/main.php
  modules/bvl_feedback/ajax/bvl_panel_ajax.php
  modules/bvl_feedback/ajax/react_get_bvl_threads.php
  modules/candidate_list/php/validateids.class.inc
  modules/candidate_parameters/ajax/formHandler.php
  modules/candidate_parameters/ajax/getData.php
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/module.class.inc
  modules/new_profile/php/new_profile.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_Caller.class.inc
  php/libraries/NDB_Factory.class.inc
  php/libraries/TimePoint.class.inc
  src/Middleware/UserPageDecorationMiddleware.php
  test/unittests/CandidateTest.php
  tools/assign_missing_instruments.php
  tools/fix_timepoint_date_problems.php
Labels: Feature
