Repository aces/Loris, pull requests merged in 2019-11, with the labels that each got.

#5465 [SQL] fix unsourcable schema
  SQL/0000-00-00-schema.sql
Labels: 22.0.0 TESTING, Bug, Critical to release

#5442 [timepoint_list] Update test plan
  modules/timepoint_list/test/TestPlan.md
Labels: 22.0.0 TESTING, Testing

#5444 [imaging_browser] fixed query for the imaging browser
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-07-01_add_projects_to_sessions.sql
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: 22.0.0 TESTING, Bug

#5475 [Brainbrowser] Test plan update
  modules/brainbrowser/test/brainbrowser_test_plan.md
  modules/imaging_browser/README.md
Labels: 22.0.0 TESTING, Documentation

#5445 [Project] Fix instances of c.project coming from minor
  modules/api/php/provisioners/candidatesprovisioner.class.inc
  modules/statistics/php/stats_behavioural.class.inc
Labels: 22.0.0 TESTING, Bug

#5518 [candidate_parameters][bugfix] getData returning candID object was breaking in react
  modules/candidate_parameters/ajax/getData.php
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests, UI

#5528 [imaging_browser] Fix imaging browser query merge mix ups...
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5428 [acknowledgement] Remove edit buttons from UI when the user has no edit permission
  modules/acknowledgements/jsx/acknowledgementsIndex.js
Labels: 22.0.0 TESTING, Bug

#5531 [DocRepo] fix duplicate file error
  modules/document_repository/jsx/uploadForm.js
  modules/document_repository/php/files.class.inc
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5541 fix UI for statistics when on mobile mode
  htdocs/bootstrap/css/custom-css.css
  modules/statistics/templates/form_statistics.tpl
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5543 Fix repetitive messages in review page issue 5116
  smarty/templates/directentry.tpl
Labels: Cleanup

#5535 [Statistics] Fix Behavioural Statistics Value Not Updating Issue
  modules/statistics/php/stats_behavioural.class.inc
Labels: 22.0.0 TESTING, Bug

#5529 [Configuration] Fix issue where a Project could not be added without subproject data
  modules/configuration/ajax/updateProject.php
  php/libraries/Project.class.inc
Labels: 22.0.0 TESTING, Bug, Cleanup, Passed Manual Tests

#5513 [Imaging Uploader] Fix error where uploaded image did not display on front-end
  php/libraries/File_Upload.class.inc
Labels: Bug, Critical to release, Passed Manual Tests

#5426 [User Accounts] Fix password bugs: "confirm password" must match; password cannot be email
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release

#5525 [DocRepo] Update test plan for 22.0-release
  modules/document_repository/test/TestPlan.md
Labels: 22.0.0 TESTING, Documentation

#5521 [Data Team Helper] Remove untrue statement from DTH README
  modules/data_team_helper/README.md
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5540 [Issue Tracker] update test plan to delete items not relevant
  modules/issue_tracker/test/issue_tracker_test_plan.md
Labels: 22.0.0 TESTING, Documentation

#5497 [installdb.php] Fixes sourceSchema not reporting error
  php/installer/Installer.class.inc
Labels: 22.0.0 TESTING, Bug

#5512 [configuration] clean-up of testplan for readability
  modules/configuration/README.md
  modules/configuration/test/TestPlan.md
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5523 Update README for 22 release
  README.md
Labels: 22.0.0 TESTING, Documentation

#5530 [brainbrowser] Add permissions to view the module
  modules/brainbrowser/php/brainbrowser.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release

#5549 Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 22.0.0 TESTING, Documentation, Passed Manual Tests

#5537 [Notification/Permissions] Fix raisinbread data rels
  raisinbread/RB_files/RB_notification_modules.sql
  raisinbread/RB_files/RB_notification_modules_perm_rel.sql
  raisinbread/RB_files/RB_notification_modules_services_rel.sql
Labels: 22.0.0 TESTING, RaisinBread

#5519 [Instrument Manager] Improving Instrument Manager TestPlan
  modules/instrument_manager/test/TestPlan.md
Labels: Documentation

#5534 Improve instrument builder test plan
  modules/instrument_builder/test/TestPlan.md
Labels: 22.0.0 TESTING, Documentation

#5557 [data_release] Add new permission for viewing only
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2019-11-01-Add_data_release_permissions.sql
  modules/data_release/php/data_release.class.inc
  raisinbread/RB_files/RB_LorisMenuPermissions.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
Labels: 22.0.0 TESTING, Bug, Critical to release, RaisinBread, SQL, Security

#5553 [create_timepoint] Fix null project bug
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/test/create_timepointTest.php
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5558 [datadict] Test plan improved readability and fixed script location
  modules/datadict/test/TestPlan.md
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5401 Bugfix display echo time repetition time
  modules/imaging_browser/php/viewsession.class.inc
Labels: Bug

#5536 [imaging_uploader] fix forbidden file types that could be uploaded
  modules/imaging_uploader/jsx/UploadForm.js
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5450 [dicom_archive] fixed the metadata not being displayed in the view details page
  modules/dicom_archive/php/viewdetails.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release

#5568 [Create timepoint] testplan update
  modules/create_timepoint/test/TestPlan
  modules/create_timepoint/test/TestPlan.md
Labels: 22.0.0 TESTING, Documentation

#5522 Fix 5467 bvl feedback thread status update
  modules/bvl_feedback/ajax/close_bvl_feedback_thread.php
  modules/bvl_feedback/ajax/open_bvl_feedback_thread.php
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: 22.0.0 TESTING, Bug

#5572 [DocRepo] Clean up directory content and let filter without folders
  modules/document_repository/jsx/docIndex.js
Labels: 22.0.0 TESTING, Cleanup, Critical to release, Passed Manual Tests, UI

#5555 [New Profile] Fix TypeError when creating candidate with "user" generation method
  modules/new_profile/php/new_profile.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release

#5545 [Examiner] Fixing Errors while saving the form
  modules/examiner/php/editexaminer.class.inc
Labels: 22.0.0 TESTING, Bug

#5579 [Examiner README] Remove Reference of Training Module
  modules/examiner/README.md
Labels: 22.0.0 TESTING, Documentation

#5584 [acknowledgements] fix bug where users with edit permission only could not access the module
  modules/acknowledgements/php/acknowledgements.class.inc
Labels: 22.0.0 TESTING, Bug

#5546 [MRI_Violations] Fixes permission bug; integration test to confirm bug fix; test plan update
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
  modules/mri_violations/php/mri_protocol_violations.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/mri_violations/test/TestPlan.md
  modules/mri_violations/test/mri_violationsTest.php
Labels: 22.0.0 TESTING, Bug, Documentation, Testing

#5556 [Configuration] Added new Alias field to the front end
  modules/configuration/ajax/updateProject.php
  modules/configuration/js/project.js
  modules/configuration/templates/form_project.tpl
  php/libraries/NDB_Config.class.inc
  php/libraries/Project.class.inc
  test/unittests/NDB_ConfigTest.php
Labels: 22.0.0 TESTING, Bug, Critical to release

#5514 [Testing] Add unit tests for User::passwordChanged
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/libraries/User.class.inc
  test/unittests/UserTest.php
Labels: 22.0.0 TESTING, Critical to release, Testing

#5592 [Configuration] display radio buttons when boolean field does not have a default option
  modules/configuration/templates/form_configuration.tpl
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5585 [Media] Added Project to Columns; Added Language to Edit File Form
  modules/media/ajax/FileUpload.php
  modules/media/jsx/editForm.js
  modules/media/jsx/mediaIndex.js
  modules/media/php/media.class.inc
Labels: 22.0.0 TESTING, Bug

#5492 [install CentOS] Fixes httpd apache module for php is missing
  README.CentOS7.md
Labels: 22.0.0 TESTING, Bug, Documentation

#5491 [install CentOS] mariadb packages to lowercase correction
  README.CentOS7.md
Labels: 22.0.0 TESTING, Documentation

#5598 [brainbrowser] testplan update
  modules/brainbrowser/test/brainbrowser_test_plan.md
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5594 [Test] Restore test_all_fields instrument for use in testing Instrument Manager
  test/instruments/test_all_fields.linst
Labels: 22.0.0 TESTING, Cleanup, Testing

#5433 Remove references to deleted Reliability module
  modules/statistics/js/form_stats_reliability.js
  test/config.xml
Labels: Cleanup

#5602 [User] Fix TypeError in password verification
  php/libraries/User.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release

#5386 [webpack.config.js] update for build speed and correction
  webpack.config.js
Labels: Feature, Meta, Passed Manual Tests

#5605 [configurations] Allow for both 0/1 or true/false to be used
  modules/configuration/templates/form_configuration.tpl
  modules/configuration/test/TestPlan.md
Labels: 22.0.0 TESTING, Bug, Critical to release, Documentation

#5593 [RB] Add a default for the config setting instrumentResetting
  raisinbread/RB_files/RB_Config.sql
Labels: Cleanup, RaisinBread, SQL

#5600 [JSX - DataTable] Resolve Pagination and CSVDownload Issues
  jsx/DataTable.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5614 [User Accounts] Update password strength rules documentation
  modules/user_accounts/templates/form_edit_user.tpl
  modules/user_accounts/templates/form_my_preferences.tpl
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5400 [Candidate List] change visitLabel filter to dropdown, fix link issue
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/test/candidate_listTest.php
Labels: Bug, Passed Manual Tests, UI

#5620 Rename Quality control and data team helper to imaging/behavioural QC and reorganise menu
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Menus.sql
  SQL/New_patches/2019-11-12-Rename_modules_QC_and_DTH.sql
  modules/behavioural_qc/.gitignore
  modules/behavioural_qc/README.md
  modules/behavioural_qc/ajax/GetCandidates.php
  modules/behavioural_qc/ajax/GetInstruments.php
  modules/behavioural_qc/css/behavioural_qc.css
  modules/behavioural_qc/help/behavioural_qc.md
  modules/behavioural_qc/js/behavioural_qc.js
  modules/behavioural_qc/jsx/behavioural_qc_module.js
  modules/behavioural_qc/php/behavioural_qc.class.inc
  modules/behavioural_qc/php/module.class.inc
  modules/behavioural_qc/templates/form_behavioural_qc.tpl
  modules/behavioural_qc/test/TestPlan.md
  modules/behavioural_qc/test/behavioural_qcTest.php
  modules/data_integrity_flag/jsx/dataIntegrityFlagIndex.js
  modules/data_integrity_flag/test/TestPlan.md
  modules/imaging_qc/.gitignore
  modules/imaging_qc/js/qualityControlIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
  modules/imaging_qc/php/imaging_qc.class.inc
  modules/imaging_qc/php/module.class.inc
  modules/imaging_qc/test/imaging_qcTest.php
  modules/quality_control/.gitignore
  modules/quality_control/php/quality_control_behavioral.class.inc
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_LorisMenu.sql
  raisinbread/RB_files/RB_permissions.sql
  test/phpunit.xml
  webpack.config.js
Labels: 22.0.0 TESTING, Cleanup, Critical to release

#5646 [behavioural_qc] Fix rida cant spell issues
  modules/behavioural_qc/jsx/behavioural_qc_module.js
  modules/behavioural_qc/templates/form_behavioural_qc.tpl
  modules/behavioural_qc/test/behavioural_qcTest.php
Labels: 22.0.0 TESTING, Beginner Friendly, Critical to release

#5604 [New Profile] Updates to module help text
  modules/new_profile/help/new_profile.md
Labels: Documentation

#5258 [Documentation] Created Survey Accounts module help text
  modules/survey_accounts/help/survey_accounts.md
Labels: Documentation

#5538 [User Accounts] Add integration tests for password change logic
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/test/TestPlan.md
  modules/user_accounts/test/user_accountsTest.php
  php/libraries/User.class.inc
  test/unittests/UserTest.php
Labels: 22.0.0 TESTING, Cleanup, Critical to release, Documentation, Testing

#5625 [brainbrowser] Fix overlay control panel display
  modules/brainbrowser/templates/form_brainbrowser.tpl
Labels: 22.0.0 TESTING, Passed Manual Tests, UI

#5629 [imaging_qc] error log pollution fix
  modules/imaging_qc/php/imaging_qc.class.inc
Labels: 22.0.0 TESTING, Cleanup, Passed Manual Tests

#5628 [behavioural_qc] error log pollution fix
  modules/behavioural_qc/php/behavioural_qc.class.inc
Labels: 22.0.0 TESTING, Cleanup, Passed Manual Tests

#5596 [RB] Add SNPs to fix orphan fields from SNP_candidate_rel
  raisinbread/RB_files/RB_SNP.sql
Labels: 22.0.0 TESTING, Bug, RaisinBread

#5590 [RB instruments] Fixed MRI parameter form not saving dates
  raisinbread/instruments/NDB_BVL_Instrument_mri_parameter_form.class.inc
  raisinbread/instruments/instrument_sql/mri_parameter_form.sql
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5644 [Install] Fix crash due to unbound variable access
  tools/install.sh
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5624 [SQL] Put back config setting default_bids_vl in schema
  SQL/0000-00-03-ConfigTables.sql
Labels: 22.0.0 TESTING, Critical to release, Passed Manual Tests, SQL

#5637 [Imaging Uploader] updated module help text
  modules/imaging_uploader/help/imaging_uploader.md
Labels: Documentation

#5607 [Dashboard] Updated module help text
  modules/dashboard/help/dashboard.md
Labels: Documentation

#5638 [behavioural_qc] pagination fix
  modules/behavioural_qc/jsx/behavioural_qc_module.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5524 [Configuration] multiple entry fields broken - bug fix
  modules/configuration/ajax/process.php
  modules/configuration/js/configuration_helper.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5291 [JSX] Enabled Data Mapping for CSV Downloads
  jsx/DataTable.js
  jsx/FilterableDataTable.js
  modules/media/jsx/mediaIndex.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Feature, Passed Manual Tests

#5662 [Data Release] updated module help text
  modules/data_release/help/data_release.md
Labels: Documentation

#5666 [Help Editor] updated module help text
  modules/help_editor/help/help_editor.md
Labels: 22.0.0 TESTING, Documentation

#5655 [Document Repository] updated module help text
  modules/document_repository/help/document_repository.md
Labels: 22.0.0 TESTING, Documentation

#5669 [Configuration] updated module help text
  modules/configuration/help/configuration.md
Labels: 22.0.0 TESTING, Documentation

#5623 [MRI Violated Scans] updated module helptext
  modules/conflict_resolver/help/conflict_resolver.md
  modules/mri_violations/help/mri_violations.md
Labels: 22.0.0 TESTING, Documentation

#5618 [libraries/FeedbackMRI.class.inc] visit level feedback undefined
  php/libraries/FeedbackMRI.class.inc
Labels: 22.0.0 TESTING, Cleanup

#5485 [install CentOS] required extensions for composer
  README.CentOS7.md
Labels: 22.0.0 TESTING, Documentation, Passed Manual Tests

#5499 [dataquery] Adding the test plan
  modules/dataquery/test/TestPlan.md
Labels: 22.0.0 TESTING, Documentation, Testing

#5649 [Media] Update test plan
  modules/media/test/TestPlan.md
Labels: 22.0.0 TESTING, Documentation

#5206 [Documentation] DQT module Readme
  modules/dataquery/help/dataquery.md
  modules/dataquery/readme.md
Labels: 22.0.0 TESTING, Documentation

#5580 [issue_tracker] Cleanup PHP Notice caused by unset variable
  modules/issue_tracker/ajax/EditIssue.php
Labels: 22.0.0 TESTING, Bug

#5606 [Access Profile/candidate_list] Updated module help text
  modules/candidate_list/help/candidate_list.md
Labels: 22.0.0 TESTING, Documentation

#5610 [Examiner] Updated module help text
  modules/examiner/help/examiner.md
Labels: Documentation

#5611 [Media] updated module help text
  modules/media/help/media.md
Labels: 22.0.0 TESTING, Documentation

#5660 Push v21.0.x into 22 release
  jsx/DataTable.js
  jsx/FilterableDataTable.js
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_list/test/candidate_listTest.php
  modules/imaging_browser/php/viewsession.class.inc
  modules/media/jsx/mediaIndex.js
  modules/statistics/js/form_stats_reliability.js
  package-lock.json
  test/config.xml
Labels: Critical to release

#5670 [Server Processes Manager] updated module help text
  modules/server_processes_manager/help/server_processes_manager.md
Labels: Documentation

#5663 [Acknowledgements] updated module help text
  modules/acknowledgements/help/acknowledgements.md
Labels: 22.0.0 TESTING, Documentation

#5648 Fix account lockout when special character present in password
  modules/login/php/passwordexpiry.class.inc
  modules/login/php/passwordreset.class.inc
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5650 [Statistics] updated module help text
  modules/statistics/help/statistics.md
Labels: 22.0.0 TESTING, Documentation

#5399 [dataquery] Fixed broken link for 'deleteAll' and fixed save error on query names that contain spaces
  modules/dataquery/jsx/react.app.js
  modules/dataquery/jsx/react.fieldselector.js
Labels: Bug, Passed Manual Tests, UI

#5664 [Issue Tracker] updated module help text
  modules/issue_tracker/help/issue_tracker.md
Labels: 22.0.0 TESTING, Documentation

#5665 [User Accounts] updated module help text
  modules/user_accounts/help/user_accounts.md
Labels: 22.0.0 TESTING, Documentation

#5577 [Media] Resolving Issues from Testing
  modules/media/ajax/FileUpload.php
  modules/media/jsx/editForm.js
  modules/media/jsx/uploadForm.js
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5414 [Travis] Update php-ast from 1.0.1 to 1.0.3
  .travis.yml
Labels: Meta, Testing

#5441 [WIKI] Study param overview
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/00 - Introduction to Study Variables.md
Labels: Documentation

#5661 [Genomic Browser] updated module help text
  modules/genomic_browser/help/genomic_browser.md
Labels: 22.0.0 TESTING, Documentation

#5609 [New Profile] Removed Panel From New Profile Module
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/test/new_profileTest.php
Labels: 22.0.0 TESTING, Cleanup, Passed Manual Tests, UI

#5653 [Publications] updated module help text
  modules/publication/help/publication.md
Labels: 22.0.0 TESTING, Documentation

#5654 [Data Dictionary] updated module help text
  modules/datadict/help/datadict.md
Labels: Documentation

#5680 [Login] Fix issue where password could not be reset
  modules/login/php/passwordexpiry.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Security

#5571 [Test] Fix Docker scripts crashing when variables not set
  Dockerfile.test.php7.debug
  test/dockerized-integration-tests.sh
  test/dockerized-unit-tests.sh
  test/wait-for-services.sh
Labels: Bug, Testing

#5533 [install CentOS] httpd.conf configuration instructions
  README.CentOS7.md
Labels: 22.0.0 TESTING, Documentation

#5694 [Statistics] Help file typo
  modules/statistics/help/statistics.md
Labels: Critical to release, Documentation

#5353 [User Accounts] Hide UI option allowing users to edit their own approval status
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/test/user_accountsTest.php
Labels: 22.0.0 TESTING, Bug, Cleanup

#5686 Script to create VERSION file without git
  Makefile
  tools/gen-version.sh
Labels: 22.0.0 TESTING, Bug, Critical to release, Meta

#5677 [brainbrowser] fix multiple volumes display bug
  modules/brainbrowser/js/brainbrowser.loris.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5671 [Survey Accounts] updated module help text
  modules/survey_accounts/help/survey_accounts.md
Labels: 22.0.0 TESTING, Documentation

#5697 [DQT] Restore help file; update contents
  modules/dataquery/help/dataquery.md
Labels: 22.0.0 TESTING, Documentation

#5658 [Instrument Builder] updated module help text
  modules/instrument_builder/help/instrument_builder.md
Labels: 22.0.0 TESTING, Documentation

#5490 [install CentOS] PDO class not found fix for centos
  README.CentOS7.md
Labels: 22.0.0 TESTING, Documentation

#5657 [Data Integrity Flag] updated module help text
  modules/data_integrity_flag/help/data_integrity_flag.md
Labels: 22.0.0 TESTING, Documentation

#5659 [Behavioural QC] updated module help text
  modules/behavioural_qc/help/behavioural_qc.md
Labels: 22.0.0 TESTING, Documentation

#5667 [Instrument Manager] updated module help text
  modules/instrument_manager/help/instrument_manager.md
Labels: 22.0.0 TESTING, Documentation

#5672 [Imaging QC] new module help text
  modules/imaging_qc/help/imaging_qc.md
Labels: 22.0.0 TESTING, Documentation

#5707 [Configuration] Small wording changes to documents
  modules/configuration/README.md
  modules/configuration/test/TestPlan.md
Labels: 22.0.0 TESTING, Cleanup, Documentation

#5693 [Conflict Resolver] Restore help file and update
  modules/conflict_resolver/help/conflict_resolver.md
Labels: 22.0.0 TESTING, Documentation

#5688 [DICOM Archive - good] updated module help text
  modules/dicom_archive/help/dicom_archive.md
Labels: 22.0.0 TESTING, Documentation

#5724 [api] fixed project bugs in the API
  modules/api/php/endpoints/candidates.class.inc
  modules/api/php/provisioners/projectimagesrowprovisioner.class.inc
Labels: 22.0.0 TESTING, API, Critical to release

#5699 [Core] Fix TypeError/500 error when Certification settings not well-formatted
  modules/instrument_manager/php/instrument_manager.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5752 [Data release] Edge case where version 0 always shows up checked
  modules/data_release/templates/menu_data_release.tpl
Labels: Bug, Critical to release

#5753 [publication] Broken link in Breadcrumbs fix
  modules/publication/php/view_project.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5765 [conflict_resolver] display correct answer bug
  modules/conflict_resolver/jsx/resolvedConflictsIndex.js
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5717 [SQL] Release patches archiving and concatenation
  SQL/Archive/22.0/2019-04-30-project-rel-rename.sql
  SQL/Archive/22.0/2019-07-01_add_projects_to_sessions.sql
  SQL/Archive/22.0/2019-07-04-remove_header_row_from_parameter_file_and_convert_back_to_Value_field_to_text.sql
  SQL/Archive/22.0/2019-07-10-subproject-session-FK.sql
  SQL/Archive/22.0/2019-07-17_remove_mri_acquisition_dates_table.sql
  SQL/Archive/22.0/2019-08-05-add_projects_to_users.sql
  SQL/Archive/22.0/2019-10-01_Rename-media-column.sql
  SQL/Archive/22.0/2019-10-05-Add_alias_to_projects.sql
  SQL/Archive/22.0/2019-11-01-Add_data_release_permissions.sql
  SQL/Archive/22.0/2019-11-12-Rename_modules_QC_and_DTH.sql
  SQL/Release_patches/21.0_To_22.0_upgrade.sql
Labels: Critical to release, Passed Manual Tests, SQL

#5713 [Core] Fix help text not loading for subpages
  modules/help_editor/ajax/help.php
  modules/imaging_browser/templates/form_viewSession.tpl
  src/Middleware/UserPageDecorationMiddleware.php
Labels: 22.0.0 TESTING, Blocking, Bug, Critical to release, Passed Manual Tests

#5716 [MRI_violation] clarification to instruction and few grammatical corrections
  modules/mri_violations/test/TestPlan.md
Labels: Documentation

#5690 [Imaging Browser - good] updated module help text
  modules/imaging_browser/help/imaging_browser.md
  modules/imaging_browser/help/viewSession.md
Labels: 22.0.0 TESTING, Documentation

#5745 [My Preferences - good] created module help text
  modules/user_accounts/help/my_preferences.md
Labels: Documentation

#5726 [Core] Escape shell argument in Instrument class
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Security

#5721 [RB] Updated migration file
  raisinbread/RB_files/RB_parameter_type.sql
  raisinbread/migration.md
Labels: Critical to release, RaisinBread

#5757 [CentOS] update installation instructions for NodeJS
  README.CentOS7.md
Labels: 22.0.0 TESTING, Critical to release, Documentation

#5788 [document_repository] Fix clicking on the 'Edit' Breadcrumb
  modules/document_repository/php/edit.class.inc
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5779 [User Accounts] Remove bad email validation in my preferences
  modules/user_accounts/php/my_preferences.class.inc
Labels: 22.0.0 TESTING, Bug

#5792 Candidate parametrers fail to load
  modules/candidate_parameters/ajax/getData.php
Labels: 22.0.0 TESTING, Critical to release

#5737 [Instruments/instrument_list] Fix bug where Instrument set to in progress as soon as it is accessed
  php/libraries/NDB_BVL_InstrumentStatus.class.inc
Labels: 22.0.0 TESTING, Bug, Critical to release, Passed Manual Tests

#5740 [Candidate Parameters] Updated help text
  modules/candidate_parameters/help/candidate_parameters.md
Labels: Documentation

#5764 [install.sh] Script fails when not run in `tools/` directory
  tools/install.sh
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5767 [feedback_mri_comments] Removed empty Overall drop down
  smarty/templates/feedback_mri_popup.tpl
Labels: 22.0.0 TESTING, Bug, Passed Manual Tests

#5781 [Instrument Manager] Require 'superuser' permission for instrument upload
  modules/instrument_manager/README.md
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/test/TestPlan.md
  modules/instrument_manager/test/instrument_managerTest.php
Labels: 22.0.0 TESTING, Security

#5747 [User Accounts - Add/Edit User] created help text
  modules/user_accounts/help/edit_user.md
Labels: 22.0.0 TESTING, Documentation

#5770 [Genomic Browser subpages] updated helptext
  modules/genomic_browser/help/cnv_browser.md
  modules/genomic_browser/help/cpg_browser.md
  modules/genomic_browser/help/genomic_file_uploader.md
  modules/genomic_browser/help/gwas_browser.md
  modules/genomic_browser/help/snp_browser.md
Labels: Documentation

#5760 [instrument_list] Change check for submitted and populate RB
  SQL/0000-00-00-schema.sql
  SQL/Archive/22.0/2019-11-25-Default_value_for_session_submitted.sql
  SQL/Release_patches/21.0_To_22.0_upgrade.sql
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  raisinbread/RB_files/RB_session.sql
  raisinbread/migration.md
Labels: 22.0.0 TESTING, Bug

#5802 Fixed bug that prevented any consent status from being saved.
  modules/candidate_parameters/ajax/formHandler.php
Labels: 22.0.0 TESTING, Bug, Critical to release

#5804 [Candidate List] Fixed bug: Subproject column not displayed if value was null
  modules/candidate_list/jsx/candidateListIndex.js
Labels: Bug, Critical to release

#5471 [Readme] fixing code formatting typo in main Ubuntu readme
  README.md
Labels: 22.0.0 TESTING, Documentation

#5742 [Create Timepoint] updated module help text
  modules/create_timepoint/help/create_timepoint.md
Labels: 22.0.0 TESTING, Documentation

#5741 [Timepoint List] updated module help text
  modules/timepoint_list/help/timepoint_list.md
Labels: Documentation

#5744 [Configuration] help text for subpages Project and Subproject
  modules/configuration/help/project.md
  modules/configuration/help/subproject.md
Labels: Documentation
