Repository aces/Loris, pull requests merged in 2019-12, with the labels that each got.

#5719 [DICOM Archive] Skip unstable integration test
  modules/dicom_archive/test/dicom_archiveTest.php
Labels: Meta, Testing

#5821 Array offsets: change curly brackets to square brackets
  modules/configuration/php/configuration.class.inc
Labels: Cleanup

#5783 [Core] Add Other to possible values for candidate Sex
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-11-26-AddOtherSexEnum.sql
  docs/API/LorisRESTAPI.md
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_parameters/jsx/ProbandInfo.js
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/genomic_browser.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/new_profile/php/new_profile.class.inc
  php/libraries/Candidate.class.inc
  tools/CouchDB_Import_Demographics.php
Labels: Blocking, Feature, SQL

#4301 [WIKI] Study Parameters - Projects
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/02 - Projects.md
Labels: Documentation

#5597 [RB] Removed user_login_history
  raisinbread/.gitignore
  raisinbread/RB_files/RB_user_login_history.sql
Labels: Cleanup

#5825 [Data Query] Fix capitalization of DQT README filename
  modules/dataquery/README.md
Labels: Cleanup, Meta

#5837 Remove main.php file from LORIS
  htdocs/js/helpHandler.js
  htdocs/main.php
Labels: Cleanup, Passed Manual Tests

#5319 Deprecate unmaintained Vagrantfile
  tools/deprecated/Vagrantfile
Labels: Cleanup, Meta

#5384 Add ReadTheDocs build badge to LORIS readme
  README.md
Labels: Documentation

#5824 [Data Integrity Flag] Remove unused module
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Menus.sql
  SQL/Cleanup_patches/Remove-DataIntegrityFlag.sql
  modules/data_integrity_flag/.gitignore
  modules/data_integrity_flag/README
  modules/data_integrity_flag/help/data_integrity_flag.md
  modules/data_integrity_flag/jsx/dataIntegrityFlagIndex.js
  modules/data_integrity_flag/jsx/setFlagForm.js
  modules/data_integrity_flag/php/data_integrity_flag.class.inc
  modules/data_integrity_flag/php/module.class.inc
  modules/data_integrity_flag/test/TestPlan.md
  modules/data_integrity_flag/test/data_integrity_flagTest.php
  raisinbread/RB_files/RB_LorisMenu.sql
  raisinbread/RB_files/RB_data_integrity_flag.sql
  raisinbread/RB_files/RB_permissions.sql
  test/phpunit.xml
  webpack.config.js
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, Critical to release

#5785 Rename quatUser & quatPassword to something more descriptive
  docs/config/config.xml
  docs/deprecated_wiki/Setup/Initial Setup/Behavioural Database/Behavioural-Database.md
  modules/instrument_manager/README.md
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/instrument_manager/php/instrument_manager.class.inc
  raisinbread/config/config.xml
  test/config.xml
  tools/exporters/DB_dump_table_data.php
  tools/single_use/Engine_Change_MyISAM_to_INNODB.php
Labels: Caveat for Existing Projects, Cleanup, Document at Release

#5848 Add LORIS logo to README
  README.md
Labels: Meta, UI

#5851 Change LORIS logo in readme to SVG to prevent blurriness
  README.md
Labels: Cleanup, Meta

#4309 [WIKI] Study Parameters - Visits
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/05 - Timepoints.md
  docs/wiki/99 - Developers/SQL Dictionary.md
Labels: Documentation

#5841 [DQT Importer] Issue where script breaks if scantype has a '-' character
  tools/CouchDB_MRI_Importer.php
Labels: Bug

#5171 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Meta, Proposal

#5844 [ReadTheDocs] Add existing wiki files to the navigation tree
  mkdocs.yml
Labels: Documentation

#5275 Updating postdeploy script for Heroku
  htdocs/postdeploy.php
Labels: Cleanup, Meta, Needs Rebase

#5351 Update PHPUnit to version 7
  composer.json
  composer.lock
Labels: Meta, Passed Manual Tests, Testing

#5603 [Install] System requirements state MySQL >= 5.7 but in fact MySQL 8 will run into trouble
  README.md
Labels: Documentation

#5805 Style Guide for Help Text
  docs/HelpStyleGuide.md
  docs/images/helptext.png
Labels: Documentation

#5858 Document composer version
  README.md
Labels: Documentation

#4469 [WIKI] Study Parameter - Identifiers
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/01 - Identifiers.md
Labels: Documentation

#5852 [WIKI] Study Parameters - Subprojects
  docs/wiki/01 - STUDY PARAMETERS SETUP/01 - Study Variables/04 - Subprojects.md
  docs/wiki/99 - Developers/SQL Dictionary.md
Labels: Documentation

#5855 [Survey Accounts] Fix formatting of error message
  modules/survey_accounts/php/addsurvey.class.inc
Labels: Bug

#5862 [ReadTheDocs] Add style guide to navigation bar
  mkdocs.yml
Labels: Documentation

#5871 Move config files for static analysis tools to test/ directory
  test/LorisCS.xml
  test/LorisPHPMD.xml
  test/SrcCS.xml
  test/run-php-linter.sh
Labels: Cleanup, Meta

#5403 Update CONTRIBUTING.md with new branch information
  CONTRIBUTING.md
Labels: Documentation

#5763 Cleanup pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Meta

#5780 [Utility] Deprecate getAssociativeSiteList()
  modules/api/php/endpoints/candidates.class.inc
  modules/dashboard/ajax/get_recruitment_bar_data.php
  modules/dashboard/ajax/get_recruitment_line_data.php
  modules/dashboard/ajax/get_recruitment_pie_data.php
  modules/dashboard/ajax/get_scan_line_data.php
  modules/issue_tracker/ajax/EditIssue.php
  php/libraries/Utility.class.inc
  test/unittests/UtilityTest.php
Labels: Cleanup, Document at Release

#5790 [document_repository] Update TestPlan.md
  modules/document_repository/test/TestPlan.md
Labels: Documentation

#5840 Add CHANGELOG file
  CHANGELOG.md
Labels: Documentation

#5838 [SQL] Remove permissions for data_release in LorisMenu
  SQL/0000-00-02-Menus.sql
  SQL/Cleanup_patches/2019-12-05-Remove_lorisMenuPermissions_for_data_release.sql
Labels: Bug, Needs Rebase, SQL

#5877 Remove references to "major" branch in documentation
  test/UnitTestGuide.md
Labels: Cleanup, Documentation

#5879 [Core] Update package-lock file
  package-lock.json
Labels: Cleanup, Meta

#5872 Move CentOS install instructions to ReadTheDocs wiki
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/CentOS/README.CentOS7.md
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/CentOS/README.md
Labels: Documentation

#5865 [ReadTheDocs] Add Subprojects & Timepoints to nav bar
  mkdocs.yml
Labels: Documentation

#5815 [data_release/document_repository] Make upload directory configurable
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019-11-29-Add_upload_directory_configuration.sql
  modules/data_release/README.md
  modules/data_release/ajax/FileUpload.php
  modules/data_release/ajax/GetFile.php
  modules/document_repository/php/files.class.inc
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/migration.md
  tools/install.sh
Labels: Add to Release Notes, Blocking, Cleanup, Feature, SQL
