Repository aces/Loris, pull requests merged in 2020-01, with the labels that each got.

#5827 [Genomic Browser] Reformat README to be in the same style as other module specs
  modules/genomic_browser/README.md
Labels: Cleanup, Documentation, Meta

#5846 [jsx/Form.js] new radio component!
  jsx/Form.js
Labels: Add to Release Notes, Feature, Passed Manual Tests, UI

#5895 [Core] Fix security vulnerabilities reported by npm
  package-lock.json
Labels: Meta, Passed Manual Tests, Security

#5388 Add configuration file for the Stale Bot tool
  .github/stale.yml
Labels: Meta

#5898 Remove stale bot exemptions because we're not using its auto-close feature
  .github/stale.yml
Labels: Meta

#5894 Replace zend-diactoros with laminas-diactoros
  composer.json
  composer.lock
  src/Http/Error.php
  src/Http/FileStream.php
  src/Http/Response.php
  src/Http/Response/JsonResponse.php
Labels: Meta

#5723 [Core] Raise minimum PHP requirement to 7.3
  .phan/config.php
  .travis.yml
  README.md
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/CentOS/README.CentOS7.md
  modules/create_timepoint/php/create_timepoint.class.inc
  php/libraries/NDB_Client.class.inc
Labels: Add to Release Notes, Blocking, Document at Release, Documentation, Security

#5899 [Core] Add getLastLogin helper to user class
  modules/dashboard/php/dashboard.class.inc
  php/libraries/User.class.inc
Labels: Blocking, Cleanup

#5900 [Dashboard/Statistics] Move dashboard ajax endpoints into the statistics module
  modules/dashboard/ajax/get_recruitment_bar_data.php
  modules/dashboard/ajax/get_recruitment_line_data.php
  modules/dashboard/ajax/get_recruitment_pie_data.php
  modules/dashboard/ajax/get_scan_line_data.php
  modules/dashboard/js/dashboard-helper.js
  modules/statistics/php/charts.class.inc
Labels: Blocking, Cleanup, Passed Manual Tests

#5902 Update PHPCS to latest version
  composer.json
  composer.lock
  htdocs/installdb.php
  modules/acknowledgements/php/module.class.inc
  modules/bvl_feedback/ajax/react_get_bvl_threads.php
  modules/data_release/php/module.class.inc
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/genomic_browser/php/module.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_qc/php/imaging_qc.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/issue_tracker/php/issue.class.inc
  modules/issue_tracker/php/module.class.inc
  modules/mri_violations/php/module.class.inc
  modules/next_stage/php/next_stage.class.inc
  modules/publication/php/module.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/SiteIDGenerator.php
Labels: Meta, Testing

#5874 Change remaining instances of "gender" to "sex"
  raisinbread/instruments/NDB_BVL_Instrument_medical_history.class.inc
Labels: Cleanup, Documentation

#5910 Various api fixes
  modules/api/php/endpoints/candidate/candidate.class.inc
  modules/api/php/views/candidate.class.inc
  modules/api/php/views/visit.class.inc
  modules/api/php/views/visit/dicoms.class.inc
  modules/api/php/views/visit/flags.class.inc
  modules/api/php/views/visit/image/qc.class.inc
  modules/api/php/views/visit/images.class.inc
  modules/api/php/views/visit/instrument.class.inc
  modules/api/php/views/visit/instruments.class.inc
  modules/api/php/views/visit/qc.class.inc
Labels: API, Bug

#5237 [src/Middleware] AnonymousPageDecorationMiddleware.php Post response bugfix
  src/Middleware/AnonymousPageDecorationMiddleware.php
Labels: Bug

#5274 [Server Process Manager] Convert TestPlan into Markdown
  modules/server_processes_manager/test/TestPlan.md
Labels: Cleanup, Documentation

#5578 Update NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Cleanup, Documentation, Needs Rebase

#4964 [Testing] Cleanup phan file and make explicit the settings we are using
  .phan/config.php
Labels: Cleanup, Documentation, Meta

#5890 Use module long name for Breadcrumb
  modules/mri_violations/test/mri_violationsTest.php
  php/libraries/NDB_Page.class.inc
Labels: Cleanup, UI

#5921 [Travis ] php7.2 to 7.3
  .travis.yml
  Dockerfile.test.php7
Labels: Testing

#5859 Document LORIS automated testing
  docs/wiki/99 - Developers/Automated Testing.md
  mkdocs.yml
Labels: Documentation

#5915 [API/Router] Move UnsupportedMediaType to the json folder
  src/Http/Response/JSON/UnsupportedMediaType.php
Labels: Bug

#5916 Phan mismatched return
  .phan/config.php
  modules/statistics/php/charts.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  php/libraries/CandIDGenerator.php
  php/libraries/File_Upload.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  test/unittests/UtilityTest.php
Labels: Cleanup

#5591 [Statistics / Behavioural Statistics] Fix: Users with permissions different from 'access_all_profiles' were not able to see the 'breakdown per participant' page.
  modules/statistics/php/statistics_site.class.inc
Labels: Bug, Security

#5252 [Statistics / Behavioural Statistics] Fix permission issue where users were allowed to see statistics from sites they don't have access to.
  modules/statistics/php/stats_behavioural.class.inc
Labels: Bug, Needs Rebase, Security

#5896 Refactor dashboard to move widgets into modules.
  modules/bvl_feedback/php/module.class.inc
  modules/bvl_feedback/templates/dashboardwidget.tpl
  modules/conflict_resolver/php/module.class.inc
  modules/dashboard/css/dashboard.css
  modules/dashboard/js/dashboard-helper.js
  modules/dashboard/php/dashboard.class.inc
  modules/dashboard/php/module.class.inc
  modules/dashboard/php/taskquerywidget.class.inc
  modules/dashboard/php/taskwidget.class.inc
  modules/dashboard/php/widget.class.inc
  modules/dashboard/php/widgetcontent.class.inc
  modules/dashboard/php/widgetdependencies.class.inc
  modules/dashboard/php/widgetdisplayprops.class.inc
  modules/dashboard/templates/form_dashboard.tpl
  modules/dashboard/templates/mytasks.tpl
  modules/dashboard/templates/panel.tpl
  modules/dashboard/templates/welcomebody.tpl
  modules/dashboard/templates/welcomefooter.tpl
  modules/dashboard/test/DashboardTest.php
  modules/document_repository/php/module.class.inc
  modules/document_repository/templates/docnotifications.tpl
  modules/imaging_browser/php/module.class.inc
  modules/instruments/php/module.class.inc
  modules/issue_tracker/php/module.class.inc
  modules/mri_violations/php/module.class.inc
  modules/statistics/css/recruitment.css
  modules/statistics/js/recruitment.js
  modules/statistics/js/studyprogression.js
  modules/statistics/php/module.class.inc
  modules/statistics/templates/progress_bar.tpl
  modules/statistics/templates/recruitment.tpl
  modules/statistics/templates/studyprogression.tpl
  modules/user_accounts/php/module.class.inc
  php/libraries/Module.class.inc
  php/libraries/User.class.inc
  raisinbread/RB_files/RB_modules.sql
  src/GUI/Widget.php
Labels: Add to Release Notes, Cleanup, Meta, Passed Manual Tests

#5918 [Phan] Fix PhanTypeMismatchDimFetch errors
  .phan/config.php
  php/libraries/NDB_Menu_Filter.class.inc
  test/unittests/LorisForms_Test.php
  test/unittests/VisitTest.php
Labels: Meta, Passed Manual Tests, Testing

#5928 Replace straggling reference to zend with laminas
  htdocs/index.php
  modules/api/php/endpoints/candidate/visit/image/format/raw.class.inc
  modules/api/test/login_Test.php
  modules/instruments/php/module.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  src/Http/Error.php
  src/Http/StringStream.php
  src/Router/ModuleFileRouter.php
Labels: Cleanup, Passed Manual Tests

#5907 [Tools] Add option to specify tables to dump for RB on command line
  tools/exporters/DB_dump_table_data.php
Labels: Feature, Passed Manual Tests

#5924 [docs] change link to new location in docs/wiki/00
  README.md
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/CentOS/README.CentOS7.md
Labels: Documentation

#5881 [jsx/Markdown] Robust Upgrade of Markdown to Html
  jsx/Markdown.js
  package-lock.json
  package.json
  webpack.config.js
Labels: Feature, Passed Manual Tests

#5263 Add opt-in option to auto run "make checkstatic" locally upon git push
  .githooks/pre-push
  CONTRIBUTING.md
Labels: Feature, Meta, Passed Manual Tests, Testing

#5674 [script] fix bugs indentified by shellcheck
  test/integration.sh
  tools/install.sh
Labels: Blocking, Bug

#5913 [Tools] Modules helper script
  tools/manage_modules.php
Labels: Cleanup, Feature, Passed Manual Tests

#5955 Do not display admin menu category when empty
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Passed Manual Tests

#5957 Renaming file with `:` in docs
  docs/deprecated_wiki/Setup/Initial Setup/Security/Security-Enabling-SSL.md
Labels: Cleanup, Priority: Projects

#5906 [acknowledgements] public facing link broken - 500 error
  htdocs/acknowledgements/acknowledgements.php
Labels: Bug, Passed Manual Tests

#4977 [Data Dict] Update Data Dictionary module to use Data Framework
  modules/datadict/jsx/dataDictIndex.js
  modules/datadict/php/datadict.class.inc
  modules/datadict/php/datadictrow.class.inc
  modules/datadict/php/datadictrowprovisioner.class.inc
  modules/datadict/test/datadictTest.php
Labels: Caveat for Existing Projects, Cleanup, PR sent, Passed Manual Tests

#5961 [ReadTheDocs] Fix broken link to CentOS install instructions
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/CentOS/README.md
Labels: Cleanup

#5967 Fix PHPMD errors on master causing all PRs to fail Travis
  modules/datadict/php/datadictrowprovisioner.class.inc
Labels: Blocking, Bug, Priority: High, Testing

#5942 [Conflict Resolver] Remove outdated reference to "Show Data" button
  modules/conflict_resolver/test/TestPlan.md
Labels: Cleanup, Documentation

#5971 Add tools/assign_missing_instruments.php to PHPCS
  test/run-php-linter.sh
  tools/assign_missing_instruments.php
Labels: Testing

#5934 Add database configuration document to new wiki
  docs/deprecated_wiki/Hosting-the-Database-Myself.md
  docs/deprecated_wiki/Hosting-the-Database-by-Others.md
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/00 - Prerequisites And Assumptions/Database Configuration.md
  mkdocs.yml
Labels: Documentation

#5627 Add PHP minimum version badge to README
  README.md
Labels: Documentation, UI

#5956 [User Accounts] Fix edge-case that gave a confusing error message
  modules/user_accounts/php/edit_user.class.inc
Labels: UI

#5979 [Tools] Enable PHPCS for setconfig.php
  test/run-php-linter.sh
  tools/setconfig.php
Labels: Testing
