Repository aces/Loris, pull requests merged in 2020-10, with the labels that each got.

#7049 [login] Notify check box
  modules/login/test/Request_Account_test_plan.md
Labels: Documentation, Passed Manual Tests

#7054 [user_accounts] Remove DDC restriction for pending accounts in dashboard
  modules/dashboard/test/DashboardTest.php
  modules/user_accounts/php/module.class.inc
Labels: Bug

#6929 Fix project instruments api
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: API, Needs Work

#7027 [media] Update datatable upon file upload without having to refresh
  modules/media/ajax/FileUpload.php
  modules/media/jsx/mediaIndex.js
  modules/media/jsx/uploadForm.js
Labels: 23.0.0-testing, Bug

#7025 [Help editor] Remove parentID
  CHANGELOG.md
  SQL/0000-00-04-Help.sql
  SQL/Cleanup_patches/2020-09-09-RemoveHelpParentID.sql
  modules/help_editor/ajax/process.php
  modules/help_editor/help/help_editor.md
  modules/help_editor/js/help_editor_helper.js
  modules/help_editor/jsx/help_editor.js
  modules/help_editor/php/edit_help_content.class.inc
  modules/help_editor/php/helpfile.class.inc
  modules/help_editor/php/helprowprovisioner.class.inc
  modules/help_editor/templates/form_edit_help_content.tpl
  modules/help_editor/test/TestPlan.md
  modules/help_editor/test/help_editorTest.php
Labels: Cleanup

#7085 [Tests] Enable PHPCS for test/*
  test/run-php-linter.sh
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/test_instrument/test_instrumentTest.php
  test/unittests/AnonymousUserTest.php
  test/unittests/BreadcrumbTest.php
  test/unittests/BreadcrumbTrailTest.php
  test/unittests/CandidateTest.php
  test/unittests/LorisForms_Test.php
  test/unittests/NDB_BVL_FeedbackTest.php
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
  test/unittests/NDB_BVL_Instrument_Test.php
  test/unittests/NDB_ConfigTest.php
  test/unittests/NDB_Factory_Test.php
  test/unittests/NDB_Menu_Filter_Test.php
  test/unittests/NDB_PageTest.php
  test/unittests/PasswordTest.php
  test/unittests/SettingsTest.php
  test/unittests/SinglePointLoginTest.php
  test/unittests/UserTest.php
  test/unittests/UtilityTest.php
  test/unittests/VisitTest.php
  test/unittests/studyentities/CandID_Test.php
Labels: Testing

#6932 [survey_account] fix can't add survey to candidate in main branch
  php/libraries/NDB_BVL_Instrument.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Bug

#7084 Fixed imaging uploader that would not automatically start when overwriting a file
  modules/imaging_uploader/jsx/UploadForm.js
Labels: Passed Manual Tests

#6921 [Tools] PHPCS exclude list
  test/run-php-linter.sh
Labels: Testing

#7090 [API] New api candidates endpoint post tests
  raisinbread/test/api/LorisApiCandidatesTest.php
Labels: API, Testing

#6944 Transition to API version 0.0.4
  CHANGELOG.md
  modules/api/docs/LorisRESTAPI.md
  modules/api/docs/LorisRESTAPI_v0.0.4-dev.md
  modules/api/php/endpoints/candidate/candidate.class.inc
  modules/api/php/endpoints/candidate/visit/dicom/dicom.class.inc
  modules/api/php/endpoints/candidate/visit/dicoms.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/bidsfile.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/bidsfile/archive.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/bidsfile/channels.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/bidsfile/electrodes.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/bidsfile/events.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/channels.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/electrodes.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/events.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/metadata.class.inc
  modules/api/php/endpoints/candidate/visit/electrophysiology/recording.class.inc
  modules/api/php/endpoints/candidate/visit/image/format.class.inc
  modules/api/php/endpoints/candidate/visit/image/format/brainbrowser.class.inc
  modules/api/php/endpoints/candidate/visit/image/format/raw.class.inc
  modules/api/php/endpoints/candidate/visit/image/format/thumbnail.class.inc
  modules/api/php/endpoints/candidate/visit/image/headers.class.inc
  modules/api/php/endpoints/candidate/visit/image/image.class.inc
  modules/api/php/endpoints/candidate/visit/image/qc.class.inc
  modules/api/php/endpoints/candidate/visit/images.class.inc
  modules/api/php/endpoints/candidate/visit/instrument/flags.class.inc
  modules/api/php/endpoints/candidate/visit/instrument/instrument.class.inc
  modules/api/php/endpoints/candidate/visit/instruments.class.inc
  modules/api/php/endpoints/candidate/visit/qc.class.inc
  modules/api/php/endpoints/candidate/visit/recordings.class.inc
  modules/api/php/endpoints/candidate/visit/visit.class.inc
  modules/api/php/endpoints/candidates.class.inc
  modules/api/php/endpoints/login.class.inc
  modules/api/php/endpoints/project/candidates.class.inc
  modules/api/php/endpoints/project/images.class.inc
  modules/api/php/endpoints/project/instrument/instrument.class.inc
  modules/api/php/endpoints/project/instruments.class.inc
  modules/api/php/endpoints/project/project.class.inc
  modules/api/php/endpoints/project/recordings.class.inc
  modules/api/php/endpoints/project/visits.class.inc
  modules/api/php/endpoints/projects.class.inc
  raisinbread/test/api/LorisApiAuthenticatedTest.php
Labels: API, Blocking, Critical to release

#6918 [Tools] Enable PHPCS for data_integrity/fix_candidate_age.php
  test/run-php-linter.sh
  tools/data_integrity/fix_candidate_age.php
Labels: Testing

#7045 [media] Update uploaded form TestPlan
  modules/media/test/TestPlan.md
Labels: Documentation, Passed Manual Tests

#7062 [user_accounts] Resolve Conflicting Steps in TestPlan
  modules/user_accounts/test/TestPlan.md
Labels: Documentation, Passed Manual Tests

#7068 [Configuration] fix funny behaviour of “Reset button” for fields that have the “Add field” button.
  modules/configuration/js/configuration_helper.js
Labels: Bug, Passed Manual Tests, UI

#7077 [MRI Violations] Add help text to MRI Resolved Violations
  modules/mri_violations/help/resolved_violations.md
Labels: Documentation
