Repository aces/Loris, pull requests merged in 2020-09, with the labels that each got.

#6922 [EEG Browser] Integration testing for EEG Browser module
  modules/electrophysiology_browser/test/TestPlan.md
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  test/phpunit.xml
Labels: Testing

#6943 [Imaging Browser] Fix menu loading
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: Passed Manual Tests

#6942 [API] Users get candidates from own projects only in endpoint /candidates that list all candidates
  modules/api/php/endpoints/candidates.class.inc
  modules/api/php/models/candidatesrow.class.inc
  modules/api/php/provisioners/candidatesprovisioner.class.inc
Labels: API

#7011 [api] Fix value in "Sex" field of candidate API
  raisinbread/test/api/LorisApiCandidatesTest.php
  src/StudyEntities/Candidate/Sex.php
Labels: Bug

#7012 adjust test plan to new behavior
  modules/new_profile/test/TestPlan.md
Labels: Testing

#6930 [Eslint] Modules eslint warning cleanup
  .eslintignore
  .eslintrc.json
  modules/behavioural_qc/jsx/behavioural_qc_module.js
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/jsx/openProfileForm.js
  modules/candidate_parameters/jsx/CandidateDOB.js
  modules/candidate_parameters/jsx/CandidateDOD.js
  modules/candidate_parameters/jsx/CandidateInfo.js
  modules/candidate_parameters/jsx/CandidateParameters.js
  modules/candidate_parameters/jsx/ConsentStatus.js
  modules/candidate_parameters/jsx/FamilyInfo.js
  modules/candidate_parameters/jsx/ParticipantStatus.js
  modules/candidate_parameters/jsx/ProbandInfo.js
  modules/conflict_resolver/jsx/conflictResolverIndex.js
  modules/conflict_resolver/jsx/resolvedConflictsIndex.js
  modules/data_release/jsx/addPermissionForm.js
  modules/data_release/jsx/dataReleaseIndex.js
  modules/data_release/jsx/managePermissionsForm.js
  modules/data_release/jsx/uploadFileForm.js
  modules/dataquery/jsx/react.app.js
  modules/dataquery/jsx/react.fieldselector.js
  modules/dataquery/jsx/react.filterBuilder.js
  modules/dataquery/jsx/react.paginator.js
  modules/dataquery/jsx/react.sidebar.js
  modules/dataquery/jsx/react.tabs.js
  modules/document_repository/jsx/NullFilterableDataTable.js
  modules/document_repository/jsx/categoryForm.js
  modules/document_repository/jsx/childTree.js
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/jsx/editForm.js
  modules/document_repository/jsx/parentTree.js
  modules/document_repository/jsx/uploadForm.js
  modules/electrophysiology_browser/jsx/components/Sidebar.js
  modules/electrophysiology_browser/jsx/components/electrophysiology_session_panels.js
  modules/electrophysiology_browser/jsx/electrophysiologyBrowserIndex.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/examiner/jsx/examinerIndex.js
  modules/genomic_browser/jsx/FileUploadModal.js
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_uploader/jsx/ImagingUploader.js
  modules/imaging_uploader/jsx/LogPanel.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/instrument_builder/jsx/react.instrument_builder.js
  modules/instrument_builder/jsx/react.questions.js
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/instrument_manager/jsx/uploadForm.js
  modules/issue_tracker/jsx/CommentList.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/attachments/attachmentsList.js
  modules/issue_tracker/jsx/attachments/uploadForm.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/media/jsx/editForm.js
  modules/media/jsx/mediaIndex.js
  modules/media/jsx/uploadForm.js
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
Labels: Cleanup

#6853 [Data Tables] Add ability for data tables to stream data
  .babelrc
  CHANGELOG.md
  htdocs/index.php
  jslib/fetchDataStream.js
  jsx/DataTable.js
  jsx/FilterableDataTable.js
  modules/datadict/jsx/dataDictIndex.js
  modules/datadict/php/fields.class.inc
  modules/datadict/test/datadictTest.php
  package.json
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/NDB_Page.class.inc
  src/Http/DataIteratorBinaryStream.php
  webpack.config.js
Labels: Add to Release Notes, Passed Manual Tests

#6776 [Test] unittests for NDB_Factory.class.inc
  test/unittests/NDB_Factory_Test.php
Labels: Testing

#7023 [Survey] Fix survey module 1 of N
  modules/survey_accounts/php/addsurvey.class.inc
  modules/survey_accounts/test/TestPlan.md
Labels: Passed Manual Tests, Testing

#7037 [media] hidden files do not display for superuser
  modules/media/php/media.class.inc
  modules/media/test/MediaTest.php
Labels: 23.0.0-testing, Bug

#7036 [bvl_feedback] SessionID fix
  modules/bvl_feedback/ajax/bvl_panel_ajax.php
  modules/bvl_feedback/ajax/react_get_bvl_threads.php
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: Bug

#7048 [datadict] Edit description
  modules/datadict/test/TestPlan.md
Labels: Documentation

#7038 [User Accounts] Update TestPlan
  modules/user_accounts/test/TestPlan.md
Labels: Documentation

#7046 [login] Test instructions
  modules/login/test/Request_Account_test_plan.md
Labels: Documentation, Passed Manual Tests

#6945 [Behavioural QC] - Instruments filter fixes
  modules/behavioural_qc/jsx/behavioural_qc_module.js
  modules/behavioural_qc/php/behavioural_qc.class.inc
  modules/behavioural_qc/templates/form_behavioural_qc.tpl
Labels: Blocking, Bug, Cleanup, Passed Manual Tests, UI
