Repository aces/Loris, pull requests merged in 2020-05, with the labels that each got.

#6460 [user_accounts] Resolve Notice: Undefined index: permID
  modules/user_accounts/php/edit_user.class.inc
Labels: 23.0.0-testing, Bug, Cleanup, Passed Manual Tests

#6465 [LorisForms] Suppresses errors
  php/libraries/LorisForm.class.inc
Labels: 23.0.0-testing

#6281 [Imaging Browser] Cleanup test plan
  modules/imaging_browser/test/TestPlan.md
Labels: 23.0.0-testing, Cleanup, Documentation

#6363 [document_repository] fix download files issue
  modules/document_repository/php/files.class.inc
Labels: 23.0.0-testing, Bug

#6362 [MRI Violations] Fixed bug in filter of the MRI violations module.
  SQL/0000-00-01-Permission.sql
  SQL/New_patches/2020-04-27-AddViolatedScansOwnSitePermission.sql
  modules/mri_violations/README.md
  modules/mri_violations/php/module.class.inc
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
  modules/mri_violations/php/mri_protocol_violations.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/mri_violations/test/TestPlan.md
  modules/mri_violations/test/mri_violationsTest.php
  php/libraries/NDB_Menu_Filter.class.inc
  raisinbread/RB_files/RB_permissions.sql
Labels: 23.0.0-testing, Bug, Passed Manual Tests, RaisinBread, SQL

#6464 [User account] Update of the README file and test plan.
  modules/dashboard/test/TestPlan.md
  modules/user_accounts/README.md
  modules/user_accounts/test/TestPlan.md
Labels: 23.0.0-testing, Documentation, Testing

#6335 [Configuration] Fix error messages
  modules/configuration/ajax/updateSubproject.php
  modules/configuration/js/project.js
  modules/configuration/js/subproject.js
  modules/configuration/templates/form_project.tpl
  modules/configuration/templates/form_subproject.tpl
Labels: 23.0.0-testing, Bug, Cleanup, Passed Manual Tests, UI

#6414 [Instruments] adding a TestPlan.md file
  modules/instruments/test/TestPlan.md
Labels: 23.0.0-testing

#6429 [Candidate_list] integration test - complete skip test
  modules/candidate_list/test/candidate_listTest.php
Labels: 23.0.0-testing, Testing

#6447 [Imaging_uploader] Clear front-end console error logs
  modules/imaging_uploader/jsx/UploadForm.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6459 [media] Media module test plan does not test widgets
  modules/media/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6461 [data_release] Preventing Duplication of File Names
  CHANGELOG.md
  modules/data_release/ajax/FileUpload.php
  modules/data_release/jsx/uploadFileForm.js
Labels: 23.0.0-testing, Passed Manual Tests

#6431 [Request Account] fix placeholder message issue
  modules/login/php/requestaccount.class.inc
Labels: 23.0.0-testing, Passed Manual Tests

#6458 [mri violations] MRI Violations module does not describe or test widgets
  modules/mri_violations/README.md
  modules/mri_violations/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6442 [Forms] fix parameter position problems because of PR #6396
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/genomic_browser/php/cnv_browser.class.inc
  modules/genomic_browser/php/cpg_browser.class.inc
  modules/genomic_browser/php/genomic_browser.class.inc
  modules/genomic_browser/php/snp_browser.class.inc
  modules/help_editor/php/edit_help_content.class.inc
  modules/login/php/passwordreset.class.inc
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
  modules/my_preferences/php/my_preferences.class.inc
  modules/user_accounts/php/edit_user.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 23.0.0-testing

#6463 [Statistics] Update of README.md and test plan.
  modules/dashboard/test/TestPlan.md
  modules/statistics/README.md
  modules/statistics/test/TestPlan.md
Labels: 23.0.0-testing, Documentation, Testing

#6456 [candidate_parameters] Update test plan and README to include widgets
  modules/candidate_parameters/README.md
  modules/candidate_parameters/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6499 [ElectrophysiologyBrowser] Fix typo in label
  modules/electrophysiology_browser/jsx/electrophysiologyBrowserIndex.js
Labels: 23.0.0-testing, Cleanup

#6471 [issue_tracker] Prevent users from accessing issues to which they don't have the appropriate Center
  modules/issue_tracker/php/issue.class.inc
Labels: 23.0.0-testing, Passed Manual Tests

#6478 [issue_tracker] Fix Priority Ordering.
  jsx/Filter.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: 23.0.0-testing, Passed Manual Tests

#6508 [ImagingBrowser] Fixed typo in Visit Label under Selection Filter
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: 23.0.0-testing, Bug, Cleanup

#6513 [Utilities] Fix SQL query inside getSiteList function
  php/libraries/Utility.class.inc
Labels: 23.0.0-testing, Bug

#6516 [API] Adjust return values of API
  modules/api/php/provisioners/projectimagesrowprovisioner.class.inc
  php/libraries/Project.class.inc
Labels: 23.0.0-testing, API, Documentation

#6476 [Documentation] Update Contributing.md to mention ChangeLog
  CONTRIBUTING.md
Labels: 23.0.0-testing, Documentation

#6480 [issue_tracker] Handle a CenterID of NULL in issues table.
  modules/issue_tracker/php/issuerow.class.inc
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  modules/issue_tracker/php/issuewatchermapper.class.inc
Labels: 23.0.0-testing

#6498 [Raisinbread] Instructions and clarifications added to RaisinBread README
  raisinbread/README.md
Labels: 23.0.0-testing, Beginner Friendly, Documentation

#6512 [Changelog] Add note re php-curl dependency now required for dev install
  CHANGELOG.md
Labels: 23.0.0-testing, Documentation

#6454 [conflict_resolver] Update test plan and README to test widgets
  modules/conflict_resolver/README.md
  modules/conflict_resolver/test/TestPlan.md
Labels: Documentation

#6378 [Instrument] Delete Instrument Data
  htdocs/js/instrument_controlpanel_swaldeletedata.js
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  smarty/templates/instrumentstatus_controlpanel.tpl
Labels: 23.0.0-testing, Passed Manual Tests, UI

#6428 [instruments] Check for data_entry permissions
  modules/instruments/README.md
  modules/instruments/php/module.class.inc
  modules/instruments/test/TestPlan.md
Labels: 23.0.0-testing, Passed Manual Tests

#6472 [imaging_browser] Updated test plan
  modules/imaging_browser/test/TestPlan.md
Labels: 23.0.0-testing, Documentation, Testing

#6494 [Imaging Uploader] Corrected swal displayed for file uploads done when the network is down.
  modules/imaging_uploader/jsx/UploadForm.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests, UI

#6523 [Genomic Browser] Make SNP,CNV,CPG 'Y' links obvious
  modules/genomic_browser/jsx/profileColumnFormatter.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6529 [IssueTracker] status filter multiselect
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: 23.0.0-testing, Passed Manual Tests, UI

#6525 [RaisinBread] Change participant accounts emails to different emails
  raisinbread/RB_files/RB_participant_accounts.sql
Labels: 23.0.0-testing, Cleanup, RaisinBread, SQL

#6531 [Loris] Horizontal scroll
  smarty/templates/main.tpl
Labels: 23.0.0-testing, Bug, Passed Manual Tests, UI

#6538 [23.0 release LorisForm] fix PHP warning for string vs array
  php/libraries/LorisForm.class.inc
Labels: Passed Manual Tests

#6542 [Documentation] CONTRIBUTING.md broken link
  CONTRIBUTING.md
Labels: 23.0.0-testing, Bug, Documentation, Passed Manual Tests

#6457 [LorisForm] keep old group mode text parameter mode
  php/libraries/LorisForm.class.inc
Labels: 23.0.0-testing, Bug, Critical to release

#6483 [MRI Violations] Fixing a bug in dashboard widget registration and adding some tests
  modules/dashboard/php/taskquerywidget.class.inc
  modules/dashboard/php/taskwidget.class.inc
  modules/dashboard/test/DashboardTest.php
  modules/mri_violations/php/module.class.inc
  modules/mri_violations/test/mri_violationsTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: 23.0.0-testing, Cleanup, Passed Manual Tests, Testing

#6522 [issue_tracker] Module filter has entry [object Object]
  modules/issue_tracker/php/issue_tracker.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6444 [raisinbread] modification after the PR #6395
  php/libraries/NDB_Page.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_medical_history.class.inc
Labels: 23.0.0-testing, Blocked, Discussion Required, RaisinBread

#6477 Fix data in fields where HTML characters were double escaped on 22
  php/libraries/LorisForm.class.inc
  tools/single_use/instrument_double_escape_report.php
Labels: Add to Release Notes, Bug, Caveat for Existing Projects

#6563 [Core] Changed call to baseURL for integration tests
  Dockerfile.test.db
  docker-compose.yml
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: 23.0.0-testing, Blocking, Bug, Critical to release
