Repository aces/Loris, pull requests merged in 2020-03, with the labels that each got.

#6122 [webpack] restore support for webpack-project
  webpack.config.js
Labels: Bug, Caveat for Existing Projects, Critical to release, Needs Documentation

#6118 [Core] Add LorisInstance class
  modules/dashboard/php/dashboard.class.inc
  src/LorisInstance.php
  src/Middleware/UserPageDecorationMiddleware.php
  src/Router/BaseRouter.php
Labels: Feature

#6126 [candidate_profile] Add card summarizing candidate consent
  jsx/Card.js
  modules/candidate_parameters/jsx/ConsentWidget.js
  modules/candidate_parameters/php/module.class.inc
  php/libraries/Candidate.class.inc
  webpack.config.js
Labels: Critical to release, Feature, Passed Manual Tests

#6127 [Candidate_parameters] Consent Status - Change label to 'Response'
  modules/candidate_parameters/jsx/ConsentStatus.js
Labels: Passed Manual Tests, UI

#6130 [issue_tracker] Add foreign key from issues attachments to issue
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-10-29_adding_issues_attachments_table.sql
Labels: Bug, Cleanup, SQL

#4321 Add support for multiple MRI protocols.
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019-02-08_multiple_mri_protocols.sql
  modules/dashboard/test/DashboardTest.php
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
  modules/mri_violations/php/mri_protocol_violations.class.inc
  modules/mri_violations/templates/menu_mri_protocol_violations.tpl
  modules/mri_violations/test/mri_violationsTest.php
  raisinbread/RB_files/RB_mri_protocol.sql
  raisinbread/RB_files/RB_mri_protocol_checks.sql
  raisinbread/RB_files/RB_mri_protocol_checks_group.sql
  raisinbread/RB_files/RB_mri_protocol_checks_group_target.sql
  raisinbread/RB_files/RB_mri_protocol_group.sql
  raisinbread/RB_files/RB_mri_protocol_group_target.sql
  raisinbread/RB_files/RB_mri_protocol_violated_scans.sql
  raisinbread/RB_files/RB_mri_violations_log.sql
Labels: Blocked, Critical to release, Feature, SQL

#5253 [WIKI] Install - Rewrite "Installing Loris in Depth" for new Wiki
  docs/deprecated_wiki/Installing-Loris-in-Depth.md
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/Ubuntu/README.md
Labels: Documentation

#6107 Streamline developer documentation
  CONTRIBUTING.md
  docs/CodingStandards.md
  docs/wiki/99 - Developers/Automated Testing.md
Labels: Cleanup, Documentation

#5738 [ examiner ] fix can't refresh page after Edit
  modules/examiner/php/editexaminer.class.inc
Labels: Bug

#6134 [Breadcrumbs] Fix React warning about componentWillMount being deprecated
  jsx/Breadcrumbs.js
Labels: Cleanup, Passed Manual Tests

#6132 [conflict_resolver] Fix links to conflict resolver with filters set
  modules/conflict_resolver/jsx/conflictResolverIndex.js
Labels: Bug, Passed Manual Tests

#6120 Changelog update
  CHANGELOG.md
Labels: Blocking, Critical to release, Documentation

#6082 [Issue Tracker] Add upgrade script for module column
  SQL/0000-00-02-Modules.sql
  SQL/Cleanup_patches/2020-02-28-foreign_key_issues_modules.sql
  raisinbread/RB_files/RB_issues.sql
  test/run-php-linter.sh
  tools/single_use/Convert_LorisMenuID_to_ModuleID.php
Labels: Add to Release Notes, Cleanup, Critical to release, Needs Changelog Update, SQL

#6125 [candidate_profile] Add Candidate Parameters to Candidate Info card
  modules/candidate_parameters/php/module.class.inc
  modules/candidate_profile/jsx/CandidateInfo.js
  modules/candidate_profile/php/candidateinfo.class.inc
  modules/candidate_profile/php/module.class.inc
  php/libraries/Candidate.class.inc
Labels: Critical to release, Feature

#6050 [Survey Accounts] Data Frameworkify the module
  modules/survey_accounts/php/survey_accounts.class.inc
  modules/survey_accounts/php/surveyaccountsprovisioner.class.inc
  modules/survey_accounts/php/surveyaccountsrow.class.inc
  modules/survey_accounts/test/survey_accountsTest.php
Labels: Cleanup, Critical to release, Passed Manual Tests

#6116 [NDB_BVL_Instrument_LINST] Show subtests
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Bug, Critical to release, UI

#6147 [Docs] Remove Routing.md document
  docs/Routing.md
Labels: Cleanup, Documentation

#6148 [Core] CandID implements JsonSerializable
  modules/api/php/views/candidate.class.inc
  modules/api/php/views/visit.class.inc
  modules/api/php/views/visit/dicoms.class.inc
  modules/api/php/views/visit/flags.class.inc
  modules/api/php/views/visit/image/headers/full.class.inc
  modules/api/php/views/visit/image/headers/specific.class.inc
  modules/api/php/views/visit/image/headers/summary.class.inc
  modules/api/php/views/visit/image/qc.class.inc
  modules/api/php/views/visit/images.class.inc
  modules/api/php/views/visit/instrument.class.inc
  modules/api/php/views/visit/instruments.class.inc
  modules/api/php/views/visit/qc.class.inc
  src/StudyEntities/Candidate/CandID.php
Labels: API, Bug, Passed Manual Tests

#6140 Instruments variable incorrectly defined
  docs/deprecated_wiki/How-to-Code-an-Instrument.md
  docs/instruments/NDB_BVL_Instrument_TEMPLATE.class.inc
  docs/instruments/NDB_BVL_Instrument_UPLOADER_TEMPLATE.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_aosi.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_medical_history.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_mri_parameter_form.class.inc
Labels: Bug, Cleanup, RaisinBread

#6151 [Docs] Move API docs into the API module
  docs/wiki/99 - Developers/LORIS-REST-API-0.0.2.md
  docs/wiki/99 - Developers/LORIS-REST-API-0.0.3-dev.md
  mkdocs.yml
  modules/api/docs/InstrumentFormat.md
  modules/api/docs/LorisRESTAPI.md
  modules/api/docs/LorisRESTAPI_v0.0.3.md
Labels: Cleanup, Documentation, Meta

#6133 [candidate_profile] Add media widget
  modules/media/README.md
  modules/media/jsx/CandidateMediaWidget.js
  modules/media/php/module.class.inc
  webpack.config.js
Labels: Critical to release, Feature

#6139 [candidate_profile] Add widget for open candidate issues to the candidate_profile
  modules/issue_tracker/README.md
  modules/issue_tracker/jsx/CandidateIssuesWidget.js
  modules/issue_tracker/php/module.class.inc
  webpack.config.js
Labels: Critical to release, Passed Manual Tests

#6152 Remove files from deprecated wiki folder
  docs/deprecated_wiki/CentOS-install-guide.md
  docs/deprecated_wiki/Configuration-module-14.10.md
  docs/deprecated_wiki/Contributing-to-the-Code.md
  docs/deprecated_wiki/Home.md
  docs/deprecated_wiki/How-LORIS-URLs-work.md
  docs/deprecated_wiki/Installing-Loris.md
  docs/deprecated_wiki/Reporting-Issues.md
  docs/deprecated_wiki/Setting-Up-Git.md
  docs/deprecated_wiki/Setup/Initial Setup/Security/Security-Enabling-SSL.md
Labels: Cleanup, Documentation

#6067 [User Accounts] Dataframeworkification
  modules/user_accounts/jsx/userAccountsIndex.js
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/module.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  modules/user_accounts/php/useraccountrow.class.inc
  modules/user_accounts/php/useraccountrowprovisioner.class.inc
  modules/user_accounts/test/user_accountsTest.php
Labels: Cleanup, Critical to release, Passed Manual Tests

#6078 [User Accounts] Separate "My Preferences" into its own module
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2020-02-18_MyPrefModule.sql
  modules/my_preferences/.gitignore
  modules/my_preferences/README.md
  modules/my_preferences/help/my_preferences.md
  modules/my_preferences/php/module.class.inc
  modules/my_preferences/php/my_preferences.class.inc
  modules/my_preferences/templates/form_my_preferences.tpl
  modules/my_preferences/test/TestPlan.md
  modules/my_preferences/test/my_preferencesTest.php
  modules/user_accounts/test/TestPlan.md
  modules/user_accounts/test/user_accountsTest.php
  smarty/templates/main.tpl
Labels: Cleanup, Critical to release, Passed Manual Tests

#6157 [Menu] Add new menu item to access beta candidate profile module
  CHANGELOG.md
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/jsx/openProfileForm.js
  modules/candidate_list/php/module.class.inc
Labels: Critical to release, Passed Manual Tests

#6129 [Instrument_controlpanel] Add tooltip to explain 'Complete'
  htdocs/js/instrument_controlpanel_control.js
  htdocs/main.css
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  smarty/templates/instrumentstatus_controlpanel.tpl
Labels: Passed Manual Tests, UI

#6177 selenium update
  docker-compose.yml
Labels: Testing

#6168 [Install] add ElectrophysiologyTables.sql to list of schemas sourced during install process
  php/installer/Installer.class.inc
Labels: Bug

#6154 [candidate_profile] Add imaging browser widget
  modules/imaging_browser/README.md
  modules/imaging_browser/jsx/CandidateScanQCSummaryWidget.js
  modules/imaging_browser/php/module.class.inc
  package.json
  webpack.config.js
Labels: Critical to release, Feature, Passed Manual Tests

#6135 [issue_tracker] Include all sites in dropdown for issue tracker
  CHANGELOG.md
  modules/issue_tracker/ajax/EditIssue.php
Labels: Bug, Cleanup

#5949 [NDB_BVL_Instrument] Data entry completion progress function
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Critical to release, Feature

#6131 [candidate_profile] Add Unresolved Conflicts widget
  modules/candidate_profile/php/candidate_profile.class.inc
  modules/candidate_profile/php/module.class.inc
  modules/conflict_resolver/jsx/CandidateConflictsWidget.js
  modules/conflict_resolver/php/module.class.inc
  webpack.config.js
Labels: Critical to release, Passed Manual Tests

#6190 [raisinbread] missing electrophysiology_browser module.
  raisinbread/RB_files/RB_modules.sql
Labels: Cleanup

#6196 [Install] Prevent unbound variable error
  tools/install.sh
Labels: Bug, Critical to release, Passed Manual Tests

#6192 minor fix on the link to the unit test guide
  docs/wiki/99 - Developers/Automated Testing.md
Labels: Documentation

#6201 [Acknowledgements] Update User::singleton() declarations to facilitate unit testing
  modules/acknowledgements/php/acknowledgements.class.inc
Labels: Cleanup

#6200 [Issue Tracker] Update User::singleton() declarations to facilitate unit testing
  modules/issue_tracker/ajax/EditIssue.php
  modules/issue_tracker/php/attachment.class.inc
  modules/issue_tracker/php/issue.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  modules/issue_tracker/php/issuewatchermapper.class.inc
  modules/issue_tracker/php/uploadhelper.class.inc
Labels: Cleanup

#6208 Update LORIS version in README
  README.md
Labels: 23.0-release, Documentation
