Repository aces/Loris, pull requests merged in 2020-12, with the labels that each got.

#7158 [readme.md] Update System Requirements for PHP
  README.md
Labels: Documentation

#7155 [instrument] insert JSON intrument fix
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/TimePoint.class.inc
Labels: Bug

#7164 23.0-release build fix
  php/libraries/TimePoint.class.inc
Labels: Bug

#7150 [candidate_profile] Update API version used by candidate_profile to be v0.0.3
  CHANGELOG.md
  modules/candidate_profile/templates/form_candidate_profile.tpl
Labels: Passed Manual Tests

#6947 [dataquery] Eslint fixes
  .eslintrc.json
  modules/dataquery/jsx/react.app.js
  modules/dataquery/jsx/react.fieldselector.js
  modules/dataquery/jsx/react.filterBuilder.js
  modules/dataquery/jsx/react.paginator.js
  modules/dataquery/jsx/react.sidebar.js
  modules/dataquery/jsx/react.tabs.js
  webpack.config.js
Labels: Blocking, Cleanup

#7166 [smarty] use default to prevent error_log pollution
  composer.json
  composer.lock
  htdocs/feedback_mri_popup.php
  modules/configuration/templates/form_configuration.tpl
  modules/configuration/templates/form_project.tpl
  modules/dashboard/templates/welcomefooter.tpl
  modules/examiner/templates/form_editExaminer.tpl
  modules/imaging_browser/templates/form_viewSession.tpl
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
  modules/imaging_browser/templates/table_session_header.tpl
  modules/instrument_list/templates/instrument_list_controlpanel.tpl
  modules/instrument_list/templates/menu_instrument_list.tpl
  modules/login/templates/form_login.tpl
  modules/login/templates/form_passwordreset.tpl
  modules/login/templates/form_requestaccount.tpl
  modules/mri_violations/templates/menu_mri_violations.tpl
  modules/mri_violations/templates/menu_resolved_violations.tpl
  modules/my_preferences/templates/form_my_preferences.tpl
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/templates/form_statistics.tpl
  modules/statistics/templates/form_stats_MRI.tpl
  modules/statistics/templates/form_stats_behavioural.tpl
  modules/statistics/templates/form_stats_demographic.tpl
  modules/statistics/templates/progress_bar.tpl
  modules/statistics/templates/table_statistics.tpl
  modules/timepoint_list/templates/menu_timepoint_list.tpl
  modules/user_accounts/templates/form_edit_user.tpl
  smarty/templates/bvl_feedback_panel.tpl
  smarty/templates/feedback_mri_popup.tpl
  smarty/templates/main.tpl
Labels: Cleanup, Priority: High, dependencies

#6939 Add data type classes
  src/Data/Type.php
  src/Data/Types/BooleanType.php
  src/Data/Types/DateType.php
  src/Data/Types/DecimalType.php
  src/Data/Types/Duration.php
  src/Data/Types/Enumeration.php
  src/Data/Types/IntegerType.php
  src/Data/Types/StringType.php
  src/Data/Types/TimeType.php
  src/Data/Types/URI.php
Labels: Blocking, Feature

#6747 [SQL Cleanup Patch] Remove violated_scans_edit permission
  SQL/0000-00-01-Permission.sql
  SQL/Cleanup_patches/2020-06-18-remove_violated_scans_edit_permission.sql
  modules/mri_violations/php/resolved_violations.class.inc
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
Labels: Cleanup

#7098 [DQT|dataquery] Define Fields showing incorrect field description
  modules/dataquery/jsx/react.fieldselector.js
  modules/dqt/jsx/react.fieldselector.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests, hacktoberfest-accepted

#7146 [Create timepoint] Language dropdown index fix
  modules/create_timepoint/php/create_timepoint.class.inc
Labels: Bug

#7145 [Create timepoint] Language dropdown index fix
  modules/create_timepoint/php/timepoint.class.inc
Labels: Bug

#5946 [Candidate] Add get last visit subproject
  CHANGELOG.md
  modules/instrument_list/php/instrument_list.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/Utility.class.inc
  test/unittests/CandidateTest.php
  test/unittests/UtilityTest.php
Labels: Cleanup, Feature, Passed Manual Tests

#6938 Add Scope, Cardinality, Type, and DictionaryItem classes
  CHANGELOG.md
  src/Data/Cardinality.php
  src/Data/Dictionary/Category.php
  src/Data/Dictionary/DictionaryItem.php
  src/Data/Scope.php
Labels: Blocking, Feature

#7182 Update dependencies other than phan to versions supporting php8
  composer.json
  composer.lock
  src/Http/Client.php
  test/unittests/PasswordTest.php
Labels: Meta

#6916 [Tools] Enable PHPCS for exporters/data_dictionary_builder.php
  test/run-php-linter.sh
  tools/exporters/data_dictionary_builder.php
Labels: Testing

#6919 [Tools] Cleanup - single_use migration
  test/run-php-linter.sh
  tools/single_use/cleanup_mri_tables_for_19-0_release.php
  tools/single_use/config_to_db.php
Labels: Testing

#6917 [Tools] Enable PHPCS for data_integrity/score_instrument.php
  test/run-php-linter.sh
  tools/data_integrity/score_instrument.php
Labels: Testing

#7227 Add setup php step to GitHub Actions workflow
  .github/workflows/loristest.yml
Labels: Blocking, Priority: High

#7233 [23.0][document_repository] Fix for contents displayed at root
  modules/document_repository/jsx/docIndex.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#7221 [data_dict] Convert list of instruments back to multiselect
  modules/datadict/jsx/dataDictIndex.js
  modules/datadict/test/TestPlan.md
Labels: Bug, Passed Manual Tests

#7243 Remove legacy code to support QuickForm
  php/libraries/NDB_BVL_Instrument.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Cleanup

#7236 [instrument_manager] Fix write permission
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/instrument_manager/test/TestPlan.md
Labels: Passed Manual Tests

#7231 [DICOM archive] Fix patient name and patient ID hidden logic of the menu filter
  modules/dicom_archive/jsx/dicom_archive.js
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/dicom_archive/php/dicomarchiverowprovisioner.class.inc
Labels: Passed Manual Tests

#7226 [23.0][bvl_feedback] Bugfix for re-opening a closed thread throwing 400 error
  modules/bvl_feedback/ajax/open_bvl_feedback_thread.php
Labels: 23.0.0-testing, Bug

#7242 [Core] Download CSV issues
  jsx/StaticDataTable.js
Labels: 23.0.0-testing, Passed Manual Tests

#7235 [behavioural_qc] Resolving redirect to conflict resolver issue
  modules/behavioural_qc/jsx/behavioural_qc_module.js
Labels: 23.0.0-testing, Passed Manual Tests

#7254 [Instrument] Select required option displays a multiselect fix (group …
  php/libraries/LorisForm.class.inc
Labels: 23.0.0-testing

#7230 [bvl_feedback] bvl_feedback panel not allowing access to User Menu while open
  htdocs/css/panel.css
  htdocs/main.css
Labels: 23.0.0-testing, Bug

#7250 [imaging_qc] Update Test Plan
  modules/imaging_qc/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6923 [LINST] Remove '_date' only for Standard Format
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
Labels: Bug, Caveat for Existing Projects, Cleanup, Passed Manual Tests

#7219 [middleware/UserPageDecorationMiddleware.php] fix visit candidate profile error
  src/Middleware/UserPageDecorationMiddleware.php
Labels: 23.0.0-testing, Bug

#7239 [Conflict Resolver] Multiselect values
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
Labels: 23.0.0-testing, Passed Manual Tests

#7218 [Conflict resolver] Test plan update
  modules/conflict_resolver/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#7117 Add AccessibleResource interface to TimePoint and cleanup Candidate access logic
  modules/api/php/endpoints/candidate/visit/visit.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/user_accounts/php/useraccountrowprovisioner.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/TimePoint.class.inc
  raisinbread/test/api/LorisApiAuthenticatedTest.php
  raisinbread/test/api/LorisApiCandidatesTest.php
  raisinbread/test/api/LorisApiVisitsTest.php
  test/unittests/CandidateTest.php
Labels: Caveat for Existing Projects

#7057 [candidate_parameters] Update test plan to remove DOB and Sex info step
  modules/candidate_parameters/test/TestPlan.md
Labels: Documentation

#7108 [dependencies] update react react-dom react-markdown
  package.json
Labels: Passed Manual Tests, dependencies, hacktoberfest-accepted

#7247 [instrument_builder] Fix Date element corruption in LINST files when load/saving
  modules/instrument_builder/js/instrument_builder.instrument.js
  modules/instrument_builder/jsx/react.questions.js
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: 23.0.0-testing, Passed Manual Tests

#7125 [statistics] Fix subprojects on demographics page
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/templates/form_stats_demographic.tpl
Labels: Bug, UI

#7161 [Instrument.class.inc] Fix _nullScores() so that only score fields are saved
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 23.0.0-testing, Bug, Critical to release

#7237 [dashboard] Fix step 6 of TestPlan
  modules/dashboard/test/TestPlan.md
Labels: 23.0.0-testing

#7257 [battery_manager] test plan remove tabs
  modules/battery_manager/test/TestPlan.md
Labels: 23.0.0-testing

#7248 [survey_accounts] Remove all traces of emails from the database
  SQL/Archive/21.0/Cleanup/2020-12-18-Remove_survey_emails.sql
  modules/survey_accounts/jsx/surveyAccountsIndex.js
  modules/survey_accounts/php/addsurvey.class.inc
  modules/survey_accounts/php/survey_accounts.class.inc
Labels: Passed Manual Tests

#7255 [document repository] prevent to add same category name under same parent directory
  modules/document_repository/jsx/categoryForm.js
  modules/document_repository/php/uploadcategory.class.inc
Labels: 23.0.0-testing, Passed Manual Tests

#7261 [create_timepoint] Use the project for the project, not the site
  modules/create_timepoint/php/timepoint.class.inc
Labels: Bug, Critical to release, Passed Manual Tests, Priority: High

#7260 [LINST] modify LINST class to only strip '_date' from standard dates
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
Labels: 23.0.0-testing, Passed Manual Tests

#7163 [Battery] Potential improvement for battery assignment
  php/libraries/NDB_BVL_Battery.class.inc
Labels: Passed Manual Tests
