Repository aces/Loris, pull requests merged in 2020-02, with the labels that each got.

#5972 Add basic linting to tools/ scripts
  test/run-php-linter.sh
Labels: Testing

#6006 [Behavioural QC] Change testplan to get rid of issue
  modules/behavioural_qc/test/TestPlan.md
Labels: Cleanup

#4928 [Test] Add phpstan tool to test suite and fix detected errors.
  CHANGELOG.md
  composer.json
  composer.lock
  modules/acknowledgements/php/acknowledgements.class.inc
  modules/configuration/tools/import_projects.php
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/data_release/ajax/AddPermission.php
  modules/dicom_archive/php/viewdetails.class.inc
  modules/document_repository/php/document_repository.class.inc
  modules/examiner/php/examiner.class.inc
  modules/help_editor/php/help_editor.class.inc
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/instrument_manager/php/instrument_manager.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/CouchDB.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/Database.class.inc
  php/libraries/Email.class.inc
  php/libraries/File_Upload.class.inc
  php/libraries/IdentifierGenerator.php
  php/libraries/LorisForm.class.inc
  php/libraries/MRIFile.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_BVL_Instrument_instrument_preview.class.inc
  php/libraries/NDB_Caller.class.inc
  php/libraries/NDB_Form.class.inc
  php/libraries/NDB_Menu.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/NDB_Page.class.inc
  php/libraries/SessionID.php
  php/libraries/SiteIDGenerator.php
  php/libraries/Smarty_hook.class.inc
  php/libraries/Utility.class.inc
  test/phpstan-loris.neon
  test/run-php-linter.sh
  test/unittests/NDB_PageTest.php
Labels: Caveat for Existing Projects, Cleanup, Feature, Meta, Testing

#5870 [Meta] Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Meta

#4915 [candidate_parameters] Add 'Date of Birth' tab
  SQL/0000-00-01-Permission.sql
  SQL/New_patches/2019_07_02_Add_Edit_DoB_Permissions.sql
  jsx/Form.js
  modules/candidate_parameters/ajax/formHandler.php
  modules/candidate_parameters/ajax/getData.php
  modules/candidate_parameters/jsx/CandidateDOB.js
  modules/candidate_parameters/jsx/CandidateParameters.js
  raisinbread/RB_files/RB_permissions.sql
Labels: Feature, Passed Manual Tests, SQL, UI

#5963 [Issue Tracker] Remove remaining references to LorisMenu table
  modules/issue_tracker/ajax/EditIssue.php
  php/libraries/Module.class.inc
Labels: Blocking, Bug, Passed Manual Tests

#6019 Remove BaseURL config setting
  SQL/0000-00-03-ConfigTables.sql
  SQL/Cleanup_patches/2020-02-05-NoHostConfig.sql
  modules/api/php/endpoints/login.class.inc
  modules/login/php/passwordreset.class.inc
  modules/publication/ajax/FileUpload.php
  modules/survey_accounts/php/addsurvey.class.inc
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/php/my_preferences.class.inc
  php/libraries/NDB_Factory.class.inc
  php/libraries/NDB_Notifier_Abstract.class.inc
  php/libraries/NDB_Page.class.inc
  php/libraries/Settings.class.inc
  src/Router/BaseRouter.php
  test/unittests/SettingsTest.php
Labels: Cleanup, SQL

#6013 [src/Middleware/UserPageDecorationMiddleware.php] trying to get property of non object
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Bug

#5981 [Tools] Enable PHPCS for detect_duplicated_commentids.php
  test/run-php-linter.sh
  tools/detect_duplicated_commentids.php
Labels: Testing

#5974 Clarify documentation on password requirements
  modules/login/templates/form_passwordexpiry.tpl
  modules/user_accounts/templates/form_edit_user.tpl
  modules/user_accounts/templates/form_my_preferences.tpl
Labels: Documentation, UI

#6008 [new profile] fix for single site affiliation bug
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/php/new_profile.class.inc
  modules/new_profile/test/TestPlan
  modules/new_profile/test/TestPlan.md
Labels: Bug

#5983 [Tools] Enable PHPCS for generic_includes.php
  test/run-php-linter.sh
  tools/generic_includes.php
Labels: Testing

#5260 [Tools] Add script to delete and refresh raisinbread data
  Makefile
  test/run-php-linter.sh
  tools/raisinbread_refresh.php
Labels: Feature, Meta, Passed Manual Tests, RaisinBread

#6032 Remove deleted URL config setting from raisinbread script
  tools/raisinbread_refresh.php
Labels: Cleanup

#5987 [Tools] Enable PHPCS for resetpassword.php
  test/run-php-linter.sh
  tools/resetpassword.php
Labels: Testing

#5960 Document how to upload larger files via front-end
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/02 - Website Configuration/Handling Large File Uploads.md
  mkdocs.yml
  modules/genomic_browser/README.md
  modules/imaging_uploader/README.md
Labels: Documentation

#6038 [ReadTheDocs] Fix syntax error in mkdocs.yml
  mkdocs.yml
Labels: Documentation

#6037 Add ReadTheDocs build status to README
  README.md
Labels: Documentation, Feature

#6030 [Instrument] Breadcrumb does not match instrument_list link
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug

#6031 [stats] fixed only_full_group_by error in query
  modules/statistics/php/charts.class.inc
Labels: Bug, Passed Manual Tests

#5230 [Electrophysiology Browser] New module
  .eslintignore
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2018-05-18_adding_physiological_all_sites_permissions.sql
  SQL/New_patches/2020-01-20_adding_electrophysiology_browser_to_modules_table.sql
  htdocs/mri/jiv/get_file.php
  jsx/Panel.js
  modules/electrophysiology_browser/README.md
  modules/electrophysiology_browser/jsx/components/Sidebar.js
  modules/electrophysiology_browser/jsx/components/SidebarContent.js
  modules/electrophysiology_browser/jsx/components/electrophysiology_session_panels.js
  modules/electrophysiology_browser/jsx/electrophysiologyBrowserIndex.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/php/electrophysiology_browser.class.inc
  modules/electrophysiology_browser/php/electrophysiologybrowserrow.class.inc
  modules/electrophysiology_browser/php/electrophysiologybrowserrowprovisioner.class.inc
  modules/electrophysiology_browser/php/models/ElectrophysioFile.class.inc
  modules/electrophysiology_browser/php/module.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  webpack.config.js
Labels: Add to Release Notes, Document at Release, Feature, Needs Changelog Update, Passed Manual Tests, SQL

#6049 Fix one of the comment in the EEG browser module
  modules/electrophysiology_browser/php/electrophysiologybrowserrow.class.inc
Labels: Cleanup

#6046 Remove PHPCS requirement for boilerplate comments
  php/libraries/Database.class.inc
  test/LorisCS.xml
Labels: Cleanup, Testing

#4221 [Battery Manager] - New Module
  CHANGELOG.md
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2018-07-23-battery_manager_permissions.sql
  jsx/Filter.js
  jsx/FilterableDataTable.js
  jsx/Form.js
  modules/battery_manager/.gitignore
  modules/battery_manager/README.md
  modules/battery_manager/help/battery_manager.md
  modules/battery_manager/jsx/batteryManagerForm.js
  modules/battery_manager/jsx/batteryManagerIndex.js
  modules/battery_manager/php/battery_manager.class.inc
  modules/battery_manager/php/module.class.inc
  modules/battery_manager/php/test.class.inc
  modules/battery_manager/php/testendpoint.class.inc
  modules/battery_manager/php/testoptionsendpoint.class.inc
  modules/battery_manager/php/testprovisioner.class.inc
  modules/battery_manager/test/BatteryManagerTest.php
  modules/battery_manager/test/TestPlan.md
  raisinbread/RB_files/RB_modules.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  webpack.config.js
Labels: Add to Release Notes, Feature, Passed Manual Tests

#5224 [Data release] Reactification of the module
  modules/data_release/ajax/AddPermission.php
  modules/data_release/ajax/FileUpload.php
  modules/data_release/jsx/addPermissionForm.js
  modules/data_release/jsx/dataReleaseIndex.js
  modules/data_release/jsx/managePermissionsForm.js
  modules/data_release/jsx/uploadFileForm.js
  modules/data_release/php/data_release.class.inc
  modules/data_release/templates/menu_data_release.tpl
  modules/data_release/test/TestPlan.md
  webpack.config.js
Labels: Cleanup, Passed Manual Tests

#6025 Add PHPStan information to Automated Testing Wiki document
  docs/wiki/99 - Developers/Automated Testing.md
Labels: Documentation

#5270 [RBData/Candidate] Remove multiple first visits in session
  CHANGELOG.md
  php/libraries/Candidate.class.inc
  raisinbread/RB_files/RB_session.sql
  test/run-php-linter.sh
  tools/single_use/Cleanup_multiple_firstVisits.php
Labels: Cleanup, Passed Manual Tests, RaisinBread

#5789 Add tool to remove condescending language from LORIS documentation
  .alexignore
  .alexrc.yml
  CONTRIBUTING.md
  Makefile
  README.Mac.md
  docs/API/InstrumentFormat.md
  docs/API/LorisRESTAPI.md
  docs/HelpStyleGuide.md
  docs/SQLModelingStandard.md
  package.json
Labels: Documentation, Feature, Meta

#5952 [React] New Card component
  jsx/Card.js
  webpack.config.js
Labels: UI

#5996 [Tools] Enable PHPCS for populate_examiners_psc_rel.php
  test/run-php-linter.sh
  tools/populate_examiners_psc_rel.php
Labels: Testing

#6028 Add PhanPossiblyUndeclaredVariable rule to Phan checks
  .phan/config.php
  modules/configuration/ajax/process.php
  modules/examiner/php/editexaminer.class.inc
  modules/imaging_uploader/php/imaging_uploader.class.inc
  modules/media/ajax/FileUpload.php
  modules/server_processes_manager/php/serverprocessesmonitor.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/user_accounts/php/edit_user.class.inc
Labels: Testing

#6029 Add PhanUndeclaredClassMethod to phan checks
  .phan/config.php
  modules/examiner/php/editexaminer.class.inc
  modules/imaging_qc/php/imaging_qc.class.inc
  modules/imaging_uploader/php/file_decompress.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/server_processes_manager/ajax/ProcessStateRequestHandler.php
  modules/server_processes_manager/php/mriuploadserverprocess.class.inc
  php/libraries/FilesUploadHandler.class.inc
  php/libraries/NDB_Factory.class.inc
  src/Http/StringStream.php
Labels: Testing

#6065 [Imaging QC] Enable integration tests
  test/phpunit.xml
Labels: Cleanup, Testing

#6015 Modules Manager module
  CHANGELOG.md
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2020-01-16-ModuleManager.sql
  modules/module_manager/.gitignore
  modules/module_manager/README.md
  modules/module_manager/help/module_manager.md
  modules/module_manager/jsx/modulemanager.js
  modules/module_manager/php/module.class.inc
  modules/module_manager/php/module_manager.class.inc
  modules/module_manager/php/modulemanagerprovisioner.class.inc
  modules/module_manager/php/modulerow.class.inc
  modules/module_manager/php/modules.class.inc
  modules/module_manager/test/TestPlan.md
  modules/module_manager/test/module_managerTest.php
  raisinbread/RB_files/RB_modules.sql
  raisinbread/RB_files/RB_permissions.sql
  test/phpunit.xml
  webpack.config.js
Labels: Feature, Passed Manual Tests

#5993 [Tools] Enable PHPCS for delete_ignored_conflicts.php
  test/run-php-linter.sh
  tools/delete_ignored_conflicts.php
Labels: Testing

#6077 Increase phan severity level
  .phan/config.php
Labels: Testing

#6073 [Electrophysiology Browser] Add record of the module to CHANGELOG
  CHANGELOG.md
Labels: Documentation

#6081 [jsx/Card] Allow Card component to add extra styles to object
  jsx/Card.js
Labels: Feature, UI

#6084 [CandID] Fix validation of CandID object types
  src/StudyEntities/Candidate/CandID.php
  test/unittests/studyentities/CandID_Test.php
Labels: Bug

#6072 Add support policy to bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Meta

#6062 [tools] fix redirection order
  tools/raisinbread_refresh.php
Labels: Bug

#6043 Update Coding Standards document and add to ReadTheDocs
  docs/CodingStandards.md
  mkdocs.yml
Labels: Documentation

#4929 [candidate_parameters] Add DoD Feature
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019_07_04_add_DoD_feature.sql
  modules/candidate_parameters/ajax/formHandler.php
  modules/candidate_parameters/ajax/getData.php
  modules/candidate_parameters/jsx/CandidateDOD.js
  modules/candidate_parameters/jsx/CandidateParameters.js
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/RB_files/RB_candidate.sql
  tools/CouchDB_Import_Demographics.php
Labels: Feature, SQL, UI

#6064 Add test/ folder to PHPCS analysis
  modules/candidate_list/test/candidate_listTest.php
  modules/create_timepoint/test/create_timepointTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/integrationtests/LorisIntegrationTestWithCandidate.class.inc
  test/run-php-linter.sh
Labels: Testing

#6093 [Permissions] Add helper function to \Candidate class to validate accessibility
  modules/timepoint_list/php/timepoint_list.class.inc
  php/libraries/Candidate.class.inc
  src/StudyEntities/AccessibleResource.php
Labels: Blocking, Cleanup, Feature, Passed Manual Tests

#6083 [webpack] Make module exports importable from LORIS
  webpack.config.js
Labels: Blocking, Cleanup, Meta

#6091 [JS] Fix eslint errors in Card and Panel classes
  jsx/Card.js
  jsx/Panel.js
Labels: Cleanup

#6085 [User Accounts] Fix hidden form field bug
  modules/user_accounts/php/edit_user.class.inc
Labels: Bug, Passed Manual Tests

#5619 [Core/Acknowledgments] Create generic way to check module permissions using integration tests
  modules/acknowledgements/php/acknowledgements.class.inc
  modules/acknowledgements/test/AcknowledgementsTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: Feature, Testing

#6089 [imaging browser] query construction bug
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: SQL

#6087 [jsx/Card] Do not error out when no onClick is provided
  jsx/Card.js
Labels: Bug

#6090 [JSX] Add CSSGrid component type
  jsx/CSSGrid.js
Labels: Blocking, Feature, UI

#6098 [Widgets] Update signature of getWidgets to include options
  modules/bvl_feedback/php/module.class.inc
  modules/conflict_resolver/php/module.class.inc
  modules/dashboard/php/dashboard.class.inc
  modules/dashboard/php/module.class.inc
  modules/document_repository/php/module.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/instruments/php/module.class.inc
  modules/issue_tracker/php/module.class.inc
  modules/mri_violations/php/module.class.inc
  modules/statistics/php/module.class.inc
  modules/user_accounts/php/module.class.inc
  php/libraries/Module.class.inc
Labels: Blocking, Cleanup

#6099 Remove empty "Upgrading 17.0 to 17.1" document
  docs/deprecated_wiki/Upgrading-17.0-to-17.1.md
Labels: Cleanup, Documentation

#6109 [JSX] Fix ESLint errors in <Loader /> component
  jsx/Loader.js
Labels: Cleanup

#4976 [Timepoint/Create Timepoint] Add timepoint language feature
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2019_07_05_Add_Language_feature.sql
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/templates/form_create_timepoint.tpl
  php/libraries/TimePoint.class.inc
  raisinbread/RB_files/RB_session.sql
Labels: Feature, SQL

#5323 [Core/Install] Improve UNIX permission usage
  CHANGELOG.md
  README.md
  tools/install.sh
Labels: Add to Release Notes, Caveat for Existing Projects, Cleanup, Document at Release, Documentation, Passed Manual Tests, Security

#5860 [tests/README.md] Update information missing about Selenium Server and VNC Viewer
  test/README.md
Labels: Documentation

#6036 [New Profile] Fix issue where candidate creation failed. Also, update phpstan + fix errors
  composer.lock
  modules/bvl_feedback/php/module.class.inc
  modules/genomic_browser/ajax/get_genomic_file.php
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  php/libraries/CandIDGenerator.php
  php/libraries/Database.class.inc
  php/libraries/IdentifierGenerator.php
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_Page.class.inc
  php/libraries/SiteIDGenerator.php
  php/libraries/User.class.inc
  php/libraries/UserPermissions.class.inc
Labels: Blocking, Cleanup, Meta, Passed Manual Tests, Priority: High, Testing

#6069 [Survey Accounts] Fix long name
  modules/survey_accounts/php/module.class.inc
Labels: Cleanup

#6094 [ReadTheDocs] Add additional configuration instructions for enabling large file uploads
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/02 - Website Configuration/Handling Large File Uploads.md
Labels: Documentation

#6108 Fix eslint errors in jsx/Tabs.js
  jsx/Tabs.js
Labels: Cleanup

#6111 [Dashboard] Add readme module spec from #5437
  modules/dashboard/README.md
Labels: Documentation

#6112 [meta] adding documentation prompts to GitHub PR template from #5477
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation, Meta

#5992 [Tools] Enable PHPCS for delete_candidate.php
  test/run-php-linter.sh
  tools/delete_candidate.php
Labels: Testing

#6100 Remove outdated "Code Review Project" document from wiki
  docs/deprecated_wiki/Code-Review-Project.md
Labels: Cleanup, Documentation

#5617 [Data Release] Add basic integration tests
  modules/data_release/test/data_releaseTest.php
Labels: Testing

#5830 [Timepoint List] Add README for timepoint_list module
  modules/timepoint_list/README.md
Labels: Documentation, Meta

#5826 [API] Add README for api module
  modules/api/README.md
Labels: Documentation, Meta

#6106 [document_repository] fix can't load
  modules/document_repository/php/doctree.class.inc
Labels: Bug, Passed Manual Tests

#6023 [Router] Remove unused routing logic from ModuleRouter
  src/Router/BaseRouter.php
  src/Router/ModuleRouter.php
Labels: Cleanup, Passed Manual Tests

#5004 [Core] Add config option for projects to specify how they want dates to be displayed
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019-08-06_Add_date_display_format_config_setting.sql
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
Labels: Feature, Passed Manual Tests, SQL, UI

#6092 [candidate_profile] Add new candidate dashboard module to provide overview of candidates
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2020-02-24-CandidateProfileModule.sql
  modules/candidate_profile/.gitignore
  modules/candidate_profile/README.md
  modules/candidate_profile/jsx/CandidateInfo.js
  modules/candidate_profile/php/candidate_profile.class.inc
  modules/candidate_profile/php/candidatewidget.class.inc
  modules/candidate_profile/php/module.class.inc
  modules/candidate_profile/templates/form_candidate_profile.tpl
  webpack.config.js
Labels: Critical to release, Feature, Passed Manual Tests, SQL

#6119 [InstrumentStatus_ControlPanel] Restore $validity to $Validity
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
Labels: Bug, UI

#5394 [issue_tracker] Add attachments to issues
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2019-10-29_adding_issues_attachments_table.sql
  modules/issue_tracker/README.md
  modules/issue_tracker/ajax/EditIssue.php
  modules/issue_tracker/help/issue_tracker.md
  modules/issue_tracker/jsx/CommentList.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/attachments/attachmentsList.js
  modules/issue_tracker/jsx/attachments/uploadForm.js
  modules/issue_tracker/jsx/index.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/php/attachment.class.inc
  modules/issue_tracker/php/models/attachmentdto.class.inc
  modules/issue_tracker/php/provisioners/attachmentprovisioner.class.inc
  modules/issue_tracker/php/uploadhelper.class.inc
  src/Data/Provisioners/DBObjectProvisioner.php
Labels: Feature, Passed Manual Tests
