Repository aces/Loris, pull requests merged in 2020-08, with the labels that each got.

#6024 [SQL] Remove multipleSites config setting
  SQL/0000-00-03-ConfigTables.sql
  SQL/Cleanup_patches/2020-02-06-NoMultipleSitesConf.sql
Labels: Cleanup, SQL

#6786 Add phpcs to Database_Test.php
  test/run-php-linter.sh
  test/unittests/Database_Test.php
Labels: Testing

#5352 Use the SessionID class in LORIS
  modules/api/php/endpoints/candidate/candidate.class.inc
  modules/api/php/endpoints/candidate/visit/visit.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/instrument_list/php/module.class.inc
  modules/next_stage/php/next_stage.class.inc
  modules/survey_accounts/php/addsurvey.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
  php/libraries/NDB_Factory.class.inc
  php/libraries/SessionID.php
  php/libraries/TimePoint.class.inc
  src/Middleware/UserPageDecorationMiddleware.php
  test/unittests/CandidateTest.php
  test/unittests/NDB_BVL_FeedbackTest.php
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
  tools/assign_missing_instruments.php
  tools/cleanup_mri_tables_for_19-0_release.php
  tools/fix_timepoint_date_problems.php
Labels: Cleanup, Feature

#6797 [Tools] Enable PHPCS for DB_date_zeros_removal.php
  test/run-php-linter.sh
  tools/DB_date_zeros_removal.php
Labels: Passed Manual Tests, Testing

#6796 [Tools] Enable PHPCS for config_to_db.php
  test/run-php-linter.sh
  tools/config_to_db.php
Labels: Discussion Required, Testing

#6794 [Tools] Enable PHPCS for detect_conflicts.php
  test/run-php-linter.sh
  tools/detect_conflicts.php
Labels: Testing

#6861 [Statistics/Behavioural] Detailed View and Double Data Entry - Site permission fix
  modules/statistics/php/statistics_dd_site.class.inc
  modules/statistics/php/statistics_site.class.inc
Labels: Passed Manual Tests

#6879 [Test/Tools] Fix scripts issue with PR #6786
  test/run-php-linter.sh
Labels: Testing

#6017 [added function] Group error message cell positioning
  php/libraries/LorisForm.class.inc
  smarty/templates/instrument_html.tpl
Labels: Passed Manual Tests, Stale

#6877 [API] fix POST to candidates type error
  modules/api/php/endpoints/candidates.class.inc
Labels: Bug

#6632 [dashboard] Update Dashboard Testplan and Readme
  modules/dashboard/README.md
  modules/dashboard/test/TestPlan.md
Labels: Documentation

#6514 [Documentation] DQT readme optional steps clarification
  modules/dataquery/README.md
Labels: Documentation

#6871 [imaging_browser] Fix inefficient query for first acquisition date
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: Bug, Critical to release

#6882 [Statistics] fix behavioural tab without any project selection
  modules/statistics/php/stats_behavioural.class.inc
Labels: Bug

#6667 [ReadTheDocs] Structure and template fixes
  .readthedocs.yml
  CONTRIBUTING.md
  docs/CodingStandards.md
  docs/index.md
  docs/requirements.txt
  docs/wiki/01_STUDY_PARAMETERS_SETUP/01_Study_Variables/02_Projects.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/01_Study_Variables/03_Sites.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/01_Study_Variables/04_Subprojects.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/01_Study_Variables/05_Timepoints.md
  docs/wiki/99 - Developers/LORIS-REST-API-0.0.2.md
  docs/wiki/99 - Developers/LORIS-REST-API-0.0.3-dev.md
  docs/wiki/99_Developers/Alternative_Install/LORIS_on_Macintosh/README.md
  docs/wiki/99_Developers/Automated_Testing.md
  docs/wiki/99_Developers/Code_Review_Guide.md
  docs/wiki/99_Developers/Help_Style_Guide.md
  docs/wiki/99_Developers/LORIS-REST-API-0.0.2.md
  docs/wiki/99_Developers/LORIS-REST-API-0.0.3-dev.md
  docs/wiki/99_Developers/UnitTestGuide.md
  mkdocs.yml
  modules/api/test/TestPlan.md
  modules/genomic_browser/README.md
  modules/imaging_uploader/README.md
  readthedocs/mkdocs.yml
  readthedocs/plugins/mkdocs-root-plugin/mkdocs_root_plugin/__init__.py
  readthedocs/plugins/mkdocs-root-plugin/mkdocs_root_plugin/plugin.py
  readthedocs/plugins/mkdocs-root-plugin/setup.py
  readthedocs/requirements.txt
  readthedocs/themes/loris_theme/breadcrumbs.html
Labels: Bug, Documentation, Passed Manual Tests

#6858 [battery_manager] Resolved Permission Issues
  modules/battery_manager/jsx/batteryManagerIndex.js
  modules/battery_manager/php/test.class.inc
  modules/battery_manager/php/testendpoint.class.inc
Labels: Bug

#6859 [instrument_builer] Blank line fix
  modules/instrument_builder/js/instrument_builder.instrument.js
  modules/instrument_builder/jsx/react.questions.js
Labels: Bug, Passed Manual Tests

#6888 [Imaging_browser] Access to view session based on session project
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_browser/test/TestPlan.md
Labels: Bug, Passed Manual Tests

#6837 [DQT] DQT redesign with existing dataquery
  SQL/0000-00-02-Modules.sql
  SQL/New_patches/2020-07-14_NewModuleDQT.sql
  modules/dqt/.gitignore
  modules/dqt/README.md
  modules/dqt/ajax/GetDoc.php
  modules/dqt/ajax/datadictionary.php
  modules/dqt/ajax/getAllSessions.php
  modules/dqt/ajax/queryContains.php
  modules/dqt/ajax/queryEqual.php
  modules/dqt/ajax/queryGreaterThanEqual.php
  modules/dqt/ajax/queryLessThanEqual.php
  modules/dqt/ajax/queryNotEqual.php
  modules/dqt/ajax/queryStartsWith.php
  modules/dqt/ajax/retrieveCategoryDocs.php
  modules/dqt/ajax/saveQuery.php
  modules/dqt/css/dataquery.css
  modules/dqt/help/dataquery.md
  modules/dqt/jsx/components/expansionpanels.js
  modules/dqt/jsx/components/searchabledropdown.js
  modules/dqt/jsx/components/stepper.js
  modules/dqt/jsx/react.app.js
  modules/dqt/jsx/react.fieldselector.js
  modules/dqt/jsx/react.filterBuilder.js
  modules/dqt/jsx/react.navigationStepper.js
  modules/dqt/jsx/react.notice.js
  modules/dqt/jsx/react.savedqueries.js
  modules/dqt/jsx/react.sidebar.js
  modules/dqt/jsx/react.tabs.js
  modules/dqt/php/dqt.class.inc
  modules/dqt/php/module.class.inc
  modules/dqt/templates/form_dqt.tpl
  modules/dqt/test/TestPlan.md
  raisinbread/RB_files/RB_modules.sql
  webpack.config.js
Labels: Cleanup, Passed Manual Tests, Priority: High, UI

#6790 [Tools] Enable PHPCS for CouchDB_Import_MRI.php
  test/run-php-linter.sh
  tools/CouchDB_Import_MRI.php
Labels: Testing

#6795 [Tools] Enable PHPCS for generate_project_statistics_csv.php
  php/libraries/OutputWrapper.class.inc
  test/run-php-linter.sh
  tools/generate_project_statistics_csv.php
Labels: Cleanup, Passed Manual Tests, Testing

#6042 [Consent] Add ParentID to `consent` for consent grouping
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2020-02-10-AddConsentGrouping.sql
  modules/candidate_parameters/ajax/formHandler.php
  php/libraries/Utility.class.inc
  raisinbread/RB_files/RB_consent.sql
  raisinbread/RB_files/RB_consent_group.sql
Labels: Blocking, Feature, Passed Manual Tests, SQL

#6617 [User Accounts] Form improvements
  modules/user_accounts/jsx/userAccountsIndex.js
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
  modules/user_accounts/test/user_accountsTest.php
  php/libraries/NDB_Page.class.inc
Labels: UI

#6860 [battery_manager] Clarify Permission Labels
  SQL/0000-00-01-Permission.sql
  SQL/New_patches/2020-07-22_RenameBatteryManagerPermissions.sql
  modules/battery_manager/test/TestPlan.md
Labels: Documentation, Passed Manual Tests

#6635 [document_repository] Notification emails
  modules/document_repository/php/files.class.inc
  modules/document_repository/php/uploadcategory.class.inc
Labels: 23.0.0-testing, Bug

#6719 [configuration] Add date_format as DataType in ConfigSettings
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2020_06_16_Add_Date_Format_to_ConfigSettings_DataType.sql
  modules/candidate_parameters/ajax/formHandler.php
  modules/configuration/php/configuration.class.inc
  modules/configuration/templates/form_configuration.tpl
Labels: Bug, Caveat for Existing Projects, SQL

#6896 [Raisinbread] Change Visit Stage to match Instrument data
  raisinbread/RB_files/RB_session.sql
Labels: Needs Work, RaisinBread

#6103 [Imaging QC + Behavioural QC] Cleanup integration test code
  CHANGELOG.md
  modules/behavioural_qc/ajax/GetCandidates.php
  modules/behavioural_qc/test/behavioural_qcTest.php
  modules/imaging_qc/test/imaging_qcTest.php
  raisinbread/RB_files/RB_permissions.sql
Labels: Cleanup, Testing

#6895 [Raisinbread] Removed references to Reliability module
  SQL/Cleanup_patches/2020-08-11-RemoveReliabilityPermissions.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  raisinbread/migration.md
Labels: RaisinBread

#6804 [Test] unittests for NDB_Page.class.inc
  test/unittests/NDB_PageTest.php
Labels: Testing

#6819 [Test] unittests for NDB_BVL_Instrument library
  test/unittests/NDB_BVL_Instrument_Test.php
  test/unittests/NDB_BVL_Instrument_ToJSON_Test.php
Labels: Testing

#6892 Add AcquisitionDate field in the files table and back populate it
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2020-08-10_add_AcquisitionDate_to_files.sql
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  raisinbread/RB_files/RB_files.sql
Labels: Add to Release Notes, Passed Manual Tests, RaisinBread, SQL

#6788 [Tools] Enable PHPCS for CouchDB_Confirm_Integrity.php
  test/run-php-linter.sh
  tools/CouchDB_Confirm_Integrity.php
Labels: Testing

#6870 [Lint] Fix PHP Deprecated warning
  tools/exporters/dataExtractor.php
Labels: Bug, Cleanup

#6044 [Consent] Group consents + Improve UI
  CHANGELOG.md
  modules/candidate_parameters/ajax/getData.php
  modules/candidate_parameters/jsx/ConsentStatus.js
  php/libraries/Utility.class.inc
Labels: Feature, Passed Manual Tests

#6156 [new_profile] Auto-select only site option
  CHANGELOG.md
  jsx/Filter.js
  jsx/Form.js
  modules/new_profile/php/new_profile.class.inc
Labels: Passed Manual Tests, UI

#6210 [Login] Toggle password visibility (#5935)
  htdocs/css/password.css
  htdocs/js/passwordVisibility.js
  jsx/Password.js
  modules/login/templates/form_login.tpl
  modules/my_preferences/templates/form_my_preferences.tpl
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
  package.json
  webpack.config.js
Labels: Blocking, Passed Manual Tests, UI

#6763 [acknowledgement] integrating test
  modules/acknowledgements/test/AcknowledgementsTest.php
  test/dockerized-integration-tests.sh
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: Passed Manual Tests, Testing

#6785 [Tools] Enable PHPCS for CouchDB_Import_Demographics.php
  test/run-php-linter.sh
  tools/CouchDB_Import_Demographics.php
Labels: Testing

#6789 [Tools] Enable PHPCS for CouchDB_Import_Instruments.php
  test/run-php-linter.sh
  tools/CouchDB_Import_Instruments.php
Labels: Blocked, Testing

#6900 [Raisinbread] Added CNV/CPG records for candidates with SNP data
  raisinbread/RB_files/RB_CNV.sql
  raisinbread/RB_files/RB_genomic_cpg.sql
  raisinbread/RB_files/RB_genomic_cpg_annotation.sql
  raisinbread/RB_files/RB_genomic_sample_candidate_rel.sql
Labels: RaisinBread

#6912 [Integration] changeUserProject helper function, candidate_profile tests
  modules/candidate_profile/test/candidate_profileTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/phpunit.xml
Labels: Passed Manual Tests, Testing

#6671 [API] New branch for adding the testsuite for the API + addressed comments
  package.json
  raisinbread/test/api/LorisApiAuthenticatedTest.php
  raisinbread/test/api/LorisApiCandidatesTest.php
  raisinbread/test/api/LorisApiDicomsTest.php
  raisinbread/test/api/LorisApiImagesTest.php
  raisinbread/test/api/LorisApiInstrumentsTest.php
  raisinbread/test/api/LorisApiProjectsTest.php
  raisinbread/test/api/LorisApiRecordingsTest.php
  raisinbread/test/api/LorisApiVisitsTest.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/phpunit.xml
Labels: API, Blocking, Passed Manual Tests, Testing
