Repository aces/Loris, pull requests merged in 2020-04, with the labels that each got.

#6121 [candidate_profile] Add behavioural data widget
  modules/instruments/jsx/CandidateInstrumentList.js
  modules/instruments/jsx/VisitInstrumentList.js
  modules/instruments/php/module.class.inc
  modules/instruments/php/visitsummary.class.inc
  webpack.config.js
Labels: Critical to release, Feature, Passed Manual Tests

#6216 Update RB migration file and database
  SQL/9999-99-99-drop_tables.sql
  SQL/Cleanup_patches/2019-12-06-Remove-DataIntegrityFlag.sql
  SQL/New_patches/2018-05-18-adding_physiological_all_sites_permissions.sql
  SQL/New_patches/2019-02-08-multiple_mri_protocols.sql
  SQL/New_patches/2019-07-02-Add_Edit_DoB_Permissions.sql
  SQL/New_patches/2019-07-04-add_DoD_feature.sql
  SQL/New_patches/2019-07-05-Add_Language_feature.sql
  SQL/New_patches/2019-08-06-Add_date_display_format_config_setting.sql
  SQL/New_patches/2019-10-09-move_MINCToolsPath_configuration_to_Config_tables.sql
  SQL/New_patches/2019-10-29-adding_issues_attachments_table.sql
  SQL/New_patches/2020-01-20-adding_electrophysiology_browser_to_modules_table.sql
  SQL/New_patches/2020-02-18-MyPrefModule.sql
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/RB_files/RB_issues_attachments.sql
  raisinbread/RB_files/RB_modules.sql
  raisinbread/RB_files/RB_mri_protocol_checks_group_target.sql
  raisinbread/RB_files/RB_mri_protocol_group.sql
  raisinbread/RB_files/RB_mri_protocol_group_target.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  raisinbread/migration.md
Labels: Critical to release, SQL

#6223 [Instruments] Bugfix multi-escaped special characters
  php/libraries/LorisForm.class.inc
Labels: Bug, Security

#6198 [Publication] Update User::singleton() declarations to facilitate unit testing
  modules/publication/ajax/FileDelete.php
  modules/publication/ajax/FileDownload.php
  modules/publication/ajax/FileUpload.php
  modules/publication/ajax/getData.php
  modules/publication/php/publication.class.inc
  modules/publication/php/view_project.class.inc
Labels: GSOC

#6339 [candidate_profile] Fix breadcrumb links in candidate_profile
  modules/candidate_profile/php/candidate_profile.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6217 [issue_tracker] Update testing plan for issue attachments
  modules/issue_tracker/test/issue_tracker_test_plan.md
Labels: 23.0.0-testing, Documentation, Testing

#6340 [Publication] Fixing Filename not displaying Issue
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/viewProject.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6368 README.md - Fix broken link to CentOS install instructions
  README.md
Labels: Bug, Documentation

#6356 [electrophysiology_browser] Fix session breadcrumb
  modules/electrophysiology_browser/php/sessions.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6370 [MRI Violations] Link to DICOM archive broken.
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
Labels: 23.0.0-testing, Bug

#6359 [Instruments] Control Panel on Mobile has bad UI
  htdocs/css/simple-sidebar.css
Labels: 23.0.0-testing, UI

#6296 Fix broken links to MCIN websites in README; cleanup
  README.md
Labels: Bug, Documentation, Meta

#6320 [User Accounts] Removed line 5 from TestPlan.md
  modules/user_accounts/test/TestPlan.md
Labels: 23.0.0-testing, Bug, Documentation, GSOC

#6337 [candidate_profile] Add help text
  modules/candidate_profile/help/candidate_profile.md
Labels: 23.0.0-testing, Bug, Documentation

#6346 [UI] Improve navigation bar + support mobile/tablet
  htdocs/bootstrap/css/custom-css.css
  htdocs/js/helpHandler.js
  htdocs/main.css
  smarty/templates/main.tpl
Labels: 23.0.0-testing, Bug, Passed Manual Tests, UI

#6358 [BVL Feedback] Restore BVL Feedback link at the instrument level
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6330 [User Accounts] Disable password auto-completion on edit_user page
  modules/my_preferences/templates/form_my_preferences.tpl
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
Labels: 23.0.0-testing, Bug, Passed Manual Tests, UI

#6345 [Raisinbread] Add data to fix failed tests
  SQL/New_patches/2020-01-16-ModuleManager.sql
  raisinbread/RB_files/RB_participant_accounts.sql
  raisinbread/RB_files/RB_test_names.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
Labels: 23.0.0-testing, Bug, Passed Manual Tests, RaisinBread, SQL

#6187 Rename webdriver package in composer.json
  composer.json
  composer.lock
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/01 - LORIS Install/Ubuntu/README.md
Labels: Bug, Meta, Passed Manual Tests

#6357 [smarty template] add possible go back one page function
  smarty/templates/403.tpl
Labels: Proposal, UI

#6143 [Docs] Add documentation for the getWidgets function
  docs/ModuleWidgets.md
Labels: Documentation

#6221 [imaging_browser] Imaging browser exception
  modules/imaging_browser/css/imaging_browser.css
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/templates/form_viewSession.tpl
  modules/imaging_browser/templates/imaging_session_controlpanel.tpl
Labels: 23.0.0-testing, Passed Manual Tests

#6361 [imaging_uploader] can't upload file with Phantom set 'yes'
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: 23.0.0-testing, Bug

#6372 [MRI Violations] MRI protocol table is now read-only.
  modules/mri_violations/ajax/UpdateMRIProtocol.php
  modules/mri_violations/js/mri_protocol_violations.js
  modules/mri_violations/templates/menu_mri_protocol_violations.tpl
  modules/mri_violations/test/TestPlan.md
Labels: 23.0.0-testing, Testing

#6367 [MRI Violations] Searches for types of problems containing newlines fail.
  modules/mri_violations/php/mri_violations.class.inc
  raisinbread/RB_files/RB_MRICandidateErrors.sql
Labels: 23.0.0-testing, Bug, Passed Manual Tests, RaisinBread

#6390 [GenomicBrowser] Readme missing sections added
  modules/genomic_browser/README.md
Labels: 23.0.0-testing, Documentation

#6369 [Imaging Uploader] Incorrect values in upload form for phantom scans.
  modules/imaging_uploader/jsx/UploadForm.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6384 [document_repository] fix no file under root folder
  modules/document_repository/jsx/docIndex.js
Labels: 23.0.0-testing, Bug

#6403 [Candidate list] Fixed Subproject header in candidate list sorting
  jsx/DataTable.js
Labels: 23.0.0-testing, Bug

#6386 [Candidate profile] Browser console error cleanup
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: 23.0.0-testing, Cleanup

#6398 [candidate_parameters] Display Candidate Info button without data_entry permission
  modules/timepoint_list/templates/timepoint_list_controlpanel.tpl
Labels: Bug

#6410 [Travis] update php-webdriver
  composer.json
  composer.lock
  htdocs/AjaxHelper.php
  htdocs/router.php
  modules/acknowledgements/test/AcknowledgementsTest.php
  modules/battery_manager/test/BatteryManagerTest.php
  modules/behavioural_qc/test/behavioural_qcTest.php
  modules/brainbrowser/test/brainbrowserTest.php
  modules/candidate_list/test/candidate_listTest.php
  modules/candidate_parameters/test/candidate_parametersTest.php
  modules/configuration/test/ConfigurationTest.php
  modules/conflict_resolver/test/conflict_resolverTest.php
  modules/create_timepoint/test/create_timepointTest.php
  modules/dashboard/test/DashboardTest.php
  modules/data_release/test/data_releaseTest.php
  modules/datadict/test/datadictTest.php
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/document_repository/test/document_repositoryTest.php
  modules/examiner/test/ExaminerTest.php
  modules/genomic_browser/test/genomic_browserTest.php
  modules/help_editor/test/help_editorTest.php
  modules/imaging_browser/test/imaging_browserTest.php
  modules/imaging_qc/test/imaging_qcTest.php
  modules/imaging_uploader/test/imaging_uploaderTest.php
  modules/instrument_builder/test/instrument_builderTest.php
  modules/instrument_list/test/instrument_listTest.php
  modules/instrument_manager/test/instrument_managerTest.php
  modules/issue_tracker/test/Issue_TrackerTest.php
  modules/media/test/MediaTest.php
  modules/module_manager/test/module_managerTest.php
  modules/mri_violations/test/mri_violationsTest.php
  modules/my_preferences/test/my_preferencesTest.php
  modules/new_profile/test/new_profileTest.php
  modules/next_stage/test/next_stageTest.php
  modules/server_processes_manager/test/server_processes_managerTest.php
  modules/statistics/test/Statistics_Test.php
  modules/survey_accounts/test/survey_accountsTest.php
  modules/timepoint_list/test/timepoint_listTest.php
  modules/user_accounts/test/user_accountsTest.php
  test/integrationtests/Login_Test.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/test_instrument/test_instrumentTest.php
Labels: 23.0.0-testing, Testing

#6364 [MRI Violations] Filter not populated completely after following links.
  modules/mri_violations/jsx/columnFormatterUnresolved.js
  modules/mri_violations/php/mri_violations.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6393 [Instruments] Change examiner location question for instrument AOSI.
  raisinbread/instruments/NDB_BVL_Instrument_aosi.class.inc
Labels: 23.0.0-testing, RaisinBread, UI

#6394 [Lorisform] undefined name fix
  php/libraries/LorisForm.class.inc
Labels: Bug

#6396 [LorisForm&NDB_Page] option vs attribute misuses
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_Page.class.inc
Labels: Bug, Cleanup, Documentation, Meta

#6352 [login][request_account] Adding project field to request account
  modules/login/php/requestaccount.class.inc
  modules/login/templates/form_requestaccount.tpl
Labels: 23.0.0-testing, Critical to release

#6412 [menu] fix instrument_list display problem
  htdocs/css/simple-sidebar.css
Labels: Bug, UI

#6234 [candidate_parameters] Update TestPlan to include DoB and DoD tabs
  modules/candidate_parameters/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6348 [media / Test Plan] Update TestPlan.md
  modules/media/test/TestPlan.md
Labels: 23.0.0-testing, Critical to release, Documentation

#6391 [Genomic Browser] TestPlan tweak Format, Uploading, Help
  modules/genomic_browser/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6400 Fixed Pagination for Data Query Tools
  modules/dataquery/jsx/react.fieldselector.js
  modules/dataquery/jsx/react.paginator.js
Labels: 23.0.0-testing, Passed Manual Tests

#6409 [ document_repository] update test plan
  modules/document_repository/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6341 [Login] Update test plan for password resets
  modules/login/test/Reset_Password_Test_Plan.md
Labels: 23.0.0-testing, Critical to release, Documentation

#6189 [candidate_profile] Improve gridyness of grid
  jsx/CSSGrid.js
  jsx/Card.js
  jsx/Panel.js
Labels: 23.0.0-testing, Critical to release, UI

#6416 [permissions] Renamed description of superuser
  SQL/0000-00-01-Permission.sql
  SQL/New_patches/2020-04-20-Rename_highlander_permission.sql
  modules/user_accounts/test/TestPlan.md
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/migration.md
Labels: 23.0.0-testing, Cleanup, SQL

#6344 [Login] Enable optional reCAPTCHA on Request Account page
  docs/wiki/00 - SERVER INSTALL AND CONFIGURATION/02 - Website Configuration/reCAPTCHA.md
  mkdocs.yml
  modules/login/php/requestaccount.class.inc
  modules/login/templates/form_requestaccount.tpl
  modules/login/test/Request_Account_test_plan.md
Labels: 23.0.0-testing, Documentation, Feature, Passed Manual Tests, Security

#6408 [document_repository] fix no file under root folder
  modules/document_repository/jsx/docIndex.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6385 [jsx/(Filter.js FilterableDataTable.js DataTable.js)] Browser console error cleanup
  jsx/DataTable.js
  jsx/Filter.js
  jsx/FilterableDataTable.js
Labels: 23.0.0-testing, Cleanup, Passed Manual Tests

#6397 [API] Add TestPlan.md
  modules/api/test/TestPlan.md
Labels: 23.0.0-testing, API, Documentation

#6377 [Dashboard] Fix discrepancies for "Violated Scans" in Dashboard
  modules/mri_violations/php/module.class.inc
  modules/mri_violations/php/mri_violations.class.inc
Labels: 23.0.0-testing, Bug

#6334 [New Profile] Fix TypeError on candidate creation
  modules/new_profile/php/new_profile.class.inc
Labels: 23.0.0-testing, Bug, Critical to release, Passed Manual Tests

#6419 [Configuration] Improve error message
  modules/configuration/ajax/process.php
Labels: 23.0.0-testing, Cleanup

#6371 [Statistics / Demographic] fix issue where users were able to see other projects in the drop-down menu.
  modules/statistics/php/stats_demographic.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6395 [LorisForm] Form static element bug in group mode
  php/libraries/LorisForm.class.inc
Labels: 23.0.0-testing, Bug, Caveat for Existing Projects

#6349 [media] use languageLabel derived from language_id to display
  modules/media/jsx/editForm.js
Labels: 23.0.0-testing, Passed Manual Tests

#6338 [candidate_profile] Add test plan for module
  modules/candidate_profile/test/TestPlan.md
Labels: 23.0.0-testing, Critical to release, Documentation, Meta, Testing

#6331 [Doc Repo] Update test plan
  modules/document_repository/test/TestPlan.md
Labels: 23.0.0-testing, Documentation

#6427 [DataTable] - Fix Frozen Headers
  htdocs/js/jquery.dynamictable.js
Labels: 23.0.0-testing, Passed Manual Tests, UI

#6354 [DataFramework Filters] Check Site Permissions Filter
  modules/candidate_list/php/candidate_list.class.inc
  modules/datadict/php/datadict.class.inc
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/electrophysiology_browser/php/electrophysiology_browser.class.inc
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/media/php/media.class.inc
  modules/module_manager/php/module_manager.class.inc
  modules/survey_accounts/php/survey_accounts.class.inc
  modules/user_accounts/php/user_accounts.class.inc
  php/libraries/DataFrameworkMenu.class.inc
Labels: 23.0.0-testing, Critical to release

#6292 [DICOM Archive] Change Sex filter from text to dropdown
  modules/dicom_archive/jsx/dicom_archive.js
Labels: Needs Work, UI

#6452 [Login] Login control
  modules/login/php/module.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6426 [DQT] 'Download Table as CSV' broken if StaticDataTable has non-empty data from mri_data field
  jsx/StaticDataTable.js
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#6446 [ElectrophysiologyBrowser] Adding manual TestPlan
  modules/electrophysiology_browser/test/TestPlan.md
Labels: 23.0.0-testing, Documentation, Testing
