Repository aces/Loris, pull requests merged in 2021-09, with the labels that each got.

#7504 [CouchDB MRI Importer] Account for selected file(s)
  tools/CouchDB_MRI_Importer.php
Labels: Passed Manual Tests

#7120 [docs] Wiki migration - Glossary
  docs/wiki/99_Developers/LORIS_Glossary.md
  readthedocs/mkdocs.yml
Labels: Documentation

#7379 [Bvl Feedback] jQuery cleanup
  modules/bvl_feedback/ajax/bvl_panel_ajax.php
  modules/bvl_feedback/ajax/new_bvl_feedback.php
  modules/bvl_feedback/ajax/react_get_bvl_threads.php
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  php/libraries/Utility.class.inc
Labels: Cleanup

#7069 [configuration] adds confirmation prompt when deleting a field.
  .eslintrc.json
  modules/configuration/.gitignore
  modules/configuration/js/configuration_helper.js
  modules/configuration/jsx/configuration_helper.js
  modules/configuration/test/TestPlan.md
  webpack.config.js
Labels: Bug, UI, Passed Manual Tests

#7552 [imaging_browser] Escape the header table in view session page
  modules/imaging_browser/templates/table_session_header.tpl
Labels: Bug, Passed Manual Tests, Critical to release, Security

#7551 physiological_annotation_* schema changes
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2021-08-25-physiological_annotation_schema_changes.sql
Labels: Bug, SQL, Passed Manual Tests, Critical to release, Blocking

#7503 Add Alias in parameter type table and map BIDS Alias to MINC headers present in parameter_type
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2021-06-25_add_alias_column_to_parameter_type_for_bids_parameter_names.sql
  raisinbread/RB_files/RB_parameter_type.sql
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: SQL, Discussion Required, RaisinBread

#7474 add changes made to the BIDS tables for the mnc2bids conversion script
  SQL/0000-00-00-schema.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2021-06-11_exported_files_BIDS_tables.sql
Labels: SQL, Critical to release, Blocking

#7558 [conflict_resolver] api + dataframework (version 3)
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2021-08-27_conflict_resolved_unique_key.sql
  modules/api/php/endpoint.class.inc
  modules/api/php/endpoints/login.class.inc
  modules/conflict_resolver/help/conflict_resolver.md
  modules/conflict_resolver/jsx/conflictResolverIndex.js
  modules/conflict_resolver/jsx/conflict_resolver.js
  modules/conflict_resolver/jsx/fix_conflict_form.js
  modules/conflict_resolver/jsx/resolvedConflictsIndex.js
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/endpoints/resolved.class.inc
  modules/conflict_resolver/php/endpoints/unresolved.class.inc
  modules/conflict_resolver/php/models/resolveddto.class.inc
  modules/conflict_resolver/php/models/unresolveddto.class.inc
  modules/conflict_resolver/php/module.class.inc
  modules/conflict_resolver/php/provisioners/resolvedprovisioner.class.inc
  modules/conflict_resolver/php/provisioners/unresolvedprovisioner.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/conflict_resolver/static/schema.yml
  modules/conflict_resolver/test/TestPlan.md
  modules/conflict_resolver/test/conflict_resolverTest.php
  src/Data/Provisioners/DBObjectProvisioner.php
  src/Http/Endpoint.php
  webpack.config.js
Labels: Passed Manual Tests, Critical to release

#7580 [Ci] Fix Build on v23 branch
  jsx/Form.js
Labels: Bug, Priority: High, Blocking

#7579 [Security] Add 2 more Content-Security-Policy options
  php/libraries/NDB_Client.class.inc
Labels: Add to Release Notes, Security
