Repository aces/Loris, pull requests merged in 2021-01, with the labels that each got.

#7258 [Core] Error page - Main page link fix
  src/Http/Error.php
Labels: Passed Manual Tests

#7199 [NDB_Factory] Remove testing mode
  php/libraries/NDB_Client.class.inc
  php/libraries/NDB_Factory.class.inc
  php/libraries/Utility.class.inc
  test/integrationtests/LorisIntegrationTest.class.inc
  test/unittests/CandidateTest.php
  test/unittests/Database_Test.php
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
  test/unittests/NDB_BVL_Instrument_Test.php
  test/unittests/NDB_Factory_Test.php
  test/unittests/SinglePointLoginTest.php
  test/unittests/UserTest.php
  test/unittests/UtilityTest.php
  test/unittests/VisitTest.php
Labels: Cleanup, Meta

#7267 [battery_manager] Fix phan undeclared property errors
  modules/battery_manager/php/testendpoint.class.inc
Labels: Passed Manual Tests

#7238 Fix PhanUndeclaredProperty errors in VisitTest
  test/unittests/VisitTest.php
Labels: Passed Manual Tests

#7269 [dicom_archive] Fix undeclared properties in dicom_archive
  modules/dicom_archive/php/viewdetails.class.inc
Labels: Passed Manual Tests

#7040 [Data Dictionary] Change filter to multiselect + Update TestPlan
  modules/datadict/jsx/dataDictIndex.js
  modules/datadict/test/TestPlan.md
Labels: Passed Manual Tests

#7165 [create_timepoint] remove unnecessary smarty template
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/templates/form_create_timepoint.tpl
Labels: Cleanup, Passed Manual Tests

#7275 [Tools] delete_candidate fix
  tools/delete_candidate.php
Labels: 23.0.0-testing

#7284 [Publication] File delete not working (#6195 regression)
  modules/publication/jsx/projectFields.js
Labels: Blocking, Bug, Passed Manual Tests

#7279 Fix undeclared property in htdocs/survey.php
  htdocs/survey.php
Labels: Passed Manual Tests

#6825 [Test/Tools] Option in run-php-linter.sh to auto fix PHPCS
  package.json
  test/run-php-linter.sh
Labels: Blocking, Cleanup, Passed Manual Tests, Testing

#7063 [cand. profile/instr. list] Send to DCC/BVL Feedback sessionID fixes
  modules/bvl_feedback/ajax/bvl_panel_ajax.php
  modules/bvl_feedback/ajax/react_get_bvl_threads.php
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  php/libraries/BVL_Feedback_Panel.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: Bug, Cleanup

#7283 [Publication] jQuery usage cleaning
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/jsx/viewProjectIndex.js
Labels: Cleanup

#7291 [Eslint] Warning/Error on jQuery usage
  .eslintrc.json
  package.json
Labels: Cleanup, Passed Manual Tests, Testing

#7259 [instrument_list] Add project permissions
  modules/instrument_list/README.md
  modules/instrument_list/php/instrument_list.class.inc
  modules/instrument_list/test/TestPlan.md
Labels: Passed Manual Tests

#7030 [DQT beta] fix console warnings
  jsx/Form.js
  modules/dqt/jsx/react.app.js
  modules/dqt/jsx/react.tabs.js
Labels: Cleanup, Passed Manual Tests

#7115 [DQT] solves saved queries having wrong operator in list.
  modules/dqt/jsx/react.tabs.js
Labels: Bug, Passed Manual Tests

#7153 [LINST] Support for different test_name and table name
  modules/instrument_builder/js/instrument_builder.instrument.js
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  raisinbread/instruments/bmi.linst
  raisinbread/instruments/bmi.meta
  tools/lorisform_parser.php
Labels: Passed Manual Tests

#7251 [23.0][dashboard] Study Progression panel graphs only show data when zoomed out
  modules/dashboard/css/dashboard.css
  modules/statistics/js/studyprogression.js
  modules/statistics/templates/studyprogression.tpl
Labels: 23.0.0-testing, Bug, Passed Manual Tests, UI

#7277 [Publication] Display all filterable columns in list
  modules/publication/jsx/publicationIndex.js
Labels: Passed Manual Tests, UI

#7293 [Datadict] jQuery cleanup
  .eslintrc.json
  modules/datadict/jsx/dataDictIndex.js
Labels: Cleanup, Testing

#7151 [Datadict] filter issue when table name is different then test_name
  docker-compose.yml
  modules/datadict/php/datadict.class.inc
Labels: Bug, Passed Manual Tests, Priority: Projects

#7297 [eslint] Unnecessary semicolon no-extra-semi
  jsx/DynamicDataTable.js
Labels: Cleanup

#7298 [eslint] Missing key prop for element in iterator react/jsx-key
  jsx/Form.js
Labels: Cleanup

#7301 [eslint] Unexpected 'this' no-invalid-this
  jsx/StaticDataTable.js
Labels: Cleanup

#7302 Remove unused factories
  php/libraries/NDB_Form.class.inc
  php/libraries/NDB_Menu.class.inc
Labels: Cleanup

#7304 [phan] Upgrade phan to v4.x
  composer.json
  composer.lock
  src/Middleware/ExceptionHandlingMiddleware.php
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: dependencies

#7305 phan PhanUnusedPublicMethodParameter
  .phan/config.php
Labels: Cleanup, Meta
