Repository aces/Loris, pull requests merged in 2021-05, with the labels that each got.

#7359 Add CenterID class to LORIS
  modules/api/php/endpoints/candidate/visit/visit.class.inc
  modules/api/php/endpoints/candidates.class.inc
  modules/api/php/models/candidatesrow.class.inc
  modules/api/php/models/projectimagesrow.class.inc
  modules/candidate_list/php/candidatelistrow.class.inc
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  modules/create_timepoint/php/timepoint.class.inc
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/dicom_archive/php/dicomarchiverowprovisioner.class.inc
  modules/dicom_archive/php/dicomarchiverowwithoutsession.class.inc
  modules/dicom_archive/php/dicomarchiverowwithsession.class.inc
  modules/electrophysiology_browser/php/electrophysiologybrowserrow.class.inc
  modules/electrophysiology_browser/php/electrophysiologybrowserrowprovisioner.class.inc
  modules/imaging_browser/php/imagingbrowserrow.class.inc
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/issue_tracker/php/issuerow.class.inc
  modules/media/php/media.class.inc
  modules/media/php/mediafile.class.inc
  modules/new_profile/php/new_profile.class.inc
  modules/statistics/php/statistics_dd_site.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/statistics_site.class.inc
  modules/survey_accounts/php/surveyaccountsprovisioner.class.inc
  modules/survey_accounts/php/surveyaccountsrow.class.inc
  modules/user_accounts/php/edit_user.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/CenterID.php
  php/libraries/Image.class.inc
  php/libraries/NDB_BVL_Battery.class.inc
  php/libraries/Notify.class.inc
  php/libraries/Recording.class.inc
  php/libraries/Site.class.inc
  php/libraries/TimePoint.class.inc
  php/libraries/User.class.inc
  src/Data/Models/ImageDTO.php
  src/Data/Models/RecordingDTO.php
  src/StudyEntities/MultiSiteHaver.php
  src/StudyEntities/SiteHaver.php
  test/integrationtests/BatteryLookup_Test.php
  test/unittests/CandidateTest.php
  test/unittests/UserTest.php
Labels: Cleanup, Passed Manual Tests

#7443 [Instruments] Fix Display of 0 scores with json data
  smarty/templates/instrument_html.tpl
Labels: Passed Manual Tests

#7454 [Module Manager][Bugfix] id undefined, not passed to callback
  modules/module_manager/jsx/modulemanager.js
Labels: Bug, Passed Manual Tests
