Repository aces/Loris, pull requests merged in 2021-11, with the labels that each got.

#7761 [bvl_feedback] Remove redundant bvlFeedbackPossible method
  php/libraries/NDB_BVL_Feedback.class.inc
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Passed Manual Tests

#7456 [Media] Display instrument name
  modules/media/ajax/FileUpload.php
  modules/media/php/media.class.inc
  modules/media/php/mediafileprovisioner.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Passed Manual Tests, Critical to release

#7547 Update CHANGELOG.md in Preparation for 24 Release
  CHANGELOG.md
Labels: Documentation

#7762 [next_stage] Updated test plan for clarity
  modules/next_stage/test/TestPlan.md
Labels: Documentation, 24.0.0-bugs

#7795 [login/request account] Weird ordering of projects in dropdown
  jsx/Form.js
  modules/login/jsx/loginIndex.js
  modules/login/jsx/requestAccount.js
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7750 [conflict_resolver] scoring algorithm error message
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Critical to release

#7770 [create_timepoint] First visit in list automatically selected
  modules/create_timepoint/jsx/createTimepointIndex.js
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7565 [Imaging Browser] Sequence Type filter fix
  modules/imaging_browser/php/imaging_browser.class.inc
  modules/imaging_browser/test/imaging_browserTest.php
Labels: Bug, Cleanup, Passed Manual Tests, Critical to release, Priority: High, php, 24.0.0-bugs

#7821 [assign_missing_instruments] Error runing in confirm mode fix
  tools/assign_missing_instruments.php
Labels: Bug, Critical to release, 24.0.0-bugs

#7807 [survey_accounts] Fixed base URL not being set properly
  php/libraries/NDB_Factory.class.inc
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7481 [DQT] performance modifications to data table for DQT only.
  jsx/StaticDataTable.js
  modules/dqt/jsx/react.tabs.js
  modules/dqt/php/dqt.class.inc
  package.json
Labels: Bug, Cleanup, Critical to release

#7433 [EEG] Add view/edit functionality and permissions for EEG BIDS derivatives
  SQL/0000-00-02-Permission.sql
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2021-02-19_electrophysiology_annotation_tables.sql
  SQL/New_patches/2021-04-23-annotation_permissions.sql
  modules/electrophysiology_browser/README.md
  modules/electrophysiology_browser/jsx/components/DownloadPanel.js
  modules/electrophysiology_browser/jsx/components/electrophysiology_session_panels.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/php/annotations.class.inc
  modules/electrophysiology_browser/php/models/electrophysioannotations.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
  modules/electrophysiology_browser/test/TestPlan.md
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  tools/updateDerivativesTest.php
  tools/update_annotation_files.php
Labels: Add to Release Notes, Feature, SQL, Passed Manual Tests, Critical to release

#7789 [user account] fix can't show email errors
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
Labels: 24.0.0-bugs

#7736 [mri_violations] Scrolling
  htdocs/js/jquery.dynamictable.js
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7754 [php/libraries/UserPermissions.class.inc] can't get longname
  php/libraries/UserPermissions.class.inc
  test/unittests/UserTest.php
Labels: Bug, Critical to release, 24.0.0-bugs

#7822 [Menu] Username not appearing in menu bar - fix
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Bug, 24.0.0-bugs

#7794 [Data Release] Small testplan modification
  modules/data_release/test/TestPlan.md
Labels: Documentation, 24.0.0-bugs

#7737 [EEG Browser] Typo, testplan and bugfixes.
  modules/electrophysiology_browser/README.md
  modules/electrophysiology_browser/jsx/react-series-data-viewer/README.md
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
  modules/electrophysiology_browser/test/TestPlan.md
Labels: Passed Manual Tests, Critical to release

#7811 [EEG Browser][Bugfix] Fix Epochs and Electrodes URL Retrieval
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7775 [candidate list] when pscid and dccid don't match, missing error message.
  modules/candidate_list/php/validateids.class.inc
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7278 [Publication] Permission duplicate fix
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2020-01-07-publication_users_edit_perm_rel_pk.sql
  tools/single_use/remove_publication_users_edit_perm_rel_duplicates.php
Labels: Bug, Passed Manual Tests

#7776 [Instruments] Escaping issue sub-optimal - Redirect on save success to load defaults from database
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug, Passed Manual Tests, Critical to release, Security, 24.0.0-bugs

#7819 [NDB_BVL_Instrument] JSON Data support fix DECS field
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug, Passed Manual Tests, Critical to release

#7815 [issue_tracker] Fix loading of page without superuser permission
  modules/battery_manager/php/test.class.inc
  modules/battery_manager/php/testendpoint.class.inc
  modules/battery_manager/php/testprovisioner.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/issue_tracker/php/issuerow.class.inc
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  src/LorisInstance.php
Labels: Bug, Passed Manual Tests, Blocked, Critical to release

#7698 [issue_tracker] Fix incorrect url to issues in notification email
  modules/issue_tracker/ajax/EditIssue.php
  modules/issue_tracker/jsx/index.js
  modules/issue_tracker/php/attachment.class.inc
  modules/issue_tracker/php/edit.class.inc
  modules/issue_tracker/php/uploadhelper.class.inc
Labels: Bug, Critical to release, 24.0.0-bugs

#7836 [instruments] Fix warning when no sessionID set
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug, 24.0.0-bugs

#7796 [user_accounts] Very strange organization of permissions on user_accounts page
  php/libraries/UserPermissions.class.inc
Labels: Bug, Critical to release, 24.0.0-bugs

#7820 [RB] Fix BMI scoring code
  raisinbread/instruments/bmi.score
Labels: Bug, Passed Manual Tests, Blocking, 24.0.0-bugs

#7516 [dqt] New ProgressBar/Remove Smarty/with needed fixes for performance
  modules/dqt/css/dataquery.css
  modules/dqt/js/arrayintersect.js
  modules/dqt/jsx/components/stepper.js
  modules/dqt/jsx/react.app.js
  modules/dqt/jsx/react.fieldselector.js
  modules/dqt/jsx/react.filterBuilder.js
  modules/dqt/jsx/react.navigationStepper.js
  modules/dqt/jsx/react.savedqueries.js
  modules/dqt/jsx/react.sidebar.js
  modules/dqt/jsx/react.tabs.js
  modules/dqt/php/dqt.class.inc
  modules/dqt/php/dqt_setup.class.inc
  modules/dqt/php/sessions.class.inc
  modules/dqt/templates/form_dqt.tpl
Labels: Feature, Cleanup, Critical to release

#7845 [RB] Make BMI scoring slightly less annoying
  raisinbread/README.md
  raisinbread/instruments/bmi.score
Labels: Cleanup

#7561 [dqt] Remove old dataquery
  CHANGELOG.md
  SQL/New_patches/2021-09-07_dqt_drop_old_dataquery.sql
  modules/dataquery/.gitignore
  modules/dataquery/README.md
  modules/dataquery/ajax/GetDoc.php
  modules/dataquery/ajax/datadictionary.php
  modules/dataquery/ajax/getAllSessions.php
  modules/dataquery/ajax/queryContains.php
  modules/dataquery/ajax/queryEqual.php
  modules/dataquery/ajax/queryGreaterThanEqual.php
  modules/dataquery/ajax/queryLessThanEqual.php
  modules/dataquery/ajax/queryNotEqual.php
  modules/dataquery/ajax/queryStartsWith.php
  modules/dataquery/ajax/retrieveCategoryDocs.php
  modules/dataquery/ajax/saveQuery.php
  modules/dataquery/css/dataquery.css
  modules/dataquery/help/dataquery.md
  modules/dataquery/js/arrayintersect.js
  modules/dataquery/js/ui.stats.js
  modules/dataquery/js/workers/savecsv.js
  modules/dataquery/js/workers/savezip.js
  modules/dataquery/jsx/react.app.js
  modules/dataquery/jsx/react.fieldselector.js
  modules/dataquery/jsx/react.filterBuilder.js
  modules/dataquery/jsx/react.paginator.js
  modules/dataquery/jsx/react.sidebar.js
  modules/dataquery/jsx/react.tabs.js
  modules/dataquery/php/dataquery.class.inc
  modules/dataquery/php/module.class.inc
  modules/dataquery/templates/form_dataquery.tpl
  modules/dataquery/test/TestPlan.md
  modules/dqt/js/jstat.js
  modules/dqt/js/ui.stats.js
  modules/dqt/js/workers/savecsv.js
  modules/dqt/js/workers/savezip.js
  modules/dqt/php/module.class.inc
  raisinbread/RB_files/RB_modules.sql
  raisinbread/RB_files/RB_permissions.sql
  webpack.config.js
Labels: Add to Release Notes, SQL, Critical to release, Priority: High

#7843 [Issue tracker] No space before user in Comments & History
  modules/issue_tracker/css/issue_tracker.css
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7757 [SQL] Remove hardcoded configID 26 from schema
  SQL/0000-00-03-ConfigTables.sql
Labels: Cleanup, 24.0.0-bugs

#7840 [Access Profile (Beta)] remove Minimizing boxes
  jsx/CSSGrid.js
  jsx/Card.js
  jsx/Panel.js
  modules/candidate_profile/templates/form_candidate_profile.tpl
Labels: Bug, 24.0.0-bugs

#7686 [Battery Manager] Fix README
  modules/battery_manager/README.md
Labels: Documentation, 24.0.0-bugs

#7760 [conflict_resolver] Updating automated test list in Test Plan
  modules/conflict_resolver/test/TestPlan.md
Labels: Documentation, 24.0.0-bugs

#7841 [Statistics] "View details" link does not work in Data Entry Statistics and Double Data Entry Statistics table
  modules/statistics/php/statistics_site.class.inc
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7842 [User Accounts] Users request are allowed to be created with "incorrect" email address via "user request" UI
  jsx/Form.js
  modules/login/jsx/requestAccount.js
  modules/login/php/signup.class.inc
Labels: Bug, 24.0.0-bugs

#6908 [dqt] import CSV to Define Filters (Feature for leigh)
  CHANGELOG.md
  modules/dqt/css/dataquery.css
  modules/dqt/help/dataquery.md
  modules/dqt/jsx/react.app.js
  modules/dqt/jsx/react.filterBuilder.js
  modules/dqt/jsx/react.importCSV.js
  modules/dqt/jsx/react.tabs.js
  modules/dqt/php/filterbuilder.class.inc
  package.json
Labels: Feature, Critical to release

#7818 [NDB_BVL_Instrument] fix support for JSONData instruments
  php/libraries/LorisFormDictionaryImpl.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Bug, Passed Manual Tests, Critical to release, Blocking, 24.0.0-bugs

#7851 [Core] Log PHP Fatal errors
  src/Middleware/ExceptionHandlingMiddleware.php
Labels: Feature, Cleanup

#7850 [user_accounts] Fix Access when only own site permission is set
  modules/user_accounts/php/useraccountrow.class.inc
  modules/user_accounts/php/useraccountrowprovisioner.class.inc
Labels: Bug, Critical to release, 24.0.0-bugs

#7849 Fix type of physiological electrode X, Y and Z fields to be nullable
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2021-11-23-Electrophysiology_electrodes_nullable_xyz.sql
Labels: Passed Manual Tests, Critical to release, Blocking, 24.0.0-bugs
