Repository aces/Loris, pull requests merged in 2021-12, with the labels that each got.

#7898 Remove dataquery from the modules table in the default schema
  SQL/0000-00-01-Modules.sql
Labels: SQL, 24.0.0-bugs

#7909 [New Profile] No user feedback on wrongly formatted PSCID
  modules/new_profile/jsx/NewProfileIndex.js
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7913 [user_accounts] Random "none" on the page when adding new user
  modules/user_accounts/php/edit_user.class.inc
  modules/user_accounts/templates/form_edit_user.tpl
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7930 [dqt] critical fix remove old dataquery include
  modules/dqt/php/dqt.class.inc
Labels: Bug, Critical to release, 24.0.0-bugs
