Repository aces/Loris, pull requests merged in 2021-03, with the labels that each got.

#6798 [Tools] Enable PHPCS for fix_timepoint_date_problems.php
  test/run-php-linter.sh
  tools/fix_timepoint_date_problems.php
Labels: Testing

#7335 Remove most references to Candidate->getData
  modules/create_timepoint/php/create_timepoint.class.inc
  modules/create_timepoint/php/timepoint.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/timepoint_list/php/timepoint_list_controlpanel.class.inc
  php/libraries/Candidate.class.inc
  src/Middleware/AuthMiddleware.php
  src/StudyEntities/Candidate/EntityType.php
Labels: Cleanup, Passed Manual Tests

#7380 [Conflict Resolver] jQuery cleanup
  .eslintrc.json
  modules/conflict_resolver/jsx/conflictResolverIndex.js
  modules/conflict_resolver/jsx/resolvedConflictsIndex.js
Labels: Passed Manual Tests

#7384 [Instrument builder] jQuery cleanup
  .eslintrc.json
  modules/instrument_builder/jsx/react.instrument_builder.js
  modules/instrument_builder/jsx/react.questions.js
Labels: Cleanup, Passed Manual Tests

#7327 [permissions] Renaming and organizing permissions phase 0
  Dockerfile.test.db
  SQL/0000-00-01-Modules.sql
  SQL/0000-00-01-Permission.sql
  SQL/0000-00-02-Permission.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/Cleanup_patches/2021-01-31-deleting_permissions.sql
  SQL/New_patches/2021-01-31-renaming_permissions.sql
  docs/wiki/99_Developers/Creating_Module.md
  htdocs/postdeploy.php
  modules/user_accounts/php/edit_user.class.inc
  php/installer/Installer.class.inc
  php/libraries/UserPermissions.class.inc
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  raisinbread/README.md
  raisinbread/migration.md
  test/unittests/UserTest.php
Labels: Passed Manual Tests

#7177 [imaging_browser] Add Data Dictionary to imaging browser
  modules/imaging_browser/php/module.class.inc
  php/libraries/Module.class.inc
Labels: Blocking

#7179 [instruments] Add instrument data dictionary to module
  modules/instruments/php/module.class.inc
  php/libraries/LorisFormDictionaryImpl.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_Page.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_aosi.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_medical_history.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_mri_parameter_form.class.inc
  raisinbread/instruments/NDB_BVL_Instrument_radiology_review.class.inc
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Blocking

#7399 [Test] Fix broken build - php-ast
  .github/workflows/loristest.yml
Labels: Blocking, Critical to release

#7398 [Utility] Deprecate old getInstrument functions and replace with new ones
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/Utility.class.inc
  tools/data_integrity/fix_candidate_age.php
Labels: Cleanup, Passed Manual Tests

#7344 [23.0][Instrument] Fix freeze on completed instruments
  php/libraries/NDB_BVL_Instrument.class.inc
  test/test_instrument/test_instrumentTest.php
Labels: Bug, Critical to release, Passed Manual Tests, Priority: High

#7389 Fix all PhanUnusedVariable errors
  .phan/config.php
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_parameters/ajax/getData.php
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/php/resolved_conflicts.class.inc
  modules/dashboard/php/module.class.inc
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/document_repository/php/files.class.inc
  modules/genomic_browser/php/methylation.class.inc
  modules/help_editor/php/edit_help_content.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_qc/php/imaging_qc.class.inc
  modules/imaging_uploader/php/file_decompress.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/issue_tracker/ajax/EditIssue.php
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/login/php/requestaccount.class.inc
  modules/media/ajax/FileUpload.php
  modules/my_preferences/php/my_preferences.class.inc
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/statistics_site.class.inc
  modules/statistics/php/stats_behavioural.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/user_accounts/php/edit_user.class.inc
  php/libraries/CandIDGenerator.php
  php/libraries/Candidate.class.inc
  php/libraries/CouchDB.class.inc
  php/libraries/LorisForm.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  php/libraries/NDB_Menu_Filter.class.inc
  php/libraries/NDB_Notifier_Abstract.class.inc
  php/libraries/Utility.class.inc
  src/Data/ProvisionerInstance.php
  src/Router/BaseRouter.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/test_instrument/test_instrumentTest.php
  test/unittests/CandidateTest.php
  test/unittests/Database_Test.php
  test/unittests/LorisForms_Test.php
  test/unittests/NDB_BVL_FeedbackTest.php
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
  test/unittests/NDB_PageTest.php
  test/unittests/UtilityTest.php
  test/unittests/studyentities/CandID_Test.php
Labels: Passed Manual Tests

#7407 [imaging_browser] Fix type errors in visit MRI popup
  htdocs/feedback_mri_popup.php
  php/libraries/FeedbackMRI.class.inc
Labels: Passed Manual Tests

#7381 [core] fileElement multitype value fix
  jsx/Form.js
Labels: Bug, Passed Manual Tests

#7252 [instruments] Save value into UserID field
  php/libraries/NDB_BVL_Instrument.class.inc
  tools/single_use/SaveUserIDToInstrumentData.php
Labels: Bug

#7180 Add AccessibleResourceFilter for filtering for data framework
  src/Data/Filters/AccessibleResourceFilter.php
Labels: Blocking

#7411 [publication] Give publication creator edit permissions
  modules/publication/ajax/FileUpload.php
Labels: 23.0.0-testing, Bug
