Repository aces/Loris, pull requests merged in 2021-06, with the labels that each got.

#7392 change parameter_file Value to longtext
  SQL/New_patches/2021-03-15_change_parameter_file_Value_longtext.sql
Labels: Passed Manual Tests

#7225 AnonymousUser getters override to prevent fatals
  php/libraries/AnonymousUser.class.inc
  php/libraries/User.class.inc
Labels: Discussion Required, Passed Manual Tests

#7463 [API] Add support for project names with space
  modules/api/php/endpoints/projects.class.inc
Labels: API

#7056 [Document Repository] fix Unable to edit an uploaded file issue #7002
  modules/document_repository/jsx/editFormIndex.js
  modules/document_repository/php/files.class.inc
Labels: Bug, Passed Manual Tests

#7432 [TimePoint] Add TimepointData DTO class
  php/libraries/TimePoint.class.inc
  php/libraries/TimePointData.php
Labels: Blocking, Cleanup, Feature, php

#7484 [Instrument] Add support for jsonData instrument in clearInstrument function
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Passed Manual Tests

#7453 [FilterableDataTable] Fix issue with GROUPCONCAT and multiselect
  jsx/DataTable.js
Labels: Passed Manual Tests

#7469 [imaging_browser] Bugfix for Modality QC Status Display in Data Table
  modules/imaging_browser/php/imagingbrowserrowprovisioner.class.inc
Labels: 23.0.0-testing, Bug, Passed Manual Tests

#7400 [EEG] Sites/Project/subproject filters and permission
  modules/electrophysiology_browser/php/electrophysiology_browser.class.inc
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  php/libraries/DataFrameworkMenu.class.inc
  php/libraries/User.class.inc
  test/integrationtests/LorisIntegrationTest.class.inc
Labels: Blocking, Bug, Feature, Passed Manual Tests, Priority: High, Security
