Repository aces/Loris, pull requests merged in 2022-06, with the labels that each got.

#8091 [LINST/Instruments] Backporting fixes from 24 + group errors
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Bug, Passed Manual Tests, 23.0.0-testing

#7514 [Utility] Refactor getVisitInstruments function
  php/libraries/Utility.class.inc
  test/unittests/UtilityTest.php
Labels: Cleanup, php

#7902 Update install order and add npm dependency to the list of dependencies
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/Ubuntu/README.md
Labels: Documentation, 24.0.0-bugs

#8108 [installation] fix bug on Loris 24.1-release
  src/Log/ErrorLogLogger.php
Labels: Bug

#8128 Fix broken tool's generic_includes.php
  tools/generic_includes.php
Labels: Bug, php
