Repository aces/Loris, pull requests merged in 2022-03, with the labels that each got.

#8031 [NDB_BVL_Instrument] Fix null recognition of getSessionID
  CHANGELOG.md
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: 24.0.0-bugs

#8019 [SQL] Drop foreign keys before making ProjectID not nullable
  SQL/Archive/24.0/2019-07-01_fix_project_in_session.sql
  SQL/Release_patches/23.0_To_24.0_upgrade.sql
Labels: Passed Manual Tests, Critical to release

#8018 [create_timepoint] validate on visit label not ID
  modules/create_timepoint/php/timepoint.class.inc
  php/libraries/TimePoint.class.inc
Labels: Passed Manual Tests, Critical to release

#8050 [Git actions] error fix - 24.0-release
  .github/workflows/loristest.yml
Labels: Testing

#8048 [survey] Fix saving functionality using LorisFormDictionaryImpl trait
  php/libraries/LorisFormDictionaryImpl.class.inc
Labels: Critical to release, 24.0.0-bugs

#8038 [behavioural_qc] Testplan revamp
  modules/behavioural_qc/test/TestPlan.md
Labels: 24.0.0-bugs

#8044 [statistics] recover percentage values
  modules/statistics/templates/table_statistics.tpl
  php/libraries/Utility.class.inc
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#8054 [configuration] Test plan update
  modules/configuration/test/TestPlan.md
Labels: Cleanup

#7908 [Login] Request account with bad email UI seems to work
  jsx/Form.js
  modules/login/jsx/requestAccount.js
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7952 [Media] Content does not update after a new file is uploaded
  modules/media/ajax/FileUpload.php
  modules/media/jsx/uploadForm.js
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7858 [Configuration] TestPlan edits to make it achievable
  modules/configuration/test/TestPlan.md
Labels: Testing

#7978 [EEG] Modify physiological_annotation_parameter `Description` datatype
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2022-02-03-physiological_annotation_parameter_fix_description_default.sql
Labels: SQL, Critical to release

#7956 [behavioural_qc] Add Site and Project filters access restrictions
  modules/behavioural_qc/php/behavioural.class.inc
  modules/behavioural_qc/php/conflicts.class.inc
  modules/behavioural_qc/php/incomplete.class.inc
  modules/behavioural_qc/php/models/behaviouraldto.class.inc
  modules/behavioural_qc/php/models/conflictsdto.class.inc
  modules/behavioural_qc/php/models/incompletedto.class.inc
Labels: 24.0.0-bugs

#8071 [server_processes_manager] Fix timeout
  CHANGELOG.md
  modules/server_processes_manager/php/server_processes_manager.class.inc
Labels: Critical to release, 24.0.0-bugs

#7923 [next_stage] Help text for next_stage module
  modules/next_stage/help/next_stage.md
Labels: Documentation, Passed Manual Tests, 24.0.0-bugs

#8070 [tools] Fix delete_candidate & delete_timepoint
  CHANGELOG.md
  tools/delete_candidate.php
  tools/delete_timepoint.php
Labels: Critical to release, 24.0.0-bugs

#7832 [EEG Broswer] Bugfix for Filtered Epochs
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
Labels: Bug, Passed Manual Tests

#8055 [media] Caching instrument names
  modules/media/php/mediafileprovisioner.class.inc
Labels: Caveat for Existing Projects, Critical to release
