Repository aces/Loris, pull requests merged in 2022-02, with the labels that each got.

#7977 Remove drop table statements that should not be in the release patch for 24.0
  SQL/Archive/24.0/Cleanup/2022-02-03-remove_CenterName_from_mri_protocol.sql
  SQL/Archive/24.0/Cleanup/2022-02-03-remove_password_expiry_from_users.sql
  SQL/Release_patches/23.0_To_24.0_upgrade.sql
Labels: SQL, 24.0.0-bugs

#7548 Update CHANGELOG for Loris 24.0
  CHANGELOG.md
Labels: Documentation

#7550 Updates CHANGELOG.md with the PRs issued by nbrossard for version 24.0
  CHANGELOG.md
Labels: Documentation

#7975 [24.0 RELEASE] RB Database files update
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  raisinbread/RB_files/RB_consent.sql
  raisinbread/RB_files/RB_flag.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  raisinbread/migration.md
Labels: SQL, RaisinBread

#7990 [Tools] use table name in Set_Required_elements_completed_flag.php
  tools/single_use/Set_Required_elements_completed_flag.php
Labels: 24.0.0-bugs

#7980 [24.0 RELEASE] Changelog update and couple fixes
  CHANGELOG.md
  raisinbread/README.md
  tools/updateDerivativesTest.php
Labels: Critical to release, Blocking

#8000 [create_timepoint] Use visit name for session table insert
  modules/create_timepoint/php/timepoint.class.inc
  modules/create_timepoint/test/TestPlan.md
  php/libraries/Utility.class.inc
  php/libraries/VisitController.class.inc
Labels: Critical to release, 24.0.0-bugs

#7993 [SQL] Make projectID NOT NULL in session table
  SQL/0000-00-00-schema.sql
  SQL/Archive/24.0/2019-07-01_fix_project_in_session.sql
  SQL/Release_patches/23.0_To_24.0_upgrade.sql
Labels: Passed Manual Tests, Critical to release, 24.0.0-bugs

#7958 [DQT] Fix crash when last update time is not set.
  modules/dqt/php/dqt_setup.class.inc
Labels: 24.0.0-bugs
