Repository aces/Loris, pull requests merged in 2022-01, with the labels that each got.

#7925 [LINST] Fix standard dates always required bug
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Bug, 24.0.0-bugs

#7933 [user_accounts] Prevent password autofill in chrome when editing or creating an account
  modules/user_accounts/templates/form_edit_user.tpl
Labels: Bug, Passed Manual Tests

#7753 [git action] fix test
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  modules/help_editor/test/help_editorTest.php
  modules/instrument_builder/test/instrument_builderTest.php
  modules/my_preferences/test/my_preferencesTest.php
  modules/next_stage/test/next_stageTest.php
  modules/user_accounts/test/user_accountsTest.php
  test/test_instrument/test_instrumentTest.php
Labels: Testing

#7946 [tools] fix strftime
  tools/data_integrity/score_instrument.php
  tools/single_use/instrument_double_escape_report.php
Labels: Bug

#7825 [create_timepoint] Code refactor to display proper select options based on previous selections
  modules/create_timepoint/jsx/createTimepointIndex.js
  modules/create_timepoint/php/timepoint.class.inc
  php/libraries/Utility.class.inc
Labels: Passed Manual Tests, 23.0.0-testing, 24.0.0-bugs

#7816 [imaging_browser] Use API for thumbnail and download
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_browser/templates/form_viewSession.tpl
Labels: Cleanup, Passed Manual Tests

#7852 [issue_tracker] Error given when updating issue
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/php/edit.class.inc
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7914 [User Accounts] A user with the permission "View/Create/Edit User Accounts - Own Sites" could be unintentionally restrict the access of other users to the sites it doesn't have access to.
  modules/user_accounts/php/edit_user.class.inc
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7940 [DQT] Update testplan and fix help content
  modules/dqt/help/dqt.md
  modules/dqt/test/TestPlan.md
Labels: Documentation, Passed Manual Tests, 24.0.0-bugs

#7804 [brainbrowser] Remove unused file
  modules/brainbrowser/php/MincEnv.php.inc
Labels: Cleanup

#7854 [conflict_resolver] Bar graph in candidate profile widget not working correctly
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/test/conflict_resolverTest.php
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7869 [document_repository] Update TestPlan
  modules/document_repository/test/TestPlan.md
Labels: Documentation, 24.0.0-bugs

#7921 [document_repository] simplify notification permission restrictions to view only
  modules/document_repository/README.md
  raisinbread/RB_files/RB_notification_modules_perm_rel.sql
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#7922 [document_repository] Edit/Upload permissions fixes
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/php/doctree.class.inc
  modules/document_repository/php/edit.class.inc
  modules/document_repository/php/files.class.inc
  modules/document_repository/php/module.class.inc
Labels: Passed Manual Tests, 24.0.0-bugs

#7844 [candidate_test ] add missing test
  modules/candidate_list/test/candidate_listTest.php
Labels: Testing

#7802 [test] remove skip test
  modules/create_timepoint/test/create_timepointTest.php
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/document_repository/test/document_repositoryTest.php
  modules/examiner/test/ExaminerTest.php
  modules/help_editor/test/help_editorTest.php
  modules/imaging_browser/test/imaging_browserTest.php
  modules/issue_tracker/test/Issue_TrackerTest.php
  modules/new_profile/test/new_profileTest.php
  modules/server_processes_manager/test/server_processes_managerTest.php
Labels: Testing

#7945 [DQT] Results header is stuck on initial query run when scrolling down and won't update when changing display modality (Cross sectional vs Longitudinal)
  jsx/StaticDataTable.js
Labels: Bug, Passed Manual Tests, Critical to release, 24.0.0-bugs

#7824 [brainbrowser] Fully remove ajax directory
  CHANGELOG.md
  modules/brainbrowser/ajax/getImageName.php
  modules/brainbrowser/ajax/image.php
  modules/brainbrowser/js/brainbrowser.loris.js
  modules/brainbrowser/js/brainbrowser.volume-viewer.min.js
  modules/brainbrowser/php/imageinfo.class.inc
  modules/mri_violations/php/file.class.inc
Labels: Passed Manual Tests

#7834 [Config] Remove unused extLibs setting from DB
  SQL/0000-00-03-ConfigTables.sql
  SQL/Cleanup_patches/2021-11-17-noextlibs.sql
  php/libraries/NDB_Client.class.inc
Labels: Cleanup

#7833 [imaging_browser] Remove jQuery from imaging browser
  modules/imaging_browser/jsx/ImagePanel.js
Labels: Cleanup

#7955 [PHAN] update to 5.0
  composer.json
  composer.lock
  modules/api/php/views/visit/dicoms.class.inc
  modules/api/php/views/visit/dicoms_0_0_4_dev.class.inc
  modules/datadict/php/datadict.class.inc
  modules/examiner/php/editexaminer.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/imaging_uploader/php/file_decompress.class.inc
  modules/next_stage/php/next_stage.class.inc
  modules/statistics/php/statistics_site.class.inc
  modules/user_accounts/php/edit_user.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  src/Data/Models/DicomTarDTO.php
  src/Middleware/ExceptionHandlingMiddleware.php
  test/test_instrument/NDB_BVL_Instrument_testtest.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Cleanup, dependencies

#7555 Wiki instruments
  docs/config/config.xml
  docs/deprecated_wiki/Developer's-Instrument-Guide.md
  docs/deprecated_wiki/How-to-Code-an-Instrument.md
  docs/deprecated_wiki/Instrument-Groups.md
  docs/deprecated_wiki/Instrument-Insertion.md
  docs/deprecated_wiki/Instrument-Scoring.md
  docs/deprecated_wiki/Instrument-Scripts.md
  docs/deprecated_wiki/Instrument-Testing-and-Troubleshooting.md
  docs/deprecated_wiki/LORIS-Form.md
  docs/deprecated_wiki/Setup/Initial Setup/Behavioural Database/Behavioural-Database.md
  docs/deprecated_wiki/XIN-Rules.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/01_instrument_intro_prerequisites.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/02_instrument_format/LINST_instrument.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/02_instrument_format/PHP_instrument.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/03_instrument_install.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/04_instrument_additional_configurations.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/05_instrument_quality_assurance.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/06_instrument_testing_and_troubleshooting.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/07_clinical_test_battery.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/Annexe_A_XIN-Rules.md
  docs/wiki/01_STUDY_PARAMETERS_SETUP/02_Clinical_Instruments/README.md
  docs/wiki/02_GETTING_STARTED/README.md
  modules/instrument_manager/README.md
  readthedocs/mkdocs.yml
  tools/assign_missing_instruments.php
Labels: Cleanup, Documentation

#7941 [dqt] Unable to Load a Saved Query and Other bugs
  modules/dqt/ajax/saveQuery.php
  modules/dqt/js/arrayintersect.js
  modules/dqt/jsx/react.app.js
  modules/dqt/jsx/react.filterBuilder.js
  modules/dqt/jsx/react.tabs.js
  tools/CouchDB_Import_Demographics.php
Labels: Bug, Critical to release, 24.0.0-bugs

#7963 Add S3 Support to LORIS
  CHANGELOG.md
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2022-01-26-S3Support.sql
  composer.json
  composer.lock
  modules/api/php/endpoints/candidate/visit/image/format/thumbnail.class.inc
  modules/api/php/endpoints/candidate/visit/image/image.class.inc
  php/libraries/Image.class.inc
  php/libraries/NDB_Client.class.inc
Labels: Add to Release Notes, Feature, Passed Manual Tests

#7972 24.0 RELEASE PATCH
  SQL/Archive/24.0/2019-09-18_DocRepoEdit.sql
  SQL/Archive/24.0/2019-12-17-RemovePasswordExpiry.sql
  SQL/Archive/24.0/2020-01-07-publication_users_edit_perm_rel_pk.sql
  SQL/Archive/24.0/2020-02-10-AddConsentGrouping.sql
  SQL/Archive/24.0/2020-02-10_NewModulePermissions.sql
  SQL/Archive/24.0/2020-02-25_Add-Admin-Contact-Email.sql
  SQL/Archive/24.0/2020-03-09-SQL_patch_for_HRRT_PET_images_insertion.sql
  SQL/Archive/24.0/2020-03-26_add_account_request_date_to_users_table.sql
  SQL/Archive/24.0/2020-06-16-Add_Date_Format_to_ConfigSettings_DataType.sql
  SQL/Archive/24.0/2020-07-14_NewModuleDQT.sql
  SQL/Archive/24.0/2020-07-22_RenameBatteryManagerPermissions.sql
  SQL/Archive/24.0/2020-07-29_Required_elements_completed_flag_column.sql
  SQL/Archive/24.0/2020-08-10_add_AcquisitionDate_to_files.sql
  SQL/Archive/24.0/2020-08-11_adding_api_docs_module.sql
  SQL/Archive/24.0/2020-10-29-session-current-stage-default.sql
  SQL/Archive/24.0/2021-01-31-renaming_permissions.sql
  SQL/Archive/24.0/2021-02-19_electrophysiology_annotation_tables.sql
  SQL/Archive/24.0/2021-03-15_change_parameter_file_Value_longtext.sql
  SQL/Archive/24.0/2021-03-31-NewDictionaryModule.sql
  SQL/Archive/24.0/2021-04-23-annotation_permissions.sql
  SQL/Archive/24.0/2021-05-20-Electrophysiology-split-files.sql
  SQL/Archive/24.0/2021-06-11_exported_files_BIDS_tables.sql
  SQL/Archive/24.0/2021-06-17_mnc2bids_Config_Settings.sql
  SQL/Archive/24.0/2021-06-23_set_default_ScannerID_to_NULL.sql
  SQL/Archive/24.0/2021-06-25_add_alias_column_to_parameter_type_for_bids_parameter_names.sql
  SQL/Archive/24.0/2021-07-19-log_level.sql
  SQL/Archive/24.0/2021-07-28_add_EchoTime_field_to_violation_tables.sql
  SQL/Archive/24.0/2021-07-29-physiological_task_event_columns_types.sql
  SQL/Archive/24.0/2021-07-29_modify_center_name_in_mri_protocol.sql
  SQL/Archive/24.0/2021-07-30-physiological_parameter_file_columns_types.sql
  SQL/Archive/24.0/2021-08-21_issue_tracker_description_change.sql
  SQL/Archive/24.0/2021-08-25-physiological_annotation_schema_changes.sql
  SQL/Archive/24.0/2021-08-27_conflict_resolved_unique_key.sql
  SQL/Archive/24.0/2021-09-07_dqt_drop_old_dataquery.sql
  SQL/Archive/24.0/2021-09-28-Unique_examiners.sql
  SQL/Archive/24.0/2021-10-01-visits_in_database.sql
  SQL/Archive/24.0/2021-11-23-Electrophysiology_electrodes_nullable_xyz.sql
  SQL/Archive/24.0/2022-01-04-add_config_for_python_config_file.sql
  SQL/Archive/24.0/2022-01-26-S3Support.sql
  SQL/Archive/24.0/Cleanup/2020-02-06-NoMultipleSitesConf.sql
  SQL/Archive/24.0/Cleanup/2020-06-18-remove_violated_scans_edit_permission.sql
  SQL/Archive/24.0/Cleanup/2020-08-11-RemoveReliabilityPermissions.sql
  SQL/Archive/24.0/Cleanup/2020-09-09-RemoveHelpParentID.sql
  SQL/Archive/24.0/Cleanup/2020-12-08-remove_dataEntryCompletionStatus_conflict_resolver.sql
  SQL/Archive/24.0/Cleanup/2021-01-31-deleting_permissions.sql
  SQL/Release_patches/23.0_To_24.0_upgrade.sql
Labels: SQL
