Repository aces/Loris, pull requests merged in 2022-07, with the labels that each got.

#8115 [Loris 24.0-release ] fix composer and error
  composer.json
  composer.lock
  src/Log/ErrorLogLogger.php
Labels: Bug, 24.0.0-bugs

#8137 [user_accounts] Revert #2018 - Sanitization before validation of email falsifies validity
  modules/login/php/requestaccount.class.inc
  modules/user_accounts/php/edit_user.class.inc
Labels: Passed Manual Tests, Critical to release

#8139 [user_accounts] Prevent crash when one user has no site/project affiliations
  modules/user_accounts/jsx/userAccountsIndex.js
  modules/user_accounts/php/useraccountrowprovisioner.class.inc
Labels: Critical to release
