Repository aces/Loris, pull requests merged in 2022-12, with the labels that each got.

#8236 [EEG Browser] Annotations: Add new and HED tags
  modules/electrophysiology_browser/css/electrophysiology_browser.css
  modules/electrophysiology_browser/jsx/components/DownloadPanel.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/AnnotationForm.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EventManager.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/Form.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/IntervalSelect.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesCursor.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/index.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/currentAnnotation.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/types.tsx
  modules/electrophysiology_browser/php/annotations.class.inc
  modules/electrophysiology_browser/php/models/electrophysioannotations.class.inc
  modules/electrophysiology_browser/php/models/electrophysioevents.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
Labels: Blocking

#8245 [behavioural_qc] Fix critical error
  modules/behavioural_qc/php/models/behaviouraldto.class.inc
  modules/behavioural_qc/php/models/conflictsdto.class.inc
  modules/behavioural_qc/php/models/incompletedto.class.inc
Labels: Bug

#8250 Replace all `Smarty_neurodb` occurrences in the code with correct name of the class `Smarty_NeuroDB`
  htdocs/survey.php
  modules/imaging_browser/php/feedback_mri_popup.class.inc
  modules/imaging_browser/php/imaging_session_controlpanel.class.inc
  modules/imaging_browser/php/viewsession.class.inc
  modules/instrument_list/php/instrument_list_controlpanel.class.inc
  modules/statistics/php/stats_demographic.class.inc
  modules/statistics/php/stats_mri.class.inc
  modules/timepoint_list/php/timepoint_list_controlpanel.class.inc
  src/Http/Error.php
  src/Middleware/AnonymousPageDecorationMiddleware.php
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Bug, php

#8248 [issue tracker] Email watchers when issue is updated or created
  modules/issue_tracker/php/edit.class.inc
Labels: Bug, Passed Manual Tests, Beginner Friendly, Priority: Projects, php, 24.0.0-bugs

#8187 [eslintignore] cleanup of redundancy
  .eslintignore
Labels: Cleanup

#8230 [Webpack] Viz status check fix
  webpack.config.js
Labels: Passed Manual Tests, Critical to release

#8251 [login] Make it possible to set default page and values via query params
  Makefile
  modules/login/jsx/loginIndex.js
  modules/login/jsx/requestAccount.js
Labels: UI, Cleanup, javascript

#8252 [Libraries] Update JWT library
  composer.json
  composer.lock
  php/libraries/SinglePointLogin.class.inc
Labels: Cleanup, Passed Manual Tests

#7610 [candidate_list] Update test plan, README
  modules/candidate_list/README.md
  modules/candidate_list/test/TestPlan.md
Labels: Needs Work, 24.0.0-bugs

#7299 [eslint] fix 'Modernizr' is not defined no-undef
  .eslintrc.json
  jsx/DataTable.js
  jsx/Form.js
  modules/candidate_parameters/jsx/CandidateDOB.js
  modules/dqt/js/jstat.js
  modules/dqt/jsx/react.tabs.js
  modules/media/jsx/editForm.js
  modules/module_manager/jsx/modulemanager.js
  package.json
Labels: Cleanup

#8112 [instrument_builder] ADDED: field warnings for maximum length in Instrument Builder module
  modules/instrument_builder/jsx/react.questions.js
  modules/instrument_builder/test/TestPlan.md
Labels: Needs Work, GSOC

#8263 [EEG Browser] Automate viz install process in npm postinstall script
  .github/workflows/loristest.yml
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2022-12-05-AddVizConfig.sql
  modules/electrophysiology_browser/README.md
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  npm-postinstall.js
  package-lock.json
  package.json
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
  tools/get_config.php
  webpack.config.js
Labels: Passed Manual Tests

#8231 [Electrophysiology Browser] README.md update
  modules/electrophysiology_browser/README.md
Labels: Documentation

#8223 [Docs - LORIS installation] Updated installation instructions to reflect the requirement of PHP 8.0+
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/CentOS/README.md
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/Ubuntu/README.md
Labels: Documentation

#8264 Add PHP 8.2 support to main branch, drop 8.0 support
  .github/workflows/loristest.yml
  composer.lock
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/CentOS/README.md
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/Ubuntu/README.md
  modules/api/php/endpoints/candidate/visit/image/format/raw.class.inc
  modules/help_editor/php/edit_help_content.class.inc
  php/installer/Database.class.inc
  php/libraries/Module.class.inc
  shell.nix
Labels: Add to Release Notes, Bug, Feature, Passed Manual Tests, php

#8209 [integration test]check react page load
  modules/acknowledgements/test/AcknowledgementsTest.php
  modules/battery_manager/test/BatteryManagerTest.php
  modules/behavioural_qc/test/behavioural_qcTest.php
  modules/brainbrowser/test/brainbrowserTest.php
  modules/candidate_parameters/test/candidate_parametersTest.php
  modules/candidate_profile/test/candidate_profileTest.php
  modules/configuration/test/ConfigurationTest.php
  modules/create_timepoint/test/create_timepointTest.php
  modules/dashboard/test/DashboardTest.php
  modules/data_release/test/data_releaseTest.php
  modules/datadict/test/datadictTest.php
  modules/dicom_archive/test/dicom_archiveTest.php
  modules/document_repository/test/document_repositoryTest.php
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  modules/help_editor/test/help_editorTest.php
  modules/imaging_browser/test/imaging_browserTest.php
  modules/imaging_uploader/test/imaging_uploaderTest.php
  modules/instrument_builder/test/instrument_builderTest.php
  modules/instrument_list/test/instrument_listTest.php
  modules/instrument_manager/test/instrument_managerTest.php
  modules/issue_tracker/test/Issue_TrackerTest.php
  modules/media/test/MediaTest.php
  modules/module_manager/test/module_managerTest.php
  modules/mri_violations/test/mri_violationsTest.php
  modules/new_profile/test/new_profileTest.php
  modules/next_stage/test/next_stageTest.php
  modules/server_processes_manager/test/server_processes_managerTest.php
  modules/statistics/test/Statistics_Test.php
  modules/survey_accounts/test/survey_accountsTest.php
  modules/timepoint_list/test/timepoint_listTest.php
  modules/user_accounts/test/user_accountsTest.php
Labels: Testing

#8247 [ESLint] .tsx and lintfix
  .eslintrc.json
  modules/configuration/jsx/configuration_helper.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/ajax/index.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/color/index.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/AnnotationForm.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EEGMontage.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/Epoch.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EventManager.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/IntervalSelect.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/LineChunk.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/ResponsiveViewer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesCursor.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/index.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/dragBounds.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/fetchChunks.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/filterEpochs.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/timeSelection.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/bounds.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/currentAnnotation.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/cursor.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/rightPanel.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/timeSelection.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/types.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/vector/index.tsx
  package-lock.json
  package.json
  test/run-js-linter.sh
  webpack.config.js
Labels: Passed Manual Tests

#8281 [instrument_builder] Updates Test Plan according to changes introduced by PR#8112.
  modules/instrument_builder/test/TestPlan.md
Labels: Documentation

#7445 [Core] Allow parallel handling of requests from same session
  modules/mri_violations/test/mri_violationsTest.php
  php/libraries/NDB_Client.class.inc
Labels: Bug, Cleanup, php

#8221 [LorisInstance] add getModule function
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  modules/module_manager/php/modulerow.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  src/LorisInstance.php
  src/Router/BaseRouter.php
Labels: Blocking

#8219 [dataquery] Define new swagger schema for data query API
  modules/dataquery/static/schema.yml
Labels: API

#7444 [phan] Fix PhanPossiblyInvalidDimOffset errors
  .phan/config.php
  htdocs/mri/jiv/get_file.php
  htdocs/postdeploy.php
  modules/help_editor/php/edit_help_content.class.inc
  modules/publication/ajax/FileUpload.php
  modules/statistics/php/charts.class.inc
  modules/statistics/php/stats_behavioural.class.inc
  modules/user_accounts/php/edit_user.class.inc
Labels: Passed Manual Tests

#7853 [datadict] Need to fetch data after editing Description field
  modules/datadict/jsx/dataDictIndex.js
Labels: Bug, Needs Work, 24.0.0-bugs

#8253 [new_timepoint] only show null language option when multiple exist
  modules/create_timepoint/jsx/createTimepointIndex.js
  modules/create_timepoint/php/timepoint.class.inc
  modules/create_timepoint/test/TestPlan.md
Labels: Passed Manual Tests

#8294 [Core] Replace all $this->lorisinstance with $this->loris
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_profile/php/candidate_profile.class.inc
  modules/candidate_profile/php/module.class.inc
  modules/create_timepoint/php/timepoint.class.inc
  modules/dashboard/php/module.class.inc
  modules/datadict/php/datadict.class.inc
  modules/dictionary/php/dictionary.class.inc
  modules/dictionary/php/fields.class.inc
  modules/dictionary/php/module.class.inc
  modules/dictionary/php/moduledict.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
  modules/issue_tracker/php/issuerowprovisioner.class.inc
  modules/media/php/media.class.inc
  modules/media/php/mediafileprovisioner.class.inc
  modules/module_manager/php/module_manager.class.inc
  modules/module_manager/php/modulemanagerprovisioner.class.inc
  modules/module_manager/php/modulerow.class.inc
  modules/user_accounts/php/edit_user.class.inc
  php/libraries/LegacyInstrumentTrait.class.inc
  php/libraries/LorisFormDictionaryImpl.class.inc
  php/libraries/Module.class.inc
  php/libraries/NDB_Page.class.inc
  src/Router/BaseRouter.php
Labels: Cleanup, php

#8293 [Webpack] Compilation error fix
  npm-postinstall.js
  webpack.config.js
Labels: Passed Manual Tests

#7513 Add CITATION.cff file
  CITATION.cff
Labels: Meta, Beginner Friendly

#8297 [raisinbread] Fix consent data discrepancy
  raisinbread/RB_files/RB_candidate_consent_history.sql
  raisinbread/RB_files/RB_candidate_consent_rel.sql
Labels: RaisinBread

#8298 [candidate_parameters] Add date restriction for consent withdrawal
  modules/candidate_parameters/jsx/ConsentStatus.js
Labels: Bug

#8285 [EEG Browser] Visualization performance optimization
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesCursor.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/index.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/fetchChunks.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/pagination.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/channel.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/channels.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/dataset.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/timeSelection.tsx
Labels: Passed Manual Tests

#7018 Remove SWAL library
  htdocs/bootstrap/css/custom-css.css
  htdocs/js/helpHandler.js
  htdocs/js/instrument_controlpanel_swaldeletedata.js
  htdocs/vendor/sweetalert/sweetalert.css
  htdocs/vendor/sweetalert/sweetalert.js
  htdocs/vendor/sweetalert/sweetalert.min.js
  modules/help_editor/.gitignore
  modules/help_editor/js/help_editor_helper.js
  modules/help_editor/jsx/help_editor_helper.js
  modules/help_editor/php/edit_help_content.class.inc
  modules/instruments/jsx/ControlpanelDeleteInstrumentData.js
  php/libraries/NDB_Page.class.inc
  smarty/templates/instrumentstatus_controlpanel.tpl
  test/unittests/NDB_PageTest.php
  webpack.config.js
Labels: Cleanup, Passed Manual Tests

#8306 [help_editor] Fix saving changes
  modules/help_editor/ajax/process.php
  modules/help_editor/jsx/help_editor_helper.js
Labels: Bug, 24.0.0-bugs
