Repository aces/Loris, pull requests merged in 2023-06, with the labels that each got.

#8686 [instruments] Fix properly disabling/enabling 'Delete instrument data' button display
  modules/instruments/test/TestPlan.md
  php/libraries/NDB_BVL_InstrumentStatus_ControlPanel.class.inc
Labels: Bug, Testing, 24.0.0-bugs

#8728 [electrophysiology_uploader] Added 'Help' content for users
  modules/electrophysiology_uploader/help/electrophysiology_uploader.md
Labels: Documentation, 25.0.0 - Bugs

#8724 [battery_manager] React warning messages in console
  modules/battery_manager/jsx/batteryManagerForm.js
Labels: 25.0.0 - Bugs

#8715 24.1 to 25.0 release patch
  SQL/Release_patches/24.1_To_25.0_upgrade.sql
Labels: Cleanup, SQL, Passed Manual Tests, Critical to release

#8761 [document_repository] Update help content
  modules/document_repository/help/document_repository.md
Labels: Documentation, 25.0.0 Manual Test Assignment

#8754 [user_accounts] Update TestPlan.md
  modules/user_accounts/test/TestPlan.md
Labels: Documentation, 25.0.0 Manual Test Assignment

#8763 [acknowledgements] Update test plan
  modules/acknowledgements/test/TestPlan.md
Labels: Documentation, 25.0.0 - Bugs

#8765 [instrument & instrument_manager] test plans update
  modules/instrument_manager/test/TestPlan.md
  modules/instruments/test/TestPlan.md
Labels: Documentation, 25.0.0 - Bugs

#8759 [configuration] Use unsafeInsert/unsafeUpdate for saving values
  modules/configuration/ajax/process.php
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8767 [new_profile] Fix date requirements and formats with EDC
  modules/new_profile/jsx/NewProfileIndex.js
  php/libraries/Candidate.class.inc
Labels: Passed Manual Tests, Critical to release, 25.0.0 - Bugs

#8647 [Survey] Fix loading of survey instruments
  htdocs/survey.php
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8775 [new_profile] DateElement in 'Y-m' Fix
  jsx/Form.js
Labels: 25.0.0 - Bugs

#8789 [survey_accounts] Fix help text
  modules/survey_accounts/help/survey_accounts.md
Labels: UI, 25.0.0 - Bugs

#8723 [Timepoint List] Hide visits that are from user unaffiliated projects
  modules/candidate_profile/test/TestPlan.md
  modules/timepoint_list/php/timepoint_list.class.inc
  modules/timepoint_list/test/TestPlan.md
Labels: Bug, Passed Manual Tests, 25.0.0 - Bugs

#8791 [Candidate] Fix wrong comments to avoid confusion in future
  php/libraries/Candidate.class.inc
Labels: 25.0.0 - Bugs

#8799 Fix for "My Issues" problem in dashboard
  modules/issue_tracker/php/module.class.inc
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8768 [data_release] Permission not added to unversioned files if version specified
  modules/data_release/php/permissions.class.inc
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8783 [Tests] Remove duplicated login test
  raisinbread/test/api/LorisApiAuthenticatedTest.php
  raisinbread/test/api/LorisApiAuthenticated_v0_0_3_Test.php
  raisinbread/test/api/LorisApiDicomsTest.php
  raisinbread/test/api/LorisApiLoginTest.php
  raisinbread/test/api/LorisApiLogin_v0_0_3_Test.php
Labels: Cleanup, Testing, API

#8800 Push24 to25
  modules/api/php/views/visit/flags.class.inc
  modules/api/php/views/visit/instrument.class.inc
Labels: Meta

#8802 [api/tests] Run API tests in separate job
  .github/workflows/loristest.yml
  modules/api/php/provisioners/projectrecordingsrowprovisioner.class.inc
  modules/api/php/views/visit/instrument_0_0_4_dev.class.inc
  raisinbread/test/api/LorisApiAuthenticatedTest.php
  raisinbread/test/api/LorisApiAuthenticated_v0_0_3_Test.php
  raisinbread/test/api/LorisApiCandidatesTest.php
  raisinbread/test/api/LorisApiCandidates_v0_0_3_Test.php
  raisinbread/test/api/LorisApiDicomsTest.php
  raisinbread/test/api/LorisApiDicoms_v0_0_3_Test.php
  raisinbread/test/api/LorisApiImagesTest.php
  raisinbread/test/api/LorisApiImages_v0_0_3_Test.php
  raisinbread/test/api/LorisApiInstrumentsTest.php
  raisinbread/test/api/LorisApiInstruments_v0_0_3_Test.php
  raisinbread/test/api/LorisApiLoginTest.php
  raisinbread/test/api/LorisApiLogin_v0_0_3_Test.php
  raisinbread/test/api/LorisApiProjectsTest.php
  raisinbread/test/api/LorisApiProjects_v0_0_3_Test.php
  raisinbread/test/api/LorisApiRecordingsTest.php
  raisinbread/test/api/LorisApiRecordings_v0_0_3_Test.php
  raisinbread/test/api/LorisApiSitesTest.php
  raisinbread/test/api/LorisApiSites_v0_0_3_Test.php
  raisinbread/test/api/LorisApiVisitsTest.php
  raisinbread/test/api/LorisApiVisits_v0_0_3_Test.php
  test/integrationtests/LorisIntegrationTest.class.inc
  test/phpunit.xml
Labels: Testing, API

#8805 [instruments] Remove CommentID from getInstanceData.
  php/libraries/NDB_BVL_Instrument.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Add to Release Notes, Cleanup, Caveat for Existing Projects, 25.0.0 - Bugs

#8485 [battery_manager] use visit controller to fetch visit list
  modules/battery_manager/php/testoptionsendpoint.class.inc
  php/libraries/VisitController.class.inc
Labels: Bug, Passed Manual Tests, 24.0.0-bugs

#8411 [Core] PSCID uniqueness
  modules/api/php/endpoints/candidates.class.inc
  php/exceptions/ConflictException.class.inc
  php/libraries/Candidate.class.inc
Labels: Add to Release Notes, Document at Release, Passed Manual Tests, Beginner Friendly

#8806 [GitHub Actions] Fix order of schema sourcing
  .github/workflows/loristest.yml
Labels: Bug, Testing

#8817 Merge latest 24.1-release commits into 25.0-release
  modules/api/php/endpoints/candidates.class.inc
  modules/battery_manager/php/testoptionsendpoint.class.inc
  php/exceptions/ConflictException.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/VisitController.class.inc
Labels: Meta
