Repository aces/Loris, pull requests merged in 2023-04, with the labels that each got.

#8443 [EEG] EEG Acquisition form
  raisinbread/instruments/eeg_acquisition_form.linst
  raisinbread/instruments/eeg_acquisition_form.meta
  raisinbread/instruments/eeg_acquisition_form.rules
Labels: Passed Manual Tests

#8396 [dqt] Replace jQuery ajax calls with fetch in DQT
  modules/dqt/jsx/react.fieldselector.js
  modules/dqt/jsx/react.filterBuilder.js
Labels: Cleanup, javascript

#8289 [Document Repository] Upload multiple files at once
  jsx/Form.js
  modules/document_repository/css/document_repository.css
  modules/document_repository/jsx/uploadForm.js
  modules/document_repository/php/files.class.inc
  modules/document_repository/test/document_repositoryTest.php
  smarty/templates/email/notifier_document_repository_upload.tpl
Labels: Feature, Needs Work

#8409 [EEG] EEG uploader module
  SQL/0000-00-01-Modules.sql
  SQL/0000-00-02-Permission.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2023-02-24-electrophysiology_uploader.sql
  modules/electrophysiology_uploader/.gitignore
  modules/electrophysiology_uploader/README.md
  modules/electrophysiology_uploader/jsx/ElectrophysiologyUploader.js
  modules/electrophysiology_uploader/jsx/UploadForm.js
  modules/electrophysiology_uploader/jsx/UploadViewer.js
  modules/electrophysiology_uploader/php/electrophysiology_uploader.class.inc
  modules/electrophysiology_uploader/php/electrophysiologyuploaderprovisioner.class.inc
  modules/electrophysiology_uploader/php/electrophysiologyuploaderrow.class.inc
  modules/electrophysiology_uploader/php/module.class.inc
  modules/electrophysiology_uploader/php/upload.class.inc
  modules/electrophysiology_uploader/test/TestPlan.md
  smarty/templates/email/new_electrophysiology_upload.tpl
  webpack.config.js
Labels: Passed Manual Tests

#8349 [configuration] Fix error messages & saving with null Alias
  CHANGELOG.md
  modules/configuration/ajax/updateProject.php
  modules/configuration/js/project.js
Labels: Passed Manual Tests, 24.0.0-bugs

#8573 Fix main.css broken link
  src/Middleware/AnonymousPageDecorationMiddleware.php
  src/Middleware/UserPageDecorationMiddleware.php
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8592 [dqt] Update TestPlan to remove redundant step
  modules/dqt/test/TestPlan.md
Labels: Documentation

#8595 [Imaging Browser] Fix React upgrade regression
  modules/imaging_browser/templates/form_viewSession.tpl
Labels: Passed Manual Tests, Critical to release, 25.0.0 - Bugs

#8596 Fix warning JS messages for imaging browser
  modules/imaging_browser/jsx/ImagePanel.js
Labels: Cleanup, javascript

#8569 [conflict_resolver/candidate_profile] Fix loading of conflict widget
  webpack.config.js
Labels: Passed Manual Tests, Critical to release, 25.0.0 - Bugs

#8615 [Core] Fix React.createFactory warning
  jsx/Breadcrumbs.js
  jsx/DynamicDataTable.js
  jsx/Help.js
  jsx/PaginationLinks.js
  jsx/Password.js
  jsx/StaticDataTable.js
  modules/mri_violations/templates/menu_mri_protocol_check_violations.tpl
  modules/mri_violations/templates/menu_mri_protocol_violations.tpl
  modules/mri_violations/templates/menu_mri_violations.tpl
  modules/mri_violations/templates/menu_resolved_violations.tpl
  smarty/templates/main.tpl
Labels: Cleanup, Passed Manual Tests, 25.0.0 - Bugs

#8646 [issue_tracker] Fix issue display by importing Markdown
  modules/issue_tracker/jsx/CommentList.js
  modules/issue_tracker/jsx/IssueForm.js
Labels: 25.0.0 - Bugs

#8643 Brainbrowser 404 fix
  .eslintignore
  .eslintrc.json
  modules/brainbrowser/css/brainbrowser.css
  modules/brainbrowser/js/brainbrowser.config.js
  modules/brainbrowser/js/brainbrowser.loris.js
  modules/brainbrowser/php/imageinfo.class.inc
Labels: Passed Manual Tests, Critical to release

#8629 [api] add new integration tests for API project endpoint
  raisinbread/test/api/LorisApiProjectsTest.php
Labels: Testing, 25.0.0 - Bugs

#8587 [battery_manager] Updated Test Plan and Help Text
  modules/battery_manager/help/battery_manager.md
  modules/battery_manager/test/TestPlan.md
Labels: Documentation

#8639 [statistics] fix statistics site display format
  modules/statistics/css/statistics.css
Labels: 25.0.0 - Bugs

#8668 [imaging uploader] Test Plan update
  modules/imaging_uploader/test/TestPlan.md
Labels: Documentation, 25.0.0 - Bugs

#8484 [Tools] double_escape_report tool breaking on non-string values
  tools/single_use/instrument_double_escape_report.php
Labels: Bug, 24.0.0-bugs

#8640 [Core] Remove font-family overrides
  modules/document_repository/jsx/childTree.js
  modules/document_repository/jsx/parentTree.js
  modules/dqt/css/dataquery.css
  modules/electrophysiology_browser/jsx/components/SidebarContent.js
  modules/issue_tracker/css/issue_tracker.css
Labels: UI

#8671 changed permision check to media_read to enable media downloads
  modules/media/ajax/FileDownload.php
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8453 [examiner] Column for 'Instrument' in certification menu appears narrow
  modules/examiner/templates/form_editExaminer.tpl
Labels: Passed Manual Tests, 24.0.0-bugs

#8286 [tools] support JSON instruments in fix_candidate_age.php
  tools/data_integrity/fix_candidate_age.php
Labels: Passed Manual Tests, Critical to release, 24.0.0-bugs

#7826 [bvl_feedback] Fix Permissions for Feedback Summary & Thread List
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: Passed Manual Tests, 24.0.0-bugs

#8588 [media] Test Plan and Help Text Documentation Update
  modules/media/help/media.md
  modules/media/test/MediaTest.php
  modules/media/test/TestPlan.md
Labels: Documentation

#8216 [Instruments] Instrument data QueryEngine
  modules/instruments/php/instrumentqueryengine.class.inc
  modules/instruments/php/module.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  src/Data/Query/QueryEngine.php
Labels: Feature, Critical to release

#8683 [my_preferences] - Notification missing for media module #8553 add RB data
  raisinbread/RB_files/RB_notification_modules_services_rel.sql
Labels: RaisinBread, 25.0.0 - Bugs

#8659 [Instrument Builder] updates Test Plan and Help to fix inconsistencies.
  modules/instrument_builder/help/instrument_builder.md
  modules/instrument_builder/test/TestPlan.md
Labels: Documentation, Passed Manual Tests, 25.0.0 - Bugs
