Repository aces/Loris, pull requests merged in 2023-12, with the labels that each got.

#8949 [Tools] fix timepoint data problems
  tools/fix_timepoint_date_problems.php
Labels: Passed Manual Tests

#8973 [candidate_parameters] Fix loading of candidate_parameters page
  Makefile
  modules/candidate_parameters/jsx/CandidateDOB.js
  modules/candidate_parameters/jsx/CandidateDOD.js
  modules/candidate_parameters/jsx/CandidateInfo.js
  modules/candidate_parameters/jsx/ConsentStatus.js
  modules/candidate_parameters/jsx/ParticipantStatus.js
Labels: Bug, Passed Manual Tests

#8966 [bvl_feedback] Update summary in real time
  CHANGELOG.md
  modules/bvl_feedback/ajax/open_bvl_feedback_thread.php
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
Labels: Passed Manual Tests

#8916 [dictionary] Remove beta tag from dictionary module
  modules/datadict/php/module.class.inc
  modules/dictionary/php/module.class.inc
Labels: Cleanup, Caveat for Existing Projects

#8996 [DataTable] Fix hide defaultColumn
  jsx/DataTable.js
Labels: Bug

#8907 [dataquery] New Data Query Module
  Makefile
  SQL/0000-00-02-Permission.sql
  SQL/New_patches/2023-12-02-DQT-AdminPermission.sql
  jsx/DataTable.d.ts
  jsx/DataTable.js
  jsx/Panel.d.ts
  modules/dataquery/jsx/calcpayload.tsx
  modules/dataquery/jsx/components/expansionpanels.tsx
  modules/dataquery/jsx/components/filterableselectgroup.tsx
  modules/dataquery/jsx/criteriaterm.tsx
  modules/dataquery/jsx/definefields.tsx
  modules/dataquery/jsx/definefilters.addfiltermodal.tsx
  modules/dataquery/jsx/definefilters.importcsvmodal.tsx
  modules/dataquery/jsx/definefilters.tsx
  modules/dataquery/jsx/fielddisplay.tsx
  modules/dataquery/jsx/getdictionarydescription.tsx
  modules/dataquery/jsx/hooks/usebreadcrumbs.tsx
  modules/dataquery/jsx/hooks/usedatadictionary.tsx
  modules/dataquery/jsx/hooks/usequery.tsx
  modules/dataquery/jsx/hooks/usesharedqueries.tsx
  modules/dataquery/jsx/hooks/usevisits.tsx
  modules/dataquery/jsx/index.tsx
  modules/dataquery/jsx/nextsteps.tsx
  modules/dataquery/jsx/querydef.tsx
  modules/dataquery/jsx/querytree.tsx
  modules/dataquery/jsx/types.tsx
  modules/dataquery/jsx/viewdata.tsx
  modules/dataquery/jsx/welcome.adminquerymodal.tsx
  modules/dataquery/jsx/welcome.namequerymodal.tsx
  modules/dataquery/jsx/welcome.tsx
  modules/dataquery/php/dataquery.class.inc
  modules/dataquery/php/module.class.inc
  modules/dataquery/php/provisioners/alluserqueries.class.inc
  modules/dataquery/php/provisioners/starredqueries.class.inc
  modules/dataquery/php/provisioners/studyqueries.class.inc
  modules/dataquery/php/query.class.inc
  modules/dataquery/php/visitlist.class.inc
  modules/dataquery/templates/starredwidget.tpl
  modules/dataquery/templates/studyquerieswidget.tpl
  modules/instruments/php/instrumentqueryengine.class.inc
  package-lock.json
  package.json
  php/libraries/NDB_BVL_Instrument.class.inc
  smarty/templates/main.tpl
  webpack.config.js
Labels: Add to Release Notes, UI, Critical to release, Priority: High, javascript

#8858 [LINST] fix survey and date issues
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Priority: Projects

#8893 [JSX] Modal Width Prop
  jsx/Modal.js
Labels: Priority: Projects

#8480 [genomic_browser] Download button not showing up in the Files tab
  modules/genomic_browser/jsx/tabs_content/files.js
  modules/genomic_browser/php/filemanager.class.inc
  modules/genomic_browser/php/uploading/genomicfile.class.inc
Labels: Passed Manual Tests, 24.0.0-bugs

#8957 add greater than project's recruitmentTarget message for cohort
  modules/configuration/ajax/updateCohort.php
Labels: Bug
