Repository aces/Loris, pull requests merged in 2023-07, with the labels that each got.

#8810 [test/api] Add tests for getting instrument data from API.
  modules/instruments/php/dictionaryitem.class.inc
  php/libraries/LorisFormDictionaryImpl.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  raisinbread/test/api/LorisApiInstrumentsTest.php
  raisinbread/test/api/LorisApiInstruments_v0_0_3_Test.php
  test/unittests/NDB_BVL_Instrument_LINST_ToJSON_Test.php
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Testing, API

#8814 Make upload error message more specific in issue tracker
  modules/issue_tracker/php/attachment.class.inc
Labels: Passed Manual Tests, 25.0.0 - Bugs

#8824 [API] Using isAccessibleBy on candidate endpoint
  modules/api/php/endpoints/candidates.class.inc
Labels: Security

#8772 [mri_violations] Update Help
  modules/mri_violations/help/mri_violations.md
Labels: UI, Passed Manual Tests, 25.0.0 Manual Test Assignment

#8797 [survey_accounts] Update test plan
  modules/survey_accounts/test/TestPlan.md
Labels: Documentation, Testing, 25.0.0 - Bugs

#8828 Fix for inactive module based issues
  modules/issue_tracker/php/edit.class.inc
Labels: Passed Manual Tests, GSOC
