Repository aces/Loris, pull requests merged in 2023-09, with the labels that each got.

#8875 [IssueTracker] Fix for "othersWatching" history tracking
  SQL/0000-00-00-schema.sql
  modules/issue_tracker/php/edit.class.inc
Labels: Bug, Passed Manual Tests, GSOC

#8881 [imaging_uploader] Fix auto-populating VisitLabel
  modules/imaging_uploader/jsx/UploadForm.js
Labels: Bug, Priority: Projects

#8882 [Dict] hotfix add hidden fields to dictionary implementation
  php/libraries/LorisFormDictionaryImpl.class.inc
Labels: Bug, Priority: Projects

#8891 [Configuration] Fix values of email fields
  modules/configuration/templates/form_configuration.tpl
Labels: 24.0.0-bugs

#8901 [configuration] Escape values in config module
  modules/configuration/templates/form_configuration.tpl
Labels: Security, Priority: High, 25.0.0 - Bugs
