Repository aces/Loris, pull requests merged in 2023-02, with the labels that each got.

#8351 [issue tracker] Fix issue description
  modules/issue_tracker/jsx/IssueForm.js
Labels: Bug

#8364 [API] Minor schema fixes
  modules/api/php/models/candidatesrow.class.inc
  modules/api/static/schema.yml
Labels: Documentation

#8354 [imaging browser] Fix download of JSON, Bval and Bvec files when they are on s3
  modules/api/php/endpoints/candidate/visit/image/format.class.inc
  modules/api/php/endpoints/candidate/visit/image/format/downloadfile.class.inc
  modules/imaging_browser/jsx/ImagePanel.js
  modules/imaging_browser/php/viewsession.class.inc
  php/libraries/Image.class.inc
  src/Http/Endpoint.php
Labels: Bug, API, 24.0.0-bugs

#8313 [survey_accounts] Clean up after Email col removed
  SQL/0000-00-00-schema.sql
  modules/survey_accounts/test/survey_accountsTest.php
  raisinbread/RB_files/RB_participant_accounts.sql
Labels: Cleanup

#8323 [EEG Browser] Fix Download broken links
  htdocs/mri/jiv/get_file.php
  modules/electrophysiology_browser/jsx/components/DownloadPanel.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/php/models/electrophysioannotations.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
Labels: Passed Manual Tests

#8341 add test for publication
  modules/publication/test/PublicationTest.php
  raisinbread/RB_files/RB_publication.sql
  raisinbread/RB_files/RB_publication_collaborator.sql
  test/phpunit.xml
Labels: Testing

#8300 [issue tracker] Fix emailing bug found in HBCD
  modules/issue_tracker/php/edit.class.inc
Labels: Bug

#8325 [EEG Browser] Fix EEG montage scale
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EEGMontage.tsx
Labels: Passed Manual Tests

#7910 [document_repository] add usage doc for filter
  modules/document_repository/help/document_repository.md
Labels: Documentation

#8388 Remove unused ajax scripts
  modules/imaging_browser/ajax/setSortedRows.php
  modules/imaging_uploader/ajax/read_log.php
  modules/server_processes_manager/ajax/ProcessStateRequestHandler.php
Labels: Cleanup

#7473 [mri_violations] Convert module to React and update UI
  Makefile
  jsx/DataTable.js
  jsx/FilterableDataTable.js
  jsx/Modal.js
  jsx/StaticDataTable.js
  modules/mri_violations/.gitignore
  modules/mri_violations/README.md
  modules/mri_violations/css/mri_violations.css
  modules/mri_violations/help/mri_violations.md
  modules/mri_violations/js/mri_protocol_check_violations.js
  modules/mri_violations/js/mri_protocol_violations.js
  modules/mri_violations/jsx/columnFormatter.js
  modules/mri_violations/jsx/columnFormatterUnresolved.js
  modules/mri_violations/jsx/mriViolationsIndex.js
  modules/mri_violations/jsx/mri_protocol_check_violations_columnFormatter.js
  modules/mri_violations/jsx/mri_protocol_violations_columnFormatter.js
  modules/mri_violations/jsx/protocolModal.js
  modules/mri_violations/jsx/resolvedViolations.js
  modules/mri_violations/jsx/unresolvedViolations.js
  modules/mri_violations/php/module.class.inc
  modules/mri_violations/php/mri_protocol_check_violations.class.inc
  modules/mri_violations/php/mri_protocol_violations.class.inc
  modules/mri_violations/php/mri_violations.class.inc
  modules/mri_violations/php/mriviolation.class.inc
  modules/mri_violations/php/protocolcheckviolation.class.inc
  modules/mri_violations/php/protocolcheckviolationprovisioner.class.inc
  modules/mri_violations/php/protocolviolation.class.inc
  modules/mri_violations/php/protocolviolationprovisioner.class.inc
  modules/mri_violations/php/provisioner.class.inc
  modules/mri_violations/php/resolve.class.inc
  modules/mri_violations/php/resolved_violations.class.inc
  modules/mri_violations/php/resolvedviolation.class.inc
  modules/mri_violations/php/resolvedviolationsprovisioner.class.inc
  modules/mri_violations/php/usercentermatchornull.class.inc
  modules/mri_violations/php/usercentermatchornulloranypermission.class.inc
  modules/mri_violations/php/userprojectmatchornull.class.inc
  modules/mri_violations/templates/menu_mri_protocol_check_violations.tpl
  modules/mri_violations/templates/menu_mri_protocol_violations.tpl
  modules/mri_violations/templates/menu_mri_violations.tpl
  modules/mri_violations/templates/menu_resolved_violations.tpl
  modules/mri_violations/test/TestPlan.md
  modules/mri_violations/test/mri_violationsTest.php
  webpack.config.js
Labels: Add to Release Notes, UI, Cleanup

#8391 fix gitaction error in 24.1-release
  .github/workflows/loristest.yml
Labels: Testing, dependencies

#8393 Fixes the revert section of the subproject/cohort patch
  SQL/New_patches/2022-12-01-subprojects_no_more.sql
Labels: Bug, SQL

#8375 [Data release] - Update Test Plan instruction
  modules/data_release/test/TestPlan.md
Labels: Documentation

#8290 [Instrument] Remove exception from NDB_BVL_Instrument::factory
  htdocs/survey.php
  modules/api/php/endpoints/candidate/visit/instruments.class.inc
  modules/api/php/endpoints/project/instruments.class.inc
  modules/conflict_resolver/php/endpoints/unresolved.class.inc
  modules/datadict/php/datadict.class.inc
  modules/instruments/php/module.class.inc
  modules/instruments/php/visitsummary.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Cleanup, Blocking, php

#8372 Remove LORIS Deprecation Warning and PHP Notices
  modules/survey_accounts/php/survey_accounts.class.inc
  php/libraries/NDB_BVL_Feedback.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/UserPermissions.class.inc
  tools/single_use/Cleanup_multiple_firstVisits.php
  tools/single_use/Remove_Data_entry_completion_status_instr_column.php
  tools/single_use/SaveUserIDToInstrumentData.php
  tools/single_use/Set_Required_elements_completed_flag.php
  tools/single_use/instrument_double_escape_report.php
  tools/single_use/populate_visits.php
Labels: Cleanup

#8287 [core] Remove \Module::factory, update remaining instances to $loris->getModule()
  htdocs/AjaxHelper.php
  modules/candidate_list/php/candidate_list.class.inc
  modules/candidate_parameters/ajax/getData.php
  modules/help_editor/ajax/help.php
  php/libraries/Module.class.inc
  src/LorisInstance.php
  src/Router/BaseRouter.php
  test/unittests/UserTest.php
  tools/manage_modules.php
Labels: Cleanup, php

#8400 [mri_violations] Fix main branch
  modules/mri_violations/php/module.class.inc
Labels: Bug, Priority: High

#8405 Fix Console Output on timepoint list
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: Bug, Cleanup

#8188 [package.json] Upgrade react to version 18
  htdocs/js/helpHandler.js
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/battery_manager/jsx/batteryManagerIndex.js
  modules/behavioural_qc/jsx/behaviouralQCIndex.js
  modules/brainbrowser/templates/form_brainbrowser.tpl
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/jsx/onLoad.js
  modules/candidate_parameters/jsx/CandidateParameters.js
  modules/candidate_profile/templates/form_candidate_profile.tpl
  modules/configuration/js/SubprojectRelations.js
  modules/conflict_resolver/jsx/conflict_resolver.js
  modules/create_timepoint/jsx/createTimepointIndex.js
  modules/data_release/jsx/dataReleaseIndex.js
  modules/datadict/jsx/dataDictIndex.js
  modules/dicom_archive/jsx/dicom_archive.js
  modules/dictionary/jsx/dataDictIndex.js
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/jsx/editFormIndex.js
  modules/dqt/jsx/react.app.js
  modules/electrophysiology_browser/jsx/electrophysiologyBrowserIndex.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/package-lock.json
  modules/electrophysiology_browser/jsx/react-series-data-viewer/package.json
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/IntervalSelect.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/ResponsiveViewer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/components.tsx
  modules/examiner/jsx/examinerIndex.js
  modules/genomic_browser/jsx/genomicBrowserIndex.js
  modules/help_editor/jsx/help_editor.js
  modules/help_editor/jsx/help_editor_helper.js
  modules/imaging_browser/jsx/imagingBrowserIndex.js
  modules/imaging_browser/templates/form_viewSession.tpl
  modules/imaging_qc/js/qualityControlIndex.js
  modules/imaging_qc/jsx/imagingQCIndex.js
  modules/imaging_uploader/jsx/index.js
  modules/instrument_builder/templates/form_instrument_builder.tpl
  modules/instrument_manager/jsx/instrumentManagerIndex.js
  modules/issue_tracker/jsx/index.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/login/jsx/loginIndex.js
  modules/media/jsx/editFormIndex.js
  modules/media/jsx/mediaIndex.js
  modules/module_manager/jsx/modulemanager.js
  modules/mri_violations/jsx/mriViolationsIndex.js
  modules/mri_violations/templates/menu_mri_protocol_check_violations.tpl
  modules/mri_violations/templates/menu_mri_protocol_violations.tpl
  modules/mri_violations/templates/menu_mri_violations.tpl
  modules/mri_violations/templates/menu_resolved_violations.tpl
  modules/new_profile/jsx/NewProfileIndex.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/viewProjectIndex.js
  modules/server_processes_manager/jsx/server_processes_managerIndex.js
  modules/survey_accounts/jsx/surveyAccountsIndex.js
  modules/user_accounts/jsx/userAccountsIndex.js
  package-lock.json
  package.json
  smarty/templates/bvl_feedback_panel.tpl
  smarty/templates/instrumentstatus_controlpanel.tpl
  smarty/templates/main.tpl
Labels: dependencies

#8237 [EEG] new table to track EEG additional events
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2022-11-22-eeg-additional-events-table.sql
Labels: SQL
