Repository aces/Loris, pull requests merged in 2023-11, with the labels that each got.

#8928 [OIDC] Handle providers that don't provide a 'kid' parameter
  composer.lock
  modules/oidc/php/callback.class.inc
Labels: Bug

#8918 [script] Add script to create a new module
  tools/new_module.php
Labels: Passed Manual Tests

#8933 [SQL] Require test_names.Sub_group to not be null
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2023-11-07-No-Null-Subgroup.sql
  modules/dashboard/test/DashboardTest.php
Labels: Bug, SQL

#8841 [issue_tracker] Do not display inactive users in issue form
  modules/issue_tracker/php/edit.class.inc
  modules/issue_tracker/php/issue.class.inc
  modules/issue_tracker/php/issue_tracker.class.inc
Labels: Passed Manual Tests, Priority: Projects

#8855 [instruments] Bulk load SessionID and VisitLabel
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: php

#8880 [Core] Named form exports for Form.js
  jsx/DataTable.js
  jsx/Filter.js
  jsx/FilterForm.js
  jsx/Form.js
  jsx/TriggerableModal.js
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/candidate_list/jsx/openProfileForm.js
  modules/conflict_resolver/jsx/fix_conflict_form.js
  modules/create_timepoint/jsx/createTimepointIndex.js
  modules/document_repository/jsx/categoryForm.js
  modules/document_repository/jsx/docIndex.js
  modules/document_repository/jsx/uploadForm.js
  modules/electrophysiology_uploader/jsx/UploadForm.js
  modules/examiner/jsx/examinerIndex.js
  modules/genomic_browser/jsx/tabs_content/filemanager/uploadForm.js
  modules/help_editor/jsx/helpEditorForm.js
  modules/imaging_uploader/jsx/ImagingUploader.js
  modules/imaging_uploader/jsx/LogPanel.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/login/jsx/loginIndex.js
  modules/login/jsx/requestAccount.js
  modules/login/jsx/resetPassword.js
  modules/media/jsx/uploadForm.js
  modules/new_profile/jsx/NewProfileIndex.js
  php/libraries/NDB_Page.class.inc
  test/unittests/NDB_PageTest.php
  webpack.config.js
Labels: Cleanup, Passed Manual Tests, Critical to release, Priority: High

#8975 [publication] Fix publication loading
  Makefile
  modules/publication/ajax/getData.php
  modules/publication/jsx/projectFields.js
  modules/publication/jsx/publicationIndex.js
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/php/publication.class.inc
Labels: Bug, Passed Manual Tests

#8961 [LINST] skip metadatafields for surveys
  php/libraries/NDB_BVL_Instrument.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
  test/unittests/NDB_BVL_Instrument_Test.php
Labels: Priority: Projects

#8974 [issue_tracker] Add missing imports
  Makefile
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/attachments/attachmentsList.js
  modules/issue_tracker/jsx/attachments/uploadForm.js
Labels: Bug

#8964 [datadict] Missing automated tests
  modules/datadict/test/datadictTest.php
Labels: Testing

#8987 [module_manager] Fix page load
  Makefile
  modules/module_manager/jsx/modulemanager.js
Labels: Bug
