Repository aces/Loris, pull requests merged in 2023-08, with the labels that each got.

#8730 [candidate_list] Multiselect for visit label, site, and cohort
  modules/candidate_list/jsx/candidateListIndex.js
Labels: Passed Manual Tests

#8779 [imaging_qc] Improve Error Message
  modules/imaging_qc/jsx/imagingQCIndex.js
  modules/imaging_qc/php/imaging_qc.class.inc
Labels: Passed Manual Tests, Priority: Projects, 25.0.0 - Bugs

#8857 [Instruments] Handle empty bulkLoadInstanceData
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Bug, Blocking

#8859 [survey_accounts] notices, warnings and filter options
  modules/survey_accounts/js/survey_accounts_helper.js
  modules/survey_accounts/jsx/surveyAccountsIndex.js
  modules/survey_accounts/php/addsurvey.class.inc
  modules/survey_accounts/php/survey_accounts.class.inc
Labels: Priority: Projects

#8860 [LorisForm] add required to checkboxes
  php/libraries/LorisForm.class.inc
  test/unittests/LorisForms_Test.php
Labels: Priority: Projects

#8853 [IssueTracker] Fix for checkbox problem
  jsx/Filter.js
Labels: GSOC

#8847 [candidate_list][CouchDB_demographics] Add date of registration
  modules/candidate_list/jsx/candidateListIndex.js
  modules/candidate_list/php/candidatelistrowprovisioner.class.inc
  tools/CouchDB_Import_Demographics.php
Labels: Priority: Projects

#8848 [Libraries] Feedback panel - fix fieldnames setting
  php/libraries/BVL_Feedback_Panel.class.inc
Labels: Passed Manual Tests, Priority: Projects

#8842 [issue_tracker] Resolves special characters in titles
  modules/issue_tracker/php/edit.class.inc
Labels: Priority: Projects

#8790 [bvl_feedback] Edit comment section
  modules/bvl_feedback/ajax/close_bvl_feedback_thread.php
  modules/bvl_feedback/ajax/delete_thread_comment_bvl_feedback.php
  modules/bvl_feedback/ajax/get_thread_entry_data.php
  modules/bvl_feedback/ajax/open_bvl_feedback_thread.php
  modules/bvl_feedback/ajax/update_thread_comment_bvl_feedback.php
  modules/bvl_feedback/css/bvl_feedback_panel.css
  modules/bvl_feedback/jsx/react.behavioural_feedback_panel.js
  modules/bvl_feedback/test/TestPlan.md
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: Priority: Projects

#8871 [IssueTracker] Fix single watcher problem
  jsx/Form.js
  modules/issue_tracker/jsx/IssueForm.js
Labels: Passed Manual Tests, GSOC

#8870 [Core] Enable use of project modules for ajax requests
  htdocs/AjaxHelper.php
Labels: 25.0.0 - Bugs

#8845 [conflict_resolver] Add description field
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/php/models/resolveddto.class.inc
  modules/conflict_resolver/php/models/unresolveddto.class.inc
  modules/conflict_resolver/php/provisioners/unresolvedprovisioner.class.inc
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Priority: Projects

#8268 [DataQuery] New DQT backend implementation
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Modules.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2022-09-29-NewestDQT.sql
  modules/dataquery/.gitignore
  modules/dataquery/php/endpoints/queries.class.inc
  modules/dataquery/php/endpoints/queries/query.class.inc
  modules/dataquery/php/endpoints/queries/query/count.class.inc
  modules/dataquery/php/endpoints/queries/query/run.class.inc
  modules/dataquery/php/endpoints/queries/runs.class.inc
  modules/dataquery/php/module.class.inc
  modules/dataquery/php/provisioners/alluserqueries.class.inc
  modules/dataquery/php/provisioners/recentqueries.class.inc
  modules/dataquery/php/queries.class.inc
  modules/dataquery/php/query.class.inc
  modules/dataquery/php/querydataprovisioner.class.inc
  modules/dataquery/php/queryrun.class.inc
  modules/dataquery/static/schema.yml
Labels: Priority: High, Blocking, php
