Repository aces/Loris, pull requests merged in 2024-05, with the labels that each got.

#9241 [RB_files] Sampling frequency updated in RB_physiological_parameter_file.sql
  raisinbread/RB_files/RB_physiological_parameter_file.sql
Labels: Bug, RaisinBread, 26.0.0-bugs

#9236 [new_profile] Make list of available projects user dependent
  modules/api/php/endpoints/candidates.class.inc
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/php/new_profile.class.inc
  modules/new_profile/test/new_profileTest.php
Labels: Discussion Required, Passed Manual Tests, Critical to release, Priority: Projects

#9220 [dashboard] Add project filter for tasks widget
  CHANGELOG.md
  modules/conflict_resolver/php/module.class.inc
  modules/dashboard/php/taskquerywidget.class.inc
  modules/dashboard/test/DashboardTest.php
  modules/imaging_browser/php/module.class.inc
  modules/instruments/php/module.class.inc
  modules/issue_tracker/php/module.class.inc
  modules/user_accounts/php/module.class.inc
Labels: Passed Manual Tests

#9257 [statistics] Fix timeseries graph spline bug
  modules/statistics/jsx/widgets/chartBuilder.js
Labels: UI, 26.0.0-bugs

#9259 [Issue_tracker] Updated testplan to reflect that 'assignee' should not be required when creating an issue
  modules/issue_tracker/test/issue_tracker_test_plan.md
Labels: 26.0.0-bugs

#9041 [Login] Add login suggestion and redirection for error 403
  modules/login/jsx/loginIndex.js
  modules/login/test/Login_Redirect_Test_Plan.md
  smarty/templates/403.tpl
  src/Http/Error.php
Labels: Passed Manual Tests

#9263 [score_instrument] use getInstanceData to get the instrument data
  tools/data_integrity/score_instrument.php
Labels: Passed Manual Tests

#9271 [issue_tracker] Add specification to issue_tracker_test_plan.md
  modules/issue_tracker/test/issue_tracker_test_plan.md
Labels: Documentation, 26.0.0-bugs

#9282 [media] ajax function has been removed
  modules/media/jsx/CandidateMediaWidget.js
Labels: Bug
