Repository aces/Loris, pull requests merged in 2024-02, with the labels that each got.

#8636 fix data release sort issue
  modules/data_release/php/data_release.class.inc
Labels: 25.0.0 - Bugs

#9042 [instrument_builder] - fix blank page
  modules/instrument_builder/jsx/react.questions.js
Labels: Bug, Critical to release

#9039 [Instrument List] Show Timepoint Project
  modules/instrument_list/templates/menu_instrument_list.tpl
Labels: Passed Manual Tests

#9048 [Cleanup] Remove console.log
  modules/configuration/jsx/DiagnosisEvolution.js
  modules/imaging_qc/jsx/imagingQCIndex.js
Labels: Cleanup

#9040 [Instrument List] Refresh on Stage Update
  modules/instrument_list/templates/instrument_list_controlpanel.tpl
Labels: Passed Manual Tests

#9034 [dataquery] Add support for imaging data to new dataquery frontend
  Dockerfile.test.db
  modules/candidate_parameters/php/candidatequeryengine.class.inc
  modules/candidate_parameters/test/candidateQueryEngineTest.php
  modules/dataquery/jsx/viewdata.tsx
  modules/dataquery/jsx/welcome.tsx
  modules/imaging_browser/php/imagingdictionaryitem.class.inc
  modules/imaging_browser/php/locationdictionaryitem.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/imaging_browser/php/qcdictionaryitem.class.inc
  modules/imaging_browser/php/queryengine.class.inc
  modules/imaging_browser/test/ImagingQueryEngineTest.php
  php/libraries/Database.class.inc
  src/Data/Query/SQLQueryEngine.php
Labels: Add to Release Notes, Feature, UI, Critical to release, Priority: High

#9056 [candate_list] Sex table fix column name
  SQL/New_patches/2024-01-29-create-sex-table.sql
Labels: Bug, SQL

#9084 [media] fix load issue
  modules/media/jsx/editForm.js
Labels: Bug

#9085 [document_repository/edit] can't load form #9083
  modules/document_repository/jsx/editForm.js
Labels: Bug

#9088 [battery_manager] Fix loading of edit form
  modules/battery_manager/jsx/batteryManagerForm.js
Labels: Critical to release, 26.0.0-bugs

#9032 [electrophysiology_browser] Replace Physiological Annotations with Events
  SQL/0000-00-05-ElectrophysiologyTables.sql
  SQL/New_patches/2024-01-29-Physiological-Events-Replace-Annotations.sql
  modules/electrophysiology_browser/README.md
  modules/electrophysiology_browser/css/electrophysiology_browser.css
  modules/electrophysiology_browser/help/sessions.md
  modules/electrophysiology_browser/jsx/components/DownloadPanel.js
  modules/electrophysiology_browser/jsx/electrophysiologySessionView.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/AnnotationForm.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EventManager.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/Form.js
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesCursor.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/SeriesRenderer.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/filterEpochs.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/dataset.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/state/montage.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/types.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/vector/index.tsx
  modules/electrophysiology_browser/php/events.class.inc
  modules/electrophysiology_browser/php/models/electrophysioannotations.class.inc
  modules/electrophysiology_browser/php/models/electrophysioevents.class.inc
  modules/electrophysiology_browser/php/sessions.class.inc
  modules/electrophysiology_browser/php/split_data.class.inc
  modules/electrophysiology_browser/test/TestPlan.md
  raisinbread/RB_files/RB_physiological_annotation_archive.sql
  raisinbread/RB_files/RB_physiological_annotation_file.sql
  raisinbread/RB_files/RB_physiological_annotation_file_type.sql
  raisinbread/RB_files/RB_physiological_annotation_instance.sql
  raisinbread/RB_files/RB_physiological_annotation_label.sql
  raisinbread/RB_files/RB_physiological_annotation_parameter.sql
  raisinbread/RB_files/RB_physiological_annotation_rel.sql
Labels: Add to Release Notes, Cleanup, Caveat for Existing Projects, Document at Release, Critical to release, Priority: High

#9057 [MRI Violations] Fix violated_scans_view_allsites permission
  modules/mri_violations/php/mri_violations.class.inc
Labels: 25.0.0 - Bugs, 26.0.0-bugs

#9104 [dataquery] Fix bug where field is incorrectly striked-through
  modules/dataquery/jsx/definefilters.tsx
Labels: Bug, 26.0.0-bugs

#9112 [mri_violations] Update module TestPlan and Readme
  modules/mri_violations/README.md
  modules/mri_violations/test/TestPlan.md
Labels: 26.0.0-bugs

#9111 [instrument builder ]fix jsx import issue
  modules/instrument_builder/jsx/react.questions.js
Labels: 26.0.0-bugs

#9072 [Instrument_list] Refresh on Send to DCC
  modules/instrument_list/templates/instrument_list_controlpanel.tpl
Labels: Passed Manual Tests
