Repository aces/Loris, pull requests merged in 2024-11, with the labels that each got.

#9437 Relax Typescript JSdoc linting configuration
  .eslintrc.json
Labels: javascript

#9439 [JSX] Refactor Modal Component to Improve UX and Code Maintainability
  jsx/Loader.js
  jsx/Loader.tsx
  jsx/Modal.d.ts
  jsx/Modal.js
  jsx/Modal.tsx
  modules/battery_manager/test/BatteryManagerTest.php
  modules/candidate_list/test/candidate_listTest.php
Labels: UI, Passed Manual Tests, javascript

#9311 [issue_tracker] Add Instrument dropdown to Issue form
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2024-07-19-issuetracker_AddsInstrumentToIssuesTable.sql
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/php/edit.class.inc
  raisinbread/RB_files/RB_issues.sql
Labels: Passed Manual Tests, GSOC

#9447 [JSX] Remove `hasError` Boolean from Form Elements
  jsx/Form.d.ts
  jsx/Form.js
  jsx/form/DateTimePartialElement.tsx
  modules/battery_manager/jsx/batteryManagerForm.js
  modules/conflict_resolver/jsx/fix_conflict_form.js
  modules/data_release/jsx/addPermissionForm.js
  modules/data_release/jsx/managePermissionsForm.js
  modules/data_release/jsx/uploadFileForm.js
  modules/document_repository/jsx/categoryForm.js
  modules/document_repository/jsx/deleteCategoryForm.js
  modules/document_repository/jsx/editCategoryForm.js
  modules/document_repository/jsx/editForm.js
  modules/document_repository/jsx/uploadForm.js
  modules/electrophysiology_uploader/jsx/UploadForm.js
  modules/genomic_browser/jsx/tabs_content/filemanager/uploadForm.js
  modules/imaging_uploader/jsx/UploadForm.js
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/media/jsx/uploadForm.js
Labels: Cleanup, Passed Manual Tests, javascript

#9454 [dictionary] optimize unique scan types
  php/libraries/Utility.class.inc
Labels: Priority: Projects

#9434 [issue_tracker] Convert batch/normal mode toggle to tabs and implement permission control
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: Passed Manual Tests, GSOC

#9456 Add JSON HTTP responses for "accepted" and "see other"
  src/Http/Response/JSON/Accepted.php
  src/Http/Response/JSON/SeeOther.php
Labels: php

#9426 Factorize JSX input label
  jsx/Form.js
  jsx/form/DateTimePartialElement.tsx
  jsx/form/InputLabel.tsx
Labels: Cleanup, javascript

#9449 [Examiner] fix missing edit examiner url-link
  modules/examiner/jsx/examinerIndex.js
Labels: Bug, 26.0.0-bugs

#9455 [candidate_list] Fix 'Access Profile' link on timepoint list page
  modules/candidate_list/jsx/candidateListIndex.js
Labels: Passed Manual Tests, Priority: Projects

#8889 [Feedback] Fix typo in getSummaryOfThreads
  CHANGELOG.md
  php/libraries/NDB_BVL_Feedback.class.inc
Labels: Passed Manual Tests

#9462 [libraries] Library php warnings / deprecations
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Passed Manual Tests, Priority: Projects

#9410 [NDB_BVL_Instrument] Remove PHP warning when checking diff with null
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Priority: Projects

#9446 Clean up Webpack configuration
  webpack.config.ts
Labels: Cleanup, Passed Manual Tests, javascript

#9467 [SQL] remove DownloadPath from sql files - 26.0-release
  SQL/0000-00-03-ConfigTables.sql
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
Labels: SQL

#9470 [electrophysiology_uploader] Fix minor unexpected behaviours
  modules/electrophysiology_uploader/jsx/ElectrophysiologyUploader.js
  modules/electrophysiology_uploader/jsx/UploadForm.js
Labels: Needs Rebase

#9484 [Tools] assign_missing_instruments.php - fix wrong tpye
  tools/assign_missing_instruments.php
Labels: Bug
