Repository aces/Loris, pull requests merged in 2024-04, with the labels that each got.

#9170 [statistics] bug fix - projectID issue
  modules/statistics/php/statistics_site.class.inc
Labels: 26.0.0-bugs

#9171 [Login] password reset page- missing element import
  modules/login/jsx/passwordExpiry.js
Labels: 26.0.0-bugs

#9181 [Publication] Fix deletion of file when editing project
  CHANGELOG.md
  modules/publication/jsx/projectFields.js
Labels: Passed Manual Tests

#9184 [Statistics] Fix checkbox places in Imaging Statistics
  modules/statistics/templates/form_stats_MRI.tpl
Labels: 26.0.0-bugs

#9174 [document_repository] Uploading file too large not reporting correctly #9158 - fix
  modules/document_repository/jsx/uploadForm.js
  modules/document_repository/php/files.class.inc
Labels: 26.0.0-bugs

#9167 Fix violations_resolved hashes in RB data
  raisinbread/RB_files/RB_violations_resolved.sql
Labels: RaisinBread, 26.0.0-bugs

#9118 [Conflict Resolver] readme + permission edits to reflect the need for datadict permissions
  SQL/New_patches/2024-03-11-changePermissionCodeToDictionary.sql
  modules/conflict_resolver/README.md
  modules/conflict_resolver/php/conflict_resolver.class.inc
  modules/conflict_resolver/test/TestPlan.md
  modules/conflict_resolver/test/conflict_resolverTest.php
  modules/dashboard/test/DashboardTest.php
  raisinbread/RB_files/RB_permissions.sql
Labels: 26.0.0-bugs

#9176 [examiner] fix error message display format
  modules/examiner/jsx/examinerIndex.js
Labels: 26.0.0-bugs

#9178 Add help text for new data query module
  modules/dataquery/help/dataquery.md
Labels: 26.0.0-bugs

#9197 [new_profile] Site not selected when recruiting another candidate
  modules/new_profile/jsx/NewProfileIndex.js
  modules/new_profile/test/TestPlan.md
Labels: Testing, Passed Manual Tests, javascript, 26.0.0-bugs

#9192 [Behavioural_QC] Display profile level feedbacks
  CHANGELOG.md
  modules/behavioural_qc/jsx/tabs_content/behaviouralFeedback.js
  modules/behavioural_qc/php/provisioners/behaviouralprovisioner.class.inc
Labels: Passed Manual Tests, 26.0.0-bugs

#6150 [Schedule Module] add new schedule module into Loris
  CHANGELOG.md
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Modules.sql
  SQL/0000-00-02-Permission.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2020-03-03-schedule_module.sql
  jsx/Filter.js
  modules/bvl_feedback/ajax/get_thread_entry_data.php
  modules/schedule_module/.gitignore
  modules/schedule_module/README.md
  modules/schedule_module/help/schedule_module.md
  modules/schedule_module/jsx/scheduleIndex.js
  modules/schedule_module/php/appointment.class.inc
  modules/schedule_module/php/module.class.inc
  modules/schedule_module/php/schedule_module.class.inc
  modules/schedule_module/php/schedulemoduleprovisioner.class.inc
  modules/schedule_module/php/schedulerow.class.inc
  modules/schedule_module/test/TestPlan.md
  modules/schedule_module/test/scheduleTest.php
  raisinbread/RB_files/RB_appointment.sql
  raisinbread/RB_files/RB_appointment_type.sql
  raisinbread/RB_files/RB_modules.sql
  raisinbread/RB_files/RB_permissions.sql
  test/phpunit.xml
  webpack.config.js
Labels: Add to Release Notes, Feature, SQL, Passed Manual Tests

#9179 [publication] Fix number of files in Upload tab
  CHANGELOG.md
  modules/publication/jsx/uploadForm.js
  modules/publication/jsx/viewProject.js
  modules/publication/test/TestPlan.md
Labels: Passed Manual Tests

#9196 [statistics] Recruitment graph optimization
  modules/statistics/php/charts.class.inc
  modules/statistics/php/widgets.class.inc
Labels: Passed Manual Tests

#9187 [Publication] Fix for auto-selecting Project in edit
  modules/publication/ajax/getData.php
  modules/publication/jsx/viewProject.js
Labels: Passed Manual Tests

#9175 [media] 413 error improperly handled #9163 - fix
  modules/media/ajax/FileUpload.php
  modules/media/jsx/uploadForm.js
Labels: Passed Manual Tests, 26.0.0-bugs

#9208 [publication] Fix download prevention by overriding download notification function
  modules/publication/php/files.class.inc
Labels: 26.0.0-bugs

#9212 [isntrument_builder] blank page when trying to add a score
  modules/instrument_builder/jsx/react.questions.js
Labels: Passed Manual Tests

#9201 data_dictionary_builder.php unique constraint fix
  tools/exporters/data_dictionary_builder.php
Labels: Passed Manual Tests

#9183 [behavioural_qc ] Auto-open behavioural panel with query parameter
  modules/behavioural_qc/jsx/tabs_content/behaviouralFeedback.js
  modules/bvl_feedback/js/bvl_feedback_panel_jquery.js
Labels: Passed Manual Tests, 26.0.0-bugs

#9198 [genomic_browser] Minor edits to the test plan
  modules/genomic_browser/test/TestPlan.md
Labels: Testing, 26.0.0-bugs

#9188 [examiner] Adds permission check when adding examiner to site.
  modules/examiner/php/addexaminer.class.inc
  modules/examiner/php/examiner.class.inc
Labels: Passed Manual Tests

#9116 Survey Module Validation Fix
  modules/survey_accounts/js/survey_accounts_helper.js
Labels: 26.0.0-bugs

#9122 [help_editor] Updates Test plan.
  modules/help_editor/test/TestPlan.md
Labels: Documentation, Passed Manual Tests, 26.0.0-bugs
