Repository aces/Loris, pull requests merged in 2024-10, with the labels that each got.

#9318 fix generic_includes.php returning error "Undefined variable in /var/www/loris/tools/generic_includes.php on line 28" - 25 branch
  tools/generic_includes.php
Labels: Bug, Critical to release, 25.0.0 - Bugs

#9300 [behavioural_qc] test
  modules/behavioural_qc/test/behavioural_qcTest.php
Labels: Testing

#9376 [API] Fix PUT request not updating image's QC values
  modules/api/php/endpoints/candidate/visit/image/qc.class.inc
  raisinbread/test/api/LorisApiImagesTest.php
  raisinbread/test/api/LorisApiImages_v0_0_3_Test.php
Labels: API, 25.0.0 - Bugs

#9207 [Core] Add Compression middleware
  modules/dataquery/php/queries.class.inc
  php/libraries/DataFrameworkMenu.class.inc
  src/Http/GzipStream.php
  src/Middleware/Compression.php
  src/Router/ModuleFileRouter.php
Labels: Passed Manual Tests

#9379 [behavioural_qc ] fix 500 error
  modules/behavioural_qc/php/provisioners/behaviouralprovisioner.class.inc
  modules/behavioural_qc/php/provisioners/conflictsprovisioner.class.inc
  modules/behavioural_qc/php/provisioners/incompleteprovisioner.class.inc
Labels: Bug

#9305 [dataquery/instruments] Handle cardinality::many instruments in DQT
  modules/instruments/php/instrumentqueryengine.class.inc
Labels: Bug, Critical to release

#9387 [bugfix] Cleanup TestName->TestID transition
  modules/imaging_qc/php/imaging_qc.class.inc
  modules/media/ajax/FileUpload.php
  modules/statistics/php/statistics_mri_site.class.inc
  modules/statistics/php/statistics_site.class.inc
  modules/survey_accounts/ajax/ValidateEmailSubmitInput.php
  modules/survey_accounts/php/addsurvey.class.inc
Labels: Priority: High

#9333 [candidate_profile] Add error boundary to cards with errors
  jsx/Card.js
  modules/candidate_profile/templates/form_candidate_profile.tpl
Labels: Bug

#9388 [document_repository] Remove File Type Restriction
  modules/document_repository/php/files.class.inc
Labels: Priority: Projects

#9392 [Create timepoint] test
  modules/create_timepoint/test/TestPlan.md
  modules/create_timepoint/test/create_timepointTest.php
Labels: Testing

#9409 [User_Accounts] Fix examiner always pending & bugfix
  modules/user_accounts/php/edit_user.class.inc
Labels: Priority: Projects

#9421 [Statistics/Dashboard] Fix query
  modules/statistics/php/widgets.class.inc
Labels: Bug

#9403 [Test] update selenium image from V3 to V4
  docker-compose.yml
  test/wait-for-services.sh
Labels: Testing

#9406 [Quality Control] Create more test data for QC module
  raisinbread/RB_files/RB_mri_parameter_form.sql
Labels: Testing

#9339 [issue_tracker] Add Batch Mode
  modules/issue_tracker/css/issue_card.css
  modules/issue_tracker/css/issue_tracker_batchmode.css
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/jsx/issueTrackerIndex.js
  modules/issue_tracker/php/edit.class.inc
Labels: Passed Manual Tests, Priority: High, GSOC

#9402 [JSX] Relax Strictness of Filter for Multiselect in Filter Component
  jsx/Filter.js
Labels: Discussion Required, Beginner Friendly

#9427 [Tools] CouchDB tools fix and PHP warning removal
  tools/CouchDB_Import_Instruments.php
  tools/importers/CouchDB_MRI_Importer.php
Labels: Priority: Projects

#9435 Fix JS lint error on main
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: Priority: High

#9404 [Conflict_resolver] Show examiner name
  modules/conflict_resolver/php/provisioners/resolvedprovisioner.class.inc
  modules/conflict_resolver/php/provisioners/unresolvedprovisioner.class.inc
Labels: Passed Manual Tests, Priority: Projects

#9407 [conflict_resolver] Add Cohort filter and field
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/jsx/unresolved_filterabledatatable.js
  modules/conflict_resolver/php/endpoints/resolved.class.inc
  modules/conflict_resolver/php/endpoints/unresolved.class.inc
  modules/conflict_resolver/php/models/resolveddto.class.inc
  modules/conflict_resolver/php/models/unresolveddto.class.inc
  modules/conflict_resolver/php/provisioners/resolvedprovisioner.class.inc
  modules/conflict_resolver/php/provisioners/unresolvedprovisioner.class.inc
Labels: Passed Manual Tests, Priority: Projects

#9411 [NDB_BVL_Instrument] Fix for clearing instrument
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Priority: Projects

#9385 [data_release] Introduce Project Separation
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2024-10-02-Data_Release_Project_separation.sql
  modules/data_release/jsx/addPermissionForm.js
  modules/data_release/jsx/dataReleaseIndex.js
  modules/data_release/jsx/managePermissionsForm.js
  modules/data_release/jsx/uploadFileForm.js
  modules/data_release/php/data_release.class.inc
  modules/data_release/php/datareleaseprovisioner.class.inc
  modules/data_release/php/files.class.inc
  raisinbread/RB_files/RB_data_release.sql
Labels: Priority: Projects
