Repository aces/Loris, pull requests merged in 2024-06, with the labels that each got.

#9275 [electrophysiology_browser + RB_files + SQL] Rename physiological parameter for chunks path
  SQL/New_patches/2024-05-17-rename-chunked-eeg-path.sql
  modules/electrophysiology_browser/php/electrophysiologybrowserrowprovisioner.class.inc
  modules/electrophysiology_browser/php/models/electrophysiofile.class.inc
  raisinbread/RB_files/RB_parameter_type.sql
  tools/data_integrity/data_deletion/delete_physiological_file.php
Labels: SQL, Critical to release, RaisinBread, 26.0.0-bugs

#9278 [imaging_uploader] Invalid log message shown for uploads with status …
  modules/imaging_uploader/js/imaging_uploader_helper.js
Labels: Passed Manual Tests, javascript, 26.0.0-bugs

#9287 [imaging_uploader] Make auto-launch info popup modal
  modules/imaging_uploader/jsx/UploadForm.js
Labels: UI, 26.0.0-bugs

#9273 [EEG] Montage color map
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/EEGMontage.tsx
Labels: Passed Manual Tests

#9222 [media] fixes permissions. Allows media_read to download, renames "Delete" to "Hide".
  SQL/0000-00-02-Permission.sql
  SQL/New_patches/2024-06-04-rename_media_write_permission.sql
  modules/media/jsx/mediaIndex.js
  modules/media/php/files.class.inc
Labels: Bug, SQL, 26.0.0-bugs

#9289 [imaging uploader] fixing upload a large file frozen
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Passed Manual Tests, 26.0.0-bugs

#9296 [EEG Uploader] User messaging and Documentation update
  modules/electrophysiology_uploader/README.md
  modules/electrophysiology_uploader/jsx/ElectrophysiologyUploader.js
Labels: Add to Release Notes, Documentation, Passed Manual Tests, Critical to release, 26.0.0-bugs

#9297 [Documentation] Update v26 version
  CHANGELOG.md
  README.md
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/CentOS/README.md
Labels: Documentation
