Repository aces/Loris, pull requests merged in 2024-12, with the labels that each got.

#9501 [Core] Fix loading of pselectRow queries
  src/Database/Query.php
Labels: Category: Bug, Passed manual tests, Blocking

#9496 [composer] manage project dependencies
  composer.json
  composer.lock
  docs/wiki/99_Developers/Code_Customization.md
  modules/issue_tracker/php/edit.class.inc
  php/libraries/Candidate.class.inc
  php/libraries/FeedbackMRI.class.inc
Labels: Project: HBCD

#9491 [Tools] Update fix_candidate_age.php speed
  tools/data_integrity/fix_candidate_age.php
Labels: Project: CCNA, Category: Perfomance

#9505 [wiki] Rename subproject to cohort
  docs/wiki/01_STUDY_PARAMETERS_SETUP/01_Study_Variables/04_Cohorts.md
Labels: Category: Documentation, Difficuly: Trivial

#9476 [NDB_BVL_Instrument] Modify InstanceData Setting
  php/libraries/NDB_BVL_Instrument.class.inc
  tools/data_integrity/score_instrument.php
Labels: Passed manual tests, Project: CCNA, Area: Instruments

#9425 [issue_tracker] Enable editing of site, assignee and watchers in Batch Mode
  modules/issue_tracker/jsx/IssueCard.js
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
  modules/issue_tracker/php/edit.class.inc
Labels: Passed manual tests, Event: GSOC

#9471 [issue_tracker] Add [priority,status] in the body and 'study' to subj…
  modules/issue_tracker/php/edit.class.inc
  smarty/templates/email/issue_assigned.tpl
  smarty/templates/email/issue_assigned_modified.tpl
  smarty/templates/email/issue_change.tpl
Labels: Project: HBCD
