Repository aces/Loris, pull requests merged in 2024-07, with the labels that each got.

#8864 [IssueTracker] Add description field to issues table
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2024-02-06-issuetracker_AddsDescriptionToIssuesTable.sql
  modules/issue_tracker/jsx/IssueForm.js
  modules/issue_tracker/php/edit.class.inc
  raisinbread/RB_files/RB_issues.sql
  tools/update_issues_with_description.php
Labels: Add to Release Notes, Document at Release, Passed Manual Tests, GSOC

#8339 [acknowledgements] Remove "Present" column from database and dynamically calculate
  SQL/Cleanup_patches/2023-01-24-DropPresent.sql
  modules/acknowledgements/help/acknowledgements.md
  modules/acknowledgements/jsx/acknowledgementsIndex.js
  modules/acknowledgements/php/acknowledgements.class.inc
Labels: Priority: High

#9307 [acknowledgements] Remove "Present" column from database and dynamica… fix failures for testing
  modules/acknowledgements/test/AcknowledgementsTest.php
Labels: Priority: High

#9310 [statistics] Fix bracket for null coalesce
  modules/statistics/php/charts.class.inc
Labels: Bug
