Repository aces/Loris, pull requests merged in 2024-03, with the labels that each got.

#9114 Add missing changes from PR #8685 to RB
  raisinbread/RB_files/RB_ConfigSettings.sql
Labels: Passed Manual Tests, 26.0.0-bugs

#9105 [help] fix the help widget extending over the height of a page
  htdocs/main.css
Labels: 26.0.0-bugs

#9081 [dicom archive] Fix dicom archive details links
  modules/dicom_archive/js/view_details_link.js
  modules/dicom_archive/php/viewdetails.class.inc
  modules/dicom_archive/templates/form_viewDetails.tpl
Labels: 26.0.0-bugs

#9051 [data_release] refactoring to use data framework.
  modules/data_release/php/data_release.class.inc
  modules/data_release/php/datareleaseprovisioner.class.inc
  modules/data_release/php/datareleaserow.class.inc
Labels: Passed Manual Tests

#9069 [tools/script] fix projectID issue
  tools/CouchDB_Import_Demographics.php
Labels: Bug, 26.0.0-bugs

#9102 [user] Add getSites functions in User class
  php/libraries/User.class.inc
Labels: Passed Manual Tests, 26.0.0-bugs

#9121 [configuration] Fix option deletion issue.
  modules/configuration/jsx/configuration_helper.js
Labels: Passed Manual Tests

#9161 [NDB_Client] Allow loading images from images.loris.ca
  php/libraries/NDB_Client.class.inc
Labels: 26.0.0-bugs

#9142 [new_profile] Test plan update
  modules/new_profile/test/TestPlan.md
Labels: Testing, 26.0.0-bugs

#9157 [instrument_manager] Fixing error in generate_tables_sql_and_testNames tool
  tools/generate_tables_sql_and_testNames.php
Labels: 26.0.0-bugs

#9166 [electrophysiology_browser] Minor HED display modifications
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/AnnotationForm.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/components/DatasetTagger.tsx
Labels: Critical to release, 26.0.0-bugs

#9159 EEGVisEnabled check issue and webpack cache
  npm-postinstall.js
  webpack.config.js
Labels: Critical to release, 26.0.0-bugs
