Repository aces/Loris, pull requests merged in 2025-05, with the labels that each got.

#9775 [SQL] add missing openID tables into main branch
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2025-05-02-openidconnect.sql
Labels: Language: SQL, 27.0.0 - Bugs

#9516 [JSX] Refactor Modal Component to Support Conditional Form Wrapping
  jsx/Form.d.ts
  jsx/Modal.tsx
  modules/data_release/jsx/managePermissionsForm.js
  modules/dataquery/jsx/definefilters.importcsvmodal.tsx
  modules/dataquery/jsx/welcome.adminquerymodal.tsx
  modules/dataquery/jsx/welcome.namequerymodal.tsx
Labels: Beginner Friendly, Language: Javascript, Difficulty: Simple, Module: data_release, Module: dataquery

#9777 [imaging_uploader] ID fix not displaying
  modules/imaging_uploader/php/imaging_uploader.class.inc
Labels: Critical to release, Language: PHP, Module: imaging_uploader, 27.0.0 - Bugs

#9766 [schedule_module] fix can't add new appointment without set time
  modules/schedule_module/php/appointment.class.inc
Labels: Language: PHP, Module: schedule_module, 27.0.0 - Bugs

#9769 [instrument] fix can't save linst file
  php/libraries/LorisForm.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Priority: High, Language: PHP, 27.0.0 - Bugs

#9755 [tools]fix CouchDB_Import_Instruments.php
  tools/CouchDB_Import_Instruments.php
Labels: Passed manual tests, Language: PHP, 27.0.0 - Bugs

#9788 [conflict_resolver] Test Plan
  modules/conflict_resolver/test/TestPlan.md
Labels: Module: conflict_resolver, 27.0.0 - Bugs

#9798 [dataquery] fix "Selected Fields" panel width.
  modules/dataquery/jsx/definefields.tsx
Labels: Passed manual tests, Language: Javascript, Module: dataquery, 27.0.0 - Bugs

#9474 [redcap] new module
  SQL/0000-00-00-schema.sql
  SQL/0000-00-01-Modules.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2024-11-11_redcap_module.sql
  htdocs/index.php
  modules/redcap/CONFIGURATION.md
  modules/redcap/README.md
  modules/redcap/php/client/models/mappings/iredcapinstrumentevent.class.inc
  modules/redcap/php/client/models/mappings/redcapinstrumenteventmap.class.inc
  modules/redcap/php/client/models/mappings/redcaprepeatinginstrumentevent.class.inc
  modules/redcap/php/client/models/records/iredcaprecord.class.inc
  modules/redcap/php/client/models/records/redcaprecord.class.inc
  modules/redcap/php/client/models/records/redcaprepeatingrecord.class.inc
  modules/redcap/php/client/models/redcaparm.class.inc
  modules/redcap/php/client/models/redcapdictionaryrecord.class.inc
  modules/redcap/php/client/models/redcapevent.class.inc
  modules/redcap/php/client/models/redcapinstrument.class.inc
  modules/redcap/php/client/models/redcapnotification.class.inc
  modules/redcap/php/client/models/redcapproject.class.inc
  modules/redcap/php/client/models/redcapsurveyparticipant.class.inc
  modules/redcap/php/client/redcaphttpclient.class.inc
  modules/redcap/php/client/redcapprops.class.inc
  modules/redcap/php/config/redcapconfig.class.inc
  modules/redcap/php/config/redcapconfiglorisid.class.inc
  modules/redcap/php/config/redcapconfigparser.class.inc
  modules/redcap/php/config/redcapconfigredcapid.class.inc
  modules/redcap/php/config/redcapconfigvisit.class.inc
  modules/redcap/php/endpoints/notifications.class.inc
  modules/redcap/php/module.class.inc
  modules/redcap/php/queries.class.inc
  modules/redcap/php/redcapnotificationhandler.class.inc
  modules/redcap/static/schema.yml
  modules/redcap/test/RedcapConfigurationParser_Test.php
  modules/redcap/test/TestPlan.md
  modules/redcap/test/config/configCorrect.xml
  modules/redcap/test/config/configNoAssignee.xml
  modules/redcap/test/config/configNoInstance.xml
  modules/redcap/test/config/configNoProject.xml
  modules/redcap/test/config/configNoREDCap.xml
  raisinbread/config/config.xml
  tools/generic_includes.php
  tools/redcap2linst.php
Labels: Language: SQL, Passed manual tests, RaisinBread, Language: PHP, Project: HBCD, Project: C-BIG, Difficulty: Complex, Area: Instruments, Release: SQL patch

#9154 [API] Add dicom upload
  SQL/0000-00-00-schema.sql
  SQL/9999-99-99-drop_tables.sql
  SQL/New_patches/2024-03_19-MRIUploadServerProcessRel.sql
  modules/api/docs/LorisRESTAPI_v0.0.4-dev.md
  modules/api/php/endpoints/candidate/visit/dicom/process/process.class.inc
  modules/api/php/endpoints/candidate/visit/dicom/processes.class.inc
  modules/api/php/endpoints/candidate/visit/dicoms.class.inc
  modules/api/php/views/visit/dicom/processes.class.inc
  modules/api/php/views/visit/dicoms_0_0_4_dev.class.inc
  modules/api/static/schema-v0.0.4-dev.yml
  modules/server_processes_manager/php/serverprocesslauncher.class.inc
  php/libraries/MRIUpload.class.inc
  php/libraries/TimePoint.class.inc
  src/Data/Models/MRIUploadDTO.php
  src/Data/Provisioners/TimepointMRIUploadsProvisioner.php
Labels: Category: Feature, Language: SQL, Area: API, Passed manual tests, Language: PHP, Project: C-BIG, Difficulty: Complex, Area: Imaging, Release: SQL patch, Module: api, Module: server_processes_manager
