Repository aces/Loris, pull requests merged in 2025-04, with the labels that each got.

#9727 [issue tracker] batch mode ordered watchers
  modules/issue_tracker/jsx/IssueTrackerBatchMode.js
Labels: Passed manual tests, Module: issue_tracker, 27.0.0 - Bugs

#9720 [imaging_browser] Fix visit level feedback cannot be saved
  SQL/0000-00-00-schema.sql
  SQL/New_patches/2024-07-16-CleanDefault.sql
Labels: Passed manual tests, Release: SQL patch, Module: imaging_browser, 27.0.0 - Bugs

#9549 [dicom_archive] Dicom archive siteproject main
  SQL/0000-00-02-Permission.sql
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2025-01-31-dicom_archive_permissions.sql
  modules/dicom_archive/README.md
  modules/dicom_archive/php/dicom_archive.class.inc
  modules/dicom_archive/php/dicomarchiveanonymizer.class.inc
  modules/dicom_archive/php/dicomarchiverowprovisioner.class.inc
  modules/dicom_archive/php/dicomarchiverowwithoutsession.class.inc
  modules/dicom_archive/php/dicomarchiverowwithsession.class.inc
  modules/dicom_archive/php/module.class.inc
  modules/dicom_archive/php/viewdetails.class.inc
  modules/dicom_archive/test/TestPlan.md
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
Labels: Release: Add to release notes, Category: Feature, Language: SQL, Priority: High, Language: PHP, Project: C-BIG, Difficulty: Medium, Area: Imaging, Module: dicom_archive

#9734 [dashboard] Improve visual styling for a more modern look
  modules/statistics/css/recruitment.css
  modules/statistics/jsx/WidgetIndex.js
  modules/statistics/jsx/widgets/helpers/chartBuilder.js
  modules/statistics/jsx/widgets/helpers/queryChartForm.js
  modules/statistics/jsx/widgets/recruitment.js
  modules/statistics/jsx/widgets/studyprogression.js
Labels: Module: dashboard, 27.0.0 - Bugs

#9697 [tools] Replace 'annotation' references in tools with 'events'
  modules/electrophysiology_browser/php/models/electrophysioevents.class.inc
  tools/data_integrity/data_deletion/delete_physiological_file.php
  tools/update_annotation_files.php
  tools/update_event_files.php
Labels: 27.0.0 - Bugs

#9733 [candidate_parameters] Fix DB select with iterator_to_array
  modules/candidate_parameters/ajax/getData.php
Labels: Module: candidate_parameters, 27.0.0 - Bugs

#9593 [tool - fix_timepoint_date_problems.php] Fix PHP Fatal error
  tools/fix_timepoint_date_problems.php
Labels: Passed manual tests, 27.0.0 - Bugs

#9716 [imaging_browser] Fix bugs in imaging browser's MRI feedback popup
  modules/imaging_browser/php/feedback_mri_popup.class.inc
  php/libraries/FeedbackMRI.class.inc
Labels: Passed manual tests, Module: imaging_browser, php, 27.0.0 - Bugs

#9718 [tools] error in data_integrity/update_candidate_latest_diagnosis.php #9710
  tools/data_integrity/update_candidate_latest_diagnosis.php
Labels: Passed manual tests, 27.0.0 - Bugs

#9753 Fix Github CI testing - 24.1
  .github/workflows/loristest.yml
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/eeglab/EEGLabSeriesProvider.tsx
  modules/electrophysiology_browser/jsx/react-series-data-viewer/src/series/store/logic/filterEpochs.tsx
  package-lock.json
  package.json
  test/dockerized-integration-tests.sh
  test/dockerized-unit-tests.sh
Labels: dependencies, Area: CI
