Repository aces/Loris, pull requests merged in 2025-06, with the labels that each got.

#9773 [genomic_browser] Solve the issues
  modules/genomic_browser/help/genomic_browser.md
  modules/genomic_browser/jsx/tabs_content/filemanager/uploadForm.js
  modules/genomic_browser/jsx/tabs_content/files.js
  modules/genomic_browser/jsx/tabs_content/gwas.js
  modules/genomic_browser/jsx/tabs_content/profiles.js
  modules/genomic_browser/jsx/tabs_content/snp.js
  modules/genomic_browser/php/filemanager.class.inc
  modules/genomic_browser/php/models/cnvdto.class.inc
  modules/genomic_browser/php/models/methylationdto.class.inc
  modules/genomic_browser/php/models/profiledto.class.inc
  modules/genomic_browser/php/models/snpdto.class.inc
  modules/genomic_browser/php/provisioners/cnvprovisioner.class.inc
  modules/genomic_browser/php/provisioners/methylationprovisioner.class.inc
  modules/genomic_browser/php/provisioners/profileprovisioner.class.inc
  modules/genomic_browser/php/provisioners/snpprovisioner.class.inc
  modules/genomic_browser/php/uploading/genomicfile.class.inc
  modules/genomic_browser/test/TestPlan.md
Labels: Language: PHP, Language: Javascript, Module: genomic_browser, 27.0.0 - Bugs

#9824 Add the MRI variables in the imaging_browser's query engine
  modules/genomic_browser/php/uploading/genomicfile.class.inc
  modules/imaging_browser/php/mricommentdictionaryitem.class.inc
  modules/imaging_browser/php/mrifeedbackdictionaryitem.class.inc
  modules/imaging_browser/php/mripredefinedcommentdictionaryitem.class.inc
  modules/imaging_browser/php/parameterdictionaryitem.class.inc
  modules/imaging_browser/php/queryengine.class.inc
  php/libraries/FeedbackMRI.class.inc
Labels: Language: PHP, Module: genomic_browser, Module: imaging_browser

#9825 [genomic_browser/27 branch] Fix build errors on 27 branch
  modules/genomic_browser/jsx/tabs_content/gwas.js
  modules/genomic_browser/php/filemanager.class.inc
  modules/genomic_browser/php/uploading/genomicfile.class.inc
Labels: 27.0.0 - Bugs

#9832 [dataquerytool] fix Numeric value out of range: 1264 Out of range value for column 'CandID' at row
  modules/instruments/php/instrumentqueryengine.class.inc
Labels: Language: PHP, Module: instruments, 27.0.0 - Bugs

#9841 Remove debug code in the REDCap module
  modules/redcap/php/endpoints/notifications.class.inc
Labels: Category: Security, Priority: High, Language: PHP, Difficuly: Trivial, Module: redcap

#9836 [DataQueryTool] Query stuck when CandID is NULL — add safeguard #9835 -fix
  modules/instruments/php/instrumentqueryengine.class.inc
Labels: Language: SQL, RaisinBread, Language: PHP, Language: Javascript, Module: statistics, Module: behavioural_qc, Module: dashboard, Module: genomic_browser, Module: instruments, Module: schedule_module, Module: dataquery, 27.0.0 - Bugs

#9819 [Login_Summary_Statistics] Add to raisinbread & change table name
  SQL/0000-00-00-schema.sql
  SQL/9999-99-99-drop_tables.sql
  modules/login/php/summary_statistics.class.inc
  raisinbread/RB_files/RB_Login_Summary_Statistics.sql
  raisinbread/RB_files/RB_login_summary_statistics.sql
  tools/update_login_summary_statistics.php
Labels: Language: SQL, RaisinBread, Language: PHP, Language: Javascript, Module: behavioural_qc, Module: login, Module: schedule_module

#9844 fix cs error in github actions
  modules/instruments/php/instrumentqueryengine.class.inc
Labels: Language: PHP, Area: CI, Module: instruments, 27.0.0 - Bugs

#9790 [jsx - document_repository] Add disabledLabel to ButtonElement
  jsx/Form.js
  modules/document_repository/jsx/uploadForm.js
Labels: Language: Javascript, 26.0.0-bugs, Module: document_repository, javascript, 27.0.0 - Bugs

#9855 [dictionary] Fixes description field been populated with the latest select option, not the actual field name.
  php/libraries/LorisFormDictionaryImpl.class.inc
Labels: Priority: High, Language: PHP, Module: datadict, Module: dataquery, 27.0.0 - Bugs

#9842 [issue_tracker] Fix permissions
  modules/issue_tracker/php/edit.class.inc
  modules/issue_tracker/php/issue.class.inc
Labels: Passed manual tests, Language: PHP, Module: issue_tracker, 27.0.0 - Bugs

#9867 [dataquery] Fix reset selected field for new Category
  modules/dataquery/jsx/definefilters.addfiltermodal.tsx
Labels: Language: Javascript, Module: dataquery

#9757 [issue_tracker] Fix typo
  modules/issue_tracker/php/issue_tracker.class.inc
Labels: Language: PHP, Module: issue_tracker, 27.0.0 - Bugs

#9875 [dataquery] Changes to table dataquery_queries are not saved in the history table anymore
  modules/dataquery/php/endpoints/queries.class.inc
Labels: Passed manual tests, Language: PHP, Module: dataquery, 27.0.0 - Bugs

#9879 [dataquery]Remove Strikethrough From New Flters Subgroup
  modules/dataquery/jsx/definefilters.tsx
  modules/dataquery/jsx/querytree.tsx
Labels: Module: dataquery, 27.0.0 - Bugs

#9877 [dataquery] fix Filters broken with more than one instrument #9860
  modules/dataquery/php/query.class.inc
  modules/dataquery/php/querydataprovisioner.class.inc
  modules/instruments/php/instrumentqueryengine.class.inc
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Language: PHP, Module: instruments, Module: dataquery

#9885 [release patch] 26.0_To_27.0_upgrade sql
  SQL/Archive/27.0/2020-10-28-Doc-Repo-Updates.sql
  SQL/Archive/27.0/2023-07-19-Add-Media-Digest.sql
  SQL/Archive/27.0/2023-12-08-use-DoB.sql
  SQL/Archive/27.0/2024-02-06-issuetracker-Adds-Description-To-Issues-Table.sql
  SQL/Archive/27.0/2024-04-24-Instrument-Data-Table.sql
  SQL/Archive/27.0/2024-05-13-Add-DDE-To-Battery.sql
  SQL/Archive/27.0/2024-06-25-Clean-Mri-Scan-Type.sql
  SQL/Archive/27.0/2024-07-16-CleanDefault.sql
  SQL/Archive/27.0/2024-07-19-issuetracker-Adds-Instrument-To-Issues-Table.sql
  SQL/Archive/27.0/2024-08-13-issuetracker-AddWatchingToIssuesHistory.sql
  SQL/Archive/27.0/2024-09-13-TestID.sql
  SQL/Archive/27.0/2024-10-02-Data-Release-Project-Separation.sql
  SQL/Archive/27.0/2024-10-08-issuetracker-watch-all.sql
  SQL/Archive/27.0/2024-11-11_redcap_module.sql
  SQL/Archive/27.0/2024-12-18-Login-Statistics.sql
  SQL/Archive/27.0/2025-01-15-Imaging-Uploader-Site-Project-Permissions.sql
  SQL/Archive/27.0/2025-01-31-Dicom-Archive-Permissions.sql
  SQL/Archive/27.0/2025-02-03-Permissions-Modifies-Issue-Tracker-Reporter-Description.sql
  SQL/Archive/27.0/2025-02-05-Change-Candid-FK-To-ID.sql
  SQL/Archive/27.0/2025-02-07-Update-Add-Issue-Tracker-Permissions.sql
  SQL/Archive/27.0/2025-02-26-Alter-Issues-History-Field-Changed.sql
  SQL/Archive/27.0/2025-03-10-profiler-log.sql
  SQL/Archive/27.0/2025-03-11-Test-Battery-Double-Data-Entry-Enabled-Set-Not-Null.sql
  SQL/Archive/27.0/2025-04-14_add-use-legacy-dicom-importer-config.sql
  SQL/Archive/27.0/2025-04-22-view_instrument_data.sql
  SQL/Archive/27.0/2025-05-02-openidconnect.sql
  SQL/Release_patches/26.0_To_27.0_upgrade.sql
Labels: Language: SQL

#9883 The SQL engine now supports dictionary names containing question marks
  src/Data/Query/SQLQueryEngine.php
Labels: Language: PHP, Module: dataquery, 27.0.0 - Bugs

#9886 Remove invalid (duplicate) record in table feedback_mri_comments
  raisinbread/RB_files/RB_feedback_mri_comments.sql
Labels: Language: SQL, RaisinBread, 27.0.0 - Bugs

#9796 Fix eslint line rules
  .eslintrc.json
  modules/dataquery/jsx/definefilters.importcsvmodal.tsx
  modules/issue_tracker/jsx/issueTrackerIndex.js
Labels: Language: Javascript, Module: issue_tracker, Module: dataquery
