Repository aces/Loris, pull requests merged in 2025-09, with the labels that each got.

#9991 [docs] Add intl dependency
  docs/wiki/00_SERVER_INSTALL_AND_CONFIGURATION/01_LORIS_Install/Ubuntu/README.md
Labels: Category: Documentation, Passed manual tests

#9996 [candidate_list] Fix Japanese translation namespaces
  locale/ja/LC_MESSAGES/loris.po
  modules/candidate_list/locale/ja/LC_MESSAGES/candidate_list.po
Labels: Module: candidate_list

#9997 [Localization] add LocalizableString class
  modules/conflict_resolver/php/module.class.inc
  modules/dashboard/php/taskquerywidget.class.inc
  modules/imaging_browser/php/module.class.inc
  modules/instruments/php/module.class.inc
  modules/issue_tracker/php/module.class.inc
  modules/user_accounts/php/module.class.inc
  src/GUI/LocalizableString.php
Labels: Language: PHP, Module: issue_tracker, Module: conflict_resolver, Module: dashboard, Module: imaging_browser, Module: instruments, Module: user_accounts

#9784 [JSX] Revert CSV data transformation: replace flatMap with map
  jsx/DataTable.js
Labels: Passed manual tests, 26.0.0-bugs

#9949 [redcap] Fix REDCap to LINST test name prefix
  tools/redcap2linst.php
Labels: Category: Bug, Language: PHP, Project: HBCD, Project: C-BIG, Difficulty: Simple, Module: redcap

#9971 [genomic_browser] SNP does not load - fix
  modules/genomic_browser/php/provisioners/snpprovisioner.class.inc
Labels: Passed manual tests, Language: PHP, Module: genomic_browser, 27.0.0 - Bugs

#9983 [battery_manager] Filtering for minimum age/maximum age = 0 does not work - fix
  jsx/DataTable.js
Labels: Passed manual tests, Language: Javascript, Module: battery_manager, 27.0.0 - Bugs

#9930 IBIS 27 update patch file
  SQL/Release_patches/26.0_To_27.0_upgrade.sql
Labels: Language: SQL, Language: PHP, Module: statistics, 27.0.0 - Bugs

#10012 [dictionary] Fix override functionality in non-English languages
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/candidate_list/locale/ja/LC_MESSAGES/candidate_list.json
  modules/dictionary/jsx/dataDictIndex.js
  modules/dictionary/locale/dictionary.pot
  modules/dictionary/locale/ja/LC_MESSAGES/dictionary.po
  modules/dictionary/php/datadictrowprovisioner.class.inc
  modules/dictionary/php/dictionary.class.inc
Labels: Language: PHP, Language: Javascript, Module: candidate_list, Module: dictionary

#10022 [timepoint_list] Translates Timepoint list module to Japanese.
  locale/es/LC_MESSAGES/loris.po
  locale/ja/LC_MESSAGES/loris.po
  locale/loris.pot
  modules/timepoint_list/locale/es/LC_MESSAGES/timepoint_list.po
  modules/timepoint_list/locale/ja/LC_MESSAGES/timepoint_list.po
  modules/timepoint_list/templates/menu_timepoint_list.tpl
Labels: Passed manual tests, Module: timepoint_list, Multilingual

#9976 [Battery manager] fix can't active and edit using 0 days as minimum age days
  modules/battery_manager/jsx/batteryManagerForm.js
  modules/battery_manager/jsx/batteryManagerIndex.js
Labels: State: Needs work, Passed manual tests, Language: Javascript, Module: battery_manager

#9979 [Login/NDB_Client] Create logout endpoint
  modules/dashboard/test/DashboardTest.php
  modules/login/php/logout.class.inc
  smarty/templates/main.tpl
Labels: Cleanup, Language: PHP, Difficulty: Simple, Module: dashboard, Module: login

#9994 [dashboard/multilingual] Add multilingual config settings
  SQL/0000-00-03-ConfigTables.sql
  SQL/New_patches/2025-09-03-multilingualconfig.sql
  modules/dashboard/php/projectdescription.class.inc
  php/libraries/NDB_Config.class.inc
  php/libraries/Settings.class.inc
  raisinbread/RB_files/RB_Config.sql
  raisinbread/RB_files/RB_ConfigI18n.sql
  raisinbread/RB_files/RB_ConfigSettings.sql
Labels: Language: SQL, Passed manual tests, RaisinBread, Language: PHP, Module: dashboard, Multilingual

#9901 [docs] Add translator instructions to LORIS readthedocs
  docs/wiki/99_Developers/Translating.md
  readthedocs/mkdocs.yml
Labels: Category: Documentation, Passed manual tests, Multilingual
