Repository aces/Loris, pull requests merged in 2025-01, with the labels that each got.

#9514 [Core] Faster php syntax checking
  test/run-php-linter.sh
Labels: Passed manual tests, Language: PHP, Difficuly: Trivial, Category: Perfomance

#9506 [conflict_resolver] Replace 'Value 1 & 2' with 'Incorrect Answer'
  modules/conflict_resolver/jsx/resolved_filterabledatatable.js
  modules/conflict_resolver/php/models/resolveddto.class.inc
  modules/conflict_resolver/php/provisioners/resolvedprovisioner.class.inc
Labels: Project: CCNA

#9489 [data_release] FileUpload version permission
  modules/data_release/php/files.class.inc
Labels: Project: CCNA

#9487 [NDB_BVL_Instrument_LINST] - fix
  php/libraries/NDB_BVL_Instrument_LINST.class.inc
Labels: Category: Bug

#9510 [media] Fix download of filenames with commas
  modules/media/jsx/mediaIndex.js
  php/libraries/FilesDownloadHandler.php
Labels: Passed manual tests

#9536 Fix 26.0-release CI
  .eslintignore
  .github/workflows/loristest.yml
  modules/electrophysiology_browser/test/electrophysiologyBrowserTest.php
  webpack.config.ts
Labels: Testing, Area: CI

#9486 [flag] Fix remaining test_name flag
  php/libraries/Utility.class.inc
  tools/data_integrity/data_deletion/delete_timepoint.php
  tools/data_integrity_check.php
  tools/fix_timepoint_date_problems.php
Labels: Category: Bug, Priority: High, Area: Instruments

#8849 [Media] Upload Digest Notifications (Override from CCNA)
  SQL/New_patches/2023_07_19_Add_Media_Digest.sql
  modules/media/README.md
  modules/media/ajax/FileUpload.php
  php/libraries/NDB_Notifier.class.inc
  raisinbread/RB_files/RB_notification_modules.sql
  raisinbread/RB_files/RB_notification_modules_perm_rel.sql
  raisinbread/RB_files/RB_notification_modules_services_rel.sql
  raisinbread/RB_files/RB_permissions.sql
  raisinbread/RB_files/RB_user_perm_rel.sql
  smarty/templates/email/media_upload_digest.tpl
  tools/media_upload_digest.php
Labels: Passed manual tests, Project: CCNA

#9538 [Raisinbread] Add ProjectID field to physiological_parameter_file
  raisinbread/RB_files/RB_physiological_parameter_file.sql
Labels: Passed manual tests

#9542 Fixing the display of the Entity Type options in the Imaging Browser
  modules/imaging_browser/jsx/imagingBrowserIndex.js
Labels: Module: imaging_browser

#9416 [NDB_BVL_Instrument] Hide inactive examiners for site from selection, unless if already selected
  modules/examiner/README.md
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Passed manual tests, Project: CCNA

#9452 [NDB_BVL_Instrument] Modify Examiner Select
  php/libraries/NDB_BVL_Instrument.class.inc
Labels: Project: CCNA, Area: Instruments
